[2022-06-08 14:32] bernhardmgruber commented on #1681
I think just using what @fwyzard suggested is totally fine! I was just curious if anyone knew a `constexpr` approach. I am also totally fine with:
[code]

[2022-06-09 11:27] sbastrakov commented on #1732
Oh a related issue also exists for real `pow` on CUDA/HIP as the newly added tests show - on some compilers there are warnings triggered by implicit casting in this case.

[2022-06-10 08:06] jkelling opened #1741 "Timeout in queueTest in `QueueUniformCudaHipRt`"
https://github.com/alpaka-group/alpaka/pull/1740 (a branch based on develop) reduces the CI to only build and run `queueTest` and only with cuda on the HZDR GPU nodes. It runs `queueTest` up to 100 times, or until it fails and reduces the timeout to 20s (normal runtime of this test is <7s).

Occasionally this test hangs, apparently in the test case for `QueueUniformCudaHipRt`. The branch also adds

[2022-06-10 08:50] jkelling commented on #1741
In the CI, two checks can be observed to trigger this condition:
* queueShouldNotExecuteTasksInParallel
* queueCallbackIsWorking

[2022-06-10 14:12] #1726 closed, assigned to nobody

[2022-06-10 17:56] jkelling commented on #1741
On my local machine, the probability of this occurring is about `0.13 +- 0.04 %`, but judging by #1740 it is significantly higher (~0.9%) in the CI (although, there is much less statistics on that).

[2022-06-10 18:18] bernhardmgruber commented on #1687
It turns out I would need this in LLAMA as well.

[2022-06-10 19:09] bernhardmgruber opened #1742 "Allow temporary destination views in `alpaka::memcpy`"
Alpaka's memcpy is specified as:
[code]
Because the `viewDst` parameter is taken by reference, one cannot pass temporaries:
[code]
If we would take the destination parameter by forwarding reference instead, this would work, which is a nice usability improvement over:
[code]

[2022-06-13 07:45] #1731 closed, assigned to sbastrakov

[2022-06-13 07:45] #1732 closed, assigned to sbastrakov

[2022-06-13 08:01] sbastrakov commented on #1742
I think this change would be fine.

For the sake of experiment if instead of a forwarding reference one just made it a `const` reference for `viewDst`, would it also technically work? (Ofc it's not what we should do)

[2022-06-13 13:20] bernhardmgruber commented on #1742
I would guess so, because alpaka buffers don't propagate their own constness to their content, as pointed out in: #1729.

[2022-06-14 12:24] #1681 closed, assigned to tonydp03

[2022-06-16 09:38] bernhardmgruber commented on #1081
I ran into this again today because I tried to switch LLAMA to vcpkg manifests, so Boost will be setup for LLAMA, but not for alpaka, which I install as a separate step in the CI. Would be great to be able to run `make install` on an alpaka clone with examples and tests disabled.

[2022-06-17 09:52] bernhardmgruber opened #1744 "Switch CMP0091 to NEW"
When I configure alpaka on Windows, I get this warning:
[code]
Because alpaka sets: `cmake_policy(SET CMP0091 OLD)`.

We should migrate to the new behavior of cmake and remove the line causing the warning.

[2022-06-17 10:04] bernhardmgruber commented on #1744
I removed the Windows label, because I actually get this error in WSL.

[2022-06-17 10:41] bernhardmgruber commented on #643
This issue will be solved by #1743.

[2022-06-17 13:31] bernhardmgruber commented on #600
I am solving this in LLAMA by creating an amalgamated (single header) llama.hpp on each commit to develop and commit that file to an orphaned branch. That is similar to what we do for github pages. See: https://github.com/alpaka-group/llama#single-header

[2022-06-20 13:56] j-stephan opened #1745 "Migrate to Catch2 v3.x"
The first stable version of Catch2 v3 was released last month. We should migrate our test infrastructure (thankfully they provide a porting guide).

[2022-06-21 11:37] bernhardmgruber commented on #1729
I quickly prototyped a `ViewConst` here: https://github.com/alpaka-group/alpaka/pull/1746.

[2022-06-21 14:18] bernhardmgruber opened #1747 "[RFC] Drop support for clang-5"
Clang-5 was released on 2017-09-07, and its sucessor, clang-6, was released on 2018-03-08, over 4 years ago. I propose to drop support for clang-5 to reduce maintenance effort on our side.

This is also motivated by a CI failure where clang-5 is unable to perform CTAD in presence of a deduction guide: https://github.com/alpaka-group/alpaka/runs/6982333374?check_suite_focus=true#step:5:5164

[2022-06-21 14:35] fwyzard commented on #1729
Just thinking aloud: if we have a `std::shared_ptr<T>`, we can automatically convert it to a `std::shared_ptr<const T>`:
[code]

With this code we can be reasonably sure that `dump_buffer(...)` will not modify the content of `buffer` (_i.e._, not without using a `static_cast`).

Unfortunately, an alpaka buffer `TBuf<T, TDim, TIdx>` cannot be converted to a  `TBuf<const T, TDim, TIdx>`, so we canno

[2022-06-22 07:59] SimeonEhrig commented on #600
@bernhardmgruber Does the llama header also include alpaka? I also plan to create a single header version for vikunja and I need to resolve this dependency.

[2022-06-22 08:58] bernhardmgruber commented on #600
@SimeonEhrig no, because llama does not depend on alpaka. llama also depends on Boost, and I do not include that. But fortunately, you can just have Boost on compiler explorer with a few clicks. Since vikunja depends on alpaka, I think we would really need to add this to Compiler Explorer as suggested.

[2022-06-22 09:06] bernhardmgruber commented on #1745
If it helps, this was the changeset for LLAMA: https://github.com/alpaka-group/llama/pull/511

[2022-06-22 12:18] #643 closed

[2022-06-22 12:18] #1742 closed, assigned to nobody

[2022-06-22 12:22] j-stephan commented on #1747
I'm okay with this. IIRC @psychocoderHPC was proposing to keep clang 5 and 6 during the last compiler purge (because so far they supported all features we require) so I suggest we wait for his opinion.

If this goes through please also remove all clang-5/6 work-arounds that are present in our code base.

[2022-06-22 13:31] SimeonEhrig commented on #1747
I'm also for removing it. I think dropping a Clang version is not so complicated because of 3 reasons.

1. You can use GCC and clang for the same result and GCC has the bigger user base (for example, CUDA has no real alternative).
2. Most of the time, you need to install clang by yourself and therefore you have also the knowledge to install another version.
3. Clang 5 is not available in the offic

[2022-06-22 14:30] bernhardmgruber commented on #1002
We have nvc++ in the CI for a while now. I don't think we plan a PSTL backend that nvc++ could offload. Since there are no other concrete actions to be done for this issue, I will close it.

[2022-06-22 14:30] #1002 closed, assigned to nobody

[2022-06-22 21:30] bernhardmgruber commented on #1729
[code]
That may already work, because I forgot to mark the ctor of `ViewConst` `explicit` :)

[2022-06-23 09:28] psychocoderHPC commented on #1747
If it is blocking because there is a bug or it is not fully supporting the standard we support then drop clang5.
Since you mentioned CTAD is not supported I am for removing clang5.

[2022-06-23 12:08] j-stephan commented on #1747
I can kill clang-5 as part of #1713 since I need to do more work there anyway. Does the CTAD issue also appear with clang-6?

[2022-06-23 13:38] #1745 closed, assigned to nobody

[2022-06-23 13:43] bernhardmgruber commented on #1747
No, clang-6 compiles my usage of CTAD just fine!

[2022-06-24 07:14] #1747 closed, assigned to nobody

[2022-06-24 07:22] j-stephan commented on #1744
While the warning is triggered on all platforms this policy only affects MSVC. So the label was okay.

This also means that this should be worked on by a Windows user who can compile & run the test suite.

[2022-06-24 10:07] j-stephan opened #1752 "gcc-12: Static analysis fails in release mode with activated OpenACC back-end"
While working on #1713 I encountered the following esoteric bug (which is likely a gcc-12 bug):

When compiling the test cases in release mode with an activated OpenACC back-end (+ serial back-end), this portion of our code base will trigger the `-Walloc-zero` warning:

https://github.com/alpaka-group/alpaka/blob/e76b69b16b79bcc661811f6bbe511193b532b529/include/alpaka/mem/alloc/Traits.hpp#L36-L42

[2022-06-27 08:02] #1744 closed, assigned to bernhardmgruber

[2022-06-27 12:05] j-stephan opened #1753 "clang-16: ASan fails for `memBufTest`."
As part of #1713 I encountered an address sanitizer issue with clang-14. This doesn't happen with clang-13 (tested locally). Error message:

[code]

The error points to this line of code:

https://github.com/alpaka-group/alpaka/blob/dd3352be8ff9e862cdfb3ad2495e3de5fece1be5/test/unit/mem/buf/src/BufTest.cpp#L266-L268

This leads me to believe that this is a bug in either Catch2 or LLVM. I'm waiting

[2022-06-29 08:10] j-stephan commented on #1752
Okay, it looks like the above code portion isn't necessarily the culprit. Adding `std::cout << sizeElems` anywhere in the callchain of buffer allocations will cause the compiler to work correctly. I still don't have any idea on how to reproduce this, though.

[2022-06-29 08:17] j-stephan commented on #1297
gcc 10.4 has been released. It includes the above-mentioned bugfix.

[2022-06-29 08:18] fwyzard commented on #1297
:+1:

[2022-06-29 08:31] fwyzard commented on #1752
Does it make any difference if you pass `sizeElems` by value instead of by `const&` ?

[2022-06-29 08:31] j-stephan commented on #1752
Nope, unfortunately not.

[2022-06-29 09:07] SimeonEhrig commented on #1752
Sounds like a problem with an optimization. I believe, the `std::cout` causes, that some code is not optimized and maybe removed.
Did you try different optimization level, like `-O2`?

[2022-06-29 09:10] j-stephan commented on #1752
Good point. `-O2` works. So now I can check the additional `-O3` flags to narrow it down.

[2022-06-29 09:20] j-stephan commented on #1752
Interesting. `-O3` fails, but `-O2 -fgcse-after-reload -fipa-cp-clone -floop-interchange -floop-unroll-and-jam -fpeel-loops -fpredictive-commoning -fsplit-loops -fsplit-paths -ftree-loop-distribution -ftree-partial-pre -funswitch-loops -fvect-cost-model=dynamic -fversion-loops-for-strides` (which are the additional flags according to the gcc documentation) works.

[2022-06-29 09:22] SimeonEhrig commented on #1752
Does they are all optimizations like `-O3` or do you omit one more?

[2022-06-29 09:27] j-stephan commented on #1752
Those are the ones enabled locally on my system when passing `-O3` instead of `-O2`. I obtained those by looking at the diff of `g++ -O3 -Q --help-optimizers` and the `-O2` equivalent. This yields the flags mentioned above and additionally `-funroll-completely-grow-size` which is not valid for C++.

[2022-06-29 09:32] SimeonEhrig commented on #1752
Okay, I know also, that the order of the optimizations is important to achieve a better performance. I'm not sure if the order of the optimizations triggers the bug and if you can control the order by the order of the arguments.

[2022-06-29 09:38] j-stephan commented on #1752
No, according to StackOverflow the order of optimization options does not affect the order in which the optimizations are run in the end.

[2022-06-29 10:37] j-stephan commented on #1752
I now added a work-around in #1754. I am forcing the buffer allocation function to the `-O2` level when using gcc 12, OpenACC and release mode. Hopefully we can create a small reproducer in the future so we can notify the gcc developers.

[2022-06-29 13:21] j-stephan commented on #1752
Interestingly, the other way around doesn't work either:

[code]

This should be equivalent to `-O2` since all (documented) `-O3` flags are turned off. It still fails. So I guess there is an undocumented optimization which causes the error.

[2022-06-29 13:34] j-stephan opened #1755 "clang-13: OpenMP support broken when using CUDA"
Another bug uncovered by #1713. clang-13's default OpenMP support is broken when using CUDA:

[code]

This is related to clang-13 enabling OpenMP 5 by default; lowering the OpenMP version seems to silence this error. See this related issue on NVIDIA's issue tracker:

https://github.com/NVIDIA/cuda-samples/issues/102

[2022-06-30 08:39] j-stephan opened #1757 "Support ROCm 5.2"
ROCm 5.2 was released yesterday: https://github.com/RadeonOpenCompute/ROCm/releases/tag/rocm-5.2.0

[2022-06-30 11:42] bernhardmgruber opened #1758 "[RFC] Mark CATCH cmake variables as advanced"
I just noticed that we got a lot of cmake variables from Catch2 in the default view of `ccmake`:
![image](https://user-images.githubusercontent.com/1224051/176668711-0b9f836c-363d-438b-8d9e-1f1c48a7c4c5.png)

Since I don't think that we should tamper with these variables, I would like to mark them as advanced in cmake, so they are hidden by default.

[2022-07-01 11:39] #1755 closed, assigned to nobody

[2022-07-05 10:55] bernhardmgruber opened #1760 "Warnings in Complex"
We recently upgraded alpaka in the [LCG distribution](https://lcgdocs.web.cern.ch/lcgdocs/lcgreleases/introduction/) and now we get the following warnings:
[code]
The warnings can be fixed be removing `ALPAKA_FN_HOST_ACC` from the affected declarations.

[2022-07-06 07:55] #1760 closed, assigned to nobody

[2022-07-06 11:11] j-stephan commented on #1758
I don't think this is the right approach. We should probably use `ExternalProject`(https://cmake.org/cmake/help/v3.18/module/ExternalProject.html) instead.

[2022-07-06 12:31] j-stephan commented on #572
Closing due to inactivity. Feel free to reopen if the problem persists or reappears.

[2022-07-06 12:31] #572 closed

[2022-07-06 12:39] j-stephan commented on #1103
I agree with @BenjaminW3 on this topic (and also the others, see the discussion linked above my comment). If there is further need to discuss this please refer to the linked discussion. Closing this as duplicate.

[2022-07-06 12:39] #1103 closed, assigned to nobody

[2022-07-06 12:47] bernhardmgruber commented on #1758
If that gets rid of the `CATCH_*` cmake variables, I am all for it!

[2022-07-06 12:48] #1757 closed, assigned to nobody

[2022-07-06 15:54] etiennemlb opened #1764 "Differences between alpaka, Kokkos, RAJA, etc."
Hi,

I'm looking at different flavors of "Abstraction Library for Parallel Kernel Acceleration".

How is Alpaka different from Sycl, Kokkos, Raja or OpenCL ? Pros, cons.

Thanks

[2022-07-07 12:11] j-stephan commented on #1764
Hi @etiennemlb,

I'll try to answer your question.

### Programming models

All of the mentioned projects aim for the same goal of performance-portable single-source programming. But they take different paths to achieve it (namely their programming models).

RAJA parallelizes through a series of loop transformations which are mapped to the underlying hardware.

Kokkos offers you a `parallel_for` c

[2022-07-07 12:54] fwyzard commented on #1764
Hi @etiennemlb, as an alpaka user and sometimes contributor, let me add the reasons the [CMS Collaboration](https://cms.cern/) has decided to adopt Alpaka rather than Kokkos or SYCL/oneAPI as a _perfomance portability_ solution for the next 3-5 years.

### Programming Model

In our experience, programming with Alpaka closer to using CUDA than Kokkos and SYCL. Kokkos strongly advices you to use its

[2022-07-07 18:26] etiennemlb commented on #1764
Hi,
Thanks a lot for your answers, it'll help me

[2022-07-08 11:47] j-stephan commented on #1764
Thanks for asking this @etiennemlb. I'm pinning this issue for the time being since it serves nicely as a form of documentation.

[2022-07-12 08:11] #1708 closed, assigned to nobody

[2022-07-12 12:10] j-stephan commented on #1304
#1766 adds clang-14 as CUDA compiler to the CI. Once that is merged this should be next.

[2022-07-27 15:48] psychocoderHPC opened #1769 "atomic Unit tests for Dec and Inc not check edge cases"
The unit test for `atomicDec` is not testing the flip around based on the values.

https://github.com/alpaka-group/alpaka/blob/0b96515b1c8a24d0c3a2904081bc301311503770/include/alpaka/atomic/Op.hpp#L131

Some for `atomicInc`

https://github.com/alpaka-group/alpaka/blob/0b96515b1c8a24d0c3a2904081bc301311503770/include/alpaka/atomic/Op.hpp#L115

We simply test if an value is incremented or decremente

[2022-08-01 13:06] #1657 closed, assigned to nobody

[2022-08-09 07:54] fwyzard opened #1774 "replace reading from `/proc/meminfo` with call to `sysconf()`"
On Linux, `getFreeGlobalMemSizeBytes()` is implemented parsing `/proc/meminfo`: https://github.com/alpaka-group/alpaka/blob/f27d78c23c22f4eb5044a39cbfa60360ad1cd129/include/alpaka/dev/cpu/SysInfo.hpp#L220-L245

I would suggest replacing it with reading the number of free pages from `sysconf()`, for example:
[code]

[2022-08-09 08:06] fwyzard opened #1775 "move `#include`s outside of the `alpaka::cpu::detail` namespace"
Depending on the architecture, the implementation of `alpaka::cpu::detail::cpuid()` may pull a system header in the `alpaka::cpu::detail` namespace: https://github.com/alpaka-group/alpaka/blob/f27d78c23c22f4eb5044a39cbfa60360ad1cd129/include/alpaka/dev/cpu/SysInfo.hpp#L42-L66 .

Would it be possible to move the `#include` statements outside of the `alpaka::cpu::detai` namespace and into the global

[2022-08-09 08:10] fwyzard commented on #1775
To clarify: if people tell me it's OK to make this change, I'm happy to provide the pull request.

[2022-08-09 08:10] fwyzard commented on #1774
To clarify: if people tell me it's OK to make this change, I'm happy to provide the pull request.

[2022-08-09 08:13] sbastrakov commented on #1775
Oh i think we should not do such include-inside-namespace.

Just to be sure pinging @psychocoderHPC @bernhardmgruber - perhaps there was a reason to do that here?

[2022-08-09 12:09] bernhardmgruber commented on #1775
I don't know of a reason why this was done in that way, but I definitely support a PR to pull the includes out of alpaka namespaces!

[2022-08-09 14:57] fwyzard commented on #1774
See #1776.

[2022-08-09 14:58] fwyzard commented on #1775
See #1776.

[2022-08-11 08:23] #1774 closed, assigned to nobody

[2022-08-11 08:23] #1775 closed, assigned to nobody

[2022-08-16 08:47] bernhardmgruber commented on #689
I have been talking to a few friends about this and one suggestion was to have each alpaka device function that could contain a synchronization primitive have a return type depending on the accelerator type:

[code]

Then for the coroutine backend we could make this return type a coroutine type and otherwise just turn `Ret<Acc>` into `void` and `Ret<Acc, T>` into `T`.

This is very invasive though

[2022-08-18 18:26] fwyzard commented on #1752
I just stumbled upon this comnet in the GCC wiki [FAQ page](https://gcc.gnu.org/wiki/FAQ#optimization-options):

[2022-08-26 13:55] bernhardmgruber opened #1779 "Enabling backends from cmake scripts"
In a cmake based project that requires e.g. the CUDA backend, I tried to enable it like this:
[code]
While this turns on the flag `alpaka_ACC_GPU_CUDA_ENABLE`, the backend will not be enabled unless the user reconfigures with cmake. This is because backend enabling is handled as part of `find_package(alpaka 0.9.0 QUIET)`.

A possible workaround is to turn on the backend before the `find_package` c

[2022-08-29 06:31] SimeonEhrig commented on #1779
You can use [unset](https://cmake.org/cmake/help/latest/command/unset.html) in the if branch, to remove the alpaka variables.

I'm not sure, if there is a good approach to enable acc's afterwards. At least, I don't believe this was not respected when the CMake was written. Personal, I avoid to reconfigure CMake projects, because CMake is a state automate and if you re run CMake configure again, it

[2022-08-29 08:15] psychocoderHPC commented on #1779
At the moment I think the second solution from @bernhardmgruber is the correct way to enable/disable backends.
IMO the right way would be that alpaka is providing targets for all available backends and a variable to force disable the target creation for backends. see: https://github.com/alpaka-group/alpaka/issues/919#issuecomment-919269026

[2022-08-29 11:20] bernhardmgruber commented on #1779
Fair enough :)

So IIUC, that should look like this then:

[code]

So we would have an additional target per backend that is always there (even if e.g. `alpaka_ACC_GPU_CUDA_ENABLE` is `OFF`)? And if I link that target, it would turn that backend on? That would work I guess.

[2022-08-29 12:10] SimeonEhrig commented on #1779
Yes, something like this (we would also try to remove the `alpaka_add_executable` and use the normal `add_executable`).

Actual, I didn't thought about this yet. I'm not sure, if CMake is lazy and you can use a target in a if branch, which is not defined. But if it is not possible, we would through an error, if you use `alpaka::cuda` and the backend is not enabled. We would also provide a possibil

[2022-08-30 07:37] psychocoderHPC commented on #1779
No each variable should have 3 states. `ON`, `OFF` and, `AUTO`. With `AUTO` the target will be there if all dependencies are fulfilled. `ON` will enforce that the target is there if a dep is not fulfilled CMake will throw an error. `OFF` will force disable the target. This is how PIConGPU and openPMD-api is handling optional dependencies and will follow the variable behavior we already use in alpa

[2022-09-01 15:47] fwyzard opened #1783 "On `map`/`unmap`, `pin`/`unpin`, and `prepareForAsyncCopy`"
Hi,
I'm finally coming back to ask some questions about `map`/`unmap`, `pin`/`unpin`, and `prepareForAsyncCopy`.

### Current policy

Here's what I can find in the current code:
  - `alpaka::map(buf, device)` "maps the buffer into the memory of the given device", which I understand should make the buffer's memory (normally host memory) directly accessible from the given device, _e.g._ a GPU readin

[2022-09-01 15:54] fwyzard commented on #1783
I forgot to add one piece of information: SYCL does support allocating pinned/mapped host memory with `malloc_host`, but it _does not_ support pinning/mapping an existing buffer.

[2022-09-01 16:16] fwyzard commented on #1783
For some other issues that are affected by this, see
  - https://github.com/alpaka-group/alpaka/issues/1588
  - https://github.com/alpaka-group/alpaka/issues/1613

[2022-09-02 08:59] sbastrakov opened #1784 "Warning when compiling for HIP"
While investigating on our internal AMD system with the HIP backend, there is a warning (treated as error when building alpaka tests)

[code]

I am not sure why it does not appear in our CI, but then it seems like we were just lucky to avoid it till something gets updated. @psychocoderHPC told me it occurs for PIConGPU on AMD as well, but there we don't treat warnings as errors.

This is for HIP 5

[2022-09-02 09:16] sbastrakov commented on #1784
After investigating, the issue is that by default on that machine I compiled for a few architectures, including `gfx1030` which is not supported by ROCrand I guess, or at least that was causing the issue. Once I explicitly set only `gfx906` the compilation went fine.

Still, since we observe something similar for PIConGPU on AMD, may require a fix or further investigation.

[2022-09-02 11:39] j-stephan commented on #1784
I know we like to compile our own compilers and runtimes on our internal systems instead of using pre-built binaries. Is this the case for the ROCm installation, too? If so, have we built the libraries with `gfx1030` support?

[2022-09-02 13:15] sbastrakov commented on #1784
Tbh i have no idea, it's the second time I'm using that machine. @psychocoderHPC do you know?

[2022-09-05 12:08] psychocoderHPC commented on #1784
We use pre-build binaries from the apt repositories for our internal development systems.
As I know there is no need to compile HIP compilers to support a special architecture. The architecture is set during the compilation of the user application.
There is a high possibility that rocrand is not supported for gfx1030. I assume it is a bug in rocrand. gfx10XX was introduced end of last or beginning

[2022-09-05 12:10] j-stephan commented on #1784
That would be weird since it is a default target in rocRAND's CMake setup:

https://github.com/ROCmSoftwarePlatform/rocRAND/blob/develop/CMakeLists.txt#L82

[2022-09-05 12:11] psychocoderHPC commented on #1784
Node this error happened too if you compile host code with hipcc where `rocrand_kernel.h` is included.
If I not forget this issue I will write a miniapp and open an issue for AMD.

I assume a hello world for CPU + the include compiled with hipcc will reproduce the warning.

[2022-09-06 09:32] bernhardmgruber opened #1786 "Enforce the CRP clang-tidy"
Years ago, we settled on [clang-tidy rules](https://github.com/ComputationalRadiationPhysics/contributing/blob/master/formatting-tools/.clang-tidy) for our projects. However, we never picked up these rules and added CI jobs to enforce them (LLAMA did that for most rules).

A while back I experimentally applied the clang-tidy file to alpaka, generating a substantial changeset (#1345) to give us a s

[2022-09-06 09:38] j-stephan commented on #1786
That reminds me that there are additional checks we have to vote about...

[2022-09-06 13:18] bernhardmgruber commented on #1786
Which is nice and all, but pointless if we don't manage to get the clang-tidy CI up and running :)

[2022-09-12 07:06] SimeonEhrig opened #1787 "reinvestigate c++ standard library behavior of Clang"
During writing the documentation about the standard library selection in Clang for PR #1695 I used the compiler flag `--gcc-toolchain` to select the `libc++` version for Clang. This does not work, if the GCC compiler is installed under `/usr/` like debian's `apt` is doing it.

I found another flag (`--gcc-install-dir`) and should check, if this is fixing the problem.
https://discourse.llvm.org/t/a

[2022-09-15 14:20] bernhardmgruber opened #1789 "Provide alpaka packages"
AFAIK there are no packages of alpaka available yet on popular package managers. Having such a package would ease installation of alpaka for downstream users.

I think we should at least have a spack package. I would also welcome a package on vcpkg. There is already an issue for a Conda package: #962
At CERN, alpaka is already available on the LCG (LHC Computing Grid): https://lcginfo.cern.ch/pkg/

[2022-09-15 14:22] bernhardmgruber commented on #1789
I have a bit of experience with vcpkg, so I could give it a go. However, I don't want to commit as a long-term maintainer. Updating alpaka on vcpkg should be easy though, since it would just require changing the github tag, running some commands and opening a PR to the vcpkg repository.

[2022-09-15 14:33] SimeonEhrig commented on #1789
related issue: https://github.com/alpaka-group/alpaka/issues/1081

[2022-09-15 15:20] bernhardmgruber commented on #1789
Ok, it seems there is already an outdated alpaka package on spack: https://packages.spack.io/package.html?name=alpaka. Found via: https://repology.org/projects/?search=alpaka

[2022-09-15 15:26] bernhardmgruber commented on #1789
I drafted the vcpkg port here: https://github.com/microsoft/vcpkg/pull/26812

[2022-09-15 15:27] bernhardmgruber commented on #1789
@amadio considered adding a package for gentoo.

[2022-09-15 16:20] fwyzard commented on #1783
After the VC discussion we decided to implement Option 1.

[2022-09-15 16:20] fwyzard commented on #1783
Fixed by #1790.

[2022-09-15 16:20] fwyzard commented on #1588
Fixed by #1790, removing the support for pinning/unpinning existing buffers.
Use `allocMappedBuf()` instead.

[2022-09-15 16:21] #1588 closed, assigned to tonydp03

[2022-09-15 16:21] #1783 closed, assigned to nobody

[2022-09-16 16:27] bernhardmgruber opened #1791 "Upgrade clang-format"
LLVM (and therefore clang-format) 15 was released last week. We are still on clang-format 12.0.1. We should upgrade and enjoy better style options and less bugs. Notably, clang-format 14 brings `QualifierAlignment`, so we can now enforce east/west const etc.

[2022-09-19 10:06] bernhardmgruber opened #1793 "Make `alpaka_add_executable` obsolete"
For building executables using alpaka, we need to use `alpaka_add_executable` instead of `add_executable`. AFAIK, the reason is that in case the CUDA backend is active, we need to mark all source files as CUDA files instead of CXX files for CMake. While this is understandable, it still puts a burden on users and I wonder whether we cannot just make the normal `add_executable` work.

This issue has

[2022-09-19 10:07] bernhardmgruber commented on #1793
The definition of [`alpaka_add_executable`](https://github.com/alpaka-group/alpaka/blob/develop/cmake/addExecutable.cmake).

[2022-09-19 10:59] SimeonEhrig commented on #1793
I checked already if it is possible via `target_link_library`. 9 months before, the answer was no.
https://gitlab.kitware.com/cmake/cmake/-/issues/22971

[2022-09-19 11:29] bernhardmgruber commented on #1793
This is the central comment for me:

[2022-09-19 11:49] psychocoderHPC commented on #1793
We need to tag files which language should be used. This is what `alpaka_add_executable` currently is doing. I thought a cmake target is enough but maybe not :-(

[2022-09-19 12:17] bernhardmgruber commented on #1793
I quickly tried the idea presented [here](https://stackoverflow.com/a/70841372) to run a cmake function after all targets have been created and find the user's targets which link against alpaka, so I can change the source file language of these targets. It seem however, that the solution on stackoverflow only works with generator expressions, because the `MAGIC` property was not propagated yet bef

[2022-09-19 20:29] bernhardmgruber commented on #1789
And it was merged. alpaka is now available on vcpkg.

[2022-09-20 09:34] bernhardmgruber commented on #1789
We discusses this in the alpaka VC today and we concluded that we don't have the resources for now to maintain packages.

[2022-09-20 09:36] bernhardmgruber commented on #1793
We discussed this in the alpaka VC today: we could add a separate function to annotate the source files of a given target and then use the plain `add_executable`.

[2022-09-20 12:19] SimeonEhrig commented on #1793
I think it could looks like:
[code]

[2022-09-20 14:46] psychocoderHPC commented on #1793
@SimeonEhrig You missed to link an alpaka target. If we add an target for any backend anyway I thought you snipped should looks like:

[code]

[2022-09-20 21:57] bernhardmgruber commented on #1793
I would have called it something that does not involve the name CUDA, like `target_using_alpaka(target)` or `sources_using_alpaka(files...)`. Because in principle we could need more handling than just CUDA.

Also, we would only need to declare source files which can contain device/kernel code. I think we added the host/device API separation at some point, so people could still use and link alpaka,

[2022-09-21 07:12] psychocoderHPC commented on #1793
@bernhardmgruber I am mixing the discussion from #919 and this because IMO these are not orthogonal topics. The problem is that the current alpaka CMake is based on old CMake workflows mixed with targets. If we talk about modernizing what removing `alpaka_add_executale` IMO is, we need to see the full picture.

- `target_using_alpaka` is not required because there is the cmake way to handle target

[2022-09-21 09:33] SimeonEhrig commented on #1793
@psychocoderHPC In my opinion, your implementation is to complicated for the default use case. I suggest the following implementation:

enable a specific backend, e.g. CUDA:

[code]

[code]

add all enabled backends, like the current behavior:

[code]

[code]

[2022-09-21 10:00] psychocoderHPC commented on #1793
@SimeonEhrig You missed that we need to annotate source files and not the target. How to link alpaka to the target does not require a new function, we have already `target_link_library(mainTgt PRIVATE alpaka)`.
We need "only" one new function e.g. what @bernhardmgruber suggested `sources_using_alpaka()` but need a way to express which backends should be used in the annotated source files.

[2022-09-21 10:10] bernhardmgruber commented on #1793
No, if you have the target, you can query it for all the source files and annotate those. It is actually the API I would prefer. This is not about how to link against alpaka, which, as you said, is solved by `target_link_library(mainTgt PRIVATE alpaka)`

[2022-09-21 10:21] psychocoderHPC commented on #1793
Ok then I understand it wrong, I thought selecting the files from a target is creating problems.
If you use the files from a target is the order of the commands important?

Is
[code]

equal to

[code]
?

[2022-09-21 11:59] bernhardmgruber commented on #1793
Ah, now I get your point! The two examples make a difference, because `alpaka_add_enabled_backends` would only annotate the files of the passed target at the point of the call.

But both approaches do not solve my original issue to have a standard cmake file without anything alpaka specific. So my conclusion for now is that this cannot be solved in the near future.

[2022-09-21 15:04] pauleonix opened #1794 "Unified (sparse) BLAS, FFT, etc?"
Are there plans to add abstractions for math libraries in alpaka or another alpaka-group project? Alpaka seems to do a great job of abstracting the process of writing kernels, but many HPC applications also use vendor-tuned libraries like Intel MKL, cuBLAS, cuSparse, cuFFT and their AMD (roc*) counterparts. While the APIs for e.g. BLAS are very similar for the different implementations, small diff

[2022-09-22 08:42] bernhardmgruber commented on #1794
We do have plans for abstracting vendor specific linear algebra libraries. @sliwowitz is working on this. Maybe he can comment on the status of this effort.

[2022-09-23 12:19] sbastrakov commented on #1722
Sorry, I forgot about this issue. So in case the changes are needed regarding it, someone else will have to do it. As I mentioned above, on CUDA and HIP we already basically only support `float` and `double`, same as other math stuff (arithmetic may work, but no more than that).

[2022-09-26 11:30] SimeonEhrig commented on #1793
I developed a prototype:

alpaka.cmake
[code]

CMakeLists.txt
[code]

full project: [cmake_prototyp.zip](https://github.com/alpaka-group/alpaka/files/9645780/cmake_prototyp.zip)

[2022-09-27 07:08] psychocoderHPC opened #1796 "job matrix rules for test execution"
@SimeonEhrig and me discussed under which condition we should execute the runtime tests.
We decided that we will run runtime tests for the highest and lowest minor version number of a major number for HIP, NVHPC and CUDA. This includes all jobs even if there are multiple.
CPU runs will be always runtime tested.

[2022-09-27 09:00] SimeonEhrig commented on #1787
The feature `--gcc-install-dir` is not implemented yet: https://reviews.llvm.org/rG23e4299261d9

[2022-09-27 19:33] bernhardmgruber opened #1797 "Provide an easy RNG example"
We received feedback from a group using alpaka asking for a simpler example on how to use alpaka to generate random numbers. They found it complex to adapt the existing ones for their use case, which is to fill an array of ~200k elements with random numbers.

[2022-09-27 19:37] bernhardmgruber opened #1798 "Wrap vendor specific RNG implementations"
We received feedback that it would be great if alpaka could wrap vendor specific RNG implementations like curand, rocrand, or MKL, under a common API.

[2022-09-27 19:39] bernhardmgruber opened #1799 "Add CI jobs for the SYCL backend"
So far we have not enabled any CI jobs testing the SYCL backend. We should add some.

[2022-09-27 20:42] bernhardmgruber opened #1800 "Document `ALPAKA_HOST_ONLY`"
We have received feedback from users experiencing compilation errors when alpaka headers are transitively included into non-alpaka cmake targets. Notably alpaka complaining that the compiler does not support CUDA. `ALPAKA_HOST_ONLY` can help here, but this feature is undocumented. We should fix this.

[2022-09-28 00:11] bernhardmgruber opened #1802 "Upgrade linux_clang-9_cuda-9.2_debug_analysis CI check"
Because it emits this wrong diagnostic:
[code]
which is technically correct, since deduction guides are evaluated via a synthesized function template, but still wrong and not useful, since this function template would never be codegen-ed.

I propose to move to a newer clang and CUDA version.

[2022-09-28 05:38] psychocoderHPC commented on #1802
I support removing cuda.9.2 and therefore clang 9 support to reduce the maintenance overhead and avoid adding workarounds for this old compiler/CUDA version!

[2022-09-28 06:37] SimeonEhrig commented on #1802
I agree. CUDA 9.2 is over 4 years old and in the mean time, 10 versions released.

[2022-09-28 10:45] j-stephan commented on #1798
This is a duplicate of #1794.

[2022-09-28 10:47] j-stephan commented on #1802
https://www.youtube.com/watch?v=BkIJsnLBA4c

[2022-09-28 10:56] SimeonEhrig commented on #1798
I would not say duplicate. It extends issue #1794.

[2022-09-28 11:00] j-stephan commented on #1798
Okay, convinced. But I think we had a similar issue in the past, let's see if I can find it.

[2022-09-28 11:00] bernhardmgruber commented on #1798
It isn't. The referenced issue is about linear algebra libraries and FFT. And even if it mentions `etc.` in the title, I would like to emphasis the request for the RNG libraries explicitly.

[2022-09-28 11:02] bernhardmgruber commented on #1802
Haha, this is even better: https://www.youtube.com/watch?v=dQw4w9WgXcQ

[2022-09-28 11:05] SimeonEhrig commented on #1802
Luckily I open each posted youtube link in a private tab, otherwise my youtube prediction would be destroyed now :joy:

[2022-09-28 11:09] j-stephan commented on #1798
I think I remember now. Didn't we have a discussion in the past to take out the RNG parts of alpaka and move them to a separate library? The motivation behind this was that RNG isn't really a part of the kernel language and thus doesn't fit alpaka's scope.

[2022-09-28 11:12] sliwowitz commented on #1798
I would agree this is a separate issue mostly because already wrap *some* of the vendor RNGs. There's Xorwow for CUDA/HIP and there are several generators from STL. Originally I thought about making a generic wrapper over all `std` (or `std`-compatible) generators, since it seemed esay due to their unified API, but we decided against it (I don't recall the specifics, but I think the general feelin

[2022-09-28 11:14] sliwowitz commented on #1798
Yes. Initially, I was implementing Philox in a separate repo as a library. At some point, we decided to include it in `alpaka` though I don't remember what was our reasoning at that time.

[2022-09-28 11:15] j-stephan commented on #1797
@sbastrakov mentioned this a while back: #610

[2022-09-28 11:17] j-stephan commented on #1802
If I'm not mistaken we already test several clang-as-CUDA-compiler combinations in our CI. The only reason we kept this combination is because it supports C++17 and there was therefore no immediate reason to remove it. So I don't think we need to upgrade this job, we can just remove it.

[2022-09-28 11:19] j-stephan commented on #1797
In fact, following the discussion in #610, we already have such an example. So we only need to upgrade it to the latest alpaka API and then put it into our examples folder.

[2022-09-28 11:23] j-stephan commented on #1722
No. alpaka allows users to extend our base API, so if they provide the necessary math functions they should be able to use `alpaka::Complex` with `long double`.

[2022-09-28 11:28] j-stephan commented on #1797
Nevermind, I should read more thoroughly. So what people are looking for is an alpaka equivalent of `curandGenerate` and its siblings, right? So they can just fill a buffer with a single API call?

https://docs.nvidia.com/cuda/curand/host-api-overview.html#generation-functions

[2022-09-28 11:39] SimeonEhrig commented on #1797
I think there two use cases.

1. Fill up a buffer with random numbers and use it as input of a kernel. I think, this should be handled by vikunja: https://github.com/alpaka-group/vikunja/issues/90
2. Creating random numbers inside a kernel and directly use it. This should be provided by alpaka.

[2022-09-28 11:53] bernhardmgruber commented on #1802
@j-stephan The job I am talking about is one of the analysis runs, for which we only have this one combination with clang/CUDA.

[2022-09-28 11:53] j-stephan commented on #1802
Ah, my bad then.

[2022-09-28 11:55] bernhardmgruber commented on #1798
I remember arguing for that to make the user experience easier, since no separate library installation would be necessary.

[2022-09-28 12:00] bernhardmgruber commented on #1798
Ok. Well, that was requested now, including the vendor specific APIs :)

Sure, but what if you really just need a bunch of random numbers with the fastest solution on each backend? And you would not care about determinism across backends. I guess we could choose some reasonable defaults.

[2022-09-28 12:02] bernhardmgruber commented on #1797
@SimeonEhrig I think you got it! And the emphasis is on *easy*. The API should be really slim.

[2022-09-28 12:58] sliwowitz commented on #1798
I don't think this is the actual use case. The Philox should be reasonably fast, also we have the HIP/CUDA Xorwow there, and if one of the other vendor-specific specific RNGs is just *faster* without any other special requirement, then it would make sense to replace Xorwow wit that other one, and be done with it. As I understood it, they wanted to have a wrapper around the vendor-specific parts in

[2022-09-28 14:58] #1802 closed, assigned to nobody

[2022-09-28 15:23] psychocoderHPC commented on #1798
I do not think that the user always is looking to fast vendor generators. Sometimes special properties are important e.g. how stable the generator is, how long the unique random sequence is, ...
Besides that someone must wrap different generators into our RNG generators as we already did for CUDA Xorwow I see no reason to not implement other methods.
RNG is nothing that can be moved to vikunja bec

[2022-09-28 16:02] pauleonix commented on #1794
After reading #1798 I want to clarify that I would include random number generation as well on the question side, but in terms of priority I think that BLAS (dense then sparse) functionality called from the host is the most used/important.

I explicitly mentioned BLAS and FFTs, as these should be easiest to wrap due to the already similar APIs (oriented around CBLAS and FFTW) and I was very sure t

[2022-09-30 09:14] j-stephan commented on #1296
Since we switched to C++17 last year: Which useful parts of (for example) Mp11 are we missing that can't be easily implemented through fold expressions etc.?

[2022-09-30 09:51] bernhardmgruber commented on #1296
I am sure almost 90% of the list on the right here: https://www.boost.org/doc/libs/master/libs/mp11/doc/html/mp11.html. It would be crazy to implement that ourselves.

[2022-09-30 09:52] bernhardmgruber commented on #1296
Btw, LLAMA with `mp11` runs fine on `nvc++`.

[2022-10-04 04:19] GNiendorf opened #1806 "Unspecified Launch Failure"
I'm trying to incorporate alpaka code into a project that is currently written with CUDA, with the hope of eventually rewriting it in alpaka completely. Right now I'm trying to run the "Hello World" example in one of my .cu files to verify that I can run alpaka code alongside my CUDA code. The code compiles fine, but I get a very obscure error when I try to run it:

terminate called after throwing

[2022-10-04 05:11] GNiendorf commented on #1806
Alpaka debug tool gives more info:

createTaskKernel workDiv: {gridBlockExtent: (1, 1, 1), blockThreadExtent: (8, 8, 8), threadElemExtent: (1, 1, 1)}, kernelFnObj: 16HelloWorldKernel
[+] enqueue
enqueuegridDim: 1 1 1
enqueueblockDim: 8 8 8
enqueue BlockSharedMemDynSizeBytes: 0 B
enqueue binaryVersion: 70 constSizeBytes: 72 B localSizeBytes: 0 B maxThreadsPerBlock: 1024 numRegs: 4 ptxVersion: 70 sh

[2022-10-04 06:10] psychocoderHPC commented on #1806
@GNiendorf welcome to the alpaka community.
Could you please attach your alpaka hello world which is producing the error as zip to this issue?

[2022-10-04 08:52] SimeonEhrig opened #1807 "Support CUDA 11.8"
https://docs.nvidia.com/cuda/

[2022-10-04 10:19] bernhardmgruber commented on #689
After reading a good explanation of coroutine stack handling in Fedor Pikus' book The Art of Writing Efficient Programs, I reach the conclusion that C++ coroutines cannot be used in alpaka the same way Boost.Fiber can. The reason is that C++ coroutines are stackless, vs. Boost.Fiber which uses stackful coroutines. This has the following implication:

Stackless coroutines allocate their coroutine f

[2022-10-04 11:10] fwyzard commented on #689
I agree on the users' side.

[2022-10-04 11:48] psychocoderHPC opened #1808 "timeTest is sometimes failing"
I see https://gitlab.com/hzdr/crp/alpaka/-/jobs/3123251431 that the timeTest is failing.
I opened this issue to have a look if this crash happened more often.

[code]

[2022-10-05 07:40] SimeonEhrig opened #1809 "Support ROCm 5.3"
https://www.phoronix.com/news/Radeon-ROCm-5.3

[2022-10-05 09:41] j-stephan commented on #689
So, judging by the likes and the follow-up comment I assume we have the following consensus: No coroutine back-end (at least with C++20 coroutines, who knows what will change in the future) and instead we keep Boost.Fiber. Are there opposing views?

[2022-10-05 09:55] j-stephan opened #1810 "Make RNG support optional"
I received a user request from @fwyzard today: Make RNG support in alpaka optional. Some back-ends introduce some really heavy (and sometimes buggy) header files so it would be nice to have CMake and preprocessor options to turn off RNG when not required.

[2022-10-05 10:21] fwyzard commented on #689
No objections from my side...

Just FYI, at some point I might be interested in looking at [argobots](https://www.argobots.org/) and its C++ wrapper, [Thallium](https://mochi.readthedocs.io/en/latest/thallium.html) as an alternative to Boost.Fiber .

[2022-10-05 12:44] bernhardmgruber commented on #689
I was just arguing against a C++20 coroutine based backend. I never argued to keep Boost.Fiber. In fact, I am still firmly in favor of its removal.

PR welcome! :)

[2022-10-05 12:45] j-stephan commented on #689
Yes, I was taking the discussion around Boost.Fiber into account when making that comment. IIRC we decided to keep it for the time being.

[2022-10-05 13:02] bernhardmgruber commented on #689
Anyway. Can we close this issue then?

[2022-10-05 13:11] j-stephan commented on #689
If anyone feels this needs more discussion, feel free to reopen (or ping me if you're missing the necessary maintainer powers).

[2022-10-05 13:11] #689 closed

[2022-10-05 13:18] bernhardmgruber opened #1811 "Add clang-15 to CI"

[2022-10-05 13:24] psychocoderHPC commented on #1809
Currently, AMD is not providing the required containers :-(

https://hub.docker.com/r/rocm/dev-ubuntu-20.04/tags?page=1&name=5.3

[2022-10-06 20:16] kakwok opened #1813 "Fail to compile SYCL backend"
Hi, I am trying to compile alpaka SYCL backend for intel GPU:
I'm using the latest `develop` branch with alpaka:
[code]
I am using the latest `clang++` compiler built from the `intel/llvm` 's `sycl` branch:
https://github.com/intel/llvm/blob/sycl/sycl/doc/GetStartedGuide.md

`get_info` error:
[code]

`static_assert` error:
[code]

These errors are just coming from the `#include <alpaka/alpaka.hpp>

[2022-10-07 07:23] j-stephan commented on #1813
Hi @kakwok, thanks for reporting this. I'll have a look at it either today or on Monday next week (I am currently on a work trip).

Your `static_assert` error happens because you tried to use pointers as input parameters to the kernel. This is currently not supported on the SYCL back-end, you'll need to use our (experimental) accessors instead. I have converted some of our tests to use accessors o

[2022-10-07 12:59] kakwok commented on #1813
Hi @j-stephan, thanks for the reply. I am aware that SYCL is in an experimental state, so I did not expect everything to work out of the box. Just thought reporting this could be helpful.

On that note, here are two more trivial bugs that I encountered during my build:
[code]
and
[code]

[2022-10-10 06:11] SimeonEhrig commented on #1809
Now, it is outdated. AMD provides the container.

[2022-10-11 15:36] GNiendorf commented on #1806
Sorry for the delay, I figured it out. I needed to add the following flags to my Makefile. I initially had the first two flags, but when I added the third flag everything worked perfectly.

-DALPAKA_ACC_GPU_CUDA_ENABLED -DALPAKA_ACC_GPU_CUDA_ONLY  --expt-relaxed-constexpr

[2022-10-11 15:36] #1806 closed, assigned to psychocoderHPC

[2022-10-13 08:05] #1246 closed, assigned to nobody

[2022-10-18 11:31] j-stephan commented on #1794
There is an effort to bring a subset of BLAS into the C++ standard: https://www.open-std.org/jtc1/sc22/wg21/docs/papers/2022/p1673r7.html#purpose-of-this-paper

When we tackle this issue it might be a good idea to use this as basis. Thoughts @sliwowitz @bernhardmgruber @psychocoderHPC?

[2022-10-18 13:22] pauleonix commented on #1794
Together with executors, senders/receivers, mdspan etc these future C++ features would ideally completely replace not only these BLAS wrappers, but also frameworks like alpaka itself as I understand them. That being said it might still take quite some time for these things to mature.

Nvidia certainly tries to accelerate these developments (see their `nvc++` compiler with parallel algorithm offloa

[2022-10-18 13:57] j-stephan commented on #1794
Well, `mdspan` is on our to do list anyway (see #1482). I don't think we have talked about executors yet, but IMO it should be possible to create alpaka-based executors. This would mean that we'd have to create separate libraries for the abstract BLAS, ... functionality.

[2022-10-20 18:48] mhoemmen commented on #1794
Greetings!  A colleague pointed out this discussion.  I'm an author of P1673 and other mdspan and mdarray proposals, and would be happy to answer any questions you might have about them.

@j-stephan wrote:

The link you posted is to an older version of the proposal.  You can use the wg21.link service to get the latest published version.  https://wg21.link/p1673 currently points to R10.

@pauleonix

[2022-10-20 20:07] fwyzard commented on #1794
Hi @mhoemmen, thanks for pointing out these new proposals.

I've skimmed [P2642](https://wg21.link/p2642) but I'm not very familiar with `mdspan` and its layouts, so I didn't really get what the new proposal adds.

Does the overaligned access described in [3.2.2](https://www.open-std.org/jtc1/sc22/wg21/docs/papers/2022/p2642r1.html#new-layouts-unify-two-use-cases), point 1 cover the same use case

[2022-10-20 22:37] mhoemmen commented on #1794
Hi @fwyzard !

@fwyzard wrote:

https://github.com/kokkos/mdspan/issues/117 is a weird (but legal) use case.  It conflates two different features:

1. a strided ("pitched") allocation, and
2. unaligned access (not aligned to the value type's alignment -- this is what makes it weird).

Layout mappings themselves are independent of the element's size (*).  The padding affects the stride, which is an

[2022-10-21 07:29] SimeonEhrig opened #1817 "Add tag list support to accMatchesTags"
At the moment, the variable `accMatchesTags` supports an infinite number of tags via variadic template. It should be also possible to pass many tags as tag list.

Code example:
[code]

[2022-10-21 09:48] bernhardmgruber commented on #1794
Hi @mhoemmen! Great to see you joining the discussion! I am in a hurry, so here are just a few quick comments:

First of all, we are super happy that `mdspan` made it into the working draft! I hope it stays there until the release of C++23. The subsequent features like `submdspan` and the padded layouts are great as well! I tried the `submdspan` in #1788 and it works! I am hesitant though whether

[2022-10-21 14:37] mhoemmen commented on #1794
Thanks for the kind words!

I recommended against trying to get submdspan into C++23 for that reason.

Ah, sorry!  If it's legal C++ to dereference the offset pointer, then you can skip the whole proxy reference thing and just write an accessor whose access function does `*reinterpret_cast<RGB*>(p + i)`.

[2022-10-25 15:44] bernhardmgruber commented on #28
Is this issue about zero-copying between two buffers, if they reside on the same device? If yes, this should be similar to `Kokkos::create_mirror_view` (https://github.com/kokkos/kokkos/wiki/View).

We definitely should have this functionality in alpaka. I needed it a couple of times already. I would propose an API similar to Kokkos, but use the target device explicitely:

[code]

The typical use

[2022-10-27 20:54] fwyzard commented on #28
Hi @bernhardmgruber, I'm not familiar with Kokkos' approach, but if you write something like
[code]
I would expect that `buf3` is automatically updated whenever `buf` is modified, and viceversa.

Instead, from the description of the issue I understand that the intended behaviour is that the copy is a one-time action, and that it should simply be elided if the two buffers are on the same device ?

[2022-10-28 10:06] j-stephan commented on #28
Maybe something like `make_available`? If it already is available on the given device nothing happens, otherwise a copy is performed.

[2022-10-29 11:37] bernhardmgruber commented on #28
@fwyzard That is roughly the implementation I had in mind! Maybe we can also allow e.g. different CPU devices to also have this sharing behavior or, whenever unified shared memory is implemented, have it for CPU/GPU as well.
I just saw `Kokkos::create_mirror_view` on a slide at ACAT22 and thought that we should really have that now.

You are right that `mirrorBuffer` could imply that they keep in

[2022-10-29 12:12] bernhardmgruber opened #1819 "Memcpy between the same buffer"
#28 proposes a mechanism to perform a zero copy between two buffers. During the implementation I wondered what the behavior of the standard `alpaka::memcpy` is when destination and source buffer are identical. A quick look into the code revealed that this case is not handled and actually causes UB (See: https://en.cppreference.com/w/cpp/string/byte/memcpy: "If the objects overlap, the behavior is

[2022-10-29 12:28] fwyzard commented on #28
I agree... however we should keep in mind that this would be an API with a different behaviour depending on the accelerator.

For example:
  - if `src` is a CPU buffer and `dst` is a GPU buffer, after `smart_memcpy(queue, dst, src)` has completed the `src` buffer can be safely freed or modified;
  - if both `src` and `dst` are GPU buffers, after `smart_memcpy(queue, dst, src)` has completed the `s

[2022-10-31 10:50] bernhardmgruber opened #1821 "OpenMP broken on MacOS"
A recent change to the GitHub MacOS runners seems to have broken compilation when OpenMP is needed. See for example: https://github.com/alpaka-group/alpaka/actions/runs/3351786152/jobs/5553478006#step:5:2386

[code]

I have the same issue in LLAMA btw.

[2022-11-01 07:50] psychocoderHPC commented on #28
IMO to model the ideas described in this issue we need memory visibility information within alpaka.
On Fontrier/crusher ORNL we have e.g. a fully cache coherent system where it is not required to use managed memory.
On CUDA but also some ROCm devices you must use managed memory. If you use to manage memory you need to make the user aware that two buffers representing the same memory can not be exe

[2022-11-01 09:01] fwyzard commented on #28
From what I [just read](https://docs.olcf.ornl.gov/systems/crusher_quick_start_guide.html#enabling-gpu-page-migration), the Frontier/Crusher approach is not very dissimilar from unified/managed memory. The differences are that
  - `malloc`ed memory can be treated as managed memory (IIRC CUDA on Power has a similar capability);
  - device memory can be accessed from the host as "zero copy" over the

[2022-11-03 10:24] bernhardmgruber commented on #28
Further comment from @fwyzard (https://github.com/alpaka-group/alpaka/pull/1820#discussion_r1012704484):

[2022-11-03 14:54] bernhardmgruber opened #1822 "Document the release procedure"
We should have the steps involved to create a release of alpaka documented somewhere. I would propose the wiki for that and started a page there: https://github.com/alpaka-group/alpaka/wiki/Release-procedure. I prefilled it with some of the steps required for a LLAMA release.

Please extend/update the release steps required. If you want, feel free to also move this description somewhere else, if y

[2022-11-03 18:43] bernhardmgruber commented on #652
Btw, I solved this recently in LLAMA. Here is the documentation: https://llama-doc.readthedocs.io/en/latest/pages/simd.html
I also presented it on my poster at ACAT22 last week: https://indico.cern.ch/event/1106990/contributions/4991311/attachments/2533306/4361386/LLAMA%20poster.pdf

[2022-11-03 19:11] bernhardmgruber opened #1824 "Reengineer alpaka's element layer, or deprecate it"
Alpaka exposes multiple layers of parallelism. I grid is composed of blocks, which are composed of threads, which are composed of elements. This last layer, in my understanding, was designed to be mapped to SIMD capabilities of CPUs (or load a GPU thread with more work for short kernels). In contrast to the blocks and thread layers, the elements layer is fully within the responsibility of the user

[2022-11-04 12:04] psychocoderHPC commented on #1821
similar to https://github.com/microsoft/LightGBM/issues/1898

[2022-11-04 12:11] psychocoderHPC commented on #1821
I removed the required flag for the macosx jobs. This means we run the CI for MACOSX but there is no need anymore that these jobs to pass.

**WARNING** This means we have no code coverage for MACOSX anymore!

[2022-11-04 12:21] bernhardmgruber commented on #1821
I fixed it in LLAMA btw, by installing `llvm` from homebrew and using their clang instead of AppleClang.

[2022-11-04 21:10] GNiendorf opened #1827 "No Hyperbolic Functions?"
Does Alpaka have implementations of hyperbolic functions (cosh, sinh, acosh, asinh, etc.)? If not, are there any plans to support them or advice on how to get around this? I know CUDA has hyperbolic functions in their math library for example. My thought right now is to implement my own device function that calculates acosh(x) (the function I need) using the other alpaka math functions, but this p

[2022-11-05 14:40] fwyzard commented on #1824
Hi Bernhard,
thanks for bringing this up, it's something I've been pondering for a while, since I've been working to implement some efficient `paralle_for`-like loops for Alpaka kernels.

I agree that making the "element" layer a compile-time constant should allow the compiler to generate more efficient binaries.

In addition, I think the same could be true also for the "block size"; we do have ke

[2022-11-05 14:44] fwyzard commented on #652
Btw, Intel is working to propose a SIMD library based on xvec/simd into Boost: https://lists.boost.org/Archives/boost/2022/09/253579.php .

[2022-11-06 01:16] bernhardmgruber commented on #652
IIUC, this is an implementation of `std::simd` by Intel. It's great to see more implementations appearing! And I am especially happy they try to get it into Boost. That is going to be a tough :)

Thanks for sharing the link!

[2022-11-07 10:29] psychocoderHPC commented on #1827
At the moment we do not have hyperbolic math functions in alpaka.
Until now there was no plan to add these functions but the world looks different with your issue.
We will discuss this issue in the next alpaka developer meeting.
You can find supported functions https://github.com/alpaka-group/alpaka/blob/develop/include/alpaka/math/Traits.hpp

[2022-11-07 13:23] psychocoderHPC commented on #1827
A PR should be ready today.

[2022-11-07 13:46] psychocoderHPC commented on #1827
I opened #1828 to add hyperbolic math functions.

[2022-11-07 14:00] psychocoderHPC commented on #1824
I like the idea to handle compile and runtime. I do not know how Eigen is doing it but I assume the same as extent's in mdspan.

something like: `extent<128>{}` or `extent{128}`

Nevertheless, I am nowadays against the element layer.
- 1.  We do not provide in alpaka methods to execute a functor on the element layer (e.g. a forEach)
- 2. It is a special case if the "element layer" is equal in all

[2022-11-07 14:12] fwyzard commented on #1824
we do in CMS :-)
See https://github.com/cms-sw/cmssw/blob/master/HeterogeneousCore/AlpakaInterface/interface/workdivision.h
[code]
or
[code]

The way we handle varying problem size currently would be to have an outer loop over with a stride equal to the "element size", and an inner loop over the elements (that eventually we would aim to vectorise).

It is not more efficient than having a single lo

[2022-11-07 16:13] bernhardmgruber commented on #1824
Exactly my thought as well. And I have the same in LLAMA. There is a general trend in some libraries these days to allow dual use of types and functions with compile time or runtime values.

That sounds a bit like an abstraction for launch bounds as well. I think this idea is worth some more thought! Maybe it is confusing though, if you create a workdiv and schedule a kernel, and then the kernel j

[2022-11-07 16:23] bernhardmgruber commented on #1824
One of the llama examples does this: https://github.com/alpaka-group/llama/blob/develop/examples/common/alpakaHelpers.hpp. That could be improved with accelerator tags.

I wanted to have this in alpaka for some time btw. And @sbastrakov implemented two variants as an example: #1712. It would be easy to lift some of those into alpaka.

[2022-11-07 16:30] bernhardmgruber commented on #1824
In my LLAMA alpaka n-body, which uses 1 element on the GPU and N elements on the CPU is here: https://github.com/alpaka-group/llama/blob/develop/examples/alpaka/nbody/nbody.cpp#L194-L208. Although I set the alpaka elements layer, I ignore it in the kernel and pass it beside alpaka as an NTTP to the kernel.

[2022-11-07 22:27] GNiendorf commented on #1827
Thank you for the quick fix!

[2022-11-08 16:42] bernhardmgruber opened #1833 "Improve OpenAcc/OpenMP5 device names"
I just tried the OpenAcc backend and asked for the name of a device using `alpaka::getName(dev)`. The returned string was `"OpenACC target"`. This could really be improved. At the moment I don't even know on which target device I am running :)

[2022-11-08 16:48] bernhardmgruber commented on #1833
And same request for the OpenMP5 backend.

[2022-11-09 07:19] #1791 closed, assigned to nobody

[2022-11-09 16:12] StewMH opened #1836 "Possible to end up with no backend configured (CMake)"
By running CMake twice:
[code]
I managed to end up with no backend configured, and a lot of (initially) puzzling compiler errors:
[code]
[code]

I see that the serial backend is enabled if unset (for builds/tests):
[code]
https://github.com/alpaka-group/alpaka/blob/develop/CMakeLists.txt#L83

so perhaps the solution is to change this to:
[code]

but perhaps there is a usecase I am missing.

Best r

[2022-11-09 16:28] psychocoderHPC commented on #1836
Thanks for the report.

I think your suggestion is valid. I would use WARNING for the message

[code]

@StewMH Do you like to open a PR with your suggestion?

[2022-11-09 16:30] StewMH commented on #1836
Sure, I will do this.

[2022-11-09 17:10] StewMH commented on #1836
OK, harder than I thought - once set, CMake options are immutable.

Two ways out:
1)exit with fatal error
[code]

2)Use set() rather than option(), which goes against good CMake practice.

Could also leave as is.

[2022-11-10 07:29] psychocoderHPC commented on #1836
You can force change the CMake option with `option(alpaka_ACC_CPU_B_SEQ_T_SEQ_ENABLE "enable alpaka serial accelerator" ON FORCE)`

[2022-11-10 07:36] psychocoderHPC commented on #1821
I was on the way to increasing the CMake version for our MACOSX CI tests but I do not know how. It looks like CMake is pre-installed in the image or so.

[2022-11-10 07:52] SimeonEhrig commented on #1821
I think also. I didn't found a macos install path [install_cmake.sh](https://github.com/alpaka-group/alpaka/blob/develop/script/install_cmake.sh). Here is the tools list of the macos image: https://github.com/actions/runner-images/blob/main/images/macos/macos-12-Readme.md

It contains already CMake 3.24.2, which is nearly the latest release (current 3.24.3). The patch notes does not name any openm

[2022-11-10 11:05] StewMH commented on #1836
This does not seem to work:
[code]
I don't think FORCE is possible for option.

[2022-11-10 16:09] psychocoderHPC commented on #1836
Sry you are right I mixed it with `set`. In this case IMO our solution 1. https://github.com/alpaka-group/alpaka/issues/1836#issuecomment-1309074666 is better than keeping it as it is to avoid the ugly hard to understand error during compile time.

[2022-11-10 17:38] psychocoderHPC commented on #1821
CMake should support the apple clang since 3.12 if I read this issue and the linked PRs correctly https://gitlab.kitware.com/cmake/cmake/-/issues/18520

[2022-11-10 17:43] psychocoderHPC commented on #1821
This is a suggested workaround :-( https://github.com/oneapi-src/oneDNN/issues/591#issuecomment-552293435

[2022-11-10 18:02] psychocoderHPC commented on #1821
Since #1840 was not solving the MACOSX CI issues I disabled the OpenMP backend in our CI for MACOSX tests #1840.

Switching to llvm is possible but until then we should accept #1840 to avoid that we run too long with failing tests.

[2022-11-12 00:43] bernhardmgruber commented on #1836
Since I run into the same issue quite often (I successfully configure and then fail the build at some later point), can we just fail the cmake configure with a fatal error when no backend is selected? This would need to be a bit smarter, since it should be possible to configure and install without any backend selected. Maybe we could run this check when cmake runs `find_package(alpaka)`?

[2022-11-12 00:58] bernhardmgruber commented on #1808
Just looking at the implementation: it is clear that this test can fail :D

The unit test basically does:
[code]
This assumes that the clock is steady/monotonic. In other words, it cannot wrap around or go back in time.

And then, here is our implementation:
[code]
Which violates the assumptions of the unit test (by using `high_resolution_clock`) and even documents it.

My recommendation (and sinc

[2022-11-14 13:47] #1808 closed, assigned to nobody

[2022-11-15 16:49] StewMH commented on #1836
@bernhardmgruber it's easy to require a backend, e.g.
[code]
in `alpakaCommon.cmake`, but not clear to me how you would allow this in the configure + install case.

[2022-11-15 16:59] bernhardmgruber commented on #1836
Exactly, because I still want to clone alpaka, configure and install without enabling an accelerator (which maybe needs more dependencies).

[2022-11-17 13:39] StewMH commented on #1836
Hi @bernhardmgruber, I didn't have any other bright ideas, so I opened a PR with a solution for not managing to build the tests/examples.

[2022-11-17 14:00] bernhardmgruber commented on #1836
@StewMH and that is totally fine! Let's discuss there!

[2022-11-24 12:52] #1809 closed, assigned to nobody

[2022-11-28 12:44] #1827 closed, assigned to psychocoderHPC