[2020-06-18 10:58] bernhardmgruber opened #1046 "std::result_of_t fails to compile with C++20"
In alpaka/kernel/Traits.hpp, inside CheckFnReturnType, there is this check:
[code]

Unfortunately, `std::result_of_t` has been removed in C++20. The replacement is `std::invoke_result_t`, available since C++17. Thus, if a compiler is put into C++20 mode, the above code rightfully fails to compile.

Please replace the use of `std::result_of_t` by `std::invoke_result_t` when compiled for C++20 (or C

[2020-06-21 10:58] #1046 closed, assigned to nobody

[2020-06-22 07:49] #1037 closed, assigned to nobody

[2020-06-22 08:25] BenjaminW3 commented on #1037
The fix seems to have worked

[2020-06-22 08:27] BenjaminW3 commented on #1032
This should be solved now. Please reopen if it did not work.

[2020-06-22 08:27] #1032 closed, assigned to nobody

[2020-06-26 14:39] sbastrakov opened #1053 "Suggestion: get static shared memory variables by reference instead of forwarding reference?"
Edit: this concerns not alpaka interface, but how we use it in examples and tests.

So far we use syntax like [that](https://github.com/alpaka-group/alpaka/blob/08710cb752bfec348ba785fd5518aeb7d785c80d/test/unit/block/shared/src/BlockSharedMemSt.cpp#L39) everywhere.

I think in this case there is no advantage of forwarding reference here over a normal one. And if so I suggest switching to the norm

[2020-06-29 08:15] psychocoderHPC commented on #1036
I fixed the hooks for readthedocs on Freiday all is working now.

[2020-06-29 08:15] #1036 closed, assigned to nobody

[2020-06-29 08:15] psychocoderHPC commented on #1037
I fixed the hooks for readthedocs last Freiday all is working now.

[2020-06-30 07:18] shefmarkh opened #1055 "error: no template named 'AccCpuOmp2Blocks' in namespace 'alpaka::acc' (mac os)"
[edit from @sbastrakov : this issue concerns not the alpaka/example/helloWorld, but the [helloWorld from alpaka workshop](https://github.com/alpaka-group/alpaka-workshop-examples/tree/master/helloWorld)].

Hello,

When building helloWorld I get some error:

Marks-MBP-2:build markhodgkinson$ cmake --build . --config Release
Scanning dependencies of target helloWorld
[ 50%] Building CXX object CMake

[2020-06-30 07:19] sbastrakov commented on #1055
Thanks for submitting the issue and providing the output @shefmarkh , looking into it.

[2020-06-30 07:24] sbastrakov commented on #1055
I think the difference from yesterday may be that the vectorAdd example in the main alpaka repository (this one) that we built and ran in yesterday's slides by default uses the sequential accelerator, as it does not have any dependencies. However, the helloWorld example uses the OpenMP 2.0 backend and so should be compiled with OpenMP support.

To check this hypothesis, could you please try changi

[2020-06-30 07:29] shefmarkh commented on #1055
Thanks, yes it gets further now.

cmake --build . --config Release
Scanning dependencies of target helloWorld
[ 50%] Building CXX object CMakeFiles/helloWorld.dir/src/helloWorld.cpp.o
/Users/markhodgkinson/alpaka-workdir/helloWorld/src/helloWorld.cpp:93:5: error: reference to 'wait' is ambiguous
    wait::wait(queue);
    ^
/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Devel

[2020-06-30 07:34] sbastrakov commented on #1055
Thanks, so apparently this `wait()` issue is a shortcoming of the example. We normally do `alpaka::` explicitly everywhere, however for the workshop decided to make it more simple with `using namespace alpaka;` and did not have a macOS-based developer to reveal this problem. I will fix it in the examples repository.

Now, coming back to the original OpenMP issue. So by default we are trying to fin

[2020-06-30 08:06] sbastrakov commented on #1055
@prometheusPi, perhaps you have an idea on the question in the previous message?

[2020-06-30 08:25] HadrienG2 commented on #578
"Task scheduling" indirectly covers device command submission (command queues, CUDA stream...), but it does not obviously cover device-host synchronization (events, wait for queue/device, etc), which Alpaka must also abstract. You will want to discuss that as well.

[2020-06-30 08:31] sbastrakov commented on #578
I agree with @HadrienG2 that we should add device-host synchronization explicitly, as it seems indeed not covered by other items from the list.

[2020-06-30 08:45] shefmarkh commented on #1055
Hello,

I did not really know how to enable openmp. Some googling suggested the default apple clang does not support openmp, and that instead I should use mac ports clang.

So I installed that, and forced cmake to use it via:
alias cmake="CXX=\"/opt/local/bin/clang\" CC=\"/opt/local/bin/clang\" cmake"

I found out I should also set:

export CPLUS_INCLUDE_PATH=/opt/local/libexec/llvm-10/include/c++

[2020-06-30 08:50] sbastrakov commented on #1055
Yes. so that looks in line with the error in your very first message.

So now OpenMP is found and your errors indeed seem to come from your compiler/system and not alpaka. But no worries, we will help, it just takes a little longer as none of core alpaka developers use macOS at the moment, but some of our colleagues from other groups do, and we will investigate with their help.

Just as a naive su

[2020-06-30 08:51] shefmarkh commented on #1055
Hello,

Yes I cleaned the build directory. I found a suggestion just now, to change "cmake .." to "cmake -E env CXXFLAGS="-Wno-reserved-id-macro" cmake .."

Now I am making progress...

Scanning dependencies of target headerCheck
[  1%] Building CXX object test/analysis/headerCheck/CMakeFiles/headerCheck.dir/src/acc/AccCpuFibers.hpp.cpp.o
[  2%] Building CXX object test/analysis/headerCheck/CMakeF

[2020-06-30 08:52] sbastrakov commented on #1055
Oh, nice! To make it quicker, you can skip building of tests (these may take a while, depending on the machine) and just do the example directly

[2020-06-30 08:53] sbastrakov commented on #1055
So just following these slides: https://github.com/alpaka-group/alpaka-workshop-slides/blob/master/10_programming_model/11_portable_hello_world.pdf

[2020-06-30 09:10] shefmarkh commented on #1055
Thanks, yes that is faster. Initially I had linker errors, which I solved by updating the linker flags, as well as the cmake alias.

So overall I could compile HelloWorld with:

sudo port  select --set clang mp-clang-10
alias cmake="CXX=\"/opt/local/bin/clang++\" CC=\"/opt/local/bin/clang\" cmake"
export CPLUS_INCLUDE_PATH=/opt/local/libexec/llvm-10/include/c++/v1:/Library/Developer/CommandLineToo

[2020-06-30 09:15] sbastrakov commented on #1055
Great! And does it run now?

[2020-06-30 09:18] j-stephan commented on #1055
Just a side note: It should be `CMAKE_BUILD_TYPE=Release`, not `RELEASE`. In your case it doesn't matter since this flag is ignored by Xcode (Xcode only evaluates the `--config Release`) but if you run the command on Linux in the future you might encounter some trouble.

[2020-06-30 10:32] chavid opened #1056 "Failed to run successfully the test suite on ubuntu:20.04 (through docker)"
Hi.
My machine is under MacOS, but I used Docker and an image ubuntu 20.04.
Then apt-install : cmake, git, build-essential, libboost-all-dev.
This includes g++ 9.3.0 and boost 1.71.0 .
Cmake building and installation works fine.
(`cmake -DBUILD_TESTING=ON -DCMAKE_BUILD_TYPE=Release ..`)
Since I did not add any backend, I assume the only available is openmp.
Then the build of the test suite is fail

[2020-06-30 10:38] sbastrakov commented on #1056
Hello @chavid , thanks for your report.

Interesting. So there is a warning emitted while compiling the OpenMP 4.0 backend, and our cmake settings treat warnings as errors. I am not sure what causes the warning, perhaps @jkelling has an idea?

For now, could you try disabling this backend, by adding `-DALPAKA_ACC_CPU_BT_OMP4_ENABLE=OFF` to your cmake command line? (By default it tries to build for

[2020-06-30 10:41] sbastrakov commented on #1056
Also cc @psychocoderHPC .

[2020-06-30 11:11] SimeonEhrig commented on #1056
@chavid
Do you also installed `libomp-dev`?

[2020-06-30 12:15] chavid commented on #1056
No. trying that.

[2020-06-30 12:23] jkelling commented on #1056
I did not know, that gcc supports offloading to HSA (AMD GPUs).

In any case: The current OpenMP 4 backend does not support offloading. There is and `if(0)` in the target directive, which should keep the compiler from trying to actually offload it. No idea why your compiler is even trying to create HSAIL code, it should not do that.

If the compiler tries to generate GPU code, it is bound to fail,

[2020-06-30 12:46] SimeonEhrig commented on #1056
I was just wondering if the OpenMP backend is enabled because I know that `libomp-dev` is not installed by default in an Ubuntu Docker image.

[2020-06-30 15:17] chavid commented on #1056
Installing libomp-deb has solved the issue :)
I am now facing some gcc crash with KernelWithTemplateArgumentDeduction, presumably due to a run out of RAM or something alike. But that's another story. Will try to boost my docker settings.
Here we are clearly in the modern C++ world : endless compilation needing huge RAM ;)

[2020-06-30 15:17] #1056 closed, assigned to nobody

[2020-06-30 16:06] HadrienG2 opened #1058 "Build RAM requirements seem excessive"
In my system monitor, I see individual build processes from an Alpaka build going up to 5-6 GB of RSS. This means that a mid-end Linux laptop with 8 GB of RAM can only afford a single build process before swapping, and a Windows machine with that much RAM might not be able build Alpaka without swapping at all (since Windows' baseline RAM consumption is closer to 3-4GB). Such build requirements see

[2020-06-30 16:41] HadrienG2 commented on #1058
For extra context, the build's configuration is...

[code]

...the compiler is GCC 10.1, and the top offending files seem to be:

- `Kernel<something>` unit tests (Many of these have a max-RSS >3GB, but KernelWithTemplateArgumentDeduction specifically reaches >6GB and is scheduled at the same time as the math tests (3GB) and the BufTests (3.3GB))
- `ViewPlainPtrTest` goes up to 5.0 GB, and is sche

[2020-07-01 07:07] shefmarkh commented on #1055
Yes it runs fine now! :)

Cheers,

Mark

[2020-07-01 07:10] sbastrakov commented on #1055
Great! I will close this one now, as the issue is resolved. Please feel free to submit questions or report bugs in other issues, or re-open this one if related.

[2020-07-01 07:10] #1055 closed, assigned to nobody

[2020-07-01 07:35] sbastrakov commented on #1058
Hello @HadrienG2 , thanks for investigating and providing the list of the most compile-time-consuming kernels. I do not have an immediate reason why it all takes so long. But we are definitely aware of this issue (we also have all unit tests running on CI for each PR), and need to take a look there. Thanks for giving it a push!

[2020-07-01 07:36] psychocoderHPC commented on #1005
I suggest if we introduce `alpaka::atomic::atomicOr` to remove the usage of pointer in the interface and use references even if this is different to CUDA or HIP. Using pointer would would normally require to check that no `nullptr` is passed to the function.

[2020-07-01 08:51] psychocoderHPC commented on #1058
The memory consummation of C++ code with a heavy use of templates is known, I think we can not do something against it.
A possible way for a library provider who is using alpaka as backend is to provide pre-compiled libraries for common used types.
Maybe this is possible for us as alpaka developer to provide pre-compiled parts of alpaka but we have not evaluated it.

One reason for the high memory

[2020-07-01 09:14] HadrienG2 commented on #1058
Well, the reason why I am giving tooling suggestions at the beginning this issue is that I am working on this problem in some other C++ projects, so I know that some things can be done ;)

The general strategy that I know of is to...

- Make sure that nothing silly (e.g. exponential number of type/function instantiations) happens at compilation time.
    * This problem is more frequent than one wo

[2020-07-01 09:18] sbastrakov commented on #1058
Thanks @HadrienG2 .

I think some of alpaka's internals are definitely guilty of violating this one:

[2020-07-01 13:07] SimeonEhrig opened #1059 "[Discussion] Improving the Doxygen API"
During the workshop today, there was question about the best practice of using the Doxygen documentation. In my opinion it's hard to read the documentation, in special if you are not familiar with concepts like traits.

This issue is about ideas for improving the documentation an it pros and cons.

My idea:
- separate the documentation in public and internal API and hide the internal API (if Doxyg

[2020-07-01 18:57] j-stephan commented on #1059
Yo dawg, I heard you like documentation...

In all seriousness, maybe we could add an API reference to the Sphinx doc? Containing only the parts that are relevant for alpaka users. Maybe auto-generate it and then strip the internal parts by hand.

[2020-07-02 06:49] SimeonEhrig commented on #1059
We already have the technical possibility and use it to link the Doxygen API in Sphinx Doc:
https://alpaka.readthedocs.io/en/latest/usage/implementation/mapping/CUDA.html
https://github.com/alpaka-group/alpaka/blob/develop/docs/source/usage/implementation/mapping/CUDA.rst

But in this case we need an extra page and we have to make sure that the user reads the page before reading the Doxygen Doc. S

[2020-07-02 07:41] ax3l opened #1060 "RelWithDebInfo & CUDA -G"
The CMake option `RelWithDebInfo` is runtime performance neutral and enables all optimizations. On Linux, debug symbols are stored in a separate part of the binary and with MSVC in separate files.

Therefore, we should not add `-G` debug with `RelWithDebInfo` as this turns all device optimizations off:
https://github.com/alpaka-group/alpaka/blob/0.5.0/cmake/alpakaCommon.cmake#L514

Without checkin

[2020-07-02 08:28] j-stephan commented on #1060
Which flags does CMake's first class CUDA support use? Maybe we should just mirror those.

[2020-07-02 11:06] BenjaminW3 commented on #1058
Alpaka unit tests violate the following rule on purpose:

This is the main reason that the memory consumtion and compile time is high.
The unit tests are compiled for the cartesian product of available accelerators (~8), different dimensionalities (~4), different index types (~8) and in some tests also even more template parameters to get the coverage as high as possible.
What this means is that w

[2020-07-02 12:36] krzikalla commented on #765
What is the state of the issue? We still have to add the line

#if (!BOOST_COMP_GNUC) || (BOOST_COMP_GNUC >= BOOST_VERSION_NUMBER(8, 1, 0))

(see above)

in alpaka 0.5.0. Will it be fixed?

[2020-07-02 12:43] sbastrakov commented on #765
Hello @krzikalla .

Sorry for a potentially stupid question. Does this kind of #if guard patch work for you with alpaka 0.5.0? Earlier in the issue you [wrote](https://github.com/alpaka-group/alpaka/issues/765#issuecomment-534074216) that it does not work for 0.4.0 (and I don't think this part is different in 0.5.0), or am I misunderstanding?

Edit: ah, I missed your next message for 0.4.1, sorry.

[2020-07-02 12:50] krzikalla commented on #765
This [one](https://github.com/alpaka-group/alpaka/issues/765#issuecomment-623407674) explains the proper patch.

[2020-07-02 12:59] sbastrakov commented on #765
I think we could add this workaround to alpaka, what do you think @BenjaminW3 @psychocoderHPC ?

[2020-07-02 13:37] HadrienG2 commented on #1058
@BenjaminW3 How about splitting these different configurations into different compilation units?

[2020-07-02 13:39] sbastrakov commented on #1058
@HadrienG2 I think with how the tests are currently done this is not easily possible, as everything is templatized. I am not saying this is not possible in principle tho.

[2020-07-02 13:44] HadrienG2 commented on #1058
@sbastrakov One way I can think of (not necessarily the best way) is to have a "define-based test instance" cpp file which instantiates the generic test with certain template parameters based on a set of compiler defines.

Then you instruct CMake to make multiple executables out of this file and add them as tests, each using one set of defines per desired combination of template parameters.

That'

[2020-07-02 14:03] psychocoderHPC commented on #765
@krzikalla Offline discussed with @sbastrakov he will port the suggested fix into the development mainline.

[2020-07-02 14:19] sbastrakov commented on #1058
Yes, we could do that. Perhaps even easier by just enabling one accelerator for the whole test suite. Btw one could do it manually as well (but it's a little wordy, as each accelerator has to be enabled/disable separately). Ideally, of course also with a script that would iterate over all that.

[2020-07-02 14:52] sbastrakov commented on #765
@krzikalla I made a PR #1063 with your suggestion, if I understood it right. However, the original problem does not reproduce for me on Hemera with fresh alpaka (I guess no surprise that internal compiler bugs are not always stable). So could you check that PR?

[2020-07-02 16:27] BenjaminW3 commented on #1058
It should be possible to split some of those test cpp files into more compilation units until we only have one test case per file.

[2020-07-03 06:33] sbastrakov commented on #1058
That's also true, and probably makes sense even for easier navigation @BenjaminW3 . I think we don't really care if there are many files for unit tests, as they are all grouped by folders anyways.

[2020-07-03 09:30] #765 closed, assigned to sbastrakov

[2020-07-03 09:58] krzikalla commented on #995
This issue is getting serious now. There is no recent Intel compiler we can work with.

icpc 2017.8, 2018.1, 2018.3: working with alpaka 0.3.5, failing with alpaka 0.4.1 and alpaka 0.5.0.
icpc 2019.2, 2020.1: working with alpaka 0.3.5 and 0.4.1, failing with alpaka 0.5.0.

We don't know the exact reason, the error message is always the same:

../src/Matrix/LinesHelper.cpp(211): internal error: ass

[2020-07-03 10:02] sbastrakov commented on #995
Thanks for reporting. We've also just learned about issues with Intel compilers in another project using alpaka. And iirc it's exactly the same message.

I will be looking into that next week. So far am also puzzled.

[2020-07-03 14:49] sbastrakov commented on #995
@krzikalla it seems the internal compiler error of the Intel compiler occurs when there is a kernel with no parameters (except for the standard `acc`), when one does `alpaka::kernel::exec` or `alpaka::kernel::createTaskKernel` for it (both call the same internal alpaka stuff). I did not have time yet to look into what exactly goes wrong here.

[2020-07-03 14:59] sbastrakov commented on #995
With @psychocoderHPC we narrowed it down, and it seems the Intel internal compiler error occurs bacause of `std::decay` with empty template pack. (So as was complained about originally).
I will try to wrap it up in a special decay that for Icc handles the empty pack specially and explicitly does nothing. But that may be on my next work day, Wednesday. Or if someone wants to try this suggestion, th

[2020-07-06 13:34] HadrienG2 opened #1065 "[Meta] Consider studying Vulkan as API design input"
**I do not expect alpaka to support Vulkan as a backend anytime soon**, at least not without going through an abstraction layer like codeplay's SyCL-over-Vulkan implementation, because Vulkan uses a split-source programming model and this is fundamentally incompatible with alpaka's current design.

However, I think Vulkan's API _design_ could inform alpaka's future API design direction, because it

[2020-07-08 06:46] ax3l commented on #995
In parallel: reported as intel bug 04727055 at https://supporttickets.intel.com
(had moderate success with those recently, but an ICE is a good thing to report.) Always open vendor issues, everyone!

I also added a PR drafting CI, as soon as the bug herein is fixed: #1066

@sbastrakov good luck today with this! :crossed_fingers:

[2020-07-08 08:34] sbastrakov commented on #1065
Hello @HadrienG2 , thanks for the hint. I am not really familiar with Vulkan and we don't use it in our projects afaik, so having such a detailed description definitely helps! We will be having alpaka dev meeting following the workshop to discuss the feedback, and will also discuss your points raised in several issues. Thanks for providing feedback!

[2020-07-08 08:35] sbastrakov commented on #995
Thanks @ax3l ! Your link somehow does not open to me. Or rather it tries to redirect to a login page i guess and gets stuck in what looks like infinite loop. However, may be rather consistent to some other Intel software :)

[2020-07-08 13:01] sbastrakov commented on #1053
@psychocoderHPC @BenjaminW3 ping, do you see any problem with having normal references instead of forwarding ones here?

[2020-07-08 13:47] psychocoderHPC commented on #1053
I would not change the interface to return a pointer. If we will change it I suggest to return a container where you can get slices of memory from. The reason is this would more fit with the required interfaces for SYCL where we try to avoid pointer at all.

[2020-07-08 16:01] ax3l commented on #995
Same here, try to open it in "private mode" of your browser.

[2020-07-08 16:25] sbastrakov commented on #995
That words, thanks.

[2020-07-08 19:23] BenjaminW3 commented on #1053
Using `auto &` in the tests should make it easier to understand which is better. You can change it if you like.

[2020-07-09 16:53] ax3l opened #1068 "Azure Pipelines"
I would recommend to run some of the CI tests on https://dev.azure.com

It's essentially the same hardware as GH Actions but gives you an extra 10 parallel jobs. This should lower the overall CI time for a pull request.

Example:
- https://github.com/openPMD/openPMD-api/tree/azure_install
- https://dev.azure.com/axelhuebl/openPMD-api/_build/results?buildId=415&view=results
- https://github.com/mar

[2020-07-10 07:27] ax3l commented on #1060
As far as I can see it, CMake does not add `-G` in debug mode for CUDA device code. But it seems to generally not manipulate the device flags depending on the build type much (yet), which could just be originated in the relatively recent addition of it.

[2020-07-10 13:16] sbastrakov opened #1069 "Checks for the Intel compilers in the code are incorrect"
Alpaka uses `#if BOOST_COMP_INTEL` in a number of places to check for the Intel compiler. However, it does not introduce a redefinition for it, like with `BOOST_COMP_CUDA` and so it is currently the variable directly from Boost.Predef. With that variable, the check should rather be something like `#if defined(BOOST_COMP_INTEL) && defined(BOOST_COMP_INTEL_EMULATED)`. Or alternatively add an alpaka

[2020-07-10 13:30] sbastrakov opened #1072 "Should alpaka override BOOST_COMP_... variables?"
After figuring this out while working on #1070 , I am wondering if our practice of overriding Boost.Predef variables is that good. In case alpaka is used with other code that makes use of such variables (or uses some libraries that do) it can lead to inconsistencies that are hard to track.

Is there anything wrong with e.g. instead of undefining `BOOST_COMP_NVCC` and defining our own, define anoth

[2020-07-10 17:47] #1069 closed, assigned to sbastrakov

[2020-07-11 06:39] BenjaminW3 commented on #1072
Our goal should not be to override Boost.Predef variables.
My goal when I introduced `Boost.Predef` instead of hand-written macros was to get rid of a lot of boiler plate.
However, it turned out that `Boost.Predef` was missing some features (PTX architecture, clang CUDA compiler, ...) or had broken detection for some compilers (nvcc, intel, ...). Therefore we had to conditionally override some of

[2020-07-11 06:46] #995 closed, assigned to sbastrakov

[2020-07-11 06:47] #1053 closed, assigned to sbastrakov

[2020-07-13 08:57] SimeonEhrig commented on #1068
Does the azure pipeline use the same scripts as the GitHub actions? We also plan to use GitLab CI for runtime testing on GPU hardware. So we should keep the amount of CI scripts as smal as possible so we don't have to spend too much time managing the CI.

[2020-07-13 09:52] sbastrakov commented on #995
@krzikalla so now alpaka `develop` tests and examples compile with the Intel compiler for us. Could you check that it works for you as well ?

[2020-07-13 18:15] ax3l commented on #1068
Slightly different base yaml file, as linked. But the Alpaka CI is based on bash scripts that can be executed on various CI platforms, so it's not too much to set up besides adding the compile matrix entries.

[2020-07-14 08:57] sbastrakov commented on #15
This functionality is now merged. I will close the issue.

[2020-07-14 08:57] #15 closed

[2020-07-14 09:38] SimeonEhrig opened #1080 "Making the Doxygen documentation more user-friendly"
The Doxygen API is hard to read because they provide information about the users and the internal API. Making the Doxygen API easy to read without losing information is not possible. Therefore some points are planned to get a better access to the documentation.

- [ ] add a highlighted link in the Doxygen doc to the Sphinx Doc, that makes it clear that you should read the Sphinx Doc first
- [ ] ex

[2020-07-14 09:39] SimeonEhrig commented on #1059
We discussed the topic in the meeting today and found some points: #1080

[2020-07-14 09:58] SimeonEhrig commented on #1034
Today in the Alpaka VC we have started to discuss how we can make the alpaca namespace more intuitive to use. In general there is a discussion whether we want to keep the deep namespaces or whether we want to change to a flatter approach where the information is also encoded in the function name.

e.g.: `alpaka::block::shared::st::allocVar()` vs `alpaka::block::allocStaticSharedMemory()`

In combi

[2020-07-14 12:52] SimeonEhrig opened #1081 "Remove boost as install dependency"
If you install alpaka via `make install`, boost should not be a dependency. Boost should only be a dependency when compiling an application with alpaka. It should not be a problem because nothing is compiled when you install alpaka. Without a boost dependency, it is much easier to deploy a Spack and Conda package.

Related to: #962 and #1019

[2020-07-14 13:56] SimeonEhrig commented on #967
@ax3l @BenjaminW3
Current status of the GitLab CI:
- The concept differs slightly from the current concept of the GitHub Actions CI. The container already contains the necessary dependencies like cmake, boost, gcc, and so on. The test itself simply downloads the image, clones the project repo into it, and build and runs the tests. The concept is still in the testing phase, but I hope that we will

[2020-07-14 14:23] SimeonEhrig commented on #1068
Okay, that's not so cool, because then we spread the test configuration over two files. In my opinion, we shouldn't spend time on a 3rd CI, since the integration of GitLab CI is already planned (see #967 ), and then it should be easy to add additional resources.

[2020-07-14 14:32] BenjaminW3 commented on #967
I would really like to use the pre-installed docker images in the github actions. This would make the CI much faster.

[2020-07-14 15:05] psychocoderHPC commented on #967
@SimeonEhrig already [prepared docker container](https://github.com/alpaka-group/alpaka/issues/967#issuecomment-606696681) for alpaka. We currently use those in cupla.
We are currently removing the last issues e.g. that it was not possible to select the gcc if the cuda container is used.

[2020-07-14 15:10] psychocoderHPC commented on #967
alpaka has enough files to compile. We should not group multiple tests together, one job per configuration.

[2020-07-14 18:25] SimeonEhrig commented on #967
When I set up the GitLab CI, it should no much extra work, to use the images also for GitHub Actions.

In case of Alpaka, it could make sense. I think, we need to experiment a little bit.

[2020-07-14 19:43] BenjaminW3 commented on #967
Especially since we want to run CUDA and HIP tests on the internal gitlab CI because we can not run those tests on free hardware, we have long enough compile times and also test run-times for those builds.
The goal should still be to have the compile-only builds in free CI since they should also be available to forks. They would largely benefit from the pre-baked test docker image with all the cla

[2020-07-15 17:32] ax3l commented on #1068
Sounds good, understand. Just want to mention the option :)

[2020-07-15 17:32] #1068 closed, assigned to nobody

[2020-07-15 17:34] ax3l commented on #967
I know we go for docker containers, just want to mention that in Spack a new feature for GitLab called `spack ci` ("Spack Pipelines") landed that might be useful at some point of our pipelines or container partitioning steps (or not): https://spack.readthedocs.io/en/latest/pipelines.html

[2020-07-15 21:35] ax3l commented on #529
CMake 3.18.0 supports `clang` (`-x cuda`) as CUDA compiler! And one can propagate device linker flags with a `DEVICE_LINK` generator expression. Alpaka can transition to first-class `CUDA` support now :tada:

cc @j-stephan in case you haven't seen this already:
https://blog.kitware.com/cmake-3-18-0-available-for-download/

[2020-07-16 00:11] ax3l commented on #1081
Hm, you could only search for Boost with the `alpakaConfig.cmake` package.. Could be okay... But you have to search for it if alpaka is used via `add_subdirectory`.
But not exposing the direct dependency in Spack and relying on users to side-channel our transitive dependency is wrong. Spack has high dependency control, "re-install"ing alpaka's headers is fine.

I rather vote to get rid of Boost fo

[2020-07-16 08:08] sbastrakov commented on #21
@krzikalla just mentioned the shared memory size property via email. I guess this should be rather straightforward to implement. If there are no objections to have it added, I could provide a PR in a couple of days.

[2020-07-16 11:10] bertwesarg opened #1083 "No rule to make target 'install'"
I'm trying to install alpaka (5d942aa02263ad2c46b200ab6dfbfc64290ef3bb), but it fails, my procedure is:

[code]

Anything wrong on my side?

Can provide `CMakeCache.txt`on request, GitHub does not like me to attach it here.

[2020-07-16 17:10] ax3l commented on #995
@sbastrakov Intel support needs the following information, please. Can you please use Alpaka 0.5.0 and provide:

[2020-07-16 17:32] ax3l commented on #995
So far I drafted:

prerequisites: please have a recent version of CMake (3.15+) and Boost (1.65.1+; only the header-only libs are needed) installed
[code]

The primary problem reported herein is visible via:
[code]
If you set `-Dalpaka_BUILD_EXAMPLES=ON` one uncovers another icpc internal compiler error:
[code]
At linking stage I can find another set of problems for some tests and examples:
[code]

[2020-07-16 18:19] psychocoderHPC commented on #1083
If I see it correctly your version is a dev version of the 0.4.0 release. alpaka was not installable in 0.4.0, so disabling examples and tests will not work.
You can install alpaka since version 0.5.0

[2020-07-16 18:29] psychocoderHPC commented on #1081
Removing boost should be possible for alpaka if we reimplement the compiler detection by our own. As I know this is the only part we require from boost.

[2020-07-16 19:29] BenjaminW3 commented on #1081
See #481 for removing the boost dependency. There is not much left.

[2020-07-16 19:33] BenjaminW3 commented on #529
I will start trying this out but it may take some time.
First step is adding CMake 3.18 into CI with our current FindCUDA based builds.

[2020-07-16 19:49] bertwesarg commented on #1083
Yeah, looks like I screwed up with my local trees and was in the wring clone. Sorry for the noise.

[2020-07-16 20:07] #1083 closed, assigned to nobody

[2020-07-16 20:34] psychocoderHPC commented on #1083
np

[2020-07-16 20:52] psychocoderHPC commented on #481
For windows we could use https://docs.microsoft.com/de-de/cpp/c-runtime-library/reference/aligned-malloc?view=vs-2019

[2020-07-16 21:00] psychocoderHPC commented on #1013
Is this issue already solved?

[2020-07-16 23:34] ax3l commented on #1036
fyi: you can now add read-the-docs as PR review build, so you don't have to wait until a PR is merged to see if it will break the sphinx build:

https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html

[2020-07-16 23:43] ax3l commented on #1045
Definitely, maybe add a table including re-iteration of standard but very common CMake options that a new developer that is new to CMake, too does not know:

Examples:
- https://openpmd-api.readthedocs.io/en/0.11.1-alpha/dev/buildoptions.html
- https://warpx.readthedocs.io/en/latest/building/cmake.html

[2020-07-17 07:45] sbastrakov commented on #995
Hello @ax3l .

Sorry, I do not understand which file are they talking about in
`Could you please attach the preprocessed LinesHelper.cpp?`
I can't find / open your ticket either so get the context. (Earlier I meant that the website opens in private mode, but did not try to find the ticket then).

I am a bit puzzled with your last message, there may be some confusion or idk. Let me reiterate the in

[2020-07-17 16:21] ax3l commented on #995
Thanks, that's the info that I needed confirmed as it was not yet posted here.

I think that was not alpaka specific but in the OPs code.

[2020-07-19 07:11] #1009 closed, assigned to nobody

[2020-07-19 16:28] bernhardmgruber commented on #1013
Well you committed the fix here: https://github.com/alpaka-group/alpaka/commit/2bf8dad8059c0200968d800c2d7d87b92242d4d8
That should do it!

[2020-07-20 07:02] SimeonEhrig commented on #967
The time out should be not the problem. We can set the time out up to 3h. The problem is the number of runners. At the moment, we have just one AMD and Nvdia x86 runner. But if we generate enough utilization, it should be not a problem, to buy new HW.

[2020-07-20 07:12] SimeonEhrig commented on #1081
My intention was that we only need a boost at build time, so it is not necessary to have a boost installation when we run `make install`. Removing boosts in general is a different matter.

Sounds good. I don't think we need to support `add_subdirectory` anymore since we have `make install`.

I thought it was possible to define dependencies in Spack independently of real dependencies, didn't I? I t

[2020-07-20 08:08] j-stephan commented on #1045
Yes, that is a good idea!

[2020-07-20 08:20] SimeonEhrig commented on #1045
CMake options documentation is planned for the restructuring of the Sphinx Doc, which is work in progress (I hope, I can create a draft this week). The new structure should be similar to the [pybind11 doc](https://pybind11.readthedocs.io/en/stable/):

* Basic
* Advanced
* Extra Information
* Development/Contribution

At the moment, I plan to add a site for each accelerator to the Advanced section.

[2020-07-20 14:02] SimeonEhrig commented on #1036
@psychocoderHPC and I have set up the integration: #1091

[2020-07-21 08:00] j-stephan commented on #1081
Some projects (PIConGPU, cupla) use alpaka in this way I believe. CC @psychocoderHPC

[2020-07-21 08:26] psychocoderHPC commented on #1081
`make install` requires to install the library, this is one possible workflow. The other workflow is to work directly with the source tree, somewhere on the disk or as subtree/submodule. This is a native feature of CMake and should be supported.

[2020-07-21 08:29] SimeonEhrig commented on #1081
Okay, then we need to take care of this.

[2020-07-21 08:33] psychocoderHPC commented on #1081
btw: If we remove boost in alpaka we need to handle all the boost workarounds in our user code :cry:

[2020-07-21 08:59] j-stephan commented on #1081
Couldn't we do compiler detection in CMake? Or are there other parts of Boost that we are using?

[2020-07-21 09:15] j-stephan commented on #38
Reviving this ancient issue.

I agree! SYCL introduced memory accessors which hide the pointers quite nicely and provide a clean API for memory access. Maybe we can adapt this concept. CC @bernhardmgruber, this might tie into his work.

[2020-07-21 09:25] j-stephan commented on #961
Can this be closed? The workshop examples show how to use `find_package(alpaka)`.

[2020-07-21 09:30] SimeonEhrig commented on #961
I think we can close it. Integrating the workshop documentation in clever way is another issue.

@j-stephan can you provide the link to the slide, just for documentation in this issue?

[2020-07-21 09:32] j-stephan commented on #961
Sure. See the [Hello World](https://github.com/alpaka-group/alpaka-workshop-examples/blob/200629_cern/helloWorld/CMakeLists.txt) example.

[2020-07-21 09:36] SimeonEhrig commented on #961
I'm stupid. I thought the `add_subdirectory` example was missing. I mixed two issues in my mind. A `find_package` example is also available in Sphinx Docs. Anyway, thanks for the link.

[2020-07-21 09:36] #961 closed, assigned to nobody

[2020-07-21 09:46] j-stephan commented on #919
For NVIDIA GPUs: Is there any benefit to using alpaka + HIP over alpaka + CUDA?

[2020-07-21 09:51] j-stephan commented on #919
Since CMake 3.18 is now available: Are we okay with transitioning to CMake 3.18 (more or less immediately)?

[2020-07-21 09:56] BenjaminW3 commented on #919
I have no problem with increasing the minimum supported version to 3.18 if it delivers us valuable new features.
Before we do this, we should see if the native CUDA support is already good enough for us.

[2020-07-21 10:10] psychocoderHPC commented on #1081
Open parts are listed in #481.

We can not move compiler detection to CMake because we need to handle the `Standalone Header` too.
Compiler detection will be not so hard. In boost the compiler detection code is small the most code is activating workaround defines for the internal boost implementations.

[2020-07-21 10:16] psychocoderHPC commented on #919
CUDA support via HIP is nice as showcase that HIP+CUDA is not providing 100% of the native CUDA performance.
The support should not be removed because it is required for our CAAR project.

[2020-07-21 11:21] j-stephan commented on #919
I'll open a draft PR so we can look at the resulting CMake code.

Alright. Hopefully someone will implement native HIP support for CMake soon.

[2020-07-24 14:40] shefmarkh opened #1097 "vector_add example: what(): Unable to return device handle for device 0. There are only 0 devices!"
Hello,

I tried to install alpaka (I cloned from GitHub, and did not check out any specific tag) inside a docker container, based on a centos7 image. I am able to compile the vector_add example, but if fails to run. It looks like at runtime the GPU cannot be found if I understand correctly?

./example/vectorAdd/vectorAdd
Using alpaka accelerator: AccGpuCudaRt<1,m>
terminate called after throwing a

[2020-07-24 15:00] psychocoderHPC commented on #481
boost `aligned_alloc` is removed with #1094

[2020-07-24 15:01] sbastrakov commented on #1097
Hello @shefmarkh ,

It looks like indeed alpaka does not see your CUDA GPU. Since internally we just use the corresponding CUDA API function, I assume it also does not see it. In the attached log everything seems fine (please see my explanation on the other two messages below, they are unrelated). Could you check if the GPU is visible to e.g. some standard CUDA examples?

Regarding the two other m

[2020-07-24 15:02] sbastrakov commented on #1097
Perhaps @SimeonEhrig or @psychocoderHPC have any idea, since unlike me they have experience with containers?

[2020-07-24 15:23] shefmarkh commented on #1097
Hello,

Yes I checked and CUDA code I have written does not run in this container (I verified the same code runs fine on another machine I use with CUDA). So it may be some issue with the GPU interacting with the container then - a quick google on the CUDA error I see suggests it a driver issue for the nvidia card, so I may need to figure out how to install the correct drivers inside the container

[2020-07-24 20:23] ax3l commented on #481
Perfect, the compiler predefs we should be able to re-build based on set defines.

[2020-07-25 01:54] ax3l commented on #1081
Not sure what you exactly mean, but I think those are less then you fear :) If we don't use boost we also do not need the work-around for internal boost quirks anymore ;)

Yes, if PMacc/PIConGPU continues to use Boost then there we have to keep the quirks. But they are already controlled from CMake anyway, so we just move them back. (And at some point those code bases might become boost-free too..

[2020-07-27 06:58] SimeonEhrig commented on #1097
Hi Mark,

did you run the docker container with the flag `--runtime=nvidia`? Without the flag, there is no CUDA support inside the container. For CUDA support, it is also necessary, that the `nvidia-docker` extension is installed: https://github.com/NVIDIA/nvidia-docker#quick-start

[2020-07-27 15:57] shefmarkh commented on #1097
Hello,

I have installed the nvidia plugin with:

 yum install -y nvidia-container-toolkit

and restarted docker. The documentation seems to indicate I should use the new --gpus all option. Still the problem persists when I try to run the vectorAdd example inside the container.

I also tried the --runtime=nvidia option, which does not work with docker and this plugin out of the box:
docker: Error

[2020-07-28 07:35] sbastrakov commented on #1034
Btw, due to ADL one could already write e.g.
`enqueue(queue, taskKernel);`
which is the same as
`alpaka::queue::enqueue(queue, taskKernel);`
as `queue` is already of type `alpaka::queue::Something`.

I do not think we should really go for it, just mentioning as an option. In case alpaka namespaces are flattened a little bit (e.g. `mem::buf` and `mem::view` are merged to `mem`, etc.), quite a lot o

[2020-07-28 09:24] bernhardmgruber commented on #1034
Here is a list of all namespaces in alpaka:
[code]

[2020-07-28 09:27] j-stephan commented on #1034
IMO: `block` needs to die, `mem` needs to be unified (no sub-namespaces), move device-side functions to `alpaka::device` or make them members of `acc`.

[2020-07-28 09:46] bernhardmgruber commented on #1034
Here is a list of all entities:
[code]

[2020-07-28 09:48] bernhardmgruber commented on #1034
Here is a list of all entities:
[all.txt](https://github.com/alpaka-group/alpaka/files/4987357/all.txt)

[2020-07-28 10:03] BenjaminW3 commented on #1034
If we decide to do changes to the namespaces, please do it step by step and not in a huge PR.

I would also prefer if we would be `using namespace`.
From an implementation side the split between `alpaka::mem::view` and `alpaka::mem::buf` is useful but I can understand that from a user perspective it does not bring any advantage. Adding `view` and `buf` into `mem` via `using` and adapting the examp

[2020-07-28 10:11] sbastrakov commented on #1034
Today at the meeting we discussed an idea, that is orthogonal to these namespace simplifications. Currently, all device-side functions take `acc` as the first parameter, and that an informal definition of what is the device function, but they are in a few namespaces and from the namespace name it's not always clear what is device-side and what not (e.g. `alpaka::dev` and `alpaka::kernel` are for h

[2020-07-28 10:15] sbastrakov opened #1100 "Use getValidWorkDiv() in examples instead of manually setting it"
This will make examples more portable between accelerators, and so there are potentially less guards to write and more portability out-of-the-box for demonstration. I will provide a PR later today or tomorrow.

[2020-07-28 10:20] sbastrakov opened #1101 "Improve readability of examples"
As we discussed today, triggered by how the hello world example looks in new readthedocs #1093 , there are a couple of things we can do to improve readability and user-friendliness of the examples without changing their essence:

- make work div selection portable #1100
- remove some of the lengthy comments of what is a queue, etc., as this belongs more to readthedocs
- gradually decouple the exam

[2020-07-28 10:22] sbastrakov commented on #1034
Regarding my [earlier ADL suggestion](https://github.com/alpaka-group/alpaka/issues/1034#issuecomment-664831744), no one was in favor of it, me included. Just put that as an option.

[2020-07-28 10:36] sbastrakov opened #1102 "Question: would shared memory allocation be better as a macro?"
Currently, its realistic usage involves a macro (`__COUNTER__`):
`Type & var = block::shared::st::allocVar<Type, __COUNTER__>(acc);`

Perhaps it would be more intuitive if we provide a macro for the whole expression which hides that other macro. E.g.
`Type & var = ALPAKA_SHARED_VARIABLE(acc, Type);`

[2020-07-28 11:38] SimeonEhrig commented on #1097
Hi,

I can reproduce the problem on or dev system. This happens when the CUDA mode is not activated. I have tested both docker arguments, `--gpus all` and `--runtime=nvidia`. You can easily test if the extensions work. If `nvidia-smi` is not available inside the container, the extension does not work.

As I see, Nvidia is natively supported since Docker version 19.03. Which version do you have?

C

[2020-07-28 11:52] sbastrakov opened #1103 "Merging options: create a merge commit or rebase and merge?"
Currently PIConGPU does "create a merge commit", while alpaka has it disabled and uses "rebase and merge", . @BenjaminW3 what is the reason for it? Not saying we should change, just not being aware of the reasoning, pros and cons, etc..

[2020-07-28 12:02] shefmarkh commented on #1097
Hello,

I have:

 docker --version
Docker version 19.03.12, build 48a66213fe

 docker run --gpus all --runtime=nvidia -i -t -v /cvmfs:/cvmfs -v $HOME:$HOME shefmarkh/excalibur:excalibur_cc7_1_5
docker: Error response from daemon: Unknown runtime specified nvidia.
See 'docker run --help'.

but I can run:

docker run --gpus all  -i -t -v /cvmfs:/cvmfs -v $HOME:$HOME shefmarkh/excalibur:excalibur_cc7

[2020-07-28 12:31] bernhardmgruber commented on #1034
I took a bit of time and looked through all structs/classes/functions and what namespaces can be inlined or removed. Here is what we could do:

edit: Changed suggesting inline namespace to remove namespace. Added checkboxes.

- [x] remove namespace alpaka::acc
- [x] remove namespace alpaka::atomic
- [x] remove namespace alpaka::block::sync
- [x] remove namespace alpaka::block::shared
~~- [ ] maybe

[2020-07-28 12:32] SimeonEhrig commented on #1097
I tried your docker image and got a strange error when running `nvidia-smi`: `Failed to initialize NVML: Driver/library version mismatch`. I also tried the container `nvidia/cuda:latest` and everything is fine. Maybe you should also try this container to check your docker setup. Is it possible that I can get the dockerfile from your container? Maybe I can find the problem.

[2020-07-28 12:41] psychocoderHPC commented on #1034
To document my suggestion:

My suggestion was to separate device side functions into `alpaka::device` and the host side api into `alpaka`. After looking to @bernhardmgruber list I see also stuff which is living in both worlds.

IMO we should move the device API into `alpaka::device`, host API into `alpaka::host` and all other directly into `alpaka` namespace.

[2020-07-28 12:48] SimeonEhrig commented on #1034
I agree, that `alpaka::device` is nice idea. It is true, that every device function has acc parameter, but it makes easier for auto completion navigation and doxygen search, if you have a namespace, which says, every inside the namespace is available on the device.

But I don't understand the namespace `host`. Which function is in host and which not? For example, is it `alpaka::mem::alloc()` or `a

[2020-07-28 12:49] sbastrakov commented on #1034
Also, some stuff like `vec::Vec` is for both host and device. Which may be not obvious for a user who only needs it on one side.

[2020-07-28 12:52] psychocoderHPC commented on #1102
Suggestion: In cupla I covered the full definition and initialization to avoid that the user is making a copy and produce a hard to debug mistake. e.g. `Type var = block::shared::st::allocVar<Type, __COUNTER__>(acc);`
https://github.com/alpaka-group/cupla/blob/849738bd7c83615d161119b9b4b8616c91c6b6d6/include/cupla/device/SharedMemory.hpp#L26-L28

Beside the suggestion I would like to see somewhere

[2020-07-28 13:05] sbastrakov commented on #1034
To clarify my last message. One can use `vec::Vec` on both host and device side. And `acc` is not needed to access components, of course, so it's in that regard not like other device-side API. So if we put it to `alpaka::device`, it would be confusing how to use in on host. If we e.g. name a renaming for the host-side namespace, that  also does not solve the ambiguity, as if a user is not aware of

[2020-07-28 13:07] shefmarkh commented on #1097
Did you have to install things in the nvidia/cuda image? I tried running:

docker run --gpus all  -i -t -v /cvmfs:/cvmfs -v $HOME:$HOME nvidia/cuda:latest

and it does not have cmake.

cmake -DCMAKE_INSTALL_PREFIX=/install/ ..
bash: cmake: command not found

So rather than build the example, I instead tried to run the example I have built in my own container previously and in the nvidia container

[2020-07-28 13:09] shefmarkh commented on #1097
btw my image is here:

https://hub.docker.com/repository/docker/shefmarkh/excalibur

(its missing boost, which alpaka needs. I just installed that in the container based on that image to try alpaka)

Cheers,

Mark

[2020-07-28 13:34] SimeonEhrig commented on #1097
I tested a small CUDA example instead of Alpaka to see if CUDA applications in general work. You can use this `sehrig/alpaka:dev-cuda` image from Dockerhub (`docker run --gpus all -it sehrig/alpaka:dev-cuda`) to test Alpaka. It contains everything you need to build Alpaka with the CUDA backend.

I have already found your image on DockerHub and downloaded and run it. This is how I got the `nvidia-s

[2020-07-28 13:41] shefmarkh commented on #1097
Ah I see what you mean. I used the Dockerfile from:

https://github.com/stfc/grid-workernode.git

in the docker-c7 folder to create my image, which I then added things to such as gcc 9, cmake3 etc.

Cheers,

Mark

[2020-07-28 14:47] SimeonEhrig commented on #1097
I think, I found the problem. Do you install the CUDA SDK like here: https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&target_distro=CentOS&target_version=7&target_type=rpmlocal ?
I just installed the CUDA SDK via `yum install cuda` without any driver stuff and after that `nvidia-smi` does not work anymore. Before it was fine. II also got the error message during the i

[2020-07-28 15:43] BenjaminW3 commented on #1103
You can find opinions about this topic everywhere.

My opinion is that rebasing and ~fast-forward~ merging makes the history much simpler to understand. I do not see any disadvantages of this approach in contrast to merging without prior rebase.

[2020-07-28 15:56] bertwesarg commented on #1103
I only see one, its for multi-commit merge requests. In this case I consider a merge commit of more value. First you could potentially include the description of the merge request into the history directly, instead only to have it by a link to GutHub. Tough this is not very well supported by GitHub. The second is, that the commits of the merge commit are still recognized as a group. And _good MRs

[2020-07-28 16:02] bertwesarg commented on #1103
BTW, single commits should always be rebase and fast-forward

[2020-07-28 17:30] psychocoderHPC commented on #1034
Therefore I suggested to keep something like Vec in the namespace alpaka and have a namespace alpaka::host and alpaka::device for the API which can only be used on device xor host

[2020-07-28 17:43] psychocoderHPC commented on #1034
If it is host or device depends on where you call the function NOT where you use the result of the funtion.

[2020-07-28 17:45] psychocoderHPC commented on #1013
solved with #1085

[2020-07-28 17:45] #1013 closed, assigned to nobody

[2020-07-29 07:09] sbastrakov commented on #1034
I do not think this would really help a user. Imagine, a user wants to use `Vec` on the host side e.g. to make a work div. How do they know if it's `alpaka::Vec` or `alpaka::host::Vec` (or with some namespaces in between, but you get the point)? That would depend on whether `Vec` is also available on device, which a user may not know or care about.

[2020-07-29 07:58] SimeonEhrig opened #1105 "Review the HIP documentation"
Recently AMD has changed some parts on the ROCm stack. Therefore it is necessary to check if the HIP documentation is still up-to-date. This is also necessary to support HIP in the new GitLab CI (#967).

[2020-07-29 13:06] shefmarkh commented on #1097
Thanks a lot for the help! I made a new image whereby I added the lines from the nvidia docker file to the one I was using, and on loading the image in docker find I can run the vectorAdd example :)

Cheers,

Mark

[2020-07-29 14:15] sbastrakov commented on #1097
Nice! I will close this issue. Please feel free to re-open or create new ones if there are more issues or questions.

[2020-07-29 14:15] #1097 closed, assigned to nobody

[2020-07-31 18:04] #1100 closed, assigned to sbastrakov

[2020-08-12 12:21] jkelling opened #1117 "No alpaka::dev::cpu::detail::cpu for PGI"
The guards for how the `cpuid()` function should be defined does not consider all existing compilers and has no `#else`, see
https://github.com/alpaka-group/alpaka/blob/6310424eff951eddedd0af8d26b8aa0012254075/include/alpaka/dev/cpu/SysInfo.hpp#L50

I suggest to reformulate the checks to turn the first branch into `#else`.

However, I am not sure how to do that, because I do not understand what th

[2020-08-12 17:14] BenjaminW3 commented on #1117
This is more of a platform detection than a compiler detection. On Windows the Intel compiler says that it emulates the Microsoft compiler but it should still use the windows version but on Linux the Intel compiler should use the Linux version. There may be better ways to express this.

[2020-08-12 17:29] jkelling commented on #1117
Maybe then the OS should be detected:
[code]

[2020-08-13 08:21] jkelling commented on #1117
`cpuid.h` is provided by GCC, not unix, so detecting the compiler is correct. PGI is using the GCC STL and also gets access to GCC's `cpuid.h`, so it it could be added to the list.

I still think there should be a `#else` to catch compilers we did not think of.

[2020-08-13 08:55] jkelling commented on #1117
I made a PR for this: https://github.com/alpaka-group/alpaka/pull/1119 .

Apparently I am not allowed to link it to the issue, can someone please link them?

[2020-08-13 11:04] sbastrakov commented on #1117
Solved with #1119, closing.

[2020-08-13 11:04] #1117 closed, assigned to jkelling

[2020-08-13 11:08] sbastrakov commented on #1072
I think the answer of @BenjaminW3 is comprehensive, closing the issue.

[2020-08-13 11:08] #1072 closed, assigned to nobody

[2020-08-17 14:00] kloppstock opened #1123 "Waiting for Queues and Events"
Consider the following use-case:
Depending on the computation result (on a device) I want to copy a certain amount of data from the device to the host. In order to achieve this, I first copy information about the amount of device data onto the host, synchronize and then copy the actual data.

This works, but the synchronization operation is blocking the host, so I implemented an alternative in the

[2020-08-18 09:24] bernhardmgruber opened #1124 "Simplify accelerator names in CMake"
To enable/disable accelerators in CMake, there are various options, like:
[code]
These names are sometimes confusing (like why is there a `B` and a `T` in the name). Furthermore, they do not correspond to the names we use in code. E.g. `ALPAKA_ACC_CPU_B_SEQ_T_SEQ_ENABLE` corresponds to `alpaka::acc::AccCpuSerial` in code.

I would like to propose to rename the options in CMake to match the acceler

[2020-08-22 12:57] BenjaminW3 commented on #1123
The single argument versions
* `alpaka::wait::wait(queue)`
* `alpaka::wait::wait(event)`

 make the current thread wait for the specific thing (event, queue, device, ...). Internally they are calling the `CurrentThreadWaitFor` trait.

The two argument version makes the first object (device, queue) wait for the second object (event). Internally they are calling the `WaiterWaitFor` trait.
In your ca

[2020-08-22 13:07] BenjaminW3 commented on #1123
My recommendation is to use queue callbacks so that it looks like this:
1. enqueue an asynchronous copy of the amount of device data
2. enqueue a callback
3. when the callback is called, trigger the copy of the data

In CUDA this functionality is available via `cudaStreamAddCallback`. In alpaka it is simply `alpaka::queue::enqueue(queue, [&](){...});`.

This is supported by all backends except HIP

[2020-08-22 13:29] psychocoderHPC commented on #1123
I need to check the HIP callbacks in the latest release. Hopefully they are fixed.
Never the less I do not suggest to use callbacks. Callbacks are very slow on CUDA and with the alpaka implementarion a cpu thread is created for every callback. This will have a high impact on the performance #391

[2020-08-22 13:46] BenjaminW3 commented on #1123
The alpaka implementation for CUDA callbacks has room for improvements but @kloppstock's implementation also seems to create a new thread per call so this should be comparable.

[2020-08-22 17:43] kloppstock commented on #1123
Ok, now the use of this function is a little bit more clear to me.
The callback functions, however, pose 2 problems:
1. `cudaStreamAddCallback` [is slated for eventual deprecation and removal](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__STREAM.html#group__CUDART__STREAM_1g74aa9f4b1c2f12d994bf13876a5a2498)
2. Neither the [`cudaStreamAddCallback`](https://docs.nvidia.com/cuda/cuda-r

[2020-08-22 18:25] BenjaminW3 commented on #1123
2. Yes, the CUDA originals do not allow to call CUDA API methods. However, alpaka works around this limitation by signaling a separate thread and executing the callback there. So in alpaka you can do this.

[2020-08-23 19:42] bernhardmgruber opened #1129 "ALPAKA_CXX_STANDARD is not passed to nvcc on Windows"
I have C++17 code using alpaka that compiles fine on Ubuntu with nvcc 11. However, the same code fails to compile on Windows, with nvcc 11 emitting errors on C++17 features.

`ALPAKA_CXX_STANDARD` is set to 17, but it seems this information is not passed forward to nvcc. If I add `-std=c++17` manually to the `CUDA_NVCC_FLAGS`, the code compiles fine on Windows.

[2020-08-23 19:51] bernhardmgruber commented on #1129
It seems these lines are causing the issue:
https://github.com/alpaka-group/alpaka/blob/770b8e2e8c6007067a516ed6756e0a68790753fb/cmake/alpakaCommon.cmake#L463-L465

I would suggest removing the `if(NOT MSVC)`. This fixes the issue for me.

[2020-08-24 09:28] kloppstock commented on #1123
Interesting, I didn't know that. I will try out the callback function then.

[2020-08-24 09:48] kloppstock commented on #1123
Follow up question: If an `alpaka::wait::wait(queue)` is then executed after `alpaka::queue::enqueue(queue, [&](){...})`, does this then also wait for the callback function to finish?

If this is not the case, is there a way to ensure that the asynchronous callback function is finished?
In my case this would be necessary to ensure that the data that is copied from the device to the host is not bei

[2020-08-24 13:15] BenjaminW3 commented on #1123
According to [this test](https://github.com/alpaka-group/alpaka/blob/develop/test/unit/queue/src/QueueTest.cpp#L66-L83) it should work.

[2020-08-25 07:56] sbastrakov opened #1134 "Some icc versions (reportedly) still cause ICE"
After the efforts to fix #995 were merged, we've got an email report that it solved the issue for ICC 2020.1 and 2019.2. But on versions 2018.3, 2018.1, 2017.8 there are still ICEs. However, we do not have a suitable environment on Hemera to investigate it.

This already stayed in an email conversation for too long, making an issue so that it's no longer forgotten.

[2020-08-25 10:55] jkelling opened #1135 "Make AccCpuThreads parallelize over blocks"
AccCpuThreads is currently a bad showcase of C++11 threads as it uses the sub-optimal strategy of spawning CPU threads at thread instead of block level just like the equally useless AccOmp2Threads.

To escape Amdahl's law as long as possible you must parallelize at as high a level at possible. AccCpuThreads should do this.

I am aware, that AccCpuThreads is, and will remain, only a demonstration,

[2020-08-25 12:47] bernhardmgruber opened #1138 "Add CUDA 11 and MSVC tests to CI"
CUDA toolkit 11 for Windows was released a while back and so far CUDA 11 is just tested with Linux targets. We should add tests with Windows as well.

[2020-08-25 14:18] jkelling opened #1139 "Move IteratorView from the test tree to alpaka."
The Iterator is not part of alpaka because nobody moved it there and it was only used for testing yet.
You can move it to `alpaka/mem/view` and add a short test. This would allow to remove `mapIdxPitchBytes`.

_Originally posted by @BenjaminW3 in https://github.com/alpaka-group/alpaka/pull/1132#discussion_r476472168_

[2020-08-25 14:30] BenjaminW3 commented on #1135
Similar to `AccOmp2Threads` and `AccOmp2Blocks` we could call the current backend `AccCpuStdThreadThreads` and add a new one `AccCpuStdThreadBlocks`.

However, it is not yet clear to me how this can improve things. Yes, we could simply execute multiple blocks in parallel. However, this restricts the block size to only a single thread. This is necessary because threads within a block can be explici

[2020-08-25 14:48] jkelling commented on #1135
Yes, having only one thread per block, like AccOmp2Blocks is the idea. Alpaka kernels are probably mostly written with GPU (i.e. the CUDA backend) in mind, which will often lead to one the following two properties:
1. small workload per thread
2. synchronization between threads used for collective operations which cater to GPU memory architechture/SIMT

The two cases above are currently slow becau

[2020-08-25 14:51] jkelling commented on #1135
Btw. OS threads sharing data in a block are probably just as likely to slow each other down due to false sharing (causing each others caches to be flushed) as they are to profit from sharing cache lines.

[2020-08-25 14:55] BenjaminW3 commented on #1135
Yes, this is probably one of the main issues with the current version of `AccCpuThreads`.
The exact opposite would be true for my `Mixed` proposal.

[2020-08-25 14:59] jkelling commented on #1135
Are suggesting to implement premtive multi-tasking a thread-level in alpaka by hand? Maybe using coroutines?

[2020-08-25 15:01] BenjaminW3 commented on #1135
Boost.Fiber is a library with an interface similar to std::thread but based on Boost.Context which implements cooperative multitasking by hand.

[2020-08-25 17:23] BenjaminW3 commented on #1123
@psychocoderHPC @tdd11235813 I just wanted to replace the deprecated `cudaStreamAddCallback` with `cudaLaunchHostFunc` but I could not find a corresponding `hipLaunchHostFunc`.

[2020-08-25 17:31] psychocoderHPC commented on #1123
I do not think that HIP has such a function.
I think we need to increase the CUDA dependency to 10.0 for this funcrion too.

[2020-08-25 20:17] psychocoderHPC commented on #1138
@BenjaminW3 is integrating CUdA 11 for windows in #1086 but there are some issues.

[2020-08-26 07:13] sbastrakov commented on #1138
#1086 was just merged.

[2020-08-26 10:50] #1138 closed, assigned to nobody

[2020-09-02 12:33] kloppstock commented on #1123
I have now implemented the asynchronous download using this callback function. Unfortunately, this locks up when attempting to download data. The behavior can be reproduced by the following minimal example (thanks @SimeonEhrig):
[code]

[2020-09-02 13:16] BenjaminW3 commented on #1123
I removed the hostQueue from the reproducer because it was unused.

[2020-09-02 13:17] BenjaminW3 commented on #1123
Does the same happen when you use a non-blocking queue and explicitly wait for the queue to have finished (outside the callback or inside the callback - can you try both)?

[2020-09-02 13:42] kloppstock commented on #1123
Synchronizing inside the asynchronous host function still causes a freeze. After adding a copy operation before this asynchronous host function call (to simulate an already filled queue), it also freezes when synchronizing afterwards.

This is the code I used:
[code]

[2020-09-22 16:50] bernhardmgruber commented on #1034
So it turns out we cannot just inline namespaces in many cases.

Given the following example:
[code]
We cannot inline the namespace `dev`, because then e.g. `alpaka::omp5::...` can no longer be resolved by the compiler. E.g. when resolving `alpaka::omp5::detail::omp5Check()`, the compiler will already error when trying to find the namespace `omp5` insisde `alpaka` and not look into both, `alpaka::

[2020-09-30 12:59] SimeonEhrig commented on #639
The bug still exists with `clang++ 11.0.0-++20200928083541+eb83b551d3e-1~exp1~20200928184208.110` alias `clang 11 RC4`.

[2020-10-04 12:21] bernhardmgruber commented on #1005
With #1155 the current syntax simplifies to:
[code]

[2020-10-06 10:40] bernhardmgruber opened #1167 "Create CHANGELOG.md"
Create a file CHANGELOG.md that lists the changes introduced in each version of alpaka. It should also list the breaking changes currently on the develop branch.

[2020-10-06 10:40] bernhardmgruber commented on #1034
As discussed during the alpaka VC today, we will document the namespace changes in a CHANGELOG.md file in the repository root: #1167

[2020-10-06 10:52] bernhardmgruber opened #1169 "Port LULESH to alpaka"
LULESH (Livermore Unstructured Lagrangian Explicit Shock Hydrodynamics) is a typical hydrocode implementation. More information here: https://computing.llnl.gov/projects/co-design/lulesh

LULESH is sometimes used to benchmark acceleration technologies. Cf. eg. https://developer.nvidia.com/blog/accelerating-standard-c-with-gpus-using-stdpar/

We could attempt an alpaka implementation of LULESH to h

[2020-10-13 14:55] sbastrakov commented on #1167
Thanks @bernhardmgruber  for making the changelog and issue for it!
I am wondering if namespace renamings that were put to the log are also reflected in the readthedocs, e.g. in the cheatsheet there? In case something was forgotten, however the changelog allows restoring it.

[2020-10-13 15:21] bernhardmgruber opened #1175 "Update documentation and cheat sheet after namespace refactoring"
The recent namespace refactoring visibly changed the user facing alpaka API. We should adapt the documentation and the cheat sheet.

[2020-10-13 15:21] bernhardmgruber commented on #1167
You are absolutely right, I forgot the documentation and cheatsheet! I created #1175 for this.

[2020-10-13 15:22] bernhardmgruber commented on #1167
Since the CHANGELOG.md was added, this issue is resolved.

[2020-10-13 15:22] #1167 closed, assigned to nobody

[2020-10-20 09:03] psychocoderHPC opened #1178 "Release 0.6.0"
I pulled out a first release candidate for 0.6.0 https://github.com/alpaka-group/alpaka/tree/release-0.6.0-rc1
This branch is feature freezed and we will pull in only bugfixes

I opened a new project to not forget any tasks: https://github.com/alpaka-group/alpaka/projects/10

I like to perform before the release integration tests with cupla and PIConGPU.

@alpaka-group/alpaka-maintainers

[2020-10-20 09:04] psychocoderHPC commented on #1178
The scope for the release should be begin to mid of November 2020.

[2020-10-20 09:23] psychocoderHPC commented on #1178
@alpaka-group/alpaka-maintainers Feel free to grep the task to update the changelog with missing changes.

[2020-10-21 06:48] bernhardmgruber commented on #1034
It turns out the inline namespace issue is actually a bug and it is being addressed: http://wg21.link/p1701

[2020-10-21 10:25] bernhardmgruber commented on #1175
I think this is done and the issue can be closed.

[2020-10-21 10:31] bernhardmgruber commented on #1034
There are still 2 pending refactorings I would like to address before I consider this issue addressed: removing the `alpaka::view` namespace and simplifying the namespace hierarchy inside `alpaka::block`.

[2020-10-21 10:32] bernhardmgruber commented on #1178
I remember you stating that you are kind of waiting for the namespace refactorings to finish before creating the next alpaka release. I still would like to land 2 refactorings, as commented here: https://github.com/alpaka-group/alpaka/issues/1034#issuecomment-713473167

Can I still get these into the release if I finish them this week?

[2020-10-22 12:43] #1175 closed, assigned to nobody

[2020-10-22 17:08] kakwok opened #1183 ""Could NOT find Threads" during cmake build in mac"
Hi,

I am following the installation instructions from [1], but when I reach the step:
[code]
I get the following error:

[code]

System info:
[code]
============================
From googling the CMAKE error, I found a workaround by putting the following snippet in the `CMakeLists.txt` in the `alpaka` directory
[code]

But I'm not sure if this is supposed to be the right way to configure the buil

[2020-10-22 19:03] BenjaminW3 commented on #1183
@psychocoderHPC @j-stephan May you be able to help as you have been working on related parts in #866 ?

[2020-10-22 19:14] SimeonEhrig opened #1184 "Document the GitLab CI"
Document the structure of the GitLab CI and how to extend it. At the moment, the alpaka doesn't use the GitLab CI, but it is planned for the future. PIConGPU and cupla already use the CI. The infrastructure is designed, that it can be shared between all Alpaka related projects.

[2020-10-23 06:42] psychocoderHPC commented on #1183
@BenjaminW3 The issue #866 is different from this one. For some reason PThread at all can not be found. Where in #866 we try to solve the problem that we should set `-pthread` for the compile step if we use `-lpthread` during the linking.

@kakwok I do not have access to a MACOSX system so I can only guess. Is it possible that you install a modern clang compiler on your system? From the logs I see

[2020-10-23 06:45] psychocoderHPC commented on #1183
@kakwok is the workaround

[code]

working for you?
For me the workaround is bypassing the CMake detection.

Source of the workaround: https://github.com/alicevision/geogram/issues/2#issuecomment-536835320

[2020-10-23 08:22] j-stephan commented on #1183
Could you paste the contents of `CMakeError.log` and `CMakeOutput.log`? They should live in the `CMakeFiles` directory that was created by running `cmake`.

[2020-10-23 15:31] kakwok commented on #1183
@psychocoderHPC
Yes, I found the same page for that workaround and it worked for me. And yes, I think I am using a version of clang from anaconda as default, is that an issue?

@j-stephan Here're the log files:
[CMakeError.log](https://github.com/alpaka-group/alpaka/files/5430400/CMakeError.log)
[CMakeOutput.log](https://github.com/alpaka-group/alpaka/files/5430401/CMakeOutput.log)

[2020-10-23 16:09] j-stephan commented on #1183
I believe this may be the cause of your issues. Your CMakeError.log indicates that CMake is indeed picking up Anaconda's clang (which is ancient) but then tries to link to the system libraries - the latter presumably being built with much newer clang versions. This causes weird linker errors, in this case resulting in pthread being unlinkable.

[This seems to be a common issue with Anaconda on mac

[2020-10-28 13:02] bernhardmgruber commented on #1034
I think the first round of namespace refactorings is done. Thank you everybody!

[2020-10-28 13:02] #1034 closed, assigned to nobody

[2020-10-28 13:05] bernhardmgruber commented on #1005
This is largely resolved by the namespace refactoring #1034 and explicitely spelled atomic funtions in PR #1185. The final functor rename in #1186 will probably not be visible to users anymore.

[2020-10-28 14:11] psychocoderHPC commented on #1034
thx I will pull this changes next week into 0.6.0 rc.

[2020-11-05 14:29] #1129 closed, assigned to nobody

[2020-11-09 08:56] psychocoderHPC commented on #1178
https://github.com/alpaka-group/alpaka/tree/release-0.6.0-rc2 is now including all changes of the development branch until 1a06a20eb7be86317d67ffb3b197cbd0245541b5.

I will delete rc1

[2020-11-09 16:47] bernhardmgruber opened #1201 "Prefer defining relational operators as hidden friends."
Prefer defining relational operators as hidden friends.

_Originally posted by @bernhardmgruber in https://github.com/alpaka-group/alpaka/pull/1127#r518614190_

[2020-11-10 07:00] psychocoderHPC commented on #1183
@kakwok The best way to avoid this issue is to have a separate environment without anaconda to build and work with alpaka and an environment to post-process stuff with python where you load you anaconda environment. As @j-stephan wrote, anaconda is often introducing side effects.

[2020-11-10 11:48] psychocoderHPC opened #1202 "files to create image used in the documentation are missing"
We have not stored the original files from https://github.com/alpaka-group/alpaka/tree/develop/docs/source/images to create the png files.

@alpaka-group/alpaka-maintainers Who created the files? Please upload the source that we are able to update the images.

[2020-11-11 09:21] psychocoderHPC opened #1205 "bad performance with OpenMP"
DLR reported via mail that they see a performance decrease when the OpenMP backend (block parellel) is used and the load per block is very different.

Following this discussion: https://stackoverflow.com/questions/42970700/openmp-dynamic-vs-guided-scheduling
we should think about changeing the OpenMP scheduling strategy from current used [guided](https://github.com/alpaka-group/alpaka/blob/7ba4c30

[2020-11-11 09:34] sbastrakov commented on #1205
I was also concerned about the `guided` schedule in the past. And we actually checked it a few month ago using @kloppstock 's code, which did not show the difference. However, of course it does not mean the difference doesn't exist for any code.

Can we maybe think of adding a cmake option that controls it, and by default use something reasonable?

[2020-11-11 09:42] j-stephan commented on #1205
What do you guys think of some scheduling hints in the alpaka API? I'm thinking of something like

[code]

And if the kernel class doesn't have a hint assume the current way by default.

[2020-11-11 09:48] sbastrakov commented on #1205
Oh yes, that can also be an option. And I actually like it, if we do it as a trait. Because then by default it can use our default option, and a user (kernel developer) does not have to, but can specialize it.

(we can of course also check if a kenel class has internally defined type with a fixed name like `SchedulerHint` and wrap it into a trait, however i feel just plain trait would be more alpa

[2020-11-12 14:16] jkelling opened #1207 "Improve implicit sharing in `BufCpu`"
Discussion brought up in https://github.com/alpaka-group/alpaka/pull/1127#discussion_r518619180_ .

[2020-11-12 18:24] bernhardmgruber opened #1208 "Use of #warning is an error in MSVC"
`#warning` is a GCC extension that leads to a compile error with MSVC. Please replace it by something else, e.g. `#pragma message`.

https://github.com/alpaka-group/alpaka/blob/develop/include/alpaka/example/ExampleDefaultAcc.hpp#L48

_Originally posted by @jkelling in https://github.com/alpaka-group/alpaka/pull/1127#discussion_r522319289_

[2020-11-18 17:12] shefmarkh opened #1210 "Question about timing in random number generation (CUDA vs Alpaka)"
Hello,

As an exercise I was doing some comparisons of an extremely simple EM shower simulation with both Alpaka and CUDA and noticed the Alpaka version was slower, which seemed to be related to calls to random number generation. So then I made the simplest examples I could think of which only initialise and then generate 1 random number in the kernels:

https://github.com/shefmarkh/AdePT/blob/mho

[2020-11-18 19:16] BenjaminW3 commented on #1210
There is a hidden difference between the plain CUDA version and the alpaka CUDA version.
Alpaka internally also uses `curand_uniform` to generate the random numbers. For the plain c++ backends, alpaka used `std::uniform_real_distribution`. The tricky part is that alpaka tries to provide a uniform interface above of those functions.
* `curand_uniform` produces values in the range `(0.f, 1.0f]` see

[2020-11-18 19:20] BenjaminW3 commented on #1210
Furthermore, I would be interested in the performance of a second CUDA version.
The alpaka code says
`NOTE: (1.0f - curand_uniform) does not work, because curand_uniform seems to return denormalized floats around 0.f.`
but newer CUDA documentations explicitly state:
`Denormalized floating point outputs are never returned.`
Maybe this has been changed since this was implemented.
Could you please tr

[2020-11-18 19:46] psychocoderHPC commented on #1210
@shefmarkh I have not tested your exmples yet but saw that you call curand_init per thread and than create one random number.
If possible I suggest to use a seperate kernel where you initilize N states of the RNG generator and store them in global memory. In the second kernel use the pre-created state to get random numbers.
The method curand_init is using a lot of spilled register and will reduce

[2020-11-19 10:06] jkelling opened #1211 "clangFormat broke indetation of complex compile-time guards"
Here:
https://github.com/alpaka-group/alpaka/blob/474412ec54b43e95bb2de7039b1b4f53a744b5f3/test/common/include/alpaka/test/acc/TestAccs.hpp#L89
and here:
https://github.com/alpaka-group/alpaka/blob/474412ec54b43e95bb2de7039b1b4f53a744b5f3/test/common/include/alpaka/test/acc/TestAccs.hpp#L109

[2020-11-19 10:23] bernhardmgruber commented on #1211
Firstly: clang-format is not perfect. But manual formatting is worse. And perfect is the enemy of the good ;)
Secondly: that whole `#if` directive is horrible IMO and probably needs a simplification anyway. E.g. we could split out all tests where OpenMP5 or OpenACC do not work into a separate macro and then use this macro inside the `#if`.

[2020-11-19 10:25] j-stephan commented on #1211
I think clang-format may have uncovered a bug here. `A && B || C` is evaluated as `(A && B) || C`. In the example here:

[code]
This will turn into (simplified the Boost stuff):

[code]

Is this the actual intention of the macro?

[2020-11-19 12:26] jkelling commented on #1211
There is indeed a pair of parens missing. Still, the clang format did also not propertly reflect the wrong logic.

[2020-11-20 14:22] shefmarkh commented on #1210
Hello @BenjaminW3

I tried both your suggestions in the CUDA version and neither affected the timing reported by nfprof in a significant way.

I played around a bit more and its the initialization itself that is slow (not the generation of the number itself) i.e

auto generator = rand::generator::createDefault(acc, 1984, iTh);

is much slower than:

curand_init(1984, iTh, 0, &local_rand_state);

(

[2020-11-20 15:10] #1211 closed, assigned to nobody

[2020-11-20 17:58] kloppstock opened #1216 "Synchronization Issues with P2P Copies"
When copying data from host to GPU in addition to copying data onto it from another GPU, both copy operation seem to block each other which might result in an inefficient schedule. In my use case (see profile below) the HtoD Copy 2 operation seems to block P2P Copy 1 (device 0 to 1). The same happens for HtoD Copy 3 and P2P Copy 2 (device 1 to 0), HtoD Copy 4 and P2P Copy 3 (device 0 to 1). All P2

[2020-11-20 18:07] psychocoderHPC commented on #1216
From https://www.google.com/url?sa=t&source=web&rct=j&url=https://developer.download.nvidia.com/CUDA/training/cuda_webinars_GPUDirect_uva.pdf&ved=2ahUKEwjqsaev2pHtAhUIvRQKHUw3CaIQFjABegQIBxAC&usg=AOvVaw0h8XB32gYKtSmfEwEaFcbQ I think we can remove the explicit peermemcopy in alpaka and always call normal memcopies after we opened peer channels.

[2020-11-23 14:42] psychocoderHPC commented on #1178
https://github.com/alpaka-group/alpaka/tree/release-0.6.0-rc3 is now available. All changes from the dev branch until https://github.com/alpaka-group/alpaka/tree/95973a5b2f20b6fc3796318763687e95c9fce219 are available.

IMO we should fix #1205 and pull the changes also into release 0.6.0, this is a tiny fix with big effects.

[2020-11-24 11:46] j-stephan opened #1220 "Discussion: Reduce legacy support / future support"
In today's alpaka VC we raised the question of dropping some legacy stuff in favour of C++17 some time **after** the next release. We currently aim to do this by mid-2021. However, this might affect some of our users outside of HZDR who are hereby invited to participate in this discussion. @fwyzard, @bertwesarg and the DLR come to mind, but everyone should feel free to notify other non-HZDR alpaka

[2020-11-24 12:17] SimeonEhrig opened #1221 "Publishing the doxygen doc is brocken"
Since commit 7ba4c30a4947b97169b3216436ca23e2db2f5935, the CI cannot publish a new version of the doxygen doc.

[2020-11-24 12:45] fwyzard commented on #1220
Thanks for the heads up.
CMS is already using c++17, CUDA 11 and gcc 8 or later - so I think we should be fine.

[2020-11-24 12:58] j-stephan commented on #1220
DLR responded per mail:

* They don't care about MSVC
* They require CUDA 10.x but don't care about older releases
* They wouldn't like a full transition to C++17 because this affects their users who still work with older codes.

[2020-11-24 13:18] bernhardmgruber commented on #1220
That statement is a bit vague. Does that mean we need to stick with C++14 fully? Or are they just afraid of C++17? Do they tolerate some C++17 features?

That kind of binds us to C++14 when compiled with nvcc.

Could you still please ask them for a minimum host compiler version they would like to suport? Thank you!

[2020-11-24 13:40] j-stephan commented on #1220
Translation of the sentence in question (original in German):

Sounds like a hard C++14 limit to me.

Will do.

[2020-11-24 19:15] BenjaminW3 commented on #1221
@psychocoderHPC Could you please take a look at what broke there?

[2020-11-30 15:27] j-stephan commented on #1220
DLR responded. They require compatibility for:

* CUDA 10.2.89
* CUDA 10.1.105
* gcc >= 5.5.0
* clang >= 3.9.1
* icpc >= 2019.0

[2020-12-01 12:32] BenjaminW3 commented on #1220
We dropped support for clang 3.9 a long time ago. So we can not fulfill this already.
Besides from that, it looks like we can drop CUDA 9.

What is the state of support for newer CMake versions? It should not be that hard to update this one. We might require CMake-3.18+ in the future when we got the native CMake CUDA support working completely.

[2020-12-03 21:56] fwyzard commented on #801
FYI, I did some more benchmarks of our application, and I didn't find any benefits from write-combined memory, so we likely won't be using it any more.

[2020-12-04 11:15] psychocoderHPC commented on #801
Thanks for this information.
So the provided memory allocation methods by cupla/alpaka are enough for your use cases?

[2020-12-04 14:16] fwyzard commented on #801
We're in the process of porting more code to Alpaka, but in principle think so.

[2020-12-04 15:36] psychocoderHPC commented on #801
# Info
We are on the way to release a new version of alpaka: https://github.com/alpaka-group/alpaka/tree/release-0.6.0-rc3
In the new release, we refactored the namespace to reduce the depth.

[2020-12-14 08:15] SimeonEhrig commented on #1221
@psychocoderHPC I saw, you tried to fix this issue: https://github.com/alpaka-group/alpaka/pull/1229
But it is still broken: https://github.com/alpaka-group/alpaka/runs/1542136786
I think, there is a new bug.

[2020-12-14 18:05] psychocoderHPC commented on #1178
The hopefully last release candidate is out: https://github.com/alpaka-group/alpaka/tree/release-0.6.0-rc4
The release candidate is providing the feature to control the scheduling strategy for OMP #1223

[2020-12-14 18:11] psychocoderHPC commented on #1221
I removed this issue from the 0.6.0 release. Our gh-page is always showing the development of branch documentation.
I do not know why it is still broken.

[2020-12-14 18:19] psychocoderHPC commented on #1221
I opened a PR to remove changes from the PR @SimeonEhrig pointed to. I hope this will solve the issue.

[2020-12-15 09:09] #1221 closed, assigned to nobody

[2020-12-16 17:14] psychocoderHPC commented on #1205
solved by #1223

[2020-12-16 17:14] #1205 closed, assigned to nobody

[2020-12-16 19:02] fwyzard commented on #987
CUDA 11.2 introduces `cudaMallocAsync` and `cudaFreeAsync` with stream semantic:
  - https://developer.nvidia.com/blog/enhancing-memory-allocation-with-new-cuda-11-2-features/
  - https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__MEMORY__POOLS.html

[2020-12-17 15:26] j-stephan commented on #248
If I'm not mistaken we should be able to close this. @jkelling introduced OpenACC support with #1127.

[2020-12-17 15:26] j-stephan commented on #231
Is a Boost.Compute backend something we still want? @alpaka-group/alpaka-developers

[2020-12-17 15:36] bernhardmgruber commented on #231
I don't want it :D Mostly because I have the feeling that Boost.Compute is not strongly maintained. IMO it also offers no real advantage to the backends we alreay have.

OpenCL also seems like it is being phased out. NVIDIA was always lagging behind in OpenCL support and AMD seems to bet a lot on HIP. It's a shame though, I think OpenCL (including the C++ wrapper from Khronos) is a great API!

[2020-12-17 15:40] psychocoderHPC commented on #248
Yes I think so, I will close it.

[2020-12-17 15:40] psychocoderHPC commented on #248
implemented with #1127

[2020-12-17 15:41] #248 closed

[2020-12-17 15:55] j-stephan commented on #366
@ax3l Do you feel that this is still an issue? We have had installation support in our build system for quite a while now.

[2020-12-17 16:16] j-stephan opened #1232 "Feature wish list"
In today's meeting we decided that we need a list of feature wishes that we can use for further development of alpaka. This issue will provide that overview and will be constantly open and pinned.

Please open new issues for any feature wish that you might have - they will subsequently be linked here.

Currently open wishes:

## General API

* Improve `wait` API: #32
* C++ concepts: #286
* Assignm

[2020-12-18 13:23] bernhardmgruber commented on #1005
This is resolved with #1185.

[2020-12-18 13:23] #1005 closed, assigned to nobody

[2020-12-18 13:34] j-stephan commented on #1232
Wish #1005 (concise atomic functions) was fulfilled by #1185.

[2020-12-18 13:46] sbastrakov opened #1233 "Discussion: add alpaka function to abort a kernel?"
There seems to be no unified way to hard-stop a kernel, while in some (rare I assume) cases that would be beneficial. This came up from @pordyna debugging [his PIConGPU feature](https://github.com/ComputationalRadiationPhysics/picongpu/pull/3416) that has to allocate memory inside a kernel and can run out of it. And then we realized there seems to be no single way to abort that works on all alpaka

[2020-12-18 14:16] sbastrakov commented on #1232
Secret Santa @bernhardmgruber

[2020-12-18 14:29] bernhardmgruber commented on #1233
There are a lot of questions if we would implement such a feature:
* Does it abort only the kernel or the entire program (thus aborting the host code as well)?

If it just aborts the kernel:
* How to implement this on CPU backends? I could envision throwing a "special" exception and catching it inside the backend. Or `setjump`/`longjump`.
* Will stack unwinding occur and destructors are run?
* Wil

[2020-12-18 14:30] j-stephan commented on #1233
Is there a real-world use case that doesn't involve debugging? I don't really see the need for a *portable* `abort` function.

[2020-12-18 14:32] bernhardmgruber commented on #1233
`assert` also seems to be an option btw. That will halt the program on CPUs and abort a CUDA kernel with throwing a `cudaErrorAssert` on the host. If we let the exception propagate up to `main` that will also terminate.

[2020-12-18 14:34] bernhardmgruber commented on #286
By now, concepts should be supported in mainline gcc, clang and MSVC.

[2020-12-18 14:57] BenjaminW3 commented on #231
I also do not think that we should add this anymore. I will close the ticket. Feel free to re-open if you still want this.

[2020-12-18 14:57] #231 closed

[2020-12-18 15:21] sbastrakov commented on #286
And alpaka has own concepts. Which are of course not as functional as the standard ones, but are still very useful imo

[2021-01-04 14:11] j-stephan commented on #38
I've been giving this some thought since this is (kind of...) a requirement for the SYCL backend. Here are some ideas I'd like your opinions on:

1. Replace `alpaka::allocBuf` with `alpaka::makeBuf`. `makeBuf` will then have the following overloads:
1.1 `makeBuf<TElem, TIdx>(TDev const& dev, TExtent const& extent)` (same as current `allocBuf`)
1.2 `makeBuf<TElem, 1>(TDev const& dev, InputIterator

[2021-01-04 20:04] bussmann commented on #38
@bernhardmgruber , this is probably a critical interface discussion that needs careful discussion. LLAMA should be able to hook into this seamlessly, while Alpaka should work comfortably without the need for LLAMA here.

[2021-01-05 11:08] bernhardmgruber commented on #38
What is the rational for renaming the function? I think `allocBuf` is a good name.

That overload should just take a range. And I think it is worthwhile do distinguish between the iterator concepts input, forward, random access and contiguous (new in C++20) iterators.

This overload is a special case and might deserve its own, differently named function, e.g. `adoptBuf`, because it does not alloca

[2021-01-05 14:02] j-stephan commented on #38
Because there is not necessarily an allocation taking place: Both sub-buffer creation and taking ownership of host memory don't involve any allocation.

You mean like `(InputIterator start, size_t n)`?

What would be the benefit here? We don't really care about the original host container, this is just for buffer initialization.

SYCL can do this, as do the CPU backends. CUDA seems to be the excep

[2021-01-05 15:12] bernhardmgruber commented on #38
No. I mean `makeBuf<TElem, 1>(TDev const& dev, const Range& range)`. You can then call `begin(range)`/`end(range)` inside the function.

Well, you are partially right. What matters if you need to copy element wise or if you can just bulk copy the bits. I think we should just ignore the iterator concept and default to `std::copy` which does the right thing.

So if I interpret this correctly, an alp

[2021-01-05 20:05] bussmann commented on #38
It's great to see this discussion. Be aware of concepts like non-contiguous representation of data in memory and implicit concepts like unified memory. It's a jungle out there. Keep going, you're doing great!

[2021-01-06 10:36] sbastrakov commented on #38
My two cents on the matter.

1. I think it is really important that we agree what we mean by "buffer" as an English word for this discussion, regardless of proposed or existing alpaka implementation. For me it is natural to think that buffer owns memory, and so it does currently in alpaka. However from the discussion above it seems there are different opinions on this: e.g. proposed implicit conve

[2021-01-06 14:02] j-stephan commented on #38
@bernhardmgruber and I just had a VC where we also addressed this issue. A short summary:

* We need to be careful that we do not introduce more code bloat.
* Removing static shared memory completely is a loss of convenience. We should think about keeping it and just throw a compile-time error if people try to use it with SYCL.
* For convenience reasons the buffer constructors should take both a `

[2021-01-06 18:34] bernhardmgruber commented on #38
Thank you @j-stephan for the good summary.

I fully agree. A buffer owns a region of memory with a given size. I wanted to go even further and require it to be contiguous, but Jan told me that for FPGAs this might not be the case.

You are right. The use of existing storage to create a buffer does violate the above meaning of a buffer. However, there are APIs that allow that. OpenCL has `clCreateB

[2021-01-06 18:40] j-stephan commented on #1019
@SimeonEhrig has unconvered a problem with the current approach while working on vikunja. Currently we don't use CMake's `install(EXPORT ...)` functionality. This means that the `alpaka` target is not known to CMake's installation routines and we end up with a `FindAlpaka.cmake` that basically works as a slightly different `CMakeLists.txt`. While this has the benefit of being able to reconfigure a

[2021-01-06 20:09] BenjaminW3 commented on #38
I only skipped through the thread so I am not sure if I got everything but here are my notes on this topic which explain the current state.

alpaka has two concepts for memory: `View`s and `Buffer`s. As always in alpaka, there is no single implementation for those concepts, but trait specializations which make some specific implementations adapt to those concepts.

A `View` is the basic concept wh

[2021-01-07 10:58] sbastrakov commented on #38
@bernhardmgruber to clarify my point about conversion of pointers to buffers and vice versa. I am not against that in principle, and this operation sometimes makes sense indeed. I was merely against doing so implicitly and thus causing uncertainty and errors regarding who owns the data. Having an explicit constructor or API function to do so is no problem with me as long as it's consistent with th

[2021-01-07 14:37] bernhardmgruber commented on #38
Thank you for explanation @BenjaminW3!

That is a design decision which I might not have done. So this means a concrete buffer implementation is also a concrete view?

So if we change the requirement that kernel arguments must be views now instead of plain pointers, this means we need to pass the alpaka kernels directly into the kernel function? This sounds pretty mad to me:

[code]
I think we had

[2021-01-07 14:44] bernhardmgruber commented on #38
Let me clarify as well:
I wanted to implicitely convert an alpaka buffer passed to `alpaka::createTaskKernel` into a `T*` at the kernel entry function. So I would like this to work:

[code]

Nothing else will work implicitely. This should NOT work:

[code]

The other way around, we have the new functionality proposed by @j-stephan:

[code]
Feature 1 is reasonable I think. Feature 2 is inspired by

[2021-01-07 18:58] BenjaminW3 commented on #38
Yes, we may not want to copy alpaka `Buffer`s into a kernel. The buffer owns the memory and we can not transfer or share ownership into/with a kernel.
Currently we call `getPtrNative` to convert the `Buffer`/`View` into something that can be passed into a kernel. Alpaka does everything explicitly, but doing such a conversion implicitly should also be possible.
However, the type that is used to mak

[2021-01-07 19:11] psychocoderHPC commented on #38
I was not able to follow the full discussion but I try to read all soon.

I would like to point all to the [Mephisto buffers](https://github.com/mephisto-hpc/testing/blob/master/mephisto/include/mephisto/buffer).
The device-side buffer representation contains the meta data in a meta data section before the main data in main memory. This allows having all expensive data available on device (if need

[2021-01-08 12:49] sbastrakov commented on #38
As far as I understood it, that linked Mephisto "device buffer" looks more or less like a `std::span`, adapted for that use case.

[2021-01-11 13:43] SimeonEhrig commented on #38
Found an example that surprised me and is related to the issue:

[code]
We have a 1-dimensional access to a 3D memory. The official example is similar:
[code]
This only works because we expect a certain memory layout. But it could also be possible that the data contains a pitch. Then we don't have a memory violation, but we have data in the wrong place and the result will be wrong. I know there is

[2021-01-11 13:59] sbastrakov commented on #38
I agree, such code samples assume linearized storage without pitches. Which is currently true, but maybe we don't want to rely on it,

[2021-01-11 17:57] ax3l commented on #995
As a follow-up, you might want to add ICX/ICPX support to CI.

ICX/ICPX is the next-gen Intel compiler based on LLVM, it's similar to the host-side of DPC++ and where new developments go. Here is a template to derive from: https://github.com/ECP-WarpX/WarpX/blob/0c8d5f61d92309b9a3df6e985f1a9d3da5edfd96/.github/workflows/ubuntu.yml#L81-L117 ([apt lines](https://github.com/ECP-WarpX/WarpX/blob/0c8d5

[2021-01-11 18:30] psychocoderHPC opened #1238 "Support for ICX/ICPX in CI"
@ax3l suggested adding new Intel ICX/ICPX compiler to our CI.

see: https://github.com/alpaka-group/alpaka/issues/995#issuecomment-758120292

[2021-01-11 19:05] psychocoderHPC commented on #38
Thanks for starting the discussion about the memory topic! :+1:

A true or false in the factory points to missing policies. IMO the memory `space`, the location of memory, is missing. We need a way to describe it. The device alone is mostly not saying enough about it. The extent can be multidimensional but the pointer is sequential memory. IMO we need additional attributes to define how we can ite

[2021-01-11 19:12] psychocoderHPC commented on #38
Even unified memory belongs to a device, or has a location but can be accessed from multiple devices. So we need still a way to describe the ownership and that's now I think what you like to point out: the visibility, location, ...

[2021-01-11 19:19] psychocoderHPC commented on #38
IMO this should get a high priority. Unified memory is simplifying the programming a lot, gives you benefits e.g. oversubscribing memory, zero memory copies, ...

[2021-01-11 19:25] psychocoderHPC commented on #38
I think `pitch` is a very common name but maybe I am CUDA branded. suggestion: `row_stride`

[2021-01-11 19:37] psychocoderHPC commented on #38
auto const taskKernel(alpaka::createTaskKernel<Acc>(
        workDiv,
        kernel,
        alpaka::require(bufAccA),
        alpaka::require(bufAccB),
        alpaka::require(bufAccC),
        numElements));

With my proposed implicit recognition of buffers:

auto const taskKernel(alpaka::createTaskKernel<Acc>(
        workDiv,
        kernel,
        bufAccA,
        bufAccB,
        bufAccC,

[2021-01-11 19:53] psychocoderHPC commented on #38
The disadvantage of pointers is that you lose meta/policy information about the memory. This means to write a fast `deep copy` method or use CUDA features e.g async memcopy to shared memory will be hard to integrate because alpaka can not be sure that the pointer is global memory. If we always use some kind over iterators/wrapper objects we can in the future better optimize memory copy operations

[2021-01-13 11:48] SimeonEhrig opened #1240 "Pitch missing in bufferCopy example"
I think the pitch is not respected if the data is initialized on the host: https://github.com/alpaka-group/alpaka/blob/ca51f5093f43a6d22ab0561b2d47155444c218f5/example/bufferCopy/src/bufferCopy.cpp#L229-L232

The kernels calculate the pitch in the address.

[2021-01-15 07:06] ax3l commented on #366
I think we can close this, thank you @j-stephan :sparkles:

[2021-01-15 07:06] #366 closed

[2021-01-20 16:24] j-stephan commented on #38
Yesterday we had a longer video conference about this issue. A few points from my notes:

### Current shortcomings

* We agreed on pointers being passed to kernels is something we want to discard, especially the C way of doing this (`foo(int* ptr, size_t size)`). At the very least pointers and their metadata should be wrapped into a single data structure.
* Currently we don't deal with textures on

[2021-01-20 17:12] bernhardmgruber commented on #38
Regarding LLAMA interop, I formulated that into a concept: https://github.com/alpaka-group/llama/blob/develop/include/llama/Concepts.hpp#L24

For now I just require the type used for storage by a LLAMA view to be bytewise addressable. This is fulfilled by an alpaka buffer containing `std::byte`s or `unsigned char`s or an array of these types allocated via `alpaka::declareSharedVar`.

[2021-01-21 19:50] BenjaminW3 commented on #1178
Is this done now? As well as the 0.6.0 release?

[2021-01-22 05:27] bussmann commented on #38
We need to discuss this further! I think you are making a big domain error here! The hardware has an inherent concept of what memory looks like (usually like a continuous 1D array). But tjis concept might vary. Alpaka has an N-D index domain for trends. It is appealing to bring both tightly together. But this is not a good idea for the future. Don't confuse the memory concept of a hardware with th

[2021-01-22 09:35] psychocoderHPC commented on #1178
Yes the release 0.6.0 is available https://github.com/alpaka-group/alpaka/releases/tag/0.6.0

[2021-01-22 09:35] #1178 closed, assigned to nobody

[2021-01-22 10:13] bernhardmgruber commented on #38
@bussmann from your answer I can separate these concerns:

So we want to represent a piece of hardware memory. I think this is what an alpaka buffer should be. We could debate, if a buffer already has a dimensionality. And I would argue that it should not. IMO a buffer is a 1D byte storage, independent if you want to treat it as a 2D float array or put a complex heap into it like mallocMC. So mayb

[2021-01-26 10:11] bernhardmgruber commented on #855
I encountered this issue as well when using Vc (SIMD library) inside kernel code, where the C math functions are also overloaded for SIMD types.

[2021-01-26 12:31] bernhardmgruber commented on #689
What is the motivation for adding a coroutine based backend? Coroutines are not a tool for parallel execution, so I do not see why they fit into alpaka.

As observed in the second comment, coroutines can enable really interesting workflows, but that will also lead to wholly different  API designs. Still, the focus of coroutines is asynchronity via suspension and resumption outside the context of t

[2021-01-26 12:42] j-stephan commented on #18
We will implement these intrinsics for alpaka 0.7.0.

* Implementing `__ldg` assigned to @j-stephan (as part of #38).
* Implementing `__shfl` assigned to @sbastrakov.

[2021-01-26 12:43] j-stephan commented on #38
We will implement this for alpaka 0.7.0.

Assigned to @j-stephan.

[2021-01-26 12:44] bernhardmgruber commented on #912
It looks like a false positive to me. The member pointer `pmd` is used to retrieve the data member, and is not returned from the function. And since `ref` is passed as a forwarding reference, the returned value cannot dangle after the function call completes.

[2021-01-26 12:45] j-stephan commented on #37
In today's meeting we discussed this issue. We all feel that this has been solved by [mallocMC](https://github.com/alpaka-group/mallocMC). Feel free to reopen this issue if you disagree.

[2021-01-26 12:45] #37 closed

[2021-01-26 12:47] j-stephan commented on #50
We discussed this in today's meeting. We feel that we don't have any real use case for this. In addition, this introduces serious difficulties for backends other than CUDA. We will therefore close this as WONTFIX. Feel free to reopen this issue if you disagree.

[2021-01-26 12:47] #50 closed

[2021-01-26 12:50] j-stephan commented on #390
We discussed this in today's meeting. @sliwowitz is currently working on a separate RNG library on top of alpaka that will adress this issue. This is therefore WONTFIX and will be closed once the new RNG library is public.

[2021-01-26 12:50] j-stephan commented on #710
We discussed this in today's meeting. @sliwowitz is currently working on a separate RNG library on top of alpaka that will adress this issue. This is therefore WONTFIX and will be closed once the new RNG library is public.

[2021-01-26 12:53] j-stephan commented on #409
This was mostly solved by #1033. The one thing left to do is the increase of the default shared memory size in `CMakeLists.txt`. @psychocoderHPC will open a separate PR for this.

[2021-01-26 12:53] #409 closed

[2021-01-26 12:56] j-stephan opened #1245 "Increase default shared memory size in CMakeLists.txt"
The default value for the shared memory in `CMakeLists.txt` is a bit low. We should increase this to a larger value.

We will implement this for alpaka 0.7.0. This was assigned to @psychocoderHPC.

[2021-01-26 12:59] j-stephan commented on #653
@BenjaminW3 We discussed this in today's meeting and didn't find a good use case except for debugging purposes. Do you feel we need this in a portable way in alpaka?

[2021-01-26 13:00] j-stephan commented on #734
We discussed this in today's meeting. We will implement this for alpaka 0.7.0.

Assigned to @sbastrakov.

[2021-01-26 13:01] j-stephan commented on #855
We discussed this in today's meeting. We will implement this for alpaka 0.7.0.

Assigned to @bernhardmgruber.

[2021-01-26 13:06] j-stephan commented on #14
We would like to get this into alpaka 0.7.0. However, this requires #38 to be resolved.

[2021-01-26 13:07] j-stephan commented on #652
We would like to get this into alpaka 0.7.0. However, this requires #38 to be resolved.

[2021-01-26 13:12] j-stephan commented on #81
We would like to implement this for alpaka 0.7.0. Due to time constraints this is marked as an OPTIONAL feature for the next release.

[2021-01-26 13:20] j-stephan opened #1246 "Introduce accelerator tags"
In today's meeting @psychocoderHPC brought up the idea of having special Accelerator tags that are always visible - the backends that are actually activated do not matter. This enables the user to easier specialize traits for accelerators without having to guard them with `#ifdef`.

We would like to implement this for alpaka 0.7.0. Due to time constraints this has been marked as an optional featur

[2021-01-26 13:23] j-stephan commented on #1246
I think this may also be related to #966.

[2021-01-26 17:06] bernhardmgruber commented on #14
@j-stephan does it depend on #38? I think this is a separate piece of functionality.

[2021-01-26 17:09] j-stephan commented on #14
I thought we agreed that there is a dependency. At least that is how I wrote it down in my notes....

Shouldn't this tie into the envisioned accessor/cursor functionality?

[2021-01-26 17:23] bernhardmgruber commented on #652
One of the main issues with SIMD libraries and alpaka is that you want to write your kernel code using such SIMD facilities, have it nicely emit vector code for CPU targets, but also make it compile for GPUs as well. Using existing libraries, this is not trivial.

LLAMA contains such an approach using Vc in: https://github.com/alpaka-group/llama/pull/128. The key idea here is that for GPU targets,

[2021-01-26 18:13] bernhardmgruber commented on #1246
I would like to add my proposition during the last alpaka VC, that we should just declare all backend accelerator templates upfront. This way, users can specialize their traits based on the incomplete accelerator types and no extra tag types are needed. This has the drawback, that we cannot refer to members of incomplete accelerators. Still, I would like this solution to be explored.

Another solu

[2021-01-27 09:48] sbastrakov commented on #1246
I think tag types are almost always same or better than enum for these purposes. Tags can  be added from anywhere, including user code, while enum is one and centralized.

[2021-01-27 11:12] #1245 closed, assigned to psychocoderHPC

[2021-01-27 12:41] sbastrakov commented on #652
Just to add to the list: https://github.com/google/highway

[2021-01-27 18:11] psychocoderHPC commented on #1246
What @sbastrakov said. Enums can not be extended from the user code.

I try to write a draft with my thoughts, soon.

[2021-02-01 12:45] j-stephan commented on #1183
@kakwok Is this still an issue on your side?

[2021-02-02 10:14] j-stephan opened #1250 "Generated kernel names are too long"
As pointed out by @SimeonEhrig (who is currently resorting to profiling on a widescreen 4K TV) alpaka's generated kernel names are way too long (up to 512 KiB as shown by @kloppstock). We should think about a way to considerably shorten them.

Example from the test cases when compiled with the SYCL backend:

[code]

[2021-02-02 10:36] sbastrakov commented on #1250
We also faced it with PIConGPU and arguably worse, as most kernels there have a few template parameters that are themselves template classes. To be honest, I am not sure if we can do much on the alpaka side to help it. Maybe with having concepts some of our template parameters become that, I have no idea how the internal function names would look then.

[2021-02-02 10:58] psychocoderHPC commented on #1250
The reason for the long kernel names @kloppstock got is that he is encoding many information into the name, thats the same we do with PIConGPU. Not sure how @SimeonEhrig was able to generate 512k char's for a kernel name. In PIConGPU we have typical kernel names of up to 10KiB.

IMO if you not switch to an interface like SYCL has where you not add templates to the device, ... you can not shorten t

[2021-02-02 12:09] j-stephan commented on #38
Assigning to @bernhardmgruber as discussed in today's VC.

[2021-02-02 13:44] SimeonEhrig commented on #1250
@psychocoderHPC You mixed up something. In my case I have relative short names. @kloppstock has the really long names. But they are long enough, to get problems with nsight systems on 1440p displays.

I'm not sure, if it make sense to short the alpaka names. A normal kernel execution has simply a lot of parameters and template types.

I think about to support profiling libraries for the different

[2021-02-04 09:52] j-stephan commented on #1220
Another interaction with DLR:

* Despite us not officially supporting clang 3.9, they still manage to build their alpaka-based software with this compiler, even the latest release.
* They are not certain that their users are going to switch to C++17 soon. They won't be able to support GCC 8.x and clang 10.x in the near future (which have full support for C++17), but GCC 7.x and clang 6.x look more

[2021-02-04 10:52] sbastrakov commented on #1220
Nice, thanks for keeping tabs on that.

[2021-02-05 14:13] bernhardmgruber opened #1253 "Texture/image support"
Alpaka currently lacks support for texture/image capabilities of certain backends. This currently concerns the CUDA backend and the currently developed SYCL backend.
Texture/image support was also requested in: https://github.com/alpaka-group/alpaka/issues/1065
The discussion also came up during the prototyping of kernel side accessors to buffers: https://github.com/alpaka-group/alpaka/issues/38 a

[2021-02-05 14:27] bernhardmgruber commented on #1253
So while HIP did not mention texture support in their documentation, the functionality seems to be there: https://github.com/ROCm-Developer-Tools/HIP/blob/main/include/hip/hcc_detail/texture_functions.h

[2021-02-08 14:05] j-stephan commented on #1220
My contact at DLR asked around their user base and gave me this list of hard version limits for the foreseeable future:

* GCC 7.x
* clang 5.x
* ICPC 2019.x
* CUDA 9.2

So the requested compiler versions were lowered a bit. This means we could get rid of supporting GCC 5 and 6 as well as clang 4. Still a long way to C++17 I'm afraid.

[2021-02-10 10:12] sbastrakov commented on #1253
I agree with your assessment. I do not think textures are that widely used in computational applications nowadays, as there are now for a long time caches on GPUs (was one of the reasons to use textures for computations in early CUDA days), and their operations like interpolation have limited accuracy. However emulating while I think not that difficult to do to make it just work, without performan

[2021-02-10 14:43] krzikalla opened #1255 "Implementation of user-defined scheduling for OpenMP should be changed"
The current implementation has several flaws:

* It doesn't work, if you are already inside a forked region. Eg. QueueCpuOmp2CollectiveImpl won't work as expected. Some OpenMP implementations might work nevertheless., but it is not backed up by the standard.
* It inflicts performance issues:
  * There is always the need to request the runtime schedule. This requires some loads, tests and branches,

[2021-02-10 15:39] j-stephan commented on #1220
We now have an interesting conflict of interests: The current SYCL specification demands C++17 or later:

https://www.khronos.org/registry/SYCL/specs/sycl-2020/html/sycl-2020.html#sec:normativerefs

@SimeonEhrig kindly pointed this out.

[2021-02-10 15:40] j-stephan commented on #1220
I wonder if we should turn the current alpaka release into a long-time support version (bugfixes, but no new features) and switch to C++17 in the next release.

[2021-02-10 15:59] sbastrakov commented on #1220
There can also be a compromise (although not necessarily a good one, but as an option).

Write alpaka code such that it compiles and works with both C++14 and C++17 - I think we should be making C++17 not break even with only supporting C++14. Then the SYCL backend is written for C++17 only and conditionally enabled. So a user can use SYCL only with C++17, and otherwise alpaka with both 14 and 17

[2021-02-10 16:02] sbastrakov commented on #1255
Hello @krzikalla , thank you for the feedback.

We discussed this in a VC with @psychocoderHPC , I will try to make the changes for compile-time dispatching.

[2021-02-10 16:29] psychocoderHPC commented on #1255
What we have currently in mind will base on https://github.com/alpaka-group/alpaka/blob/72785f6f413570d5179f9ac505b615d25f123cf4/example/openMPSchedule/src/openMPSchedule.cpp#L55-L61
You need to set a `constexpr` member for the kernel. The schedule will then be used to select the correct OMP for loop implementation at compile time.

All other interfaces should still follow the current implementati

[2021-02-10 16:47] SimeonEhrig commented on #1220
I had a similar idea. But Jan's idea sounds also interesting. I think, we should think about, what are the benefits, if we can use C++ 17, because I think in the end, there is the question, what occurs less work: supporting a LTS version and use the benefits of C++ 17 for future development or still supporting C++ 14 and enable the Sycl backend only, if C++ 17 is enabled.

[2021-02-10 17:16] sbastrakov commented on #1255
Upon reading, I think with explicitly setting a schedule and compile-time dispatch as suggested, it's actually no problem to set it also inside the parallel region. The problem is using runtime schedule (like currently always), then nothing to be done inside the parallel region.

[2021-02-10 17:18] psychocoderHPC commented on #1255
I wrote a small dummy implementation.

[code]
[code]

[main.txt](https://github.com/alpaka-group/alpaka/files/5960445/main.txt)

[updated main.txt with an example for wrapping kernel to specialize the scheduling policy]

[2021-02-10 18:14] psychocoderHPC commented on #1255
I updated my example above and added a mini wrapper to wrap kernel or lambda functions.
Not if we provide such wrapper the trait for dynamic shared memory can not be used because the user kernel signature is wrapped inside a helper.

[2021-02-11 12:33] krzikalla commented on #1255
I am unsure, if the alpaka::omp::Schedule struct will serve all possible needs. The problem here is, that schedule.kind is always a constexpr, while schedule.chunk_size may or may not be a constexpr. For those kinds, which support chunk sizes, three different compile-time versions are needed: one with the default chunk size (in contrast to the omp_set_schedule call there is no magic number for the

[2021-02-11 13:13] sbastrakov commented on #1255
~~There is a magic number for default chunk size, 0. I mean in both OpenMP standard and `alpaka::omp::Schedule`~~

[2021-02-11 13:16] sbastrakov commented on #1255
Ah, my message was only right for how it's done currently. Not for the hard-coded proposed way

[2021-02-11 13:39] sbastrakov commented on #1255
Thanks for clarifications @krzikalla . I am not sure which of the cases you described forces the separation of struct into separate variables.

However, maybe that's because I am not sure if I understand the compile-time chunk size case well. I think the best alpaka can do (without relying on macros) is to provide chunk size as a constexpr variable so to have a pattern like `#pragma omp for schedu

[2021-02-11 15:11] krzikalla commented on #1255
I guess, you need something like this:

[code]

and then starting at TaskKernelCpuOmp2Blocks.hpp:198 you have to statically dispatch to functions like this:

[code]
And so on, one function for each combination (should be 11, 3 * { static, dynamic, guided } + { auto, runtime }.
Now you only need to retireve the schedule type at TaskKernelCpuOmp2Blocks.hpp:198.

[2021-02-11 16:45] psychocoderHPC commented on #1255
I updated my example code to support compile-time scheduler selection with a compile time chunk size. If required a kernel member `dynamicChunkSize` (do not slap me for the name, it is only an example) can be declared and be used to change the chunksize at runtime.

This way we would be compatible with 0.6.0, except that the member `Schedule` in a kernel should be `constexpr`.
In general, the comp

[2021-02-16 09:18] bernhardmgruber commented on #1255
What if we separate the schedule from the chunk size, so we can make them constexpr independently?
[code]
When we invoke the kernel, we can test whether the members are constexpr and perform compile-time dispatch on them. If they are runtime, we can either dispatch at runtime, or just pass the values on to OpenMP.

Here is a C++14 snippet that can detect whether the chunkSize is constexpr or not:

[2021-02-16 09:27] sbastrakov commented on #1255
`int chunkSize = N; // dynamic`
should be static, just no constexpr?

[2021-02-16 09:30] psychocoderHPC commented on #1255
It can be bose, `constexpr` and `non constexpr`

[2021-02-16 09:32] bernhardmgruber commented on #1255
How do I enqueue the same kernel type from 2 threads at the same time with 2 different chunk sizes?

[2021-02-16 10:05] psychocoderHPC commented on #1255
If the chunk size is not compile-time then each kernel can be an instance where you set the chunk size independent.

[2021-02-16 10:08] sbastrakov commented on #1255
Yes, but indeed there is no need for `static` if not `constexpr`. I was just mistakenly thinking on the code used internally to check it, but such a code does not have to rely on `static`.

[2021-02-16 13:36] #855 closed, assigned to bernhardmgruber

[2021-02-18 14:09] psychocoderHPC opened #1257 "shared memory allocation issue"
Allocating shared memory with CPU accelerators within a function which is called from a loop will result into allocation issues due to the limited shared memory per block (64kib)

[code]

pseudo example:
[code]

For CUDA this is not a problem because calling `declareSharedVar` with the same id, here provided by `__COUNTER__` will reverence always to the same memory and only allocated shared memory

[2021-02-18 16:45] psychocoderHPC commented on #1257
I am currently working on a fix that should provide the same workflow we have on GPU's.
I try to fix it so that shared memory allocation on CPU accelerator behave like in CUDA to avoid that we break already ported CUDA code.

[2021-02-23 09:30] bernhardmgruber commented on #1253
We opened a GSoC position for this feature: https://www.casus.science/news-events/events/google-summer-of-code-2021/#anchor-6

[2021-02-23 10:21] bernhardmgruber commented on #1240
This will be resoved with: https://github.com/alpaka-group/alpaka/pull/1249

[2021-02-24 08:22] bussmann commented on #1253
Dear all, I firmly believe this is a side quest. I think there is more important stuff to do.

[2021-02-25 18:02] jkelling commented on #1257
Is there an Alpaka best practices guide, where we could advise to avoid doing this? Because larger kernels with many shared variables doing what your example does will suffer severe performance loss with all backends but CUDA and HIP.

Btw: I understand, that this issue exists to be as compatible as possible with CUDA to make cupla work. On the other hand, CUDA allows declaring `__shared__` at glo

[2021-02-25 18:37] psychocoderHPC commented on #1257
Best practices can be added to the docs.
I am for changing current concepts only if there is a better programming model coming into alpaka. For now I do not see any benefits if we restrict the usage.
In most cases you will not pass more then a hand full variables into the shared memory. Aliasing is with this PR not very expensive.

[2021-02-26 13:44] bernhardmgruber opened #1261 "Refactor rounding to multiple codes into a function"
This can be done in a separate PR, this should not be mixed with this fix.

_Originally posted by @psychocoderHPC in https://github.com/alpaka-group/alpaka/pull/1258#discussion_r583616426_

[2021-03-01 09:57] bernhardmgruber opened #1264 "Performance test suite"
Alpaka's "aim is to provide performance portability across accelerators through the abstraction (not hiding!) of the underlying levels of parallelism." We should therefore also pay attention to possible performance impacts of changes applied to this library. In order to better assess such performance impacts I want to propose the creation of a performance test suite.

Performance tests are similar

[2021-03-01 10:19] #1257 closed, assigned to psychocoderHPC

[2021-03-01 10:57] psychocoderHPC commented on #1264
IMO the performance test should always check for correct results.
Such tests should be executable without a CI too and in that case, it could be that someone is testing different code versions without running all unit tests.
Additionally, if you write an e.g. `forEach` as your performance test and one implementation has a logical programming mistake which results in a compiler optimization where t

[2021-03-01 12:36] bernhardmgruber commented on #1264
Absolutely!

You would not notice it when running the performance test suite, yes. But you would notice it when running the unit tests. And I think this is fine, because you also run your unit tests either before committing or at least as part of the CI build later before merging. Adding additional code to verify the results just makes the performance tests more complicated.

Example: filling a fe

[2021-03-01 12:52] psychocoderHPC commented on #1264
A result verification is not required to be a point-wise comparison of values. It depends on the test what is correct or wrong. For random numbers, you would most likely check the standard derivation, ...

You would never know if your benchmark test implementation is correct if you not add a verification, so you need to do it anyway.

[2021-03-01 12:58] bernhardmgruber commented on #1264
That depends. The alpaka random number generator currently being developed claims to be deterministic across accelerators. So you would need several point-wise comparisons across all accelerators.

But probably a very small check suffices. Only to know that the performance test is correct, but not that the called alpaka functionality is correct. E.g. alpaka has a random number library. And the cor

[2021-03-02 09:49] sbastrakov opened #1267 "Add an example demonstrating specialization of a kernel for a particular backend"
We kinda advertize this design, and alpaka made a choice to use trait-based implementation to enable it from the very beginning. This arguably makes alpaka a bit more hard to develop and may appear overly complicated to users in exchange for more flexibility and potential for fine-grained optimization on the level of a single kernel or a single device-level alpaka function. So we should add a new

[2021-03-09 09:00] sbastrakov commented on #1020
@SimeonEhrig is it still not fixed (I mean i didn't fix it, but maybe some change in the meanwhile did)? My guess is no one knows, but maybe you do :)

[2021-03-09 11:23] SimeonEhrig commented on #1020
Nope, the test is still failing. I updated the container (`registry.gitlab.com/hzdr/crp/alpaka-group-container/alpaka-ci-cuda101-clang:1.3`) and the cmake configure command:

[code]

[2021-03-09 15:22] sbastrakov commented on #1020
I've checked the test on the configuration @SimeonEhrig provided. Calling `pow(max, max)` with `max = std::numeric_limits<double>::max()` natively in this configuration results in negative infinity indeed. So it's not alpaka bug or wrong type conversion causing it, but the implementation providing this wrong result.

[2021-03-09 15:31] sbastrakov commented on #1020
A reproducer if we want to submit a bug:
[code]

compiled with clang CUDA as in the docker image outputs
`Native CUDA kernel result: pow(17976931348623157081452742373170435679807056752584499659891747680315726078002853876058955863276687817154045895351438246423432132688946418276846754670353751698604991057655128207624549009038932894407586850845513394230458323690322294816580855933212334827479782620414

[2021-03-09 15:32] sbastrakov commented on #1020
The only this I didn't check is if this is allowed in clang-CUDA with the flags we use. However I would doubt it, as e.g. in the CUDA programming guide there are no exceptions for this usage of `pow` and so it should adhere to some reasonable error margins.

[2021-03-10 17:27] #1267 closed, assigned to sbastrakov

[2021-03-11 09:46] psychocoderHPC commented on #1020
The reason why these tests fail is the usage of fast math. I tried to fix it in the past by scanning in the CMake alpaka target for fast math option, remove it for the test, and adding it back afterward to not influence other tests. We could also think about disabling fast math for all alpaka tests. The last way would be the easiest.
We have the same issue with HIP-clang.

[2021-03-11 09:47] psychocoderHPC commented on #1020
It would also be possible to activate fast math for the `stl` function we use to create the reference value.

[2021-03-11 09:54] psychocoderHPC commented on #1020
I tried to fix this issue with precompiler `#pragma push` and `#pragma pop` but this functionality is not available in clang if you compile for CUDA or HIP.

[2021-03-11 09:56] SimeonEhrig commented on #1020
I'm not sure if I understand correctly, but fast math is something, which is handled by the user. Why it is activate by alpaka?

[2021-03-11 09:59] psychocoderHPC commented on #1020
Here is a snipped how to remove a flag from a target: https://stackoverflow.com/a/49216539

[2021-03-11 10:03] psychocoderHPC commented on #1020
Yes the user is free to enable or disable fast math. By default, it is enabled for alpaka.
The problem is that our math tests will use whatever we configure in cmake.
The math tests create a result for a math function on the device and one equivalent result on the host by using STL math functions. In the default case where fast math is activated, we compare a math result created on the device with

[2021-03-11 10:19] bernhardmgruber commented on #1020
Isn't this super dangerous? This means any program using alpaka does not have conformant floating point behavior.

[2021-03-11 10:36] BenjaminW3 commented on #1020
My personal opinion is that the default should be to have fast-math disabled. Having the test fail with fast-math is somehow expected. We could add a better error message for this specific test (runtime or compile time) which makes it obvious that fast-math is the reason for the failure.

[2021-03-11 10:37] sbastrakov commented on #1020
I believe the fast math is not the reason for this test failure. According to the CUDA programming guide (section F) double-precision `pow` is not affected by fast math to begin with. But even for the single-precision one, which is affected, it seems this behaviour should not happen (with single-precision `max` instead).

[2021-03-11 10:40] psychocoderHPC commented on #1020
Setting the default to `OFF` will not solve the problem. If the user is enabling fast math and executing the tests they will fail again.
Changing the default will also affect all existing clients of alpaka too. I do not see a need to change the default behavior and enforce all clients to handle it. It is a conventional issue in our unit tests.

[2021-03-11 10:42] psychocoderHPC commented on #1020
Everyone should be aware that fast math will not give the same results on each device.
You can always disable this behavior.
INTEL's icc is enabling fast math with `-O3` where gcc is enabling ist with `-Ofast`.

Enabling or disabling fast math is independent of this issue. The math tests should always be executed without fast math to ensure we have reproducible results.

[2021-03-11 10:46] sbastrakov commented on #1020
It is true. However, "not same" is not same as "completely wrong"

[2021-03-11 10:50] psychocoderHPC commented on #1020
Not sure if https://github.com/alpaka-group/alpaka/pull/1190 is kicking into this topic too.
You posted [here](https://github.com/alpaka-group/alpaka/issues/1020#issuecomment-794050919) the issue with pow. We need to check the exponent.

[2021-03-11 11:15] sbastrakov commented on #1020
I've tried removing fast-math. On the docker described above, that test no longer fails. But there are two math test cases that fail sometimes, i.e. some runs go full green, and some have a fail in one of those two tests. That's a really bad behavior for CI

[2021-03-11 11:20] mknaranja opened #1272 "static assert on alignment"
In https://github.com/alpaka-group/alpaka/pull/824/files static assertions related to allocation of more than core::vectorization::defaultAlignment were removed and the code was corrected.

However, in the new file alpaka-0.6.0/include/alpaka/block/shared/st/BlockSharedMemStMember.hpp this static assertion was reintroduced although the following lines seem to handle this allocation correctly:

`
c

[2021-03-11 12:01] sbastrakov commented on #1020
When the tests mentioned in my message above (clang-CUDA, no `fast-math`) fail, it's because two very small values are compared, or one very small and one 0. I feel we use a potentially weird way of comparing the numbers, that would often fail in such a situation.

To give an example, sometimes the double precision `pow(343.1018, -16.14939)` gives `1.13351e-41` in alpaka and `1.13365e-41` in the s

[2021-03-11 12:26] sbastrakov commented on #1272
Hello @mknaranja , thanks for your report!

I think you are right. @psychocoderHPC it seems that this check may be not part of 0.6.1 already, but I am not 100% sure.

[2021-03-11 12:27] psychocoderHPC commented on #1272
@mknaranja welcome to alpaka and thanks for your bug report.

Which alpaka backend do you use?
Which version of alpaka do you use?
What is the type of `T` you use to create shared memory for?
What is `sizeof(T)` and `alignof(T)` giving you back?

Could you please try if you see the same behavior with the upcoming bugfix release 0.6.1: https://github.com/alpaka-group/alpaka/tree/0.6.1
I assume that

[2021-03-13 22:54] frobnitzem commented on #1246
Is this related to the enumeration of accelerator types in: https://github.com/alpaka-group/alpaka/blob/8eea24392234dc5a913f125b531ea6545c161558/example/vectorAdd/src/vectorAdd.cpp#L85

As a new alpaka user, I'm held up by the difficulty of storing `auto const devAcc = alpaka::getDevByIdx<Acc>(0u);` in my own classes.  All the alpaka documentation creates this this as "const auto".  How do I name

[2021-03-14 11:45] sbastrakov commented on #1246
Yes, it's sometimes awkward due to alpaka operating with conditionally defined accelerator types, e.g. `AccGpuCudaRt<...>` being defined when cuda was configured to be used and found. These types (or types depending on them) are propagated basically everywhere as template parameters. Unconditionally defined tags would make it more simple and less ifdef-guardy.

In user code we normally make corres

[2021-03-15 00:14] frobnitzem opened #1274 "Vectors vs Buffers? Documentation on both and extents as public properties."
The `alpaka::Buf`data structures internally store extents, but it is not possible to query them at present.
I had thought of `alpaka::Buf` as mirroring the thrust::Vector types but it appears `alpaka::Vec` is more appropriate.

The examples use both, but other than that, there is minimal documentation.
Potentially related to #643 .

[2021-03-15 08:45] bernhardmgruber commented on #1274
I thought there surely must be a function as part of the views concept, on which buffers are based on. But it seems you are right, I could not find one! I wonder though if we can always query an extent for a buffer/view or if there can be buffers/views with unknown extent. I will let longer maintainers of alpaka try to answer this!

[2021-03-15 09:18] j-stephan commented on #1274
I think you should be able to query the extents with `getExtent()`. Internally this uses the `GetExtent` trait which is specialized for buffers. See https://github.com/alpaka-group/alpaka/blob/develop/include/alpaka/extent/Traits.hpp#L56

An alpaka buffer is probably the equivalent to a thrust vector, as they are both objects that encapsulate a chunk of memory. An alpaka `Vec` is a set of integers

[2021-03-15 16:04] sbastrakov commented on #1274
I think @j-stephan is right about getting the extents.

I think the reason it is somewhat hidden is that alpaka is designed not with concrete types or templates in mind, but rather with trait-based "interfaces" in a more C++ concept meaning. So alpaka's own `Buf` class implements this interface, but does not define it. This makes searching for these things quite complicated. And as you pointed out

[2021-03-16 14:31] mknaranja commented on #1272
Yes, of course it has a large alignment, otherwise the static_assert would not fail.

It is a custom data type with alignof(T)=sizeof(T). It can be of variable length, for instance, sizeof(T)=128.

I'm using alpaka 0.6.0 and I've now seen that this assertion has been removed in 0.6.1.

However, I do not understand the setenece "the code you are pointed to where the static assert fails is a fork fr

[2021-03-16 14:45] sbastrakov commented on #1272
Thanks for clarification. You are right, it was in 0.6.0 and arrived there from one long-term branch so we got confused about it. It probably should not have gone into 0.6.0 like that, and so is removed in 0.6.1

[2021-03-16 16:03] psychocoderHPC commented on #1272
The last time I clicked on your link it was pointing into the fork from Benjamin but maybe I messed up with my 1000 open tabs in the browser.

[2021-03-16 16:13] psychocoderHPC commented on #1272
@mknaranja We have still the static assert in version 0.6.1 https://github.com/alpaka-group/alpaka/blob/04b70eeda4c03c8f20574496144eb69c11cfad28/include/alpaka/block/shared/st/detail/BlockSharedMemStMemberImpl.hpp#L148-L150

The problem is that we need to guarantee that your data in shared memory is aligned. Currently, the implementation can only guarantee the alignment for data with an alignment

[2021-03-18 02:01] frobnitzem opened #1276 "alpaka::WorkDivMembers generates incomplete type errors"
I get the following error message when trying to invoke a kernel created with WorkDivMembers (to manually set launch parameters).  I can't determine what this error means, but I suspect the WorkDivMembers might not be used as much as getValidWorkDiv, so perhaps the former is less advanced?
[code]

The reproducing code:
[code]

It was compiled with stock gcc 8.4.0-1ubuntu1~18.04 and cuda toolkit V1

[2021-03-18 08:35] bernhardmgruber commented on #1276
You are mixing up accelerators and devices.

[code]

You pass in `devAcc` which is a device and not an accelerator. `Acc` is deduced to the type of a device. When you call `alpaka::createTaskKernel<Acc>(workDiv, K);`, you instantiate the function with the type of a device and not with an accelerator. And the `Dim` trait seems to not be specialized for devices.

You can make a simple change:

[code

[2021-03-18 20:32] frobnitzem commented on #1276
Confirmed - this fixes the issue, and solves related troubles I've been having.

I guess I assumed that devAcc would have the type Acc
in `auto const devAcc = alpaka::getDevByIdx<Acc>(0u)` but I should have checked.

[2021-03-18 20:32] #1276 closed, assigned to nobody

[2021-03-25 16:23] PrometheusPi commented on #1253
While this might be a less important task for the overall goal of alpaka, ISAAC would definitely benefit from that.

[2021-03-25 17:00] psychocoderHPC commented on #1253
To give it a little bit more context: In [ISAAC](https://github.com/ComputationalRadiationPhysics/isaac) we can have the case that we visualize multiple data sources with different resolutions within the same kernel. Accessing the data in a texture-like way with normalized indices and automatic interpolation is simplifying the ray casting kernel.

Maybe we can propagate work at some point from ISA

[2021-03-26 09:54] FelixTUD commented on #1253
ISAAC would greatly benefit from textures.
The addressing is not really a problem, as it can easily be emulated with minimal overhead.
Bigger problems, which can be solved with a proper native texture support are:
1. Caching: currently the data for 3D buffers is in a normal array and as such is cached normally along the array, resulting in many cache misses, as the accesses are most frequently on

[2021-03-26 11:46] jkelling opened #1277 "BlockSharedMemStMember: Reuse of share variables not working"
https://github.com/alpaka-group/alpaka/blob/8eea24392234dc5a913f125b531ea6545c161558/include/alpaka/block/shared/st/BlockSharedMemStMember.hpp#L62-L65

The `BlockSharedMemStMember` static shared memory block is not cleared, so that the already allocated variables can be reused in the next block if the instance lives outside of the grid loop, like in `TaskKernelCpuSerial`

https://github.com/alpaka

[2021-03-26 12:15] jkelling opened #1278 "BlockSharedMemStMember default min alignment bad for performance"
The default minimum alignment for shared variables is currently set to `core::vectorization::defaultAlignment (= 32)`:

https://github.com/alpaka-group/alpaka/blob/8eea24392234dc5a913f125b531ea6545c161558/include/alpaka/block/shared/st/BlockSharedMemStMember.hpp#L28

On second thought this does not much sense even on CPU: If small variables, like `int32_t` are allocated, these will be padded out i

[2021-03-26 12:22] jkelling commented on #1278
### Sub-issue
For `BlockSharedMemStMemberImpl`  the template param `TDataAlignBytes` was renamed to `TMinDataAlignBytes` in https://github.com/alpaka-group/alpaka/pull/1258/ , it apparently slipped by in this class, which should be fixed, next time is touched.

[2021-03-26 12:59] jkelling commented on #1277
I can actually not reproduce this issue in the alpaka test`blockSharedSt`. It occurs in picongpu+pmacc, where [this allocation](https://github.com/ComputationalRadiationPhysics/picongpu/blob/6b9c2e69dd6ae14eb67f2aa336348fd279c0754e/include/picongpu/particles/Particles.kernel#L225) receives new memory in each grid iteration in the [SPEC example](https://github.com/ComputationalRadiationPhysics/pico

[2021-03-26 18:57] psychocoderHPC commented on #1277
That the shared memory is not cleared is the correct behavior. There is no need to clear it because all blocks of the same kernel will have the same static shared memory allocations, therefore we can and should reuse already allocated memory.

Note: PIConGPU/cupla is currently using alpaka 0.6.0 where the shared memory fix #1258 is not included.

@jkelling Do you patched the alpaka version used by

[2021-03-26 20:05] jkelling commented on #1277
Yes. I used alpake 0.6.1 (branch, the).

The issue is, that `getVarPtr()` ignored the last declared var.

[2021-03-26 20:15] psychocoderHPC commented on #1277
This is a good hint. I think I found the issue. I need to write next week first a reproducer and will fix it.

[2021-03-26 20:21] psychocoderHPC commented on #1277
https://github.com/alpaka-group/alpaka/blob/8eea24392234dc5a913f125b531ea6545c161558/include/alpaka/block/shared/st/detail/BlockSharedMemStMemberImpl.hpp#L111

must be moved after the if condition.

[2021-03-26 20:23] jkelling commented on #1277
Already done (test and fix) in #1280

[2021-03-26 20:23] jkelling commented on #1277
Although my fix is a bit different: Move the return into the loop instead of the break.

[2021-03-27 03:59] bussmann commented on #1253
How long would a texture imp in Alpaka take? Can we test the perf gain by trying it in a CUDA only branch for ISAAC?

[2021-03-27 10:10] FelixTUD commented on #1253
Right now I'm trying to integrate the native cuda textures in ISAAC, that I can hopefully include some performance numbers in my master thesis. And as @psychocoderHPC said, maybe we can propagate some of the work to alpaka, as I need to implement a software emulation for all non cuda capable architectures anyway

[2021-03-29 08:00] #1277 closed, assigned to nobody

[2021-03-29 15:01] psychocoderHPC commented on #1272
@mknaranja Your issue should be fixed with #1282. Could you please try the fix and report back if the issue is solved.

[2021-03-30 09:03] #1272 closed, assigned to nobody

[2021-03-30 09:09] psychocoderHPC commented on #1278
Do I understand you correct that you would like to set the default alignment to `1` byte because each datum is aligned to `alignas(T)` anyway?

IMO that's fine, the user can still enforce the alignment by align the data type.

[2021-03-30 09:14] jkelling commented on #1278
Yes. The default being not one is mostly a result of the "historical" origins of this class, where a minimum alignment of `4` is useful on GPU because of memory banks (i.e. we still need the template parameter for this purpose).

[2021-03-30 09:52] jkelling commented on #1278
Yes. My only concern about this is, that this might soft-break existing code which allocates, e.g., an `array<int>` and does not force alignment to vector size, which is why I brought up arrays as potentially negatively affected by this. Although this is only a concern, if the old shared memory implementation of the CPU backends would have always aligned to `core::vectorization::defaultAlignment`

[2021-03-30 14:08] psychocoderHPC commented on #1278
You are right, we will possibly break the old code therefore we should not change the behavior for alpaka 0.6.1.
If we change this we should introduce it with alpaka 0.7.0

[2021-04-12 07:29] psychocoderHPC opened #1284 "readthedocs docu per PR"
For unknown reasons, the readthedocs preview documentation for each pull request is not shown in the CI job list.

The build process is triggered for each PR but not reported back to github.

bug was reported by: @SimeonEhrig

[2021-04-13 09:24] sbastrakov opened #1286 "Make CMake options feel more like compiler options"
We discussed it on a VC before and after #1285 . There are two directions to improve alpaka CMake options concerning compiler flags:

- Avoid enabling options influencing user code by defaut. For fast math, #1285 is a fix, but there may be more of this kind, we need to check. The reason is that a user may not expect alpaka to hard-set it by default, and therefore not disable it when needed.
- Gene

[2021-04-13 12:18] sbastrakov opened #1288 "Intel compiler version 20 bug"
As discussed on the VC, making an issue to document and so that we could reference it in the code briefly. While working on #1279 I've faced an issue with internal compiler error when using Intel compiler version 20. It seems to not appear for earlier versions. The behavior we observed exactly matches [this bug already reported to Intel](https://community.intel.com/t5/Intel-C-Compiler/compiler-202

[2021-04-13 13:30] bernhardmgruber commented on #1286
Is `AUTO` the right term then, if CMake does not specify anything and just lets it to the compiler's default? Wouldn't `DEFAULT` be a more fitting term?

[2021-04-13 13:32] sbastrakov commented on #1286
Yes, maybe `DEFAULT` would be more fitting. I've put `AUTO` since it's what we discussed.

[2021-04-14 08:22] psychocoderHPC commented on #1286
I am working on this issue. I am fine with replacing `AUTO` with `DEFAULT`. I also thought yesterday about the naming.

[2021-04-14 09:14] #1255 closed, assigned to sbastrakov

[2021-04-14 14:35] sbastrakov commented on #1255
@krzikalla if you want to try the fix, it is now in the `develop` branch.

[2021-04-15 07:20] psychocoderHPC commented on #1255
@krzikalla I opened also the PR to merge all changes into the backport branch for alpaka 0.6.1 see #1290

[2021-04-15 08:18] psychocoderHPC commented on #1288
Note I reproduced the bug with `Intel(R) C++ Intel(R) 64 Compiler for applications running on Intel(R) 64, Version 19.1.3.304`  too, see community.intel.com/t5/Intel-C-Compiler/compiler-2020-1-217-internal-error-assertion-failed-find-assoc/m-p/1273228#M38624

[2021-04-16 06:56] psychocoderHPC opened #1292 "CMake option for relocatable device code"
In #1289 `ALPAKA_CUDA_NVCC_SEPARABLE_COMPILATION` was removed because it was only a renaming of `CUDA_SEPARABLE_COMPILATION`.
Today we found out that this feature is supported for clang too, so we can provide this feature for CUDA (with clang and nvcc) and HIP (hipcc).

Task: add cmake option `ALPAKA_RELOCATABLE_DEVICE_CODE`

Clang supports the following flags:

- <= clang6: flag not supported
- c

[2021-04-16 07:02] SimeonEhrig commented on #1292
~~I'm not sure, if it is working with Clang, because I fond this: https://cmake.org/cmake/help/latest/release/3.18.html#id6
Maybe it is fixed in a new version.~~

It is supported with CMake 3.19 https://cmake.org/cmake/help/latest/release/3.19.html#id12

[2021-04-16 07:29] psychocoderHPC commented on #1292
Currently we do not use native CMake CUDA support, therefore we will add this flag directly to the corresponding compiler.

[2021-04-16 09:47] SimeonEhrig commented on #1292
Yes, I forgot it.

[2021-04-16 15:37] psychocoderHPC commented on #1255
@krzikalla You can now test the new OMP feature, it is merged to branch 0.6.1.

[2021-04-17 17:59] BenjaminW3 commented on #1292
Someone could try to get #1146 working for older clang compilers ;-)

[2021-04-19 05:52] psychocoderHPC commented on #1292
Would be nice but nobody has time to look into it. :-(

[2021-04-19 06:28] SimeonEhrig commented on #1292
What do you mean, with older compiler? Clang older than version 7? At the moment, I try to find out, what is the status of the Separated Compilation support of Clang, because I can compile the [official example](https://developer.nvidia.com/blog/separate-compilation-linking-cuda-device-code/) but I have problems to compile an example with `extern __constant__ memory[]`, which works in `nvcc`.

Thi

[2021-04-19 12:34] psychocoderHPC opened #1293 "CUDA 11.3 support"
CUDA 11.3. is released and should be added.

There are some issues with CUDA 11.3

[code]

This can be solved by changing:

[code]
to
[code]

[2021-04-19 12:35] psychocoderHPC commented on #1293
I am currently work on adding CUDA 11.3 and fixing the issues.

[2021-04-19 13:07] sbastrakov commented on #1293
Do we need to backport it to 0.6.1? The 0.6.0 release didn't support CUDA 11.3.

[2021-04-19 13:10] j-stephan commented on #1293
0.6 is older than CUDA 11.3, so I'd say no. We are backporting specific features because of users who use older CUDA versions. I doubt they're planning to adopt CUDA 11.3 and stick with alpaka 0.6.x at the same time.

[2021-04-19 13:14] j-stephan commented on #1286
Closed by #1289.

[2021-04-19 13:14] #1286 closed, assigned to psychocoderHPC

[2021-04-19 17:33] psychocoderHPC commented on #1293
Yes I would like to port it back. The reason is that we have already an issue in PIConGPU: https://github.com/ComputationalRadiationPhysics/picongpu/issues/3591 and I assume we will get soon more.

I assume that a backport is easy and should provide a low amount of conflicts.

Never the less we can discuss it tomorrow in the developer meeting.

[2021-04-19 18:41] bernhardmgruber opened #1296 "Consider adopting a metaprogramming library"
During the accessor development #1249 I needed to implement a few meta functions on the side. Since alpaka is TMP heavy, we are going to need such metaprogramming facilities regularly so I think we should consider picking an appropriate library providing this functionality.

LLAMA uses boost::mp11 quite successfully and it provides a good feature set. Mind, that boost::mp11 is also available as a

[2021-04-19 19:08] bernhardmgruber commented on #1253
Here is how I envisioned the design of an image accessor:
[code]

`TAccessMode` probably just allows `alpaka::ReadOnly`.

[2021-04-19 19:08] sbastrakov commented on #1296
FYI we actually tried `boost::mp11` for PIConGPU 3 years ago, turned out there were issues with GPUs, and general approach not matching the needs very well back then. Doesn't mean these two factors are still relevant.

[2021-04-19 19:25] bernhardmgruber commented on #1296
That's good to know! I have not encountered GPU issues yet in LLAMA, but my GPU usage is also limited.

[2021-04-20 02:26] bussmann commented on #1296
Your last comment is extremely relevant. HPC is often bleeding edge and certain hardware 2-3 years behind in supporting standards, but these years make all the difference in real world applications. Thus, dependencies have to be carefully chosen. Without first hand experience this choice is difficult. One would be amazed which simple assumptions may be wrong for HPC applications.

[2021-04-20 05:50] psychocoderHPC commented on #1296
Could you please link the stand-alone mp11 version? A quick search was always showing the boost version only.

[2021-04-20 06:07] psychocoderHPC opened #1297 "compile time issues with nvcc and GCC 10.3"
The CI is showing compile time issues with nvcc and GCC 10.3

[code]

see:
 - https://github.com/alpaka-group/alpaka/pull/1294/checks?check_run_id=2384249915#step:5:3859
 - https://github.com/alpaka-group/alpaka/pull/1294/checks?check_run_id=2384249448#step:5:3876

A similar issue was reported:
- https://github.com/NVIDIA/nccl/issues/494
- https://www.mail-archive.com/search?l=gcc@gcc.gnu.org&q=su

[2021-04-20 07:06] SimeonEhrig commented on #1297
CUDA 11.3 does only supports up to GCC 9.x: https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html
I had also some problems with GCC 10 and CUDA.

[2021-04-20 07:20] bernhardmgruber commented on #1296
Thankfully, mp11 is written in C++11 and thus uses a 10 year old standard.

https://github.com/boostorg/mp11
The README says:

[2021-04-20 07:40] SimeonEhrig opened #1298 "Available Clang GPU options"
At the moment, we handle Clang as CUDA compiler in CMake by our self. Therefore, we need to handle the different compiler options. Here is a overview of the existing Clang options, when it was introduced and when it was remand.

The oldest, tested version is `4.0`. Maybe some options was introduced before.

| version | `*cuda*` name since version | `*gpu*` name since version |
| --- | --- | --- |

[2021-04-20 07:40] SimeonEhrig commented on #1298
@psychocoderHPC Have fun to fix bugs ;-)

[2021-04-20 08:25] sbastrakov commented on #18
The shuffle part was implemented in #1273 (not by me, but it's now in).

[2021-04-20 08:43] psychocoderHPC commented on #1292
Clang-CUDA requires linking with `nvcc` if we use realicated compile: see https://github.com/root-project/cling/issues/396#issuecomment-822335599

[2021-04-20 09:12] psychocoderHPC commented on #1297
I checked CUDA 11.1 include file `crt/host_config.h`, GCC 10 is supported

[code]

[2021-04-20 09:44] psychocoderHPC opened #1299 "CI: update CUDA install (Linux)"
We should update the way how we install CUDA in our CI.
We should use the `ppa` links https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&=Ubuntu&target_version=18.04&target_type=deb_network
and `apt-get` instead of pulling the full `dep` package.
This would hopefully save download time.

[2021-04-20 10:24] psychocoderHPC commented on #1296
Thanks for the link: https://github.com/boostorg/mp11
The problem is that the CI is covering only compiler for the CPU, important HPC setups Intel, IBM XL, nvcc and hipcc is not covered. We should give it a try but need to test it on our own CI and all important HPC compilers.
Maybe you cover already nvcc with LLAMA.

[2021-04-20 11:14] bernhardmgruber commented on #1296
Very good point! Maybe you can test this implicitely if we test LLAMA on these compilers.

Yes nvcc is covered by LLAMA.

[2021-04-20 11:24] psychocoderHPC commented on #1296
You would only get a real meaningful result if you test the stand-alone version of mp11.
If you use mp11 from boost, what LLAMA does,  you could get compiler issues during the parsing of the boost config header.
Using boost mp11 is a good preview but to get the full picture you should test the stand-alone version.

[2021-04-20 12:45] psychocoderHPC commented on #1297
@alpaka-group/alpaka-maintainers
I was not able to work around the GCC bug.

I disabled for now the requirement to pass the CI tests for:
  - linux_nvcc-11.1_gcc-10_debug
  - linux_nvcc-11.2_gcc-10_debug

This avoids that other developments get blocked due to a compiler bug.

[2021-04-20 13:26] j-stephan opened #1301 "alpaka release strategy"
In today's developer council we formalized our release strategy for future releases, beginning with release 0.7.

* Planned features are not assigned to specific releases anymore. Instead, new features are committed to the development branch once they are ready.
* We will **snapshot** the development branch into a release branch **two months before the final release** to give our users time to tes

[2021-04-21 06:07] psychocoderHPC commented on #1297
Unluckily it is not enough to mark the tests as not required (you need still admin rights to merge the PR), therefore the combination nvcc+GCC10.3 is currently disabled. #1302 :-(

[2021-04-21 07:59] ax3l commented on #1296
Just to complete the list, adding:
- essential GPU: Intel ICX/DPCPP (SYCL) as well as the old and trusty ICC
- new and hot: nvc++ (Nvidia GPU)
- new and hot: FujitsuClang (A64FX)

All but `FujitsuClang`/IBM/Cray are available as public apt repos for public CI. If you add dependencies, make sure the dependencies that you don't maintain also cover the compilers you care about, otherwise you will be

[2021-04-21 08:11] bernhardmgruber commented on #1296
Thanks, @ax3l! Those are good points!

LLAMA has icpc (which is ICC IIRC) and icpx (DPCPP) in the CI and builds mp11 fine.

I want to test that one soonish! I guess since it's using a clang frontend, that it will work.

I guess this is also a clang frontend?

Those are definitely my nemeses and we need to think about how we can deal with these. Like where we can get systems to test there etc. I th

[2021-04-21 08:19] ax3l commented on #1296
Yes, Fujitsu comes with a "traditional" and a new Clang fronted (same story with [IBM and Cray and Intel](https://gist.github.com/ax3l/53db9fa8a4f4c21ecc5c4100c0d93c94)).

Although `dpcpp` is ideally only `icx -fsycl`, there are a few more details when compiling for GPU targets, e.g. some functions and types don't exist in certain scenarios, etc. Better test both by building an actual SYCL GPU tar

[2021-04-22 06:24] SimeonEhrig opened #1304 "Add Clang 12 as CUDA compiler to the CI"
After removing old Clang from the CI in the PR #1300 , we should also add the latest versions of Clang/LLVM.

Since Clang/LLVM 11, Clang is forward compatible to new CUDA versions: https://github.com/llvm/llvm-project/commit/12fefeef203ab4ef52d19bcdbd4180608a4deae1
So we should change [this line](https://github.com/alpaka-group/alpaka/blob/f428bb0448cf87e27e0d0795543bd675bf2966d3/cmake/alpakaCommo

[2021-04-23 14:13] #1293 closed, assigned to psychocoderHPC

[2021-04-25 13:34] edrozenberg commented on #1297
Nvidia's install guide is not updated properly and who knows when it will be.

GCC 10 support was mentioned in a few earlier CUDA 11 release notes https://developer.nvidia.com/cuda-toolkit-archive such as
https://docs.nvidia.com/cuda/archive/11.1.1/cuda-toolkit-release-notes/index.html

I've had no problems with latest CUDA and GCC 10 until GCC 10.3.0.

[2021-04-26 14:05] psychocoderHPC commented on #1297
Yes GCC 10 works fine, except for the mentioned issue with 10.3. `Do not trust documentation, only trust code^^`

[2021-04-26 14:07] psychocoderHPC commented on #1297
I reopened this issue, the issue is still not solved, only handled by a workaround.

[2021-04-26 21:43] jkelling commented on #1296
If am interpreting the [NVHPC docs](https://docs.nvidia.com/hpc-sdk/index.html) correctly, then this does not mean, that nvc++ supports cuda. nvc++ is pgc++ and supports NVIDA GPU via OpenACC (and OpenMP target). There is no mention of CUDA in the description of nvc++. The NVHPC SDK also ships nvcc for CUDA.

Does anyone have some different information on this?

[2021-04-26 22:22] ax3l commented on #1296
Yes, this changed as of GTC 2021 and will be released with the next HPC Toolkit (not the CTK).

On April 26, 2021 3:43:19 PM MDT, jkelling ***@***.***> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2021-04-26 22:32] bernhardmgruber commented on #1296
The linked documentation reads: Last updated April 08, 2021
That is before all the new announcements at GTC. I guess the documentation is not yet up-to-date. I remember Bryce tweeting about CUDA support in nvc++ (can't find it ATM).

[2021-04-28 20:33] bernhardmgruber commented on #1297
The same error occurs with GCC 11.0.1, libstdc++ 10.3 and CUDA 11.2, which is weird because nvcc causes GCC 11 to not use libstdc++ 11, but version 10. If I compile a non-CUDA file, the right libstdc++ is selected.

[2021-04-29 15:53] psychocoderHPC commented on #1297
https://gitlab.kitware.com/cmake/cmake/-/issues/19458 sounds a little bit like your issue. Do you have the issue with alpaka or with a tiny reporducer and command line `nvcc`? In the linked issue the mentioned giving the host compiler explicit to `nvcc` solves the issue.

[2021-04-29 17:12] sbastrakov commented on #1277
Do we know, at least approximately, which versions or between which PRs was this bug present?

[2021-04-29 17:13] edrozenberg commented on #1297
@psychocoderHPC I'm not an Alpaka user - that Gitlab issue didn't solve my problems with the Nvidia stack, for ex. trying to build https://github.com/NVIDIA/nccl-tests

Relevant gcc bug reports. Don't know how quickly gcc issues get fixed, so for users on gcc 10.3.0 the Nvidia CUDA stack is essentially unusable for now for some indefinite amount of time.

https://gcc.gnu.org/bugzilla/show_bug.cgi?

[2021-04-29 17:30] psychocoderHPC commented on #1277
The bug which is fixed by this PR was introduced with #1258.

[2021-04-29 17:34] psychocoderHPC commented on #1297
@edrozenberg Thanks for the clarification :+1:  and the links to the corresponding gcc bug reports.

[2021-05-02 06:43] BenjaminW3 commented on #1304
I will give it a try (also as non-cuda compilers)

[2021-05-03 08:58] SimeonEhrig commented on #1292
We found a bug in Clang 12 and maybe older version, which avoids to use CUDA separable compiling: https://github.com/root-project/cling/issues/396#issuecomment-831118957

This bug is fixed in Clang 13.

[2021-05-11 10:38] j-stephan opened #1312 "Add cache hints"
This is a followup to #18. We require portable load/store functionality with cache hints (such as `__ldg` or `__stwb` on CUDA). This should integrate nicely with #1249 and can probably be solved in the same or a followup PR.

[2021-05-11 10:39] j-stephan commented on #18
2/3 of the methods mentioned here have already been implemented. The remaining functionality will be tracked in #1312 (for easier project management).

[2021-05-11 10:39] #18 closed

[2021-05-11 10:49] j-stephan commented on #14
We have received a user request for thread fences: https://github.com/cms-patatrack/pixeltrack-standalone/pull/181

This is now a high-priority item for the 0.8 release.

[2021-05-18 06:17] fwyzard commented on #14
Regarding `__threadfence()`, are you sure about

?

The current CUDA documentation on [Memory Fence Functions](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#memory-fence-functions) says

[2021-05-18 06:17] fwyzard commented on #14
For the parallel CPU backends, do you think that `std::atomic_thread_fence(std::memory_order_acq_rel)` gives the same guarantees as `__threadfence()` ?

[2021-06-01 08:54] j-stephan opened #1331 "Windows CI broken for CUDA builds."
The GitHub actions script was updated to the most recent Visual Studio version 16.10. This breaks CUDA compilation:

https://github.com/actions/virtual-environments/issues/3485

Unfortunately I don't know enough about our CI setup to fix this. It doesn't seem simple since the old image appears to be no longer available. It would be great if one of the experts on this topic could have a look. Pingi

[2021-06-01 08:57] BenjaminW3 commented on #1331
As a fast workaround, we could take those builds out of the list of required builds. This would unblock merging of PRs until this is fixed.

[2021-06-01 10:30] j-stephan commented on #1331
The bug was reported to the Visual Studio team:

https://developercommunity.visualstudio.com/t/MSVC-C142930037-with-CUDA-112-occur/1437930

[2021-06-01 10:52] j-stephan commented on #1331
I have also filed a bug on NVIDIA's (non-public) bug tracker with the internal ID 3318837.

[2021-06-01 10:58] bernhardmgruber commented on #1331
I read through the MSVC bugreport and nvcc fails to compile a simple hello world. It hiccups inside the MS STL. Therefore I conclude that we cannot fix this on our side and need to disable the offending combination of compilers.

[2021-06-01 12:40] psychocoderHPC commented on #1331
I disabled the requirement for Windows CUDA 11.0/11.1 and 11.3.
CUDA 10.2 is working and 10.1 should be easy to fix (I will do it).

[2021-06-02 07:16] j-stephan commented on #1331
NVIDIA responded. They are aware of the issue and will include a fix in the next major CUDA release.

Until then they recommend to switch to `-std=c++17` which apparently fixes the error.

[2021-06-02 08:15] psychocoderHPC commented on #1331
Thanks for the update, I will wait for which CI tests in #1332 crash and test setting all failing windows tests to `c++17` within the same PR.

[2021-06-03 05:41] psychocoderHPC commented on #1331
#1332 is now removing the tests for MSVC+nvcc CUDA 11.0 and 11.1.
Marking tests as not required does not help that maintainer can merge the PR, I realized such behavior already before.

[2021-06-04 22:07] edrozenberg commented on #1297
The GCC project has committed a patch:

https://gcc.gnu.org/git/gitweb.cgi?p=gcc.git;h=5357ab75dedef403b0eebf9277d61d1cbeb5898f
(in response to the problem report https://gcc.gnu.org/bugzilla/show_bug.cgi?id=100102)

The patch removes ~ 40 lines from `gcc/cp/pt.c` and adds a couple of test cases.

The Nvidia stack works again for me after I built and installed patched gcc 10.3.0 packages.

[2021-06-07 17:51] sbastrakov opened #1335 "Duplication of CUDA/HIP include checks?"
While working on traits for my ongoing complex number implementation, I've noticed all math function implementation files for CUDA/HIP have [the same piece as "include-and-check"](https://github.com/alpaka-group/alpaka/blob/6861f7b31ef0725cb117d523b94fbe2c53b60b81/include/alpaka/math/abs/AbsUniformCudaHipBuiltIn.hpp#L16-L38). Maybe it is duplicated in some other files as well, but even among the m

[2021-06-09 08:06] psychocoderHPC opened #1337 "Drop HIP-nvcc support"
I am currently testing using HIP targets for alpaka as suggested by @j-stephan https://github.com/alpaka-group/alpaka/pull/1324#issuecomment-848680830

I found out that if we like to use targets we need to use `find_package(HIP CONFIG)` else there is no target `hip::device` available.
Wenn using the normal old cmake find module the build system is using the `hipcc` wrapper while using `CONFIG` wil

[2021-06-09 09:25] SimeonEhrig commented on #1337
I'm for dropping the support for HIP on Nvidia. It reduce our work and like @psychocoderHPC already mentioned, we don't lose any functionality and it makes no difference for the user, if they use the HIP backend with CUDA platform or the CUDA backend directly (expect that setting up HIP on a Nvidia machine is more work, than installing the CUDA SDK directly ;-) ).

[2021-06-09 10:11] bernhardmgruber commented on #1337
I am all up for moving foward and streamlining our setup. Some comments/questions:

There is nothing wrong with using `find_package` in config mode. I guess cmake comes with a find module, which is preferred, and that's why we need config mode explicitely. Does that change our minimum required CMake version?

What is HIP nvcc support? And does that matter for us?

If we did not promise support in

[2021-06-09 10:17] j-stephan commented on #1337
No, that has been around since (at least) CMake 3.0.

You can use hipcc to target NVIDIA GPUs. Internally this will then delegate compilation to nvcc. I never really understood why we had support for this in alpaka since hip+nvcc requires CUDA anyway and we already had a CUDA back-end.

Well, we kinda did but I'm not aware of anyone explicitly using the alpaka -> HIP -> CUDA path instead of direct

[2021-06-09 10:32] bernhardmgruber commented on #1337
Ah ok. I guess that is used for programs written just in HIP so that they can run on NVIDIA. Alpaka provides a different mechanism for that. So yeah, we can drop it.

[2021-06-09 14:35] psychocoderHPC commented on #1337
ROCm is shipping a `find_package` module and a `cmake_config`. Depending on what you load the setup is locking differently.
Using the find module will result in an environment where you must use `hipcc` were loading the `config` will result in an environment where you must use `clang/clang++` and you can use cmake modules `hip::device`.

Yes, if you write you use `hipMalloc(), ...` the compiler wi

[2021-06-10 03:31] ax3l commented on #1337
actually lower-case `hip`, according to the docs:
https://rocmdocs.amd.com/en/latest/Installation_Guide/Using-CMake-with-AMD-ROCm.html#using-hip-in-cmake

Be aware of https://github.com/ROCm-Developer-Tools/HIP/pull/2280, landing in ROCm 4.4 as it seems.

[2021-06-10 05:43] psychocoderHPC commented on #1337
I tried `find_package(hip)` and `find_package(hip CONFIG)` both is not working with ROCM 4.2.
Even if I explicit set `list(APPEND CMAKE_PREFIX_PATH /opt/rocm/hip /opt/rocm)`.

@ax3l  I saw in the issue you kinked that you provided a mini app to reproduce the multi-language issue. Do you changed anything in your environment that cmake find works? Which cmake version do you use?

[2021-06-10 05:53] psychocoderHPC commented on #1337
Never mind, it was my fault I still checked `if(NOT HIP_FOUND)` instead of `if(NOT hip_FOUND)`

[2021-06-10 15:18] psychocoderHPC opened #1340 "CI: runtime tests CUDA and HIP are missing"
We running all our CI tests on free Github action runner. This is a very big issue because we can not tests our main target backends CUDA and HIP.
Currently, we do not perform runtime tests for CUDA and HIP, this results in hidden runtime bugs e.g. https://github.com/alpaka-group/alpaka/pull/1339

Todo: integrate HZDR CI and perform GPU runtime tests!

[2021-06-15 14:56] SimeonEhrig commented on #967
There is some new pressure to implement CUDA and HIP runtime test: https://github.com/alpaka-group/alpaka/issues/1340
I try to integrate something in the next weeks.

@BenjaminW3 For the runtime CI, I want to use prebuild docker contatiner, which I already create [here](https://gitlab.com/hzdr/crp/alpaka-group-container). We use it already for cupla and PIConGPU. But I have constantly problems wit

[2021-06-15 16:28] BenjaminW3 commented on #967
travis_retry originates from the open source travis repository. The licenses looked compatible to me back when I added it. I do not know where the license header with my name came from. We once added license headers to all files automatically. Maybe it slipped through.

[2021-06-16 08:53] #1337 closed, assigned to nobody

[2021-06-21 17:06] sbastrakov commented on #1335
This went a bit unnoticed. Does anyone have an opinion on this matter?

[2021-06-21 17:36] sbastrakov opened #1344 "Log10 math trait is missing?"
It is not super necesary in terms of being computable with the natural log. But if the idea is to mirror the math functions in `std::` when possible, alpaka is missing this one.

[2021-06-21 17:39] sbastrakov commented on #1344
Actually quite a lot of counterparts to `std::` math functions are missing. So maybe that was not the goal in the first place (I do not know).

Basically I was going for `std::complex` interface (including functions accepting it) and tried to made alpaka's Complex (#1336) interface-compatible, and so that's how I noticed not fully 1:1 relation between alpaka's math and `std::`

[2021-06-22 06:59] BenjaminW3 commented on #1344
The initial goal was to provide all CUDA math functions in alpaka and use the std lib equivalents. However, turning this around might be a valid goal, but it could lead to a larger implementation work.

[2021-06-22 06:59] BenjaminW3 commented on #1335
I do not know of a reason which would prevent us from optimizing this.

[2021-06-22 08:50] bernhardmgruber commented on #1335
IMO, this obviously calls for a refactoring. Go ahead!

[2021-06-22 10:38] sbastrakov commented on #1344
Thanks for clarifications. I think I will close this issue then, as my initial question is resolved. If we plan to make a full std-counterpart math support, that should become a separate issue with a milestone.

[2021-06-22 10:38] #1344 closed, assigned to nobody

[2021-06-22 12:14] psychocoderHPC commented on #1335
This part should be refactored into a unified include. IMO there is no reason why it is like it is.

[2021-06-22 14:15] sbastrakov commented on #1335
Okay, I will do it

[2021-06-23 07:42] j-stephan opened #1346 "Add tensor core abstractions"
In the meeting on 25 May 2021 we discussed having an alpaka abstraction for the various tensor core APIs found in recent versions of CUDA and ROCm. Opening this issue for broader discussion (and avoiding to forget this wish).

[2021-06-23 08:41] bernhardmgruber commented on #1346
A quick google search revealed this to me: https://developer.nvidia.com/blog/programming-tensor-cores-cuda-9/

So it looks like programmatic access to tensor cores is given via special API calls and they can essentially only do FMA on 4x4 matrices in single and half precision. That sounds very limited to me. But hey, that's what special purpose hardware is all about! I see potential use for linear

[2021-06-23 09:11] j-stephan commented on #1346
AMD calls them `Matrix Cores`, at least one GPU (MI100) has them already. I haven't found the accompanying API in HIP yet, though.

[2021-06-23 12:48] j-stephan opened #1348 "CI: Ubuntu 16.04 is deprecated"
Ubuntu 16.04 images will be removed from GitHub Actions in September: https://github.blog/changelog/2021-04-29-github-actions-ubuntu-16-04-lts-virtual-environment-will-be-removed-on-september-20-2021/

Time to upgrade our CI runners which still use 16.04.

[2021-06-29 05:30] #1335 closed, assigned to sbastrakov

[2021-06-30 19:58] BenjaminW3 commented on #1348
We are somehow safe with respect to the change mentioned above because we only use `ubuntu-18.04`, `ubuntu-20.04` and `ubuntu-latest` as runners.
 However we do not execute the CI (install/compile/run tests) directly within this environment, but we load clean ubuntu docker images first and run inside those. There we are still using `ubuntu:16.04`. Even though it was an LTS release, the 5 years of

[2021-07-02 12:14] sbastrakov opened #1355 "On CUDA/HIP only AtomicAdd and AtomicExch support floating-point types"
I know CUDA only supports those, but can alpaka implement e.g. `atomicSub` for these backends as calling the native `atomicAdd` with the negative value? For now it is a bit unintuitive, and also not portable between backends, as other atomic implementations seem to work for all types.

Was discovered when I looked at a PIConGPU compile issue with @BrianMarre .

[2021-07-08 06:00] #1348 closed, assigned to nobody

[2021-07-11 17:09] frobnitzem opened #1357 "Bundle test/common/include with install."
When writing software that uses alpaka, it would be nice to use the header files from `alpaka/test`.  However, those aren't installed by alpaka.

Currently, the `CMakeLists.txt` only says this about tests:
[code]

Why not always add the `test/common/include` to the installed header list?
e.g. somewhere around `set(_ALPAKA_INCLUDE_DIRECTORY "${_ALPAKA_ROOT_DIR}/include")`

[2021-07-11 18:08] frobnitzem commented on #944
+1 for using object-oriented style.  Especially:
* `queue.enqueue(kernel);`
* `device.allocate<T>(100);`

This morning I wasted an hour trying to write a class method that creates a kernel and enqueues it.
`classInstance.runKernel(queue)` can't be defined, because the `classInstance` needs to know `Acc` and not just `alpaka::Dev<Acc>`.  Apparently, there is no way to get `Acc` or `Dev` from `alpak

[2021-07-11 18:14] BenjaminW3 commented on #1357
Are you interested in some specific parts of the test helpers? We may think about moving them to the public API.

[2021-07-12 00:42] frobnitzem commented on #1357
Mostly`KernelExecutionFixture.hpp`.
To support it, I ended up manually adding `TestsAccs.hpp` and `Check.hpp` to my project.  I would have put in `TestDims.hpp` and `TestIdxs.hpp`, except I only use one kind of dim and index type.

To export those, I would create a top-level `createTestFixture` interface that takes dim-size-tuples and index-type-tuples.

[2021-07-12 04:47] BenjaminW3 commented on #1357
What do you want to do with it? Writing tests for your own extensions?
The KernelExecutionFixture and related types really should not be used in production code because they are very suboptimal in terms of performance (The additional return value copy, new queue for each call, ... ).
I can not imagine a use case except tests where this would be desirable. We know that there is the wish for a simpl

[2021-07-12 10:02] sbastrakov commented on #944
I agree with the general sentiment. And judging by this topic I guess most of alpaka contributors do.

I think the main difference is not between `queue.enqueue(kernel)` vs `enqueue(queue, kernel)` style. If `Queue` was a concrete type (not a template taking `Acc` and property types), those would be not that different. Or in the sense of [the Interface principle](http://www.gotw.ca/publications/mi

[2021-07-12 12:57] frobnitzem commented on #1357
Exactly - here's the test cases I have so far:
https://github.com/frobnitzem/FastParticleToolkit/tree/master/tests

[2021-07-13 12:02] sbastrakov commented on #1357
We discussed this matter on a VC today. The concencus was that the helper types for tests probably make sense to be shipped as part of alpaka public API. E.g. as `alpaka::test` namespace and the corresponding location. Then a user (including some of our own software that uses alpaka) is free to choose if they want to make use of that given there may be limitations.

[2021-07-13 15:06] psychocoderHPC commented on #1357
We also discussed that header containing `alpaka::test` should only be installed if a cmake variable is set which explicitly asked to install these files. This allows us to show a warning, the user should not assume any stability in the interfaces of this test namespace.

[2021-07-14 06:59] SimeonEhrig commented on #1357
I'm working on it.

[2021-07-14 07:36] SimeonEhrig opened #1359 "CMake bug alpaka_add_library(${_TARGET} STATIC) with Clang as CUDA compiler"
If I use `alpaka_add_library(${TARGET_NAME} STATIC  file.cpp)` and compile my project with Clang as CUDA compiler, I get following error:

[code]
Full log: https://gitlab.com/hzdr/crp/cupla/-/jobs/1422713016

The problem is the following lines of code: https://github.com/alpaka-group/alpaka/blob/394eb4e5eea81b1a418bd33f893f53c97c1e77bb/cmake/addLibrary.cmake#L95-L101

`libaryType` should be on the

[2021-07-15 10:53] SimeonEhrig opened #1361 "CMake flag ALPAKA_HIP_ARCH is not documented"
The CMake flag `ALPAKA_HIP_ARCH` is not documented here: https://alpaka.readthedocs.io/en/latest/advanced/cmake.html#hip

[2021-07-26 09:06] j-stephan commented on #944
With C++20 concepts on the horizon I'm now slightly in favour of the current API design. Once those can be used in alpaka I believe we can remove a lot of internal code without hurting alpaka's feature set.

[2021-07-27 11:36] SimeonEhrig opened #1362 "Memory abstraction tags"
At the moment, I develop a prototype for a lazy evaluated linear algebra library basing on alpaka and vikunja: https://github.com/SimeonEhrig/lazyVikunjaVector

One of the design decision is, that I use mathematical objects like `vector` and `matrix` with implemented operators to do the mathematics.

[code]

The vector contains also the data. Therefore, the vector needs to know on which device it

[2021-07-30 06:08] j-stephan commented on #1362
Would this tie in with our efforts on accessors? #1249

I think those have much of the functionality you ask for.

[2021-07-30 07:08] #1357 closed, assigned to nobody

[2021-07-30 11:27] j-stephan commented on #14
Sorry for responding so late, I only now had the time to look into this. The following partly serves as an answer to you but also as my notes before I (or another alpaka developer) start(s) implementing this. Feel free to correct me on anything I might have understood wrong.

## Differences between CPU and GPU fences

### Memory ordering

It gives *at least* the same guarantees as `__threadfence()

[2021-07-30 16:41] fwyzard commented on #14
Thanks for the write up !

After reading it, and re-reading the CUDA and the C++ documentation, I'm wondering how easy/hard/doable it really is to write an abstraction the expands to `__threadfence` + `volatile` for the CUDA backend and `std::atomic_thread_fence` + atomics for standard C++ ...

Maybe it would be easier to build on top of libcu++'s atomic support instead ?

[2021-08-02 13:41] j-stephan commented on #14
I'm currently looking into designing something like this:

[code]

`ALPAKA_NO_MEM_OPT` would be a macro that turns into `volatile` on CUDA/HIP platforms and into nothing everywhere else. I'm also open to name suggestions. What do you think?

libcu++ was only recently introduced (CUDA 11.2 IIRC) and we still have to support older CUDA versions. Apart from that, I'm also not sure how this would inte

[2021-08-02 16:25] fwyzard commented on #14
I think one can use the current version of libcu++ with older CUDA versions, if the required features are available.
But I see your point about older releases.

Good point, I hadn't thought about it.

[2021-08-02 16:28] fwyzard commented on #14
`ALPAKA_VOLATILE` or `ALPAKA_DEVICE_VOLATILE` ?

[2021-08-04 08:32] j-stephan commented on #1220
While investigating CI issues I noticed that we are testing multiple minor releases of macOS 11. Is there a reason for testing the older versions? AFAIK Apple do not reduce support between minor releases, they only fix bugs and add new features.

[2021-08-04 11:36] SimeonEhrig commented on #1362
I'm note sure if this planned/implemented in accessors. We have to ask @bernhardmgruber
Nevertheless accessors are big subject and it takes some time to finalize this. I think at tag list is much easier and faster to implement and solves my problem.

[2021-08-05 07:48] j-stephan commented on #14
I like `ALPAKA_DEVICE_VOLATILE`!

[2021-08-05 12:40] psychocoderHPC opened #1377 "CUDA 11.4"
CUDA 11.4.1 is already released we should add tests to our CI.

https://developer.nvidia.com/cuda-downloads

[2021-08-05 12:53] j-stephan opened #1378 "CPU test cases break with gcc 11.x"
Compiling with the recent gcc version breaks our test cases. I assume that this is because of internal libstdc++ changes in how it handles `std::function`. This bug affects the Omp2Threads, Boost.Fiber and `std::thread` back-ends. Example error message:

[code]

The error message points to this line (and its equivalents in the other back-ends):

https://github.com/alpaka-group/alpaka/blob/e1035416

[2021-08-05 18:39] j-stephan commented on #1378
Interestingly using clang with the same libstdc++ doesn't trigger this error. So maybe gcc's way of handling `noexcept` changed somehow.

[2021-08-06 16:30] j-stephan opened #1381 "OpenMP 5 back-end broken for clang 12"
Compiling the alpaka tests with clang 12 and an activated OpenMP 5 back-end leads to compilation errors:

[code]

The culprit is this member variable of `TaskKernelOmp5`:

https://github.com/alpaka-group/alpaka/blob/c938c8045bb9592fc1ee6a05a440d3cfc279c2d3/include/alpaka/kernel/TaskKernelOmp5.hpp#L206

I didn't test this with clang 11 yet. In clang 10 this works because our CI doesn't complain.

[2021-08-06 18:37] BenjaminW3 commented on #1362
What you probably want to have is a hierarchy of memory spaces. However it is not easy to tell where a specific memory allocation will ever be accessible.
You could bind it to the acceleration strategy but as you found out, that might be too strict.
You could split it into a CPU and multiple GPU memory  spaces (`alpaka::DevCpu` and `alpaka::DevGpuCuda`). This may be better, but that is still not e

[2021-08-06 20:35] jkelling commented on #1381
The issue is, that `-Wno-openmp-mapping` is not added in cmake, but explicitly set via `CMAKE_CXX_FLAGS` in the ci environment. When clang12 was added to the CI this bit was probably omitted.

This issue should be about, whether this backend should be properly integrated in alpaka's cmake config. At the moment `CMAKE_CXX_FLAGS` must be set manually to select the target and set the target GPU arch

[2021-08-07 08:18] bussmann commented on #1362
@bernhardmgruber  any ideas on this?

[2021-08-07 10:27] jkelling commented on #1381
The standard does not demand `std::tuple` be trivially copyable if the component types are. The gcc implementation has defaulted copy and move constructors but custom assignments, which makes it not fulfill `is_trivially_copyable`. It does not allocate anything on the heap, so it is effectively `memcpy`-able but not formally. I.e.: it works when turning off the warning, but it would be cleaner to

[2021-08-09 07:45] SimeonEhrig commented on #1359
Fixed in PR #1363, #1366 and #1367.

[2021-08-09 07:45] #1359 closed, assigned to nobody

[2021-08-09 11:56] bernhardmgruber commented on #1362
IMO an accessor specifies what kind of operations are allowed on a memory resource and how loads and stores are handled. Accessors can be produced on top of buffers. Whether they carry on the information where the backing memory resource resides is an open questions, but I would prefer if they did not. So you can have e.g. a read-only accessor independenly of whether you access a GPU or CPU buffer

[2021-08-09 12:05] #1377 closed, assigned to nobody

[2021-08-10 08:49] bernhardmgruber commented on #1381
The behavior in clang was introduced here and it is a pure diagnostic change: https://reviews.llvm.org/D71134
I am for disabling the warning.

[2021-08-10 08:54] sbastrakov commented on #1381
Note on a related topic: we mention that user's `Kernel` types are required to be trivially copyable in two places in the docs: [one](https://github.com/alpaka-group/alpaka/blob/develop/docs/source/basic/library.rst), [two](https://github.com/alpaka-group/alpaka/blob/develop/docs/source/advanced/rationale.rst). But such wording implies we should be checking it in alpaka, like we used to do. So we

[2021-08-10 08:55] j-stephan commented on #1381
I already encountered this with SYCL. Easy solution: https://github.com/codeplaysoftware/computecpp-sdk/blob/master/include/stl-tuple/STLTuple.hpp

This is from a SYCL SDK, but doesn't introduce any SYCL dependency. It is just a dumber tuple type that is suitable for device code.

[2021-08-10 08:58] bernhardmgruber commented on #1381
I don't think the right solution is to pick a different tuple implementation. `std::tuple` should be fixed by making it trivially copyable if all contained types are trivially copyable. And we should disable the diagnostic as actually using `std::tuple` does not harm.

[2021-08-10 09:01] psychocoderHPC opened #1384 "kernel parameter should be trivially copy-able"
During the CUDA HIP refactoring, important checks were removed

https://github.com/alpaka-group/alpaka/blob/ab0b8a460f398fef7e475892ff5af98f947ce128/include/alpaka/kernel/TaskKernelGpuCudaRt.hpp#L145-L154

These checks are important to check compatibility and must be reintroduced.

[2021-08-10 09:02] j-stephan commented on #1381
That is hardly something we can do.

If this is possible without interfering with user code, I'm all for it.

[2021-08-10 09:04] sbastrakov commented on #1381
Yes, we can't directly change `std::tuple` implementations, only complain about it and hope for a change. However, we can easily make out own `IsTriviallyCopyable` trait that is by default same as its `std::` counterpart, but for an `std::tuple` of trivially copyable types returns `true`.

[2021-08-10 09:13] jkelling commented on #1381
This commit actually removes the `isTrivial` check and reduces it to `isTriviallyCopyable`, this speaks for keeping the warning enabled, as the check is sensible albeit strict.

[2021-08-10 09:16] jkelling commented on #1381
This would not address this issue, as the check underlying this warning is done by clang using its own `isTriviallyCopyableType`.

[2021-08-10 09:20] sbastrakov commented on #1381
Yes, it won't solve this warning. It would be helpful if we add our old check back.

[2021-08-10 09:28] sbastrakov commented on #1384
Some related discussion also in #1381 (but these are not identical things)

[2021-08-10 09:38] j-stephan commented on #1381
We could first check the individual arguments for `IsTriviallyCopyable` and then silence the warning around the places where the tuple is used. Would that make sense?

[2021-08-10 12:39] jkelling commented on #1381
Yes it would. Using that simpler tuple class would be cleaner though. Is this included in the alpaka source tree by https://github.com/alpaka-group/alpaka/pull/789 ?

Passing the arguments as a parameter pack into the target region does not work because then the compiler sees any naked pointers in there and tries to map them. If there is not mapping for an address to target memory (e.g. because it

[2021-08-10 12:45] j-stephan commented on #1381
No, we require this as a third-party dependency if SYCL is activated.

[2021-08-10 12:54] #1378 closed, assigned to nobody

[2021-08-10 16:06] jkelling commented on #1381
I would prefer the simple-tuple solution over checking the argument types and silencing the warning. The main argument for this is, that the OpenMP5 backend is currently used less for production use than to chase compiler bugs. Ignoring a compiler warning will always raise red flags and distract from the actual issues. It would be better to have something where the compiler does not complain befor

[2021-08-10 19:59] jkelling opened #1388 "Tests trigger new `-Wreserved-identifier` in clang 13+"
A new warning was added in clang main which is triggered by the tests:
[code]

`-Wno-reserved-identifier` may need to be added to `CXX_FLAGS` for clang 13 and 14 ~~(maybe also clang 13, have to check.)~~

[2021-08-11 08:35] sbastrakov commented on #1388
I think this is a defect of catch2, so we should report there?

[2021-08-11 08:43] j-stephan commented on #1388
They are aware: https://github.com/catchorg/Catch2/issues/578

[2021-08-11 08:45] j-stephan commented on #1388
Marking this as `Wontfix` for now since this is third party issue. Let's see what the Catch2 team will do about this first.

[2021-08-11 09:14] sbastrakov commented on #1388
Unrelated to this issue, but should we add ourselves (alpaka, cupla, PIConGPU) to [catch2 user page](https://github.com/catchorg/Catch2/blob/devel/docs/opensource-users.md#top)?

[2021-08-11 09:15] j-stephan commented on #1388
Sure, more visibility is always welcome :-)

[2021-08-11 09:25] SimeonEhrig commented on #1388
I would suggest we name `PIConGPU` and the `alpaka-group`. `vikunja` use it also and I think `lamini` will it also do.

[2021-08-11 10:15] bernhardmgruber opened #1389 "alpaka::Vec ctor too restrictive"
The ctor of `alpaka::Vec` taking a pack of arguments is too restrictive IMO:
[code]
The workaround is to cast the arguments:
[code]
I think this requirement is too restrictive and the ctor requirement `std::enable_if_t<(sizeof...(TArgs) + 1 == TDim::value) && (std::is_same<TVal, std::decay_t<TArg0>>::value)>>` should be weakened into `std::enable_if_t<(sizeof...(TArgs) + 1 == TDim::value) && (std:

[2021-08-11 10:24] bernhardmgruber opened #1390 "alpaka::Vec cannot be destructured"
`alpaka::Vec<alpaka::DimInt<N>, ...>` is a simple type holding `N` numbers, so it should be reasonable to be able to decompose it into N such values:

[code]
However, that does not work because `alpaka::Vec` does not implement the necessary tuple protocol. Please consider adding this to alpaka:
[code]

[2021-08-11 17:17] bernhardmgruber opened #1391 "alpaka_compiler_option fails to add options"
I noticed that several options defined in `alpakaCommon.cmake` are not shown in the CMake GUIs. Notably `ALPAKA_CUDA_EXPT_EXTENDED_LAMBDA` was missing. I tracked the issue down and I think there is a bug in `alpaka_compiler_option`:
[code]
The conditional checks whether a variable `name` exists, which is certainly not what we want. The conditional should probably be `if(NOT DEFINED ALPAKA_${name})

[2021-08-11 18:47] sbastrakov commented on #1388
I agree, an umbrella "alpaka group" is reasonable.

[2021-08-11 20:14] BenjaminW3 commented on #1388
We definitely should not declare this as `wontfix` because it is a compilation error of our tests (due to `-Werror`) with clang 14.
We do not yet officially support it, but will do so in the future.
We probably should add an exception for this warning and not make it an error via `-Wno-error=reserved-identifier`.

[2021-08-12 05:46] j-stephan commented on #1388
I wonder why this warning is visible anyway. We already include the Catch2 header(s) as `SYSTEM` in CMake which should silence any warning emitted from them.

Note the `for now` in the sentence ;-) If we still see this error when clang 14 is available (we don't even have clang 13 yet) we can think about manually silencing the warning. Until then I'd like to wait for the Catch2 developers to fix th

[2021-08-12 06:24] SimeonEhrig commented on #1391
I noticed it when writing the [cmake documentation](https://alpaka.readthedocs.io/en/latest/advanced/cmake.html) documentation, but I was not aware why the variables are not displayed. Maybe you can also update the documentation.

[2021-08-12 07:16] jkelling commented on #1388
I checked, updated the description before, and now updated the title: This flag will already be present in clang 13 :rocket: , so, quite soon, :boom: .

[2021-08-12 07:23] jkelling commented on #1388
This is probably because the identifier `'____C_A_T_C_H____T_E_M_P_L_A_T_E____T_E_S_T____1'` is generated by a macro invoked in our code.

[2021-08-12 07:46] bernhardmgruber commented on #1391
@SimeonEhrig what should I update in the documentation? The options which were missing *are* documented.

[2021-08-12 09:26] SimeonEhrig commented on #1391
Oh, thought there are some options displayed now, which I missed. Then it is fine.

[2021-08-12 12:45] bernhardmgruber opened #1396 "Remove copy/move operations where unnecessary"
Several types in alpaka have deleted copy/move operations, although there is no reason for deleting those, since the type is either just a tag or a mixin for an accelerator.

E.g.
[code]
should be changed into:
[code]

We should delete such unnecessary explicitely deleted copy/move operations.

_Originally posted by @bernhardmgruber in https://github.com/alpaka-group/alpaka/pull/1379#r685215375_

[2021-08-12 13:19] bernhardmgruber opened #1397 "WorkDivMembers explicit copy ctor"
It turns out that a `const alpaka::WorkDivMembers` cannot be returned from a function:
[code]
The problem is that the copy ctors of `WorkDivMembers` are marked `explicit`. I assume this is a mistake. Please remove the `explicit` specifiers.

[2021-08-13 15:51] psychocoderHPC commented on #1020
I get the same error sometimes with the current develop branch (0.8.0) and native CUDA  11.2.
The reason why the test only sometimes fails is that we fill the argument buffer with random numbers and hit edge cases not with any test execution.

When I change https://github.com/alpaka-group/alpaka/blob/42c5341b21b42df235ab1bc9ad1e4e7f94d83965/test/unit/math/src/math.cpp#L128 to

[code]

I get always

[2021-08-13 15:56] psychocoderHPC commented on #1020
I used the fix above and tested with `clang++ 12 CUDA 10.1` and all math tests passed, repeated the test >20 times.

btw: fast-math is in 0.7.0+ by default disabled.

[2021-08-13 18:49] #1391 closed, assigned to nobody

[2021-08-17 08:24] #14 closed

[2021-08-18 08:19] j-stephan commented on #1388
According to the issue I linked above this will be resolved in Catch2's next major release (v3). It remains to be seen if this will be backported to v2 which we currently use,

[2021-08-18 10:11] sbastrakov commented on #1388
However catch3 will have a different interface from catch2. So we would really like a backport, since I think we are happy with catch2 generally (and i think our testing demands are not that specific) and then changing to another interface may be extra work for little gain.

[2021-08-23 19:17] jkelling opened #1402 "Inconsistent Atomic support handling/testing"
This is both an issue and a question.

## Question: How does the `atomic` test pass for the CUDA/HIP backend?

The atomic test tests 8-bit atomic operations:
https://github.com/alpaka-group/alpaka/blob/a972d5eb00c36c4806f8162dc217eae9beafa2c3/test/unit/atomic/src/AtomicTest.cpp#L785-L786
The CUDA backend does not implement these because CUDA does not support those (I could also not find 16-bit, ev

[2021-08-24 15:21] j-stephan opened #1403 "Memory fences should not do anything for the block scope on AccCpuSerial"
As pointed out by the CERN-CMS folks our current implementation of memory fences needlessly issues a memory fence for the block scope of `AccCpuSerial`. It would be sufficient to just call an empty function here since fences don't serve a purpose without multiple threads.

For the device scope we should keep the existing behaviour because the user might want to synchronize between kernels.

[2021-08-30 09:01] SimeonEhrig commented on #919
~~GitLab CI introduces MacOS runners: https://about.gitlab.com/blog/2021/08/23/build-cloud-for-macos-beta/~~
Sorry wrong issue :sweat_smile:

[2021-08-30 15:07] psychocoderHPC commented on #1402
For CUDA some tests are disabled https://github.com/alpaka-group/alpaka/blob/a972d5eb00c36c4806f8162dc217eae9beafa2c3/test/unit/atomic/src/AtomicTest.cpp#L518-L526

I saw that HIP tests are not up to date, IMO the atomic tests need some love.
We should discuss in the developer meeting tomorrow if alpaka should support 32 and 64bit atomics only, those should work on all devices well.

[2021-08-31 08:53] jkelling commented on #1402
As per our discussion, @psychocoderHPC will you send a PR to remove the <=16bit atomic tests?

[2021-08-31 09:25] SimeonEhrig commented on #967
GitLab CI introduces MacOS runners: https://about.gitlab.com/blog/2021/08/23/build-cloud-for-macos-beta/

[2021-08-31 11:05] psychocoderHPC commented on #1402
Never said that I will do it, I suggested doing it. I try my best to provide a PR :-(

[2021-09-01 14:57] #1020 closed, assigned to sbastrakov

[2021-09-03 12:57] #1390 closed, assigned to nobody

[2021-09-06 07:26] SimeonEhrig commented on #1184
Solved in PR #1375

[2021-09-06 07:26] #1184 closed, assigned to nobody

[2021-09-06 12:37] bernhardmgruber commented on #1208
C23 is probably getting `#warning`, see [N2686](http://www.open-std.org/jtc1/sc22/wg14/www/docs/n2686.pdf).

[2021-09-07 08:55] bernhardmgruber opened #1408 "Why wrap cmath?"
Alpaka wraps several functions available from the `<cmath>` header, like `std::floor` or `std::lround`. Since I recently successfully used them directly in a CUDA kernel, I wonder why alpaka needs to wrap them? Is this a requirement coming from HIP? SYCL should work,

Because if there is no need to wrap them, we could remove this functionality.

[2021-09-07 11:39] psychocoderHPC commented on #1408
Using cmath functions directly was not possible in the past. The attribute `__device__` is missing for those functions. I am not sure if CUDA is maybe shipping for some function headers that you can use on-device too.
As I know only `std::*` functions which are `constexpr` work on device and host.

[2021-09-07 12:38] bernhardmgruber commented on #1408
Seems to work in nvcc, HIP clang and normal clang for CUDA: https://cuda.godbolt.org/z/n48chKxGe
Maybe we have an old compiler somewhere that complains. But I took the oldest available on godbolt.

I therefore boldly propose to drop the alpaka math functions :)

[2021-09-08 03:24] bussmann commented on #1408
What about FPGAs?

[2021-09-08 08:06] psychocoderHPC commented on #1408
Looks like most or all math functions are supported. As @bussmann said we need to know how the backends behave.
@j-stephan Is there anything in the SYCL standard about math functions?

Never the less with the knowledge that HIP and CUDA supports `std::*` we can at least unify the trait implementations and reduce the code base a lot. This would keep the door open for backends which not support `std

[2021-09-08 08:15] sbastrakov commented on #1408
So it seems a lot of implementations can do the pattern of
[code]
to both fall back to `std::` version and provide ADL

[2021-09-13 08:48] bernhardmgruber commented on #1408
I think that would not work with SYCL, because the cmath functions live in `cl::sycl`, so we would need:
[code]
This however introduces a dependency on the SYCL headers, unless alpaka provides declarations or conditionally pulls in the headers. I am sure if I would want that.

[2021-09-13 09:30] sbastrakov commented on #1408
Then for SYCL there may simply be a separate specialization that does that one? Now we kinda do it separately for CPUs and then separately for CUDA/HIP.

[2021-09-13 10:08] j-stephan commented on #1408
SYCL uses OpenCL's math functions and places them into the `sycl` namespace. I don't know whether the compilers are smart enough to transform the corresponding `std` math functions into their SYCL equivalents (seems to work on CPUs, ICEs the Intel GPU compiler, didn't check FPGAs), but in any case this would be undefined behaviour because the SYCL spec never mentions this.

[2021-09-13 13:34] bernhardmgruber commented on #1408
That's following what we did previously. But the whole point of the issue is that it would be so much simpler to just spell `std::exp(x)` instead of `alpaka::math::exp(acc, x)` and carrying the `acc` object through the callstack. And apparently nvcc and clang for HIP can do that.

[2021-09-14 12:59] j-stephan commented on #919
Thanks for the necromancy, @SimeonEhrig!

I just looked at the original comment again.

1. We are still missing support for precompiled headers. I assume we still want this.
2. I originally had the idea to introduce back-end-specific targets. I believe we might be able to tackle this soon because `alpaka_add_{executable,library}` are much less complex than they once were. The only thing still done