[2019-04-02 06:22] BenjaminW3 opened #772 "Passing kernel arguments by value/&/const &/&&"
This is the follow up to an offline discussion. It is not yet a real issue.

Alpaka enforces that kernel arguments are either taken by `value` or by `const &`.

* `&&` would not work because the ownership of the parameters can not be transferred because this would result in an owenership transfer to the first thread that is executed. The arguments have to be accessible by all threads so this is no

[2019-04-02 15:54] tdd11235813 commented on #639
Sorry for not replying earlier. Just can report the last state.
I got build errors when using clang-9 (patched-upstream) and cuda (tested 9.0.176, 9.2.88, 10.0.130).

### clang compilation
[code]
### Alpaka compilation

[code]
### Errors

<details>

[code]
[...]
[code]

</details>

@SimeonEhrig reported that clang-9 with a simple CUDA program was working. I'll talk with him about this issue...

[2019-04-02 16:00] BenjaminW3 commented on #639
Thank you for trying this!
* The `DevCpu.hpp:68:21: error: explicitly defaulted copy constructor is implicitly deleted` should have been fixed with the clang-8 support PR last week.
* The issues within `curand_philox4x32_x.h` should probably be ignored or suppressed (or we disable werror for those experiments)
* I am not yet sure what to do about the `lgammaf` and `tgammaf` issues. We do not call

[2019-04-02 20:01] tdd11235813 commented on #639
thanks for the quick response. I will try the new version of clang.
For the math the header `__clang_cuda_math_forward_declares.h` did not define `lgammaf`, but only `lgamma`. Same for `tgamma`. Looks like they are used later on from clang Builtins.def.
I'll report it after testing new branch. It still seems to be missing in that clang cuda math file.

[2019-04-02 20:40] tdd11235813 commented on #639
ok, new version of alpaka and clang helped except for the math stuff, but adding missing functions to the aforementioned header works ... now I just get a glibc linker issue, our Ubuntu 16.04 probably has too old glibc, where `__logl_finite` is not available.
[code]
Well, let's call it a day...

[2019-04-03 06:23] SimeonEhrig commented on #639
@tdd11235813
I tried OpenMP with CUDA in a Ubuntu 18.04 container with Clang 9.0 and CUDA 10.0 on a Ubuntu 16.04 hostsystem. Maybe it could solve the problem and specify the problem in more detail, when you use a Ubuntu 18.04 environment.

[2019-04-03 08:36] ax3l commented on #690
Btw, you can vote for SYCL support in MSVS here:
https://developercommunity.visualstudio.com/idea/490213/sycl-support.html

[2019-04-03 11:18] ax3l commented on #639
Thanks for digging into this everyone!

@SimeonEhrig can you pls post your `Dockerfile` for reproducibility?

@tdd11235813 can you pls link the upstream LLVM bug report regarding the missing define in the `__clang_cuda_math_forward_declares.h` header?

[2019-04-03 14:28] SimeonEhrig commented on #639
Here is my source-code and the test-environment:

source-code:
[code]

makefile:
[code]

singularity container:
[code]

I tested it with the current dev branch of clang/llvm (9.0-dev c64d73cce240148ea5f38d70f1851373036e716d - https://clang.llvm.org/get_started.html) and clang-ykt (Matthias his instruction).

It works with the vanila Clang. The clang-ykt throws following error:

<details>

[code]

[2019-04-04 08:28] tdd11235813 commented on #639
so you did not get the lgammaf error or did you fix the clang cuda header before as well?

[2019-04-04 08:36] SimeonEhrig commented on #639
No, I didn't fix the header before. I built the clang/llvm from the original Github repo and compiled the source code with the Makefile you see in the previous comment.

What is special about clang-ykt? I know the project as fork of cling, which implemented the OpenMP 4.0 GPU offloading for CUDA. But this functionality was merged in the upstream. So, what is the special purpose now?

[2019-04-04 08:50] tdd11235813 commented on #639
I can't remember, and if upstream is working, then upstream is fine. I'll test the whole thing with upstream's version again.

[2019-04-04 13:05] tdd11235813 commented on #639
current WIP:
I tried the llvm upstream and there were only some linker errors left, but could be fixed in Alpaka:
[code]
However, runtime GPU tests fail now.
[code]

Tested with CUDA 10.0.130 and CUDA 9.2.88 (requires Werror to be disabled due to philox/curand conversion warnings) (with and without CPU OpenMP backends).

PS:
updated compile script for llvm:

<details>

[code]

</details>

[2019-04-04 13:54] krzikalla opened #774 "Remove default atomic operation hierarchy as it is a performance pitfall"
We have the following code:

[code]

If you call this with `Acc == AccCpuOmp2Blocks`, then not the OpenMP atomics are used, but STL locks are used. This is surprising and actually inefficient. Moreover, even with `AccCpuSerial` STL locks are used unnecessarily.
You could solve it using another hierarchy:

[code]

This then also works for `AccGpuCudaRt`, but apparently only by chance.

Why is there

[2019-04-05 07:33] sbastrakov commented on #774
I think the reason is as follows. The default hierarchy for atomic operations is `hierarchy::Grids`, which is the safest - it provides atomicity both inside the kernel and between different kernels on the same device. Even for `AccCpuSerial` one can still have several kernels running concurrently on the same device in different queues, so the locks have to be used.

So by this logic, the implement

[2019-04-05 07:36] krzikalla commented on #774
Please, can you define "right strategy".
I can follow your argument regarding AccCpuSerial, but not regarding AccCpuOmp2Block.

[2019-04-05 07:51] psychocoderHPC commented on #774
@krzikalla  documentation [here](https://github.com/ComputationalRadiationPhysics/alpaka/blob/develop/include/alpaka/atomic/AtomicHierarchy.hpp#L28-L39) is maybe a little bit short. You can find also a little bit more information in the pull request https://github.com/ComputationalRadiationPhysics/alpaka/pull/228.

If you have e.g. a global linked list and do you like to insert a new element it is

[2019-04-05 08:14] psychocoderHPC commented on #774
I checked with @sbastrakov the standard again e.g. for [OpenMP 4.5](https://www.openmp.org/wp-content/uploads/openmp-4.5.pdf)
Section `2.13.2 critical Construct` says

[code]

*contention group* An initial thread and its descendent threads.
*descendent thread* For a given thread, one of its child threads or one of its child threads’ descendent
threads.

I would read it as: If you have e.g. two C++

[2019-04-05 08:46] krzikalla commented on #774
OK, I can follow your reasoning.
In that case I would suggest to remove the default parameter, since it creates a trap no-one is aware of unless an in-depth performance evaluation is done.

[2019-04-08 14:43] tdd11235813 commented on #639
current WIP (clang-cuda with upstream clang):
- The runtime error with "too many resources" only happens in undefined `CMAKE_BUILD_TYPE` mode for CUDA 9.0.176 - 10.0.130 (clang produces invalid PTX code?)
- When clang(cuda) is run in Debug mode, then ptxas crashes at compiling for CUDA <9.2.

| CMAKE_BUILD_TYPE | clang-9 | nvcc |
| --- | --- | --- |
| None | :x: | :heavy_check_mark: |
|  | too man

[2019-04-14 09:55] BenjaminW3 commented on #768
What do you think would be the correct solution?
We have the following constraints:
* A stream can only ever execute one task at a time
* A synchronous stream (here `StreamCpuSync`) blocks the calling thread until the task has been finished

Even without the usage of the `m_bCurrentlyExecutingTask` variable a concurrent usage of a single `StreamCpuSync` would not comply to the rules because it sho

[2019-04-14 10:26] BenjaminW3 opened #778 "Prepare release 0.4.0"
Tasks:
* [x] create release draft text
* [x] delete master branch. It is practically impossible to merge the current develop to master due to lots of incompatible changes to master (which did not incorporate the renamings). The release tags will keep alive the code that is linked in the existing releases (they do not link branches) and we can always create real branches from those tags if required

[2019-04-14 15:28] q-p commented on #740
I was using a homebrew-installed gcc@7 (or 8) successfully on a Mac to compile alpaka-using software.

Note that the system compiler (Apple-customized clang) unfortunately doesn't include OpenMP support. :(

Note that libgomp (gcc's OpenMP support library) is really quite slow on Mac, same as anything else that build pthreads on the system (e.g. std::mutex, etc.). You can link against Intel's Open

[2019-04-15 15:21] BenjaminW3 commented on #778
@ComputationalRadiationPhysics/alpaka-maintainers Does anyone want to add something to the release that is not yet merged? Else I would not want to wait any further but create a release. Is there anything else we should wait for until we can create the release? What is the timeline for a test in PIConGPU, if this is necessary at all?

[2019-04-15 16:05] MarkusVelten commented on #758
For my application, simply changing `auto currentTaskPackage(std::shared_ptr<ITaskPkg>{nullptr});` to `auto currentTaskPackage = std::shared_ptr<ITaskPkg>{nullptr};` in `include/alpaka/core/ConcurrentExecPool.hpp` in lines 342, 429, 550, 642 did the trick. Compilation with CUDA 10.1 and gcc-8 works for me with those changes. I don´t know whether or not this fixes all compilation errors for all use

[2019-04-15 16:08] BenjaminW3 commented on #758
Thanks, I will try this!

[2019-04-15 16:14] psychocoderHPC commented on #778
I was for longer out of the office. Please give me at least two weeks for updating. Never the less you can open the release branch so I can use this branch as base for testing.

Am 15. April 2019 17:21:08 MESZ schrieb Benjamin Worpitz <notifications@github.com>:

[2019-04-15 16:32] BenjaminW3 commented on #778
I am not sure if we need a release branch right now because I would simply create the release from the `develop` branch at the time we fixed all issues.
Going forward, I do not want to create such big release branches deviating from the main development branch as it was the case for the 0.3 release series. This created a lot of additional work. I would only create a bugfix release for severe bugs

[2019-04-17 08:44] psychocoderHPC commented on #778
One PR we definitive need for the next release is: #755

@tdd11235813 will finish this PR today so that we can later cherry pick it to the release branch

[2019-04-17 17:36] BenjaminW3 commented on #758
Works, thanks!

[2019-04-19 13:05] BenjaminW3 commented on #561
Related link: http://lists.llvm.org/pipermail/llvm-dev/2017-August/116946.html
Only nvcc supports separable compilation, clang as native CUDA compiler does not

[2019-04-23 14:48] #758 closed, assigned to nobody

[2019-05-01 18:16] BenjaminW3 opened #782 "MSVC + CUDA fails to compile with Boost-1.68+"
See https://travis-ci.org/BenjaminW3/alpaka/builds/526742751

[2019-05-07 12:05] krzikalla opened #783 "How do I handle multithreaded queues?"
The following code shall synchronize dest with the content of src. It shall work with all types of queues (asynchronous and synchronous) and it shall work multithreaded.

[code]

The problem is, that QueueCpuSync::waitForThread is a noop and hence doesn't wait for the copy, which might be running in another thread.
Is there a way to do the above with Alpaka means and independent of the particular

[2019-05-07 13:45] BenjaminW3 commented on #783
If I understand this ticket and #768 correctly they are the same issue. Could you please answer my question I already gave you in the other ticket?

[2019-05-08 09:35] tdd11235813 opened #785 "Add unit tests for math functions"
Add unit tests for the operators in alpaka math.
- use compile-time list of operators and std:: pendant to validate result copied from device
- for floats one can use the device-compatible function `almost_equal()` in sincos #755 PR, or you can use [catch2 matchers](https://github.com/catchorg/Catch2/blob/master/docs/matchers.md#floating-point-matchers) because results are compared on the host sid

[2019-05-08 13:18] krzikalla commented on #768
I am not sure, how executors and streams (queues) interact, but for StreamCpuSync your first constraint doesn't hold, since the operator() in ExecCpuOmp2Blocks  checks, whether it is already called from a parallel region (which in turn can mean, that more than one Enqueue was called on the same stream by multiple threads.

I am not even sure, if and how the change made in https://github.com/Comput

[2019-05-08 13:32] krzikalla commented on #783
OK, so we have to distinguish between asynchronous and synchronous queues:

[code]

How do I tell, if a queue is synchron? And am I allowed to call alpaka::wait::wait from multiple threads?

[2019-05-08 13:58] BenjaminW3 commented on #783
This is not the goal of alpaka and if this is currently necessary e have to fix this.

I can not tell this for sure but by looking at the code this should work.

[2019-05-08 14:49] BenjaminW3 commented on #768
I am not sure what you mean. The difference between a `StreamCpuAsync` and a `StreamCpuSync` executing a kernel via `CpuOmp2Blocks` is the extra thread which `StreamCpuAsync` uses.
* In the case of `StreamCpuAsync`, the kernel task is always executed by a `std::thread` which has nothing to do with an OpenMP thread, so there will be no special handling and new OpenMP threads will be spawned to exec

[2019-05-09 09:23] psychocoderHPC commented on #783
We should evaluate if such a behavior is required. @krzikalla do you have special workflows where you must mix synchronous and asynchronous queues?

[2019-05-09 09:25] psychocoderHPC commented on #768
Do you suggest a mutex per stream?

[2019-05-09 09:36] BenjaminW3 commented on #768
Yes, a `mutex` per `StreamCpuSync` so that it behaves correctly even when it is called from multiple threads. The `StreamCpuAsync` already has a `mutex` in the `ThreadSafeQueue` which is used and should work correctly when called from different threads.

[2019-05-13 08:08] krzikalla commented on #768
Nonono, no mutexes. The idea of #666 was to reuse threads in Enqueue instead of spawning new ones every time and use "omp single" around the Enqueue (whic was a measurable performance loss). I understand, that forcing a StreamCpuSync to execute tasks sequential makes for a clean semantic. However, currently this would break our code performance-wise. We need another saolution.
Our use case is as f

[2019-05-13 08:16] krzikalla commented on #783
I don't want to mix synchronous and asynchronous queues. I just like to write my code so, that it works for synchronous and asynchronous queues.
Currently the same code is executed for StreamCudaRtSync and StreamCpuSync, but this will be extended to StreamCudaRtASync later on.
Currently I have alpaka::wait::wait directly after alpaka::mem::view::copy. This doesn't do any harm and would work with S

[2019-05-13 08:34] #768 closed, assigned to nobody

[2019-05-13 08:45] psychocoderHPC commented on #768
@krzikalla Could you please have a look to #786. It is already merged but if I understand your description correct this should be what you mean.

What do you mean by `If a device is present`? You always have a device in alpaka else you cannot compute.

[2019-05-13 08:50] psychocoderHPC commented on #768
As I know it should not be an issue but to be sure let's wait for @BenjaminW3's answer.

[update] We need to check it for CUDA and HIP. Since we are using the CUDA runtime API it could be it is not allowed to access streams those are created by another thread.

[2019-05-13 08:56] krzikalla commented on #768
#786 might fix the problem described here, but it creates an even bigger one: now tasks, that should execute in parallel, are executed sequential. Please, do not roll out #786.

[2019-05-13 09:03] BenjaminW3 commented on #768
In a meeting last week we decided to rename `QueueCpuSync` and `QueueCpuAsync` to `QueueCpuBlocking` and `QueueCpuNonBlocking` because this is what they are really meant to be. The one blocks the caller when something is enqueued and the other not. However, those queues are explicitly meant to execute one task after the other and never in parallel. If you want to execute something in parallel, you

[2019-05-13 09:03] #541 closed

[2019-05-13 09:15] BenjaminW3 commented on #783
This is what the change in #786 achieved. Now it should not matter anymore if it is a blocking or non-blocking queue.

Generally I discourage the usage of `alpaka::wait::wait(queue)`. There are much more direct ways to achieve the same behaviour in most cases. `Event`s should be used to express inter-queue dependencies and queue callbacks can be used when you need direct feedback from a queue on t

[2019-05-13 12:52] psychocoderHPC commented on #768
@krzikalla Could you maybe call me at work. I have problems to understand your workflow. I think we can shortcut the discussion via a phone call.

[2019-05-13 21:00] BenjaminW3 commented on #783
I will close this for now because the original issue of this ticket has been fixed now that wait also works for blocking queues (called from a different thread).
Feel free to open a new issue if we could not address other issues.

[2019-05-13 21:00] #783 closed, assigned to nobody

[2019-05-16 09:14] sbastrakov opened #790 "Create an upgrade guide?"
As discussed offline at the meeting yesterday, with the upcoming new release of alpaka it might make sense to add a short summary of how to change a client code to switch to the new version (e.g. streams become queues, etc.). Maybe smth like [what openPMD-api uses](https://github.com/openPMD/openPMD-api/blob/dev/NEWS.rst). If we agree to do this, I could make a draft, to be extended/fixed later by

[2019-05-16 09:21] ax3l commented on #790
Examples when embedded in the manual:
https://openpmd-api.readthedocs.io/en/0.8.0-alpha/install/upgrade.html
https://pybind11.readthedocs.io/en/master/upgrade.html

[2019-05-16 15:49] BenjaminW3 commented on #790
I already added a category called `Breaking changes` to the release notes of the upcoming release. It should contain everything that has to be done for updating.

[2019-05-19 13:17] BenjaminW3 commented on #778
All the necessary tickets for release-0.4.0 have been resolved. Is there anything left we have to wait for?

[2019-05-19 13:48] psychocoderHPC commented on #778
Yes we will i introduce a new queue to fit the requirements of dlr
I was short in time and was not able to do it last week.

- [ ] The queue is named: QueueOmpCollective

I also need to rename the queues next week to blocking and nonblockming.

[2019-05-19 13:50] psychocoderHPC commented on #778
I also still sitting on the verification that PIConGPU is working with the next alpaka release.
- [x] https://github.com/ComputationalRadiationPhysics/picongpu/pull/2958

[2019-05-21 06:53] psychocoderHPC opened #791 "Synchronous queue wait in multi threaded environment"
Queues in alpaka are always asynchronous to each other. In the [CPU device object](https://github.com/ComputationalRadiationPhysics/alpaka/blob/6b42f89204a6800a926b36f07d8fd2908892378e/include/alpaka/dev/DevCpu.hpp#L79-L115) we collect all asynchronous queues to allow synchronization later if [wait()](https://github.com/ComputationalRadiationPhysics/alpaka/blob/6b42f89204a6800a926b36f07d8fd2908892

[2019-05-21 10:02] psychocoderHPC commented on #791
I am currently working on this issue.
During my refactoring, I found a few more places which break the thread safety of alpaka.

[2019-05-23 11:00] tdd11235813 opened #794 "HIP(HCC) queue and time test failures"
- compiling time test fails for `--amdgpu-target=gfx701` (just remove it in alpakaConfig.cmake)
- queue test `queueShouldNotExecuteTasksInParallel` fails at runtime (tested on AMD RX Vega64, fwk388)

[code]

[2019-05-26 05:15] BenjaminW3 commented on #791
An `ICpuQueue` interface with some virtual abstract methods might work. We would have to sepecialize the event enqueue method for ICpuQueue in this case.
In contrast to all other parts of alpaka this would have a runtime overhead due to a virtual function call.
A simpler solution for this problem would be to add another list to the `DevCpu` for blocking queues and iterate over this list separately

[2019-05-26 05:32] BenjaminW3 commented on #794
My first thought about the failing test was that the HIP queue might execute the host callbacks we use for verification in parallel. However, this can not be the case and there has to be a much harder error somewhere.
This test has a global variable `taskIsExecuting` wich is initially false. Then we enqueue two equal tasks which check and exchange the `taskIsExecuting` value they hold by reference

[2019-05-26 05:43] BenjaminW3 commented on #790
I will close this ticket for now because we already have such documentation. Feel free to update/extend the release notes if you see a need for better upgrade instructions.

[2019-05-26 05:43] #790 closed, assigned to nobody

[2019-05-27 07:59] psychocoderHPC commented on #791
I will come up first with two different queues within the dev object. This is something we can later refactor.
I will open the PR today.

[2019-05-27 11:39] psychocoderHPC commented on #791
#797 is fixing that the Blocking queue is not taken into account in wait operation

[2019-05-30 10:43] #791 closed, assigned to psychocoderHPC

[2019-06-06 21:48] j-stephan commented on #690
I am currently facing some issues with clashing concepts between SYCL and Alpaka. I had some offline discussion with @tdd11235813 about this today, too.

The main problem we both see is Alpaka's reliance on raw pointers:

[code]

 This is probably a CUDA inheritance and has worked well so far with the existing backends; however, passing pointers to SYCL kernels is a big no-no:

In SYCL an equivale

[2019-06-07 07:12] tdd11235813 commented on #690
since it is similar to OpenCL (e.g. abstract cl_mem objects), the missing piece for the cast-accessor-to-pointer-workaround would be the redefinition of the kernel signature on the host side, so we know the types of the pointer we have to cast to on the device side. In OpenCL you do this by `clSetKernelArg` on the host side.

In TaskKernelSycl we actually know the types passed via createTaskKernel

[2019-06-07 07:37] tdd11235813 commented on #690
**Another workaround** could come with function traits, so you do not need the wrapper for the accessor and get the types from the kernel function directly, which also gives you the const/non-constness of the arguments. Not sure, if this would work, never tried to implement function traits.

https://functionalcpp.wordpress.com/2013/08/05/function-traits/
https://stackoverflow.com/questions/3203655

[2019-06-07 07:39] sbastrakov commented on #690
@j-stephan thanks for a detailed explanation. I have a couple of questions regarding your code example. Sorry if they are stupid, I am not familiar with SYCL technicalities.

- does `Kernel` miss a constructor that takes a `cl::sycl::accessor<TElem, 1, cl::sycl::access::mode::read>` by value and copies it to `bufAccA` (I suppose so)?
- are `bufAccA1` and `bufAccA2` of the same data type between ea

[2019-06-07 07:43] sbastrakov commented on #690
@tdd11235813 I believe function traits are probably tricky to use (or even worse) for Alpaka kernels, as their `operator()` are *not* functions, but function templates, as at least the accelerator type is normally a template parameter.

[2019-06-07 08:06] tdd11235813 commented on #690
ok, I thought to instantiate the function template with the type parameter pack we get from the createTaskKernel call. In this cumbersome way you get the const/non-constness and the remaining types from the function traits.

[2019-06-07 08:20] tdd11235813 commented on #690
nvm, function traits will not work cuz of the templates and cuz of the different types with accessors in the createTaskKernel call and the raw pointers in the kernel function :/

[2019-06-07 08:40] sbastrakov commented on #690
That's what I originally thought. However, after some more thinking your point is probably valid and maybe with some wrapping and coding it is possible to get the info we need.

[2019-06-07 08:56] tdd11235813 commented on #690
you mean to combine the two ideas, wrapper for SYCL accessor with type informations and instantiating the function template with the underlying types to construct the function traits?
- `getNativePtr()` returns wrapper in SYCL case (can define pointer arithmetic with the wrapper)
- `createTaskKernel` passes args to TaskKernelSycl and to the entry kernel and on probably host our wrapper types have

[2019-06-07 08:57] sbastrakov commented on #690
@tdd11235813 no, just had an offline discussion with @psychocoderHPC , writing a summary.
Edit: actually we realized that we missed an important detail and so our solution looked easier due to that. Accounting for everything would lead to basically the same as you just described. I will still write our thoughts separately in the next message.

[2019-06-07 09:36] j-stephan commented on #690
@sbastrakov

No, I'm just initializing the struct member directly. But it is a copy-by-value, yes.

That is an oversight on my side, sorry. `bufAccA1` and `bufAccA2` are actually different types. An `accessor` has the following definition:

[code]

`bufAccA1` and `bufAccA2` are different specializations: `bufAccA1` with `access::placeholder::false_t` and `bufAccA2` with `access::placeholder::true_

[2019-06-07 09:58] sbastrakov commented on #690
Just had an offline discussion with @psychocoderHPC about the pointers and SYCL accessors. What we eventually came to is similar to the earlier @tdd11235813's [message](https://github.com/ComputationalRadiationPhysics/alpaka/issues/690#issuecomment-499810687).

We believe it is rather desirable to still (be able to) use raw pointers in kernels that a user writes. That is closer to the CUDA way, an

[2019-06-07 10:00] sbastrakov commented on #690
@j-stephan thanks for the clarifications. I assumed the constructor due to `auto my_kernel = Kernel{bufAccA1};`, but no need for further explanations on that.

Sorry for a wall of text in my previous message. I think this is close to what you and @tdd11235813 described as well, plus just the bookkeeping option. I tried to write in detail so that some non-obvious issues may become more clear.

[2019-06-11 08:16] #561 closed

[2019-06-11 13:04] j-stephan commented on #690
Thanks for the input, I'll give the bookkeeping option a try. FYI: Implicit accessor-to-pointer casting doesn't work, this seems to be an oversight in the SYCL specification (see triSYCL/triSYCL#247). We have a `get_pointer` method in `accessor`'s interface which should do the job, though.

[2019-06-11 18:43] BenjaminW3 commented on #561
Even though it took some time it is now implemented. It can be enabled when using nvcc with `-DALPAKA_CUDA_NVCC_SEPARABLE_COMPILATION=ON`.

[2019-06-17 14:13] kloppstock commented on #756
Hi, sorry to open up an old issue, but setting the C++ version to 14 still doesn't work for me.

I tried setting the ```CMAKE_CXX_STANDARD``` variable and the ```ALPAKA_CXX_STANDARD```, both before and after ```find_alpaka()```, but ```make VERBOSE=1``` still showed the ```-std=c++11``` flag.

A current snapshot of the software can be found [here](https://github.com/ComputationalRadiationPhysics/j

[2019-06-18 07:58] sbastrakov commented on #756
I've just tried to reproduce with the latest alpaka `develop` on hemera. It does not have cmake 3.11.4 that alpaka now requires, changed the requirements to 3.11.3. Adding `-DALPAKA_CXX_STANDARD=14` to the command line seems to work for me.

[2019-06-18 15:04] fwyzard commented on #23
@BenjaminW3 @ax3l is this still an open issue ?

That is, if I understand correctly, it is not possible to launch multiple kernels on the same device from different threads ?

[2019-06-18 16:19] BenjaminW3 commented on #23
@fwyzard I can not say for sure because it is not tested but with some restrictions it should be possible to launch multiple tasks on the same device from different threads.

It should be possible to have one queue per thread and enqueue tasks into those queues in parallel.
However, it should also be possible to share a queue across multiple threads and enqueue tasks into this queue in parallel be

[2019-06-19 09:26] kloppstock commented on #756
Thanks, this solved the issue for me. Additionally, it seemed that somehow my alpaka version was not updated correctly after a git pull, but I could fix this by removing and redownloading the repository.

[2019-06-19 09:27] #756 closed, assigned to nobody

[2019-07-02 12:32] psychocoderHPC commented on #778
@BenjaminW3 I reopened this issue to not forget to add the special queue `QueueOmpCollective`. I extended the description with a checkpoint

[2019-07-03 13:21] j-stephan commented on #690
I'm facing two more obstacles on which I'd appreciate some input :-)

1. In order to do synchronization on the block-level users call `alpaka::block::sync::syncBlockThreads`. Interestingly this is one of the few places where Alpaka doesn't provide the `TDim` template parameter. Unfortunately I need `TDim` for synchronization with SYCL because the equivalent to `__syncthreads` is a member of `cl::s

[2019-07-04 09:56] psychocoderHPC commented on #794
The comment from @BenjaminW3  should be taken into account: https://github.com/ComputationalRadiationPhysics/alpaka/pull/800#discussion_r300050075

[2019-07-05 06:52] #735 closed, assigned to nobody

[2019-07-05 06:52] #794 closed, assigned to nobody

[2019-07-05 07:11] tdd11235813 commented on #794
opened HIP [issue](https://github.com/ROCm-Developer-Tools/HIP/issues/1205).

[2019-07-10 08:59] fwyzard opened #801 "Using write-combined memory for host-device transfers ?"
Hi,
`cudaHostAlloc` and `cudaMallocHost` allow allocating write-combined memory:

Is there an equivalent functionality  in Alpaka or Cupla ?

[2019-07-10 09:00] fwyzard commented on #801
@darcato FYI

[2019-07-10 09:23] psychocoderHPC commented on #801
Currently, we are not supporting the different memory flags for CUDA.
A not so nice workaround is to wrapp it in a factory:

[code]

[2019-07-10 10:03] fwyzard commented on #801
so, we could do something like this with Cupla ?

[code]

?

[2019-07-10 10:49] sbastrakov commented on #801
@fwyzard looks reasonable. Though I do not think the starting `#ifdef` block is correct: we do not define `cudaHostAlloc` in cupla and it is a function in CUDA API.

[2019-07-10 11:00] psychocoderHPC commented on #801
@fwyzard If you like you can extend cupla. cudaHostAlloc must be undefied to have access to native cuda functions and afterward we reintroduce it again.

[code]

[2019-07-15 17:39] BenjaminW3 commented on #778
@psychocoderHPC How is the `QueueOmpCollective` advancing?

[2019-07-15 17:42] psychocoderHPC commented on #778
I am currently analyse a critical bug in PIConGPU which is triggered by pinning memory with cuda/alpaka. I will link the pic issue tomorrow here.
This has currently my absolute priority since it crashes applications.

Am 15. Juli 2019 19:39:26 MESZ schrieb Benjamin Worpitz <notifications@github.com>:

[2019-07-16 06:35] psychocoderHPC commented on #778
@BenjaminW3 https://github.com/ComputationalRadiationPhysics/picongpu/issues/2996 is the current issue. I am currently working on a mini example to reproduce it with plain CUDA that I can report it.

[2019-07-16 10:08] tdd11235813 commented on #690
not sure, if there are news on this yet.
1. if TDim is required and cannot be derived from acc type at this place, then it has to be passed through the layer. Maybe it can be done as optional parameter, so other implementations will not break.
2. I am also unsure. Alpaka does not seem to provide a way to pass such information at kernel launch (just looked at the [example](https://github.com/Comput

[2019-07-16 16:14] tdd11235813 opened #805 "Race-condition and early destruction in non-blocking HIP queues"
A deadlock can happen in the HIP(NVCC) non-blocking queue, where a spawned thread waits for the queue mutex before task-execution, while another one waits for the execution of its stream callback, which occasionally can come after the first callback and yields the deadlock.
This does not happen for HIP(HCC) because the HCC stream is not blocked by callbacks' execution.

It also could happen, that

[2019-07-16 17:39] j-stephan commented on #690
AFAIK this would still break the API. Default template parameters still need empty brackets:

[code]

Unfortunately I need `TDim` as a compile-time parameter, passing it by value to the constructor won't work.

[2019-07-17 13:55] j-stephan commented on #690
The problem with block synchronization is solved. Surprisingly it was sufficient to pass `TDim` as template parameter to `BlockSyncSycl`, this worked for the SYCL case and didn't break anything else.

The problem with static shared memory still persists. Right now the only way seems to be pre-allocation of shared memory and then handing out pointers as needed. I'll get in touch with SYCL spec. com

[2019-07-17 14:34] tdd11235813 commented on #690
thanks for the wrap-up. Just want to add that we also discussed about the options we might have on the Alpaka side in the long term. Changing the raw-pointer interface in Alpaka in favor of buffer types would allow more expressive types and helps with such issues we have in SYCL.

Regarding the static shared memory within kernel, it seems it simply does not exist in SYCL. @j-stephan also thought a

[2019-07-20 09:48] j-stephan commented on #690
I'm in favor of this. :-) In the meantime I have submitted an issue about raw pointers to the SYCL specification repository, please see the discussion there: KhronosGroup/SYCL-Docs#21

I'm still not sure why, we might get an answer here: KhronosGroup/SYCL-Docs#20

@DuncanMcBain from Codeplay informed me that this will likely not work on non-CPU devices, so basically everything we care about (with

[2019-07-20 11:04] j-stephan commented on #690
By the way, both CUDA and SYCL support half-precision floating point operations. Do we support a `half` type in Alpaka, too? I couldn't find any reference to a half type using the GitHub search for this repository.

[2019-07-29 17:07] ax3l commented on #572
Problem continues to exist with CUDA 10.1.168 on Summit with GCC 6.4.0

[2019-07-29 19:47] ax3l commented on #778
btw, reading the edited PR description:

`delete master branch. It is practically impossible ...` -> oh no, just do: `git merge --strategy-option=theirs dev` to accept the PR on the command line ;)
https://stackoverflow.com/questions/173919/is-there-a-theirs-version-of-git-merge-s-ours

[2019-07-31 13:34] ax3l commented on #459
The `>>>` issue with tokenizing CUDA vs. template code in clang is now fixed (potentially in clang 9+?):
https://bugs.llvm.org/show_bug.cgi?id=37013
https://reviews.llvm.org/D61396

[2019-08-01 15:15] jkelling opened #811 "noexcept Werror with gcc 9.1.0"
GCC 9.1.0 warns about missing noexcept annotations in some places in the current develop.

Here is one output with two places:
[code]

Putting noexcept there would fix this.

EventCpuImpl(...) constructs m_dev(dev) the defaulted copy constructor of dev::DevCpu (and a mutex and size_t which are noexcept). The warning thus implies that default copy constructors are always noexcept. I am not sure if

[2019-08-01 15:20] BenjaminW3 commented on #811
We should probably fix this by adding the `noexcept` attributes. However, this should be accompanied by adding gcc-9 to the CI.

[2019-08-01 15:51] jkelling commented on #811
Created PR https://github.com/ComputationalRadiationPhysics/alpaka/pull/812 . Can you please add the CI changes?

[2019-08-02 09:41] sbastrakov commented on #811
@jkelling yes, the default constructors and copy constructors are automatically non-throwing unless there is a potentially throwing corresponding constructor of a member of a base class. I think this has nothing to do with C++11, but with a non-throwing vs. potentially throwing bisection, which existed even before.

[2019-08-05 19:22] BenjaminW3 commented on #811
gcc-9 will be added with #813

[2019-08-06 11:51] jkelling opened #815 "build dir leaked into includepath for target atomic"
When rebuilding the target `atomic` (`~alpaka/test/unit/atomic`) the `#include <atomic>` finds the previously build binary `atomic` instead of the STL header. Apparently the build dir or `./` was inserted into the include paths. It should be removed.

I did not find where is happens. It does not seem to be in the `CMakeLists.txt` of this test, so the problem is probably not confined to it, this is

[2019-08-06 15:15] BenjaminW3 commented on #815
Where did you place the build folder and how did you call it?

[2019-08-06 15:16] #811 closed, assigned to nobody

[2019-08-06 15:18] BenjaminW3 opened #817 "gcc-9 does not work with ALPAKA_ACC_CPU_BT_OMP4_ENABLE in CI"
The current gcc-9 target uses `ALPAKA_ACC_CPU_BT_OMP4_ENABLE=OFF` in CI due to:
[code]

[2019-08-06 17:50] jkelling commented on #815
I placed the build dir in the alpaka checkout and ran `cmake ..` from inside it.

[2019-08-07 14:07] j-stephan commented on #690
@tdd11235813 and I just had a discussion about the support for different SYCL devices. Right now all Alpaka platforms are tied to specific device types (CUDA -> GPU, HIP -> GPU, OpenMP -> CPU, and so on). SYCL supports different device types and the user will probably want to choose his preferred device with Alpaka. Right now there is no mechanism to do this in Alpaka. I thought about using a `sta

[2019-08-08 13:51] psychocoderHPC commented on #690
Currently, we have no alpaka provided half-precision type. With half precision in CUDA you have also the problem that there are no overloaded operators for `half` available.

[2019-08-08 17:56] #805 closed, assigned to tdd11235813

[2019-08-12 07:14] sbastrakov commented on #815
@jkelling what you pointed out looks like an issue.
However, I think alpaka only works well with out-of-source builds anyways, as otherwise there are (or at least have been in the past) issues with tests.

[2019-08-13 07:52] psychocoderHPC opened #820 "collective OpenMP queue"
In #783 a workflow is described to use user spawned parallel regions to share the workload between different threads.

example how it can look like
[code]

[2019-08-13 07:55] psychocoderHPC commented on #820
I have implemented it already in alpaka https://github.com/psychocoderHPC/alpaka/tree/topic-collectiveOmpQueue2 but I am not happy with the highly specific queue.
There are many open questions e.g.
- How should we handle non kernel tasks? In my current prototype I use `#pragma omp single nowait` for that but maybe the user like to handle it different.
- How should an event be handled? Currently, I

[2019-08-13 08:01] psychocoderHPC commented on #820
We designed alpaka that it can be extended at any time from the user code. We broke this a little bit inside of the CPU device implementation. This avoids that the user can build inside of there own code a collective queue.
I think it is not as hard to fix it and allow the user to implement the queue so there will be no need to introduce a specialized queue.

[2019-08-14 18:53] jkelling commented on #815
This can also be reproduced with a build directory outside of the project dir. The key appears to be disabling the CUDA Backend.

### reproduction
[code]
### result
During the second `make` the compiler find and includes the binary `atomic`.

[2019-08-15 06:55] BenjaminW3 commented on #820
I had a look at your implementation and was not yet sure if I understand the reasoning behind some design decisions.

What is the expected result if I have `N` OpenMP threads? From reading the code one would think that the N threads each create a kernel function object `kernel`, create a corresponding kernel execution task and then enqueue those tasks which will execute them. So from reading the c

[2019-08-15 08:27] psychocoderHPC commented on #820
@BenjaminW3 The kernel tasks should be performed collective/cooperative so `#pragma single` avoid it.

I am currently cleaning up my code to allow that such a special queue can be defined in the user code. There are many open questions e.g. who takes care if a memcpy performed in one of the thread is not overlapping a kernel execution. You can always call `ompbarrier`  but this will influence the

[2019-08-15 08:40] sbastrakov commented on #820
@BenjaminW3 I also do not understand your code example. Having the kernel call inside `#pragma omp single` already is a show-stopper for having a collectively executed kernel.

To add up a little bit, I see the idea behind this new collective queue as follows. Using an OpenMP analogy, the difference between this one and the other OpenMP queues is the same as in `#pragma omp for` inside a parallel

[2019-08-15 09:49] BenjaminW3 commented on #820
Yes, my example from above will not work but I wanted make it clear that from reading the code from the topmost example you will expect the kernel will be applied to the workdiv `N` times and not only once. It is absolutely possible to implement something like this, but my problem is that it totally obfuscates what the code really is doing. I would prefer if it would be more visible at the call-si

[2019-08-17 08:02] ax3l commented on #690
Good point. That's also something a potential OpenMP 4.5/5.0 offloading (target) backend would need to know (afaik, that's usually a [compiler flag](https://www.openmp.org/wp-content/uploads/SC17-OpenMPBooth_jlarkin.pdf) for OpenMP offloading targets).

[2019-08-17 09:00] fwyzard commented on #690
Intel is working on a proposal to add pointers to OpenCL and SYCL, with support for unified addressing and unified memory: [usm.adoc](https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/usm/usm.adoc).

[2019-08-18 18:26] BenjaminW3 commented on #778
Now that we are nearly done with the release I would like to propose something for the next version (probably 0.5.0):
* raise the minimum requirement to c++14 (std::integer_sequence, auto return type deduction, ...)
  * drop gcc 4.9 (misses some c++14 features)
  * drop CUDA 8.0 (no official c++14 support)
  * finally drop support for ubuntu 14.04 (already end of life)
  * set boost-1.65.1 as mini

[2019-08-19 00:47] ax3l commented on #778
I fully support this and am not aware of HPC systems in our daily use that do not have C++14 support by now (aka: have a new-enough NVCC...). PIConGPU can be transitioned to C++14 and newer as well with the next release.

[2019-08-19 00:51] ax3l commented on #778
I fully support this and am not aware of HPC systems in our daily use that do not have C++14 support by now (aka: have a new-enough NVCC...). PIConGPU can be transitioned to C++14 and newer as well with the next release.
Your suggested drops sound reasonable to me.

Any objections from DLR (@q-p, @krzikalla et al.) or CMS (@fwyzard et al.)?

[2019-08-19 09:02] fwyzard commented on #778
Thanks for checking: CMS is already using nvcc from CUDA 10.1 in c++14 mode.

[2019-08-19 09:16] sbastrakov commented on #778
Looks reasonable to me as well.

[2019-08-19 10:52] psychocoderHPC commented on #778
I also agree with going to C++14 for the 0.5.0 release.

[2019-08-19 13:02] holke opened #823 "Allow datatypes with alignment > core::vectorization::defaultAlignment"
For our linear algebra library we are using alpaka together with the SIMD vectorization library [Vc](https://github.com/VcDevel/Vc) and in order to efficiently implement multiscalars we use the datatype Vc::SimdArray. This datatype models a constant number of doubles (like a constant array) together with SIMD support for elementwise operations.
The alignment of Vc::SimdArray may be larger than 64

[2019-08-19 13:17] sbastrakov commented on #823
@holke thanks for reporting here.
We have discussed offline with @psychocoderHPC that the suggestion looks reasonable.

[2019-08-19 15:53] BenjaminW3 commented on #823
I will take a look at this.

For static block shared memory allocation (`allocVar`) this should be no problem.

However, for dynamically allocated block shared memory this is not so easy. In this case we do not know the type before allocating the buffer. We only cast the pointer to the specific type afterwards. [See here](https://github.com/ComputationalRadiationPhysics/alpaka/blob/develop/include

[2019-08-19 17:20] BenjaminW3 commented on #823
Do you need a solution for dynamically allocated block shared memory as well? We could simply waste some memory and overalign the memory to e.g. 256 bytes in this case.

[2019-08-19 17:26] ax3l commented on #778
Excellent, @SimeonEhrig just confirmed Cling will also migrate to a > CUDA 8 code base via an LLVM/Clang upgrade end of the year.

[2019-08-20 13:11] BenjaminW3 commented on #823
@holke Could you please have a look at #824 and tell me if it solves your issue?

[2019-08-20 13:36] holke commented on #823
Yes it solves my issue. Thank you.
Currently we do not have issues with the dynamically allocated memory.
Thanks for the quick replies.

[2019-08-20 17:32] #823 closed, assigned to nobody

[2019-08-21 15:31] psychocoderHPC opened #826 "CUDA no extended lambda under windows enabled"
We are currently not enabling extended lambda support for CUDA under windows `--expt-extended-lambda`
Therefore #822 is not passing the CI https://travis-ci.org/ComputationalRadiationPhysics/alpaka/jobs/574760423#L3854

[2019-08-21 17:27] BenjaminW3 commented on #826
The build you linked fails because it tests the support for explicitly setting `ALPAKA_CUDA_NVCC_EXPT_EXTENDED_LAMBDA=OFF`.
alpaka does not yet enforce enabling `--expt-extended-lambda`.

The two windows builds seem to have this enabled but fail with `CollectiveQueue.cpp(57): error : On Windows, the enclosing parent function ("____C_A_T_C_H____T_E_S_T____0") for an extended __host__ __device__ lam

[2019-08-21 17:41] BenjaminW3 commented on #826
As a fast workaround for your PR to get 0.4.0 out of the door, you could simply use a `struct` instead of the lambda.

[2019-08-22 08:19] psychocoderHPC commented on #826
Yes I also thought to switch to a struct to be independent of possible other PRs.

[2019-08-22 19:20] BenjaminW3 opened #827 "Move IsBlockingQueue from test to real alpaka"

[2019-08-22 19:22] BenjaminW3 commented on #826
Do you really want to do something here? As described the first "issue" is by-design and the windows linkage issue was a problem in the user code.

[2019-08-22 19:44] BenjaminW3 commented on #820
@psychocoderHPC Can this be closed now?

[2019-08-22 19:47] BenjaminW3 commented on #750
Just add a comment to the constructor ;-)
E.g. `//! \param bBusyWaiting Unused. EventCpu never does busy waiting.`

[2019-08-23 01:04] ax3l commented on #750
You can furthermore print a warning at runtime for the poor user calling this with `bBusyWaiting=true`.

[2019-08-23 13:06] BenjaminW3 commented on #778
Are there any topics left for the 0.4.0 release except the CMake 3.15 support?

[2019-08-29 11:30] BenjaminW3 opened #833 "Windows CUDA installation fails very often in CI"
I am currently trying to get the builds of open PRs green by rebuilding the failing jobs.
However, something seems to have changed on the build hosts and the CUDA installation on Windows runs into the 10 min no output timeout of travis. I will try to fix this.

[2019-08-29 19:18] #750 closed, assigned to nobody

[2019-08-29 19:22] BenjaminW3 commented on #833
I wanted to be a nice guy and clean up after installing but the line `rm -f cuda_installer.exe` now takes very long on the travis windows hosts. I have seen runs where this single line took 25 minutes!
They possibly changed something file-system related and now it is very slow. We will probably never find out. I will simply comment out this line for now.

[2019-08-30 11:01] #833 closed, assigned to BenjaminW3

[2019-09-06 07:20] jkelling commented on #817
This is actually not a problem with the alpaka OpenMP4 backend, but with the CI setup: Either the gcc was not compiled with the nvptx backend enabled, or the environment is not configured correctly to find the backend.

[2019-09-10 15:10] tdd11235813 opened #836 "cudaErrorIllegalInstruction in nvstd part in test/kernel"
- kernel test fails on Nvidia GPUs (on taurusa1 (V100, GV100, P100) and on GTX1080Ti node)
  - tested with: CUDA 10.0.130, CUDA 9.2.88; gcc7.3.0, gcc6.4.0; Boost1.66.0; different `ALPAKA_CUDA_ARCH`s
- when nvstdFunctionKernelIsWorking (KernelStdFunction.cpp) is commented, then tests pass

[code]

[2019-09-11 13:00] krzikalla opened #838 "Compiler errors and warnings"
CUDA V10.1.105
gcc 7.3.0
alpaka-0.3.5

Compiled with --std=c++14.
I got lot of errors despite your table states, that the gcc/nvcc combination is running.
In alpaka-0.3.5/include/alpaka/core/ConcurrentExecPool.hpp there is the line

`auto currentTaskPackage(std::shared_ptr<ITaskPkg>{nullptr});`

at various places. Apparently at least one compiler deduces currentTaskPackage as a constexpr.
I could

[2019-09-11 13:12] sbastrakov commented on #838
@krzikalla thanks for your report!
I am slightly confused by the configuration since alpaka 0.3.5 did not claim support for CUDA 10, and gcc 7.3 was not at the table for that release. This is not to say these defects are definitely not present at the current `develop`.

Edit: now I see at #765 that this configuration was actually working before. Thanks for referencing that issue here!

[2019-09-12 11:19] sbastrakov commented on #838
@krzikalla so far I did not manage to reproduce the issues when building the alpaka examples. Can you please specify which alpaka backends were enabled in your failing build?

[2019-09-12 11:31] psychocoderHPC commented on #826
I will close this PR. As suggested I used a struct instead of a lambda function.

[2019-09-12 11:31] #826 closed, assigned to nobody

[2019-09-12 12:11] krzikalla commented on #838
ALPAKA_ACC_CPU_B_OMP2_T_SEQ_ENABLED
ALPAKA_ACC_CPU_B_SEQ_T_OMP2_ENABLED
ALPAKA_ACC_GPU_CUDA_ENABLED

are defined.

[2019-09-12 12:14] krzikalla commented on #838
The offending lines are still there, however slightly changed:

auto currentTaskPackage = std::shared_ptr<ITaskPkg>{nullptr};

currentTaskPackage was deduced as a constexpr before that change.

[2019-09-12 12:40] krzikalla commented on #838
The following code is a minimal example;

[code]

Compile with nvcc -std=c++14 -x=cu (the -x=cu is important, I dunno, what it does).
Swap the comment and things work. Might be a cuda compiler error.

[2019-09-12 12:53] BenjaminW3 commented on #838
I changed those lines for the upcoming alpaka-0.4.0 release as well in #780 which added support for CUDA 10.1. The nvcc compiler from CUDA 10.1 seems to behave differently than the one from 10.0.
We will hopefully release alpaka-0.4.0 soon so that we have a stable supported release with this fix.

[2019-09-12 16:09] BenjaminW3 commented on #836
As I can not reproduce this at the moment and "it worked for me"™️ on my consumer GPU with CUDA 9.0 on windows I would simply disable the test for now. Any objections?

[2019-09-12 17:09] tdd11235813 commented on #836
maybe this is only working on Windows. Also repeated test on hemera/K80 with CUDA9.0 with almost the same error (`cudaErrorIllegalAddress`).
I could reproduce it yet on another system (linux+RTX2070, CUDA 10.1.243) and it is almost the same, just that there is a `cudaErrorIllegalAddress` error:
[code]
We really need our own CI system to perform runtime tests (@SimeonEhrig is working on that when t

[2019-09-13 08:52] SimeonEhrig commented on #836
@psychocoderHPC
We should try to connect the Alpaka Repo to our GitLab CI nodes next week.

[2019-09-13 08:59] BenjaminW3 commented on #820
@psychocoderHPC Have you seen my question above?

[2019-09-13 09:42] psychocoderHPC commented on #820
I agree that the concepts of the queue are not clearly visible in the code. Therefore #822 moved the implementation of this highly special queue to the user.

I do not see any problems that each thread is creating the kernel object. A collective creation would be much slower because it requires some kind of synchronization or communication between the threads. Since the calls will be mostly from O

[2019-09-13 09:43] psychocoderHPC commented on #820
I will close this issue since the needed queue implemented in #822 and can be used and adjusted by the user.

[2019-09-13 09:43] #820 closed, assigned to psychocoderHPC

[2019-09-15 07:05] BenjaminW3 commented on #817
Yes, it is not at all a problem of alpaka. It is a problem in CI. We are uing a stock gcc-9 without any modifications. The same setup works with older gcc versions. Therefore, it is probably a miconfiguration of the gcc that is distributed.

[2019-09-16 08:36] #836 closed, assigned to nobody

[2019-09-16 16:48] tdd11235813 opened #840 "gcc address sanitizer stack-use-after-scope, from a static_cast"
- this is a request from DLR Braunschweig to fix the gcc address sanitizer issue, the code position of interest:

https://github.com/ComputationalRadiationPhysics/alpaka/blob/ed8fe79cdb16ebda32b0183c25188402e784e993/include/alpaka/kernel/TaskKernelCpuOmp2Blocks.hpp#L203-L209

- reproduced error with alpaka 0.3.5 and dev & gcc7.3.0 and gcc7.4.1 on a standalone alpaka helloworldkernel (`g++ -o test.

[2019-09-17 06:43] BenjaminW3 commented on #840
This really looks like a false positive. We have ASan builds with clang and they do not show this issue.
The change is also purely a refactoring.
I would prefer the following solution with `auto const`:
[code]
Is the separation into 3 lines necessary? Would 2 of the 3 lines be enough (merging 1+2 or 2+3)?

[2019-09-17 12:38] tdd11235813 commented on #840
All three lines are necessary. If you merge parts, then error occurs again.
Just checked that there are probably more candidates in Alpaka, like in `TaskKernelCpuTbbBlocks.hpp:146`. Could not test it at the moment. #841 currently would close this issue, maybe we should keep it open then?

[2019-09-19 14:53] #840 closed, assigned to nobody

[2019-09-19 14:58] BenjaminW3 commented on #778
@psychocoderHPC @tdd11235813 @sbastrakov Now again all open issues for the 0.4.0 release are solved. Do you want to add anything else or do a test with PIConGPU? Else I would like to tag the release.

[2019-09-19 15:01] sbastrakov commented on #778
@BenjaminW3 yes, let me test the current alpaka `dev` with PIConGPU. Edit: I do not expect issues, but to be sure.

[2019-09-19 16:34] sbastrakov commented on #778
I've started with the tests, will continue tomorrow. cupla needs to be updated a little (for now I did it locally). Otherwise did not encounter issues so far, but did not test CPU yet, as Hemera is fully occupied rn.

[2019-09-20 09:07] psychocoderHPC commented on #778
besides the tests we have two additional tasks todo:
- ~~check that `cudaRtCheck` always reset the CUDA error, else it is not possible to catch the alpaka exceptions in the user code (I will check it and if necessary fix it, today)  #844~~
- ~~write documentation which renamings are needed to go from 0.3.X to 0.4.0~~

update: cross already existing feature

[2019-09-20 09:10] BenjaminW3 commented on #778
The necessary renaming are already part of the release documentation.

[2019-09-20 09:13] psychocoderHPC commented on #778
THx @sbastrakov also mentioned it. It is not obvious^^ and only visible for maintainer but ok for now

[2019-09-20 13:26] psychocoderHPC opened #842 "Lots of warnings with 0.4.0."
@krzikalla reported hundreds of warnings like this one:

[code]

Applies to device and host annotations.

Used cuda compiler flags
[code]

I moved the cupla issue https://github.com/ComputationalRadiationPhysics/cupla/issues/119 to alpaka because @krzikalla opened the issue in the wrong repo.

[2019-09-20 13:27] psychocoderHPC commented on #842
We need to remove the warning somehow else the compile suite from DLR will not pass :-(

[2019-09-20 13:28] psychocoderHPC commented on #778
I extended the list in the initial post. Some users (DLR) require that it is possible to compile without warnings: #842

[2019-09-20 13:35] sbastrakov commented on #778
My tests with PIConGPU passed, as expected.

[2019-09-20 13:45] sbastrakov commented on #842
It looks like Kokkos also [encountered](https://github.com/kokkos/kokkos/issues/1473) this issue and they believe it is a compiler deficiency and so just silence it with a flag.

Edit: for them, it was some time ago, it needs to be checked if nvcc is actually doing the right thing now and we should actually fix the code.

[2019-09-20 13:47] krzikalla opened #843 "On 0.4.0 arrays can't be passed to kernels"
Something like this:

[code]

doesn't work in 0.4.0 anymore, since data is converted to a const pointer (actually std::ref creates a std::reference_wrapper<const double[4]>).

[2019-09-20 13:57] krzikalla commented on #842
Thank you for the pointer. This

`-Xcudafe --diag_suppress=esa_on_defaulted_function_ignored
`
saved my day.

[2019-09-20 13:58] sbastrakov commented on #843
@krzikalla to clarify, does your kernel take this array by reference, as `double (&data)[4]` ?

[2019-09-20 14:07] sbastrakov commented on #842
So this suppresses the warning output. As I understood that Kokkos thread linked above, the thing is that default compiler-generated constructors and other special methods are actually different implementations for host and device (which makes sense), and so theoretically the correct way is to not annotate them with host and device qualifiers. However, in reality this way did not work with nvcc ba

[2019-09-20 14:10] krzikalla commented on #843
As pointer template like this:

[code]

Worked with 0.3.5, with 0.4.0 `T` becomes a `const double `.

[2019-09-20 14:17] sbastrakov commented on #843
Ah, sorry, I first thought the issue is with array decaying to pointers, not with `const` being incorrectly deduced. Thanks for explaining further.

[2019-09-20 14:31] psychocoderHPC commented on #843
I updated the hello world:

[code]

The error is:

[code]

[2019-09-20 16:01] sbastrakov commented on #843
Just as thinking out loud, since kernel arguments are logically kind of passed by value, we might want to use (at an appropriate place) `std::decay` that cppreference [describes](https://en.cppreference.com/w/cpp/types/decay) as `These conversions model the type conversion applied to all function arguments when passed by value.`

[2019-09-23 12:19] krzikalla commented on #765
I couldn't resolve it in Alpaka 0.4.0 using just the small patch. Thus, for now I have to give up migrating to 0.4.0 since the other options don't work for us.

[2019-09-25 09:24] jkrude opened #849 "Unify the Hip/Cuda backend"
Most **backend api-calls are really similar** and produce a rather great amount of code duplication.
For example all the `include/math` traits or `BufCudaRt/BufHipRt`. The code is equal except for some calls for example `cudaMalloc` is called instead of `hipMalloc`.
This is in fact so similar that a macro could be used to unify those code-duplications.
`cudaMalloc` is subsequently **replaced by a

[2019-09-25 13:30] BenjaminW3 commented on #849
This is exactly what I said when the HIP code was added. All this duplication should be removed ;-)

[2019-09-25 16:22] tdd11235813 commented on #849
yes, we asked @jkrude to help us with that, and there is hope, that the new hip-clang will behave even more like cuda. The former host-device restrictions by HCC/C++AMP are discussed [here](https://github.com/ROCm-Developer-Tools/HIP/issues/659#issuecomment-532744865). AMD is aware of that.
You can take CUDA backend code as base (wrt host-device annotations) for now.
So we should also replace all

[2019-09-26 12:40] psychocoderHPC opened #850 "Race condition in CUDA blocking queue"
@krzikalla provided me with a test case where we have dataraces between a synchronous memcopy and a kernel.

The problem is that we create the streams with `cudaStreamCreateWithFlags(..., cudaStreamNonBlocking)`. The [cuda documentation ](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__STREAM.html) that `cudaStreamNonBlocking` disable the blocking behavior to the default stream `0`. I

[2019-09-28 08:52] BenjaminW3 commented on #850
This is somehow related to #768, #783 and #791 where we added support for using CPU queues from multiple host threads.
This was not supposed to work in the 3.x release line and so I would not port back this fix. It also does not work for CPU queues there. Porting back everything needed to make this feature work in the old releases would be a huge amount of work which I would not want anyone to was

[2019-09-28 09:06] BenjaminW3 commented on #850
What we implemented for the blocking CPU queue is the usage of a `std::mutex` that is locked. This results in only one task of multiple concurring host threads trying to execute something is ever executing at a specific time, while all host threads are blocked waiting. However the order in which the waiting tasks are executed is not specified (nobody guarantees first come - first serve). If you re

[2019-09-28 09:36] BenjaminW3 commented on #850
The blocking GPU queue does not even achieve this "only one task in the queue is executed at any time" property when called from multiple threads as this was no requirement up until now. If you enqueued two memcpys from two host threads they are executed in parallel. Also the `currentThreadWaitFor` and `empty` functions on a blocking GPU queue do not work as expected when called from a different h

[2019-09-28 10:10] BenjaminW3 commented on #850
To fix the issue that `currentThreadWaitFor` and `empty` do not work we have to **use the asynchronous CUDA memory operations together with `cudaStreamSynchronize`**.

There would still be an issue that multiple tasks that are enqueued in parrallel into a blocking GPU queue may overlap their calls to `cudaXxxAsync` and `cudaStreamSynchronize` leading to
[code]
being received by the CUDA queue. Thi

[2019-09-28 12:05] psychocoderHPC commented on #850
Maybe I understood you wrong but we need to fix it on 0.3.5. The example shows that we enqueue the kernel and memcpy into a stream but since we ignore the stream in the implementation for enqueu in the blocking queue wo got the data race.
A simple fix for 0.3.5 is to use cudaStreamCreate without any flags than all works.

For 0.4.0 O will provide a fix on monday. To have the same behaviour on CPU

[2019-09-28 12:40] BenjaminW3 commented on #850
You can do this, but as you already wrote above this will have an undesired side effect that could also be classified as a bug. This will fix a bug for some people but introduce a bug for others.

Where exactly is the bug that you described? In your example you only have one stream and only one host CPU thread. In an abstract way what I see is the following order of tasks called on an StreamCudaRt

[2019-09-28 13:43] psychocoderHPC commented on #850
You missed that cudaMemcpy is not using any stream and is therefore enqueded in the cuda default stream instead of the user requested stream/queue. Because of that the memcpy is performed parallel/asynchronous to the kernel.
Normally cudaMemcpy is blocking all streams and is not started by the cuda driver before the work in all other streams is performed. But since we created our cuda streams we u

[2019-09-28 13:44] psychocoderHPC commented on #850
I looked again to my cuda example above and realised that I copied the version where I used cudaMemcpyAsyn instead of cudaMemcpy. Maybe you are  therefore can not see the issue. sry for that. I will fix it in a few seconds

[2019-09-28 13:50] psychocoderHPC commented on #850
mhhhh now I also confused. Normally cudaMemcpy must block the executor thread until the memcpy finished. It looks like it is not the case. I will have a look on this issue on Monday again.

[2019-09-28 14:08] BenjaminW3 commented on #850
This is exactly what I am wondering as well. My understanding was that `cudaMemcpy` blocks the calling host CPU thread.

[2019-09-30 08:13] krzikalla commented on #850
Maybe alpaka calls `cudaMemcpyPeer`?
IIRC the native cuda code in the above example works while the alpaka code doesn't. The actual design flaw is ignoring the stream for alpaka::mem::view::copy. Maybe the correct solution for 0.4.0 is to use cudaMemcpyAsync. It is a bug nevertheless.
BTW we don't bother about a backport in 0.3.5.

[2019-09-30 08:19] sbastrakov commented on #850
@krzikalla no, in that code snippet both CUDA and alpaka do not work due to race condition (so sometimes it might run fine, but not guaranteed). And they should not because of `cudaMemcpy` in the default stream not synchronizing with other streams created with `cudaStreamNonBlocking`. It is supposed to not synchronize, which was not clear to us before. So as suggested above, we could either use de

[2019-09-30 09:44] psychocoderHPC opened #851 "cudaMemset is not blocking"
Related to issue #850 the [cuda documentation for cudaMemset](https://docs.nvidia.com/cuda/cuda-runtime-api/api-sync-behavior.html#api-sync-behavior__memcpy-sync) is saying

[code]

This means calling `cudaMemset` to NON pinned or managed memory and directly after call a kernel which works with the date within another stream (unrelated if we created the stream with `cudaStreamNonBlocking`) we will

[2019-09-30 11:07] BenjaminW3 commented on #851
Ok, that explains it.
May this issue be related to https://github.com/ComputationalRadiationPhysics/alpaka/issues/504 ?

[2019-09-30 11:52] psychocoderHPC commented on #851
Yes, this could be the reason. @sbastrakov and me currently trace the driver behaviors and check the cuda documentations and block posts. It looks like the behavior is expected but badly explained in the docs.

[2019-09-30 12:20] sbastrakov commented on #851
Yes, so the quoted sentence is remarkably poorly phrased in my opinion. And I think @psychocoderHPC you also got it wrong (edit: now that message is fixed, thanks!). How I understand it is that `cudaMemset` is synchronous only when applied to pinned host memory or unified memory region. So your example use case is actually safe in that regard, but this is the only safe scenario.

[2019-09-30 12:36] krzikalla commented on #838
FYI: I could suppress the warning

`warning: calling a __host__ function("std::__shared_count<( ::__gnu_cxx::_Lock_policy)2> ::__shared_count") from a __host__ __device__ function("alpaka::dev::DevCpu::DevCpu") is not allowed
`

with the command line option `-Xcudafe --diag_suppress=2912`.

[2019-09-30 12:36] psychocoderHPC commented on #838
The number of this warning can be shown with `-Xcudafe --display_error_number`

[2019-09-30 14:33] sbastrakov opened #855 "Math functions are not ADL-friendly"
The implementation uses hardcoded functions from `std` in situations like [this](https://github.com/ComputationalRadiationPhysics/alpaka/blob/f3d363bc581e378a4ef6440ec423c7575066b556/include/alpaka/math/exp/ExpStdLib.hpp#L49). It is done consistently for all math functions, I will use `exp` as an example.

This way is not friendly for ADL in case the argument is a user-defined type with `std::is_a

[2019-09-30 14:46] sbastrakov commented on #855
Add-up: my toy implementation to support ADL is as follows, [similar to this SO answer](https://stackoverflow.com/questions/50456521/using-namespace-inside-decltype/50456610#50456610).
In `math/exp/ExpStdLib.hpp` line 30 insert this:
[code]
and then the `exp()` definition below becomes
[code]

[2019-09-30 15:16] psychocoderHPC commented on #855
I think we should wait until we switch to C++14 else the codebase will explode.

[2019-09-30 15:20] sbastrakov commented on #855
Offline discussion with @psychocoderHPC : yes, so before C++14 my suggestion would bloat the code base of math implementations. In case we use automatic return type deduction, it gets better and my proxy function is not needed. However, there would be still a problem with `exp()` name hiding. We should probably make `Exp` to be a functor instead so that there is `operator()` and no name collisions

[2019-09-30 16:07] BenjaminW3 commented on #855
We could really think about using `operator()` for all the trait classes instead of a named function.
While doing this, we should probably do it consistently across the whole codebase.

[2019-10-01 08:40] juckel opened #856 "Link to GTC 2016 Talk in Readme.md broken"
The first Link for introduction material Introduction is broken:
"For a quick introduction, feel free to playback the recording of our presentation at GTC 2016:" links to http://mygtc.gputechconf.com/quicklink/858sI36 which requires a login.
I recommend just uploading the slides in ROBIS and linking to them there.

[2019-10-01 16:46] ax3l commented on #856
Urgh, their homepage only includes the 2017+ recordings these days!

@psychocoderHPC I think it's best if you do that as shared first-author of that talk.

Please do not only add the slides but also a copy of the video recording of the talk. If you do not have its copy anymore, I can search for it on my other laptop. Should be there somewhere... Or on team->presentations...

[2019-10-01 20:08] juckel commented on #856
The video link still works, but I was unable to guess the URL of the slides PDF.

[2019-10-01 21:44] ax3l commented on #856
Ah, cool. So let's backup that one as well in the process to rodare :)

[2019-10-02 05:01] psychocoderHPC commented on #856
I can have a look I think somewhere I have the slides. I do not think that I can upload a copy of the video because of copy right issues.

[2019-10-02 23:23] ax3l commented on #856
Not sure they really had exclusive copyright, especially for us as authors. But might have implications, sure. Either way, at least backup the video into the team directory alongside your talk slides for future recovery :)

[2019-10-14 08:39] SimeonEhrig opened #858 "Precompiled Header Support"
Precompiled headers can reduce compilation time. It works like object files for cpp files. In special cases, templates should be accelerated because a compiled version of the generic template is stored in the precompiled header. Theoretically, it should reduce compilation time. Practically, I'm not sure, so someone has to test it.

CMake [3.16](https://cmake.org/cmake/help/v3.16/release/3.16.html)

[2019-10-14 09:43] sbastrakov commented on #858
An earlier investigation of precompiled headers for alpaka: #383

[2019-10-14 17:33] BenjaminW3 commented on #850
What is the plan for this issue for the 0.4.0 release?

[2019-10-14 20:55] psychocoderHPC commented on #850
My plan is to switch fully to the async api to have the same behavior for all backends.
I will work on that this week.

[2019-10-15 12:39] waredjeb opened #859 "cudaErrorNoKernelImageForDevice"
Hello,
I'm trying to port a simple code for GPU-CUDARt. There is a simple matrix multiplication using the `Eigen` library. Well, I can compile but I got the following error during the execution: `terminate called after throwing an instance of 'std::runtime_error'
  what():  /data/user/wredjeb/cupla/alpaka/include/alpaka/mem/buf/cuda/Copy.hpp(861) 'cudaSetDevice( iDstDev)' A previous CUDA call (not

[2019-10-15 12:45] sbastrakov commented on #859
@waredjeb thanks for your report. Not sure if relevant to the issue, but just in case can you please provide the OS, compiler, cuda version, and CMake options used for alpaka?
Edit: using the `develop` branch is correct.

[2019-10-15 12:52] waredjeb commented on #859
@sbastrakov thanks for the quick reply.
I'm on CentOS 7.6, cuda10.1. Actually I'm not using CMake but I'm compiling with `nvcc` and `gcc`, `gcc` version 8.3.1

[2019-10-15 12:56] waredjeb commented on #859
@sbastrakov thanks for the quick reply.
I'm on CentOS 7.6, cuda10.1. Actually I'm compiling with `nvcc` and `gcc`, `gcc` version 8.3.1.
Compilation flags:
` CXXFLAGS="-m64 -std=c++14 -g -O2 -DALPAKA_DEBUG=0 -I$CUDA_ROOT/include -I$ALPAKA_ROOT/include`
`HOST_FLAGS="-fopenmp -pthread -fPIC -ftemplate-depth-512 -Wall -Wextra -Wno-unknown-pragmas -Wno-unused-parameter -Wno-unused-local-typedefs -Wno-a

[2019-10-15 14:51] sbastrakov commented on #859
I am not sure this way enables the CUDA backend of alpaka. We would normally enable it via cmake configuration. If this is indeed the issue (which I am not sure about), including `<alpaka/standalone/GpuCudaRt.hpp>` before other alpaka includes might help.

cc @psychocoderHPC @BenjaminW3 you probably have a better idea than I do.

[2019-10-15 15:07] BenjaminW3 commented on #859
The [error description](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__TYPES.html): "This indicates that there is no kernel image available that is suitable for the device. This can occur when a user specifies code generation options for a particular CUDA source file that do not include the corresponding device configuration."
From this decription my guess would be that the GPU that

[2019-10-15 15:11] waredjeb commented on #859
@BenjaminW3 here the output:
[code]

[2019-10-15 15:20] BenjaminW3 opened #860 "Add arm64, ppc64le and s390x linux builds to CI"
https://blog.travis-ci.com/2019-10-07-multi-cpu-architecture-support

We should try to add at least a single Arm64 build job.

[2019-10-15 15:28] BenjaminW3 commented on #859
Where does the `sm_50` on the command line come from? Are you explicitly setting this when calling CMake? Could you try to use `-DALPAKA_CUDA_ARCH=75`?

[2019-10-15 15:33] waredjeb commented on #859
`-DALPAKA_CUDA_ARCH=75` worked!
Thanks!

[2019-10-15 15:36] BenjaminW3 commented on #859
Thanks, I will close this now.
Keep in mind that each GPU requires a different architecture, so if you change the system this runs on you have to change the CUDA device architecture. You can also compile for multiple architectures by using `-DALPAKA_CUDA_ARCH="50;70;75"`. This allows the compiled code to run on all those architectures but this will also increase the compilation time.

[2019-10-15 15:36] #859 closed, assigned to nobody

[2019-10-15 16:56] ax3l commented on #858
Yes, but CMake's 3.16 support for PCH is very different from cotire, according to one CMake maintainers. Definitely worth trying again, especially since we already do unity builds anyway.

[2019-10-15 16:57] psychocoderHPC commented on #860
We are curently started to move cupla to our internal ci nodes. We will go on with alpaka after cupla is moved.
So I suggest to do the arm build on the new ci nodes since we have ther native x86, arm and openpower nodes.

[2019-10-15 18:47] BenjaminW3 commented on #860
I am totally for adding the internal CI for CUDA runtime tests.
However, I would want to keep the travis builds as well because those allow me and everyone else to enable travis-ci builds for my (their) individual forks. I do not want to lose this.
I would like to keep travis as the main CI build system but additionally add the internal CI nodes for things that travis can not do.

[2019-10-15 19:40] psychocoderHPC commented on #860
Yes I can understand it. But we should think about reducing the complexity for the travis tests. So that we can finish those tests faster.

As soon as we ported stuff to the internal CI we should have a video meeting about the CI handling.

[2019-10-15 19:55] ax3l commented on #860
The "internal CI" repos will be made public on https://gitlab.hzdr.de, I guess?
Best to document them and their usage in Alpaka itself as well (or at least link to its docs).

[2019-10-15 20:03] psychocoderHPC commented on #860
Yes we will make all public. Here is the script we are currently working on https://github.com/ComputationalRadiationPhysics/cupla/blob/dev/.gitlab-ci.yml

@BenjaminW3 likes to keep travis to allow the same tests within his fork.

[2019-10-16 06:48] SimeonEhrig commented on #858
Sounds good to me. Unfortunately, I'm not really familiar with CMake. I presented the idea of PCH in a meeting a few weeks earlier and checked if an implementation with CMake 3.16 could be useful. But if you say it could work, it's fine with me :-)

[2019-10-16 18:02] ax3l commented on #858
I think we just need to add selected headers to our CMake target(s), as described here:
https://cmake.org/cmake/help/v3.16/command/target_precompile_headers.html#command:target_precompile_headers

[2019-10-17 06:16] tdd11235813 commented on #849
@jkrude started unifying the CUDA HIP codes and we discussed together with @psychocoderHPC  the new design. So in the backend there will be only one unified codebase (e.g. CudaHipAccelerator ...) with `#if/else` for selecting cuda/hip commands, while the frontend provides (derived) types for Cuda and for Hip.
[code]
- Not sure about namespaces though and the file structure should match, but I gues

[2019-10-17 06:24] tdd11235813 commented on #849
For HIP(HCC/clang):
- The new hip-clang seems to behave much more like cuda, so we do not need to care about host-device flag-matching like with the deprecated hcc
- the unified hip/cuda would drop hcc support completely and #802 could be discarded already

[2019-10-18 09:25] psychocoderHPC commented on #849
HIP clang works much better than the old hip compiler. I have currently tested only compiling to AMD GPUs and not NVIDIA.
We should work soon on updating our cmake find scripts and CI to work with hip-clang instead of the old hip.

Note: I do not see it as a requirement for alpaka 0.4.0

[2019-10-23 08:06] psychocoderHPC opened #865 "re-activate MAC CI builds"
@BenjaminW3 disabled MAC-CI build due to instable behavior.

https://github.com/ComputationalRadiationPhysics/alpaka/pull/861#issuecomment-544105810

We need to re-enable those checks soon.

[2019-10-23 08:18] BenjaminW3 commented on #865
They were already reenabled. This was what #863 did.

[2019-10-23 08:18] #865 closed, assigned to nobody

[2019-10-28 13:09] chuckatkins commented on #493
I know this is an old thread but I'm currently trying to explicitly resolve this license issue with Intel.  The problem with the Open Source license they have is that it also falls under the terms of their Non-Commercial license, which essentially means that your use is only covered if it's on your own free time.  If you're doing the work in any capacity as a paid developer then the non-commercial

[2019-10-28 16:05] #843 closed, assigned to nobody

[2019-10-28 16:06] BenjaminW3 commented on #843
@krzikalla This should be fixed now. Would be really helpful if you could verify that it solves your issue.

[2019-10-28 19:27] ax3l commented on #493
Thank you for the information and following up on that, Chuck!

I think I remember that @jeffhammond mentioned in the past that one can use `icc` (NC) on Travis, https://github.com/nemequ/icc-travis . That repo also reads `NO LONGER WORKS due to changes in Intel license management`. Do you have any recommendations?

[2019-10-28 19:35] chuckatkins commented on #493
There's "can" as in technically possible and "can" as in license-legal.  The first is easy as you can use the open source contributor license to make it work.  The second is much trickier though, and that's what I'm trying to get a specific answer on from Intel right now.  I think I have a "loophole" that I can use but I need to get confirmation from them first that it's okay.

[2019-10-28 23:30] jeffhammond commented on #493
Send me an email (it’s easy to find) and we can work on this. There are multiple ways to solve it.

[2019-11-13 15:43] psychocoderHPC opened #873 "memory pinning"
Currently, we are only able to pin memory if we are using CUDA. We have an open issue to pin memory maybe with hwloc #634.
I am currently working on adding memory pinning for AMD HIP-clang and found the following documentation for [hipHostRegister](https://rocm-developer-tools.github.io/HIP/group__Memory.html#gab8258f051e1a1f7385f794a15300e674)

[code]

The problem is that we in alpaka first alloc

[2019-11-13 15:49] psychocoderHPC commented on #873
Cache line size on x86 systems (my laptop):
[code]

Cache line size on Summit Power 9:
[code]

[2019-11-13 16:00] BenjaminW3 commented on #873
I am not yet sure which allocations you mean.
My suspicion is that you are talking about the allocations done within `BufCpu`, `BufCudaRt` and `BufHipRt`. Is this correct?

[2019-11-13 18:21] psychocoderHPC commented on #873
Yes I mean the allocations used within the Buffers. For `BufCpu` we use ` AllocCpuBoostAligned`.

[2019-11-13 18:36] BenjaminW3 commented on #873
So for the CPU the allocations already are aligned (at least as far as this is possible). They still can be too small but we can work around this by inserting a `std::max(calculatedSize, cacheLineSize)` where `cacheLineSize` is device specific. `BufCpu` already knows the device so it should be easy to get this value.

[2019-11-13 20:31] psychocoderHPC commented on #873
Yes this is possible but I am not sure about the side effects if a user is using a lot of small allocations.
Never the less I would say this is maybe the best way.

[2019-11-13 20:45] PrometheusPi commented on #873
@psychocoderHPC On taurus ml it is the same: `cat /sys/devices/system/cpu/cpu0/cache/index0/coherency_line_size` returns 128 while on all other nodes it returns 64.

[2019-11-14 12:39] j-stephan opened #875 "Update library structure"
The documentation's [library structure](https://github.com/ComputationalRadiationPhysics/alpaka/blob/develop/doc/markdown/user/implementation/library/structure.svg) still uses some outdated concepts. I'll submit a PR with a fix once my thesis is finished (~ couple of days) unless someone gets to it first.

[2019-11-15 08:05] BenjaminW3 commented on #860
[Travis CI now also supports IBM Power and IBM Z CPU architectures.](https://blog.travis-ci.com/2019-11-12-multi-cpu-architecture-ibm-power-ibm-z) with `arch: ppc64le` or `arch: s390x`.
So this looks really good!
Now they only have to add some NVIDIA GPUs and it would be perfect ;-)

[2019-11-17 13:06] BenjaminW3 commented on #842
I had a look at our CMake output and we already add exactly this flag to our build options. This is not part of the 0.3.6 release but 0.4.0 should have contained this fix for a long time already.
The CI builds also do not contain such warnings.
I will close this issue for now. If the warnings still appear for you, please re-open the issue.

[2019-11-17 13:06] #842 closed, assigned to nobody

[2019-11-17 13:11] BenjaminW3 commented on #774
@psychocoderHPC What do you think? Should we remove the default because it may be a performance pitfall? Following the alpaka strategy to make everything explicit we should do so.

[2019-11-18 13:20] psychocoderHPC commented on #850
Test code for the upcoming alpaka 0.4.0 (added all renamings):

[code]

[2019-11-18 14:52] #851 closed, assigned to nobody

[2019-11-18 15:46] psychocoderHPC commented on #873
I remove the label `Backend-OpenMP` and add `Backend-CUDA` when I know that CUDA is also effect (what I expect)

[2019-11-19 12:46] psychocoderHPC commented on #873
I checked 64byte alignment on X86 with a P100 based on [this](https://github.com/ComputationalRadiationPhysics/picongpu/issues/2996) bug we had in PIConGPU.
64byte alignment is not solving the issue. If I use 4kiB alignment (should be the default page size in linux) all works fine.

I checked some [older documentation for cudaHostRegister](http://horacio9573.no-ip.org/cuda/group__CUDART__MEMORY_g3

[2019-11-19 12:58] BenjaminW3 commented on #873
Maybe this depends on the used OS?
We can use 4k alignment but this will increase the virtual memory usage.

[2019-11-19 14:27] hpcresearch-ht opened #880 "Alpaka Build Error."
Hi
I am getting this error while trying to build than example object. I have  enable CUDA ,
My system configrations : CentOS 7.7
Ram 16Gb
CUDA 10.1
GCC version : 7.3
 Thanks in advance
[code]

[2019-11-19 14:49] sbastrakov commented on #880
Thanks for reporting @hpcresearch-ht . I will try to reproduce now. Are you using the latest release 0.3.5, or `develop` branch?

[2019-11-19 14:53] hpcresearch-ht commented on #880
Hi @sbastrakov  I have downloaded the master branch

[2019-11-19 14:56] sbastrakov commented on #880
@hpcresearch-ht sorry, I am confused. Alpaka has no `master` branch. (Used to, but not anymore).

[2019-11-19 15:00] hpcresearch-ht commented on #880
sorry its develop branch

[2019-11-19 15:05] hpcresearch-ht commented on #880
Sorry  its develop branch

I have cloned it using git clone https://github.com/ComputationalRadiationPhysics/alpaka.git

[2019-11-19 15:07] sbastrakov commented on #880
Unfortunately, I do not have CUDA 10.1 at hand. Tried alpaka `develop` branch with gcc 7.3.0 and CUDA 10.0. The problem did not appear.
Sorry to bother again @hpcresearch-ht , are you using cmake? If so, could you also copy the initial cmake output when building (`-- The C compiler identification is GNU 7.3.0
-- The CXX compiler identification is GNU 7.3.0
`, etc.). It has some alpaka specific mac

[2019-11-19 15:09] hpcresearch-ht commented on #880
Yes I am using cmake

[2019-11-19 15:10] sbastrakov commented on #880
Clarification: I meant the output when you do cmake out-of-source build with smth like
[code]

[2019-11-19 15:11] hpcresearch-ht commented on #880
The Cmake output

[code]

[2019-11-19 15:13] sbastrakov commented on #880
Thanks @hpcresearch-ht . Everything looks fine there. Then I will try to find a CUDA 10.1 system to really look into that, since on CUDA 10.0 it does not reproduce for me.

[2019-11-19 15:16] hpcresearch-ht commented on #880
@sbastrakov  Sorry to boher you . Is there other way to build without cmake

[2019-11-19 15:18] sbastrakov commented on #880
It is possible, but cmake is our preferred way. And it looks like the problem should not be caused by misconfiguration. So in my opinion after doing everything manually and potentially resolving problems and applying workarounds we have in the cmake configuration, you'll arrive at the same issue when compiling.

[2019-11-19 15:19] hpcresearch-ht commented on #880
okay Thanks @sbastrakov .

[2019-11-19 15:21] sbastrakov commented on #880
However, in case you have another compiler + CUDA configuration, maybe worth trying as a temporary way to make things work, while we are working on solving this issue.

[2019-11-19 15:23] hpcresearch-ht commented on #880
Yeah . I am on that
Going to try with CUDA 10.0

[2019-11-20 15:35] waredjeb opened #883 "BufCpu constructor error"
Hello,
I have some trouble writing a class. The class is the following:
[code]
 I got this error with the BufCpu constructor.
[code]
So, the problem seems clear, BufCpu doesn't have the default constructor. But, is there a way to solve it?

[2019-11-21 09:05] psychocoderHPC commented on #873
I think the clean solution without guessing is to use `cudaMallocHost` as soon as cuda or hip is used for all alpaka buffers.
@BenjaminW3 is there any point against doing it this way?

[2019-11-21 09:09] sbastrakov commented on #880
@hpcresearch-ht did it work for you with CUDA 10.0 ?

[2019-11-21 09:25] sbastrakov commented on #883
@waredjeb yes, so the buffer classes do not have default constructors. I guess you can use one of the standard ways to overcome it:

- Construct this member in the initializer list. This is kinda how we do it in the [examples](https://github.com/ComputationalRadiationPhysics/alpaka/blob/a21ac3e5d83a21a3ed007aa399ea16f1e8d0f994/example/bufferCopy/src/bufferCopy.cpp#L194). Ofc in your application th

[2019-11-21 09:36] waredjeb commented on #883
@sbastrakov thanks for the suggestions, I'll try these ways and I'll let you know!

[2019-11-21 10:32] sbastrakov commented on #880
@psychocoderHPC I think we can check if gcc 7.3. + CUDA 10.1 works on Taurus.

[2019-11-21 12:57] psychocoderHPC commented on #880
@hpcresearch-ht Could you please try to build all again in a clean build directory and post all output beginning with cmake.
I tried to reproduce the issue with gcc 7.3.0 and cuda 10.1.168 and all worked well.

[2019-11-21 16:21] BenjaminW3 commented on #880
We should also have all those compiler <-> CUDA versions within our CI and it works there as well.
[See here!](https://github.com/ComputationalRadiationPhysics/alpaka/blob/a21ac3e5d83a21a3ed007aa399ea16f1e8d0f994/.travis.yml#L291-L292)

[2019-11-22 06:30] BenjaminW3 commented on #726
`"A fix for this issue has been internally implemented and is being prepared for release. We’ll update you once it becomes available for download."`

So it will finally be fixed in one of the next VS updates!

[2019-11-22 08:54] #504 closed

[2019-11-22 09:41] sbastrakov commented on #880
@BenjaminW3 thanks for linking that. However, I believe we only have all major gcc version + compatible CUDA, but not all variations of minor gcc versions (which would have probably been too much, to be fair).

[2019-11-22 09:42] sbastrakov commented on #726
Let's hope. Thanks for info @BenjaminW3

[2019-11-22 09:49] BenjaminW3 commented on #880
That is true, we install the latest update for the major version that is available for the given OS. However, this should likely be 7.3.

[2019-11-22 10:55] BenjaminW3 commented on #763
This is probably not necessary anymore according to the Release Notes of CUDA 10.2:
[`"CUDA 10.2 (Toolkit and NVIDIA driver) is the last release to support macOS for developing and running CUDA applications. Support for macOS will not be available starting with the next release of CUDA."`](https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html#cuda-general-new-features)

[2019-11-22 11:02] BenjaminW3 opened #885 "Add support for CUDA 10.2"
We should add CUDA 10.2 to CI.

Notable things from the Release Notes:
* `"nvcc now supports a new flag -Werror=all-warnings to turn all generated warnings into errors instead."` I will try this out.
* `"Add option -forward-unknown-to-host-compiler to nvcc that allows forwarding of options not recognized by nvcc to the host compiler."` May this be useful for us?
* `"CUDA 10.2 (Toolkit and NVIDIA d

[2019-11-22 11:03] #763 closed, assigned to nobody

[2019-11-22 11:57] psychocoderHPC commented on #885
I think it is a nice feature but since we still need to handle the old cuda versions I would keep explicit option handling.

+1

As I remember we only set for testing explicit sm_35 or so. Never the less we need to update our cmake because we activate sm_30 if CUDA 9+ is used https://github.com/ComputationalRadiationPhysics/alpaka/blob/066a2e9c30edd09d2831ef9ef8f69cce8fbcb120/alpakaConfig.cmake#L4

[2019-11-22 12:27] psychocoderHPC commented on #873
I will try again if we can work with a bigger alignment because I am not happy with using always `cudaMallocHost`. I wrote a short test to detect the minimal alignment needed:

[code]

Linux page size on both systems was: 4kib (`getconf PAGE_SIZE`) on X86 System:
- CUDA 8 - 10.2 = 512 byte
- HIP-clang        =  8192 byte

Linux page size on both systems was: 64kib (`getconf PAGE_SIZE`) on Power9+

[2019-11-22 14:01] psychocoderHPC commented on #504
solved with #877

[2019-11-22 19:47] #850 closed, assigned to psychocoderHPC

[2019-11-24 10:34] BenjaminW3 opened #888 "Rename develop branch to master"
It is now a few months ago since I deleted the `master` branch.
My intentention was to simplify the branching model from a gitflow-like model:
* `develop` - active development
* `master` - last release (regularly updated from develop)
* release-branches/tags - releases

to
* `develop` - active development
* release-branches/tags - releases

The reason for this is that users do not have any advanta

[2019-11-24 10:34] BenjaminW3 commented on #888
@ComputationalRadiationPhysics/alpaka-maintainers Any objections?

[2019-11-24 10:58] BenjaminW3 commented on #883
Initializing the buffer in the [constructors member initializer list](https://en.cppreference.com/w/cpp/language/initializer_list) would be the correct way.
If this is really not possible, you could also use an `optional<TBufD>` if you already depend on boost (`boost::optional`) or if you use c++17 (`std::optional`).
I will close this for now. Please reopen the issue if it did not work!

[2019-11-24 10:58] #883 closed, assigned to nobody

[2019-11-24 11:04] BenjaminW3 commented on #838
@krzikalla The `std::__shared_count<>` warnings should be fixed by #884 and the `currentTaskPackage` issues were already olved on 0.4.0. Therefore all the issues should be fixed. If there is anything left, please open a new issue!

[2019-11-24 11:04] #838 closed, assigned to nobody

[2019-11-25 10:17] sbastrakov commented on #888
I like the reasoning in the linked article. Also recently had several encounters with ppl being confused about picongpu `master` and `dev` relationship (and also lack of `master` in alpaka).
@psychocoderHPC @ax3l what are your thoughts on that?

[2019-11-25 19:09] ax3l commented on #888
I fully agree and matured to the same conclusions as @BenjaminW3 .

I think a "stable" branch has no real use case since one can always branch from tags to set up new `release-...` branches until a new tag is set. Inexperienced users should not git clone anyway but use a package manager or fixed tags. Developers should get the development branch by default for clone and PRs.
(Read as: PIConGPU sho

[2019-11-26 17:54] ax3l commented on #880
Looks to me like you are building without CMake and not setting `-std=c++11` or c++14 flags...

[2019-11-28 11:37] fwyzard commented on #888
Well... quoting from the same article:

[2019-11-28 14:38] psychocoderHPC commented on #873
Note: The CUDA example [simple stream](https://github.com/pathscale/nvidia_sdk_samples/blob/97c19db8af026f4f86821b19e0252858ca0a1fcc/simpleStreams/0_Simple/simpleStreams/simpleStreams.cu#L75-L76) is also aligning memory to 4kib together with `cudaHostRegister()`

[2019-11-29 14:13] psychocoderHPC commented on #888
I am not a friend of this master is the development branch model. If someone is coming to our github starting page you have a prominent green button **Clone or Download** where you can download the code as *ZIP* or get the link to clone the project.
After cloning or downloading you have the development version of a project. If I like to test a project I do not like to start with a non-stable versi

[2019-12-03 14:16] sbastrakov commented on #880
@hpcresearch-ht did any of the suggestions help?

[2019-12-03 15:49] sbastrakov commented on #875
@j-stephan not sure if you have time now, in this case just a friendly reminder.

[2019-12-03 15:54] sbastrakov opened #891 "Failing travis CI build with current develop"
I mean the one displayed in the readme just after the title.

[2019-12-03 16:46] j-stephan commented on #875
Thanks for the reminder! I submitted my thesis last week, I'll look into this tomorrow.

[2019-12-03 16:55] sbastrakov commented on #875
Great, thanks in advance @j-stephan !

[2019-12-03 17:21] PrometheusPi commented on #891
Looks to me like a few failed downloads. Since I have no rights to restart the alpaka TravisCI, could someone please restart the few failed tests.

[2019-12-04 02:46] ax3l commented on #888
Sounds a bit totalistic in the article to me and is actually not true. Git flow as well as package mangers such as Spack tagged versions are counter-examples of how things are already named in many projects and where "current" code can be obtained from. I am very much with René's point of view, just keep it explicit instead of assuming everyone knows or researches a repo's development model when v

[2019-12-04 17:07] BenjaminW3 commented on #891
The builds are flaky.

I never get a fully green build at the first run. I always have to go to the build and re-run failing builds.
Most of the time there are issues with the CUDA download or apt installations or similar things. We already try to use `travis_retry` to make those network dependent things less flaky but it does not help for every issue. Now that our build matrix consists of ~90 dif

[2019-12-07 13:01] BenjaminW3 commented on #891
Feel free to add `travis_retry` when you find a place where it is missing. I will close the ticket for now as there is nothing we can do about the flaky infrastructure.

[2019-12-07 13:01] #891 closed, assigned to nobody

[2019-12-07 13:01] #885 closed, assigned to BenjaminW3

[2019-12-07 13:20] BenjaminW3 commented on #778
@sbastrakov @psychocoderHPC Is there still anything left that absolutely needs to be part of alpaka-0.4.0 or can we create the release?
I know that there will always be new cool features, more tests, better compiler support etc. but at some point we will have to create a release. The less we release the worse it gets for our users to updgrade. If there is something missing we can release 0.4.1 or

[2019-12-07 13:26] psychocoderHPC commented on #778
#873 is imo the last strongly required peace.

One think would be also very important is that we can run all examples wit any accelerator bcause currently none of our examples run on different hardware. For that a trait to get a queue for an accelerator based on a type e.g. blocking() or nonBlocking() is required. It is not much work but have not find time for it.

[2019-12-07 13:30] psychocoderHPC commented on #873
I will implement that we align all host memory to 4kiB for cuda/HIP(nvcc)  and to the cache line size for HIP(clang/hcc).

4kib is the only size where the debugger now cray about memory access if we not use cudaMallocHost to allocate host side memory.

[2019-12-07 13:31] BenjaminW3 commented on #778
Ok, #873 should be part of the release. Any time line?
The changes to the examples should be completely independent of any release.

[2019-12-07 13:33] psychocoderHPC commented on #778
The requirement for the example changes coming from our ongoing activities with different vendors.

[2019-12-07 13:35] BenjaminW3 commented on #778
But nothing prevents us from releasing a 0.5.0 a week later with the changes to the examples.
The known bug on the other hand is really an issue that should not be released at all.

[2019-12-07 13:41] psychocoderHPC commented on #778
Currently none of the vendors is using alpaka direct because of the missing examples. We need to point everyone to CUPLA.
The work for the missing trait is quite small and should be not more than 1 to 2 days.

I will discuss it next week.

[2019-12-07 14:56] sbastrakov commented on #778
Agree @psychocoderHPC , I think it's important this trait and proper accelerator choice in example thing is done.

[2019-12-07 15:17] BenjaminW3 commented on #778
Yes I agree that this is an important topic but nothing prevents us from creating a new release after 0.4.0 once this is implemented.
I do not think that this is worth a discussion at all. A release is nothing special. If we go for really long release cycles and not release often then releases should be time-driven like in boost, llvm and c++. Releases should not wait for features, only for blocki

[2019-12-12 12:52] psychocoderHPC commented on #778
After #897 #896 #894 #892 is in merged I will move out a release branch that we can test it without pulling in additional feature PRs.

[2019-12-12 14:45] #873 closed, assigned to nobody

[2019-12-16 10:18] fwyzard commented on #888
The motivation is not "because the tools assume it" but "because the vast majority of developers assume it".

So the choice really boils down to whether one gives more importance to personal preferences or to making it easier for other people to contribute.

As a possible user I won't mind much either - I care much more about things like the next stable release out so I can actually *test* it, sin

[2019-12-19 14:59] jkelling commented on #815
Same thing also happens with the binary `queue`.

[2019-12-19 16:53] #175 closed

[2019-12-19 18:35] #875 closed, assigned to nobody

[2019-12-19 18:47] BenjaminW3 commented on #827
We may want to convert the queue properties `Blocking` and `NonBlocking` into concepts `QueueBlocking` and `QueueNonBlocking` (use `Implements<...>`) which would allow us to check `constexpr bool = ImplementsConcept<Queue, QueueBlocking>;`.
This would make the `IsBlockingQueue` trait superfluous.

[2019-12-19 20:07] jeffhammond opened #898 "doxygen still says LGPL"
http://computationalradiationphysics.github.io/alpaka/:

https://github.com/ComputationalRadiationPhysics/alpaka:

This ambiguity is worth resolving, even if it is pretty obvious from https://github.com/ComputationalRadiationPhysics/alpaka/issues/637 what the current license is.

[2019-12-19 20:23] BenjaminW3 commented on #898
The currently deployed doxygen reference documentation is for the 0.3.* release branch which was still LGPL licensed. It will get updated once we release the next major 0.4.0 release.

[2019-12-19 20:28] BenjaminW3 commented on #778
As all the PRs have been merged, I branched off `release-0.4.0`!

[2019-12-20 06:41] BenjaminW3 commented on #778
@psychocoderHPC @sbastrakov @tdd11235813 Could you please test this with PIConGPU before I officially release it?

[2019-12-20 08:46] sbastrakov commented on #778
Good point @BenjaminW3 . @psychocoderHPC in case you don't have time I could do it later today, after coming back.

[2019-12-20 09:15] jkelling commented on #815
Apparently, while one needs to disable the CUDA backend for this problem to occur, the sequential backend must be enabled.

[2019-12-20 13:45] psychocoderHPC commented on #778
@BenjaminW3  Thanks for opening the release branch (feature freeze).
I can not test it before next year also we can not expect any feedback from DLR so we should do our testing in the first two weeks of Jan 2020 with a focus to release in the 3rd week of Jan.

[2020-01-02 09:24] psychocoderHPC commented on #778
@krzikalla could you please check/test the release branch of [version 0.4.0](https://github.com/ComputationalRadiationPhysics/alpaka/tree/release-0.4.0)

[2020-01-03 09:44] psychocoderHPC commented on #778
PIConGPU is working (tested KHI example) with the release candidate 0.4.0 of alpaka

[2020-01-03 11:15] BenjaminW3 commented on #778
Thanks for verifying this! Can I create the release now or should we wait for something else?

[2020-01-03 15:10] psychocoderHPC commented on #778
please let us wait that @krzikalla has a chance to verify the changes. I will call him next week via phone. My focus is to release `3rd week of Jan.` and to push the bug fix release 0.3.6 next week first so that 0.4.0 is then on the release pool position^^

[2020-01-08 15:57] fwyzard opened #908 "CUDA backend requires nvcc also for library calls"
Using Alpaka with the CUDA back-end requires compiling much more code with `nvcc` than using nativa CUDA would.

In general, when writing CUDA code, one has to compile with `nvcc` the files with device code (`__device__` functions and `__global__` kernels); while host code that calls the CUDA API runtime functions (e.g. `cudaMalloc()`, `cudaMemcpy()`, `cudaLaunchKernel()`, ...) can be compiled wit

[2020-01-08 16:18] BenjaminW3 commented on #908
I am not sure if it is possible at all to achieve this with alpaka.

The first thing that prevents you from doing this is that `ALPAKA_ADD_EXECUTABLE` explicitly compiles all files as CUDA files because it can not differentiate between CUDA and non CUDA files by file extenstion. This is done so that the files can keep their `.cpp` extenstion irrespective of if the CUDA backend is enabled or not (s

[2020-01-08 16:20] psychocoderHPC commented on #908
I would say you can not write easily alpaka code exactly like CUDA code. Alpaka memcpy's have templates and to compile with two different compilers you need to create objects files and merge these together. The compiler must create the binary code for the templated functions, this is only possible if you knows which types you are used. The accelerators and traits pulls always vender-compiler speci

[2020-01-08 16:29] psychocoderHPC commented on #908
A possible workaround in general is to use `extern template` but this is currently not possible because we disable definitions e.g. the CUDA accelerator when CUDA is not available. At all `extern templates` are also something I personally do not like because it is very easy to produce linker errors.

[2020-01-08 16:34] BenjaminW3 commented on #908
Another issue is that `alpaka.hpp` includes all alpaka headers. Depending on the available backends CMake sets defines to enable or disable some code. This is done for all files being compiled and not only for some "device code" files. This results in incompatible code being visible and preprocessor checks failing. This may require to split the alpaka headers into the ones used within kernels and

[2020-01-08 16:40] psychocoderHPC commented on #908
@fwyzard you have the same problem with CUDA and `cudaLaunchKernel` when your kernel is using templates. You need to say somehow in the `nvcc` compiled part that a kernel is called with template arguments else the cuda code will crash at runtime because the kernel binary blob can not be found.

An other way to workaround it is to wrap alpaka memcopies in C functions (that is what I do in CUPLA) an

[2020-01-08 17:35] BenjaminW3 commented on #908
If the limited C++ feature-set of CUDA is a problem, you can still divide your code into:
1) `device kernel code` (uses alpaka)
2) `host code invoking the kernel` (uses alpaka)
3) `other c++ code` (does not use alpaka)

With native CUDA you would compile 1 with nvcc and 2+3 with another compiler.
With alpaka you can compile 1+2 with nvcc and 3 with another compiler.

[2020-01-08 18:18] ax3l commented on #908
@fwyzard Just to mention, at least in PIConGPU we compile
1. a library with host-only code (this can use newer C++ standards)
2. an executable linked against the library in 1. that uses `ALPAKA_ADD_EXECUTABLE` (well, `cupla_add_executable`) to build host-device code.

https://github.com/ComputationalRadiationPhysics/picongpu/blob/4a90da17cc39678c79b915257fa66aa973338088/include/picongpu/CMakeLists

[2020-01-08 20:23] BenjaminW3 commented on #880
@hpcresearch-ht Do you have any update?

[2020-01-08 20:24] #626 closed

[2020-01-10 09:40] waredjeb opened #911 "Slow memory copy"
Hello,
We are trying to use alpaka and cupla to port a code on multiple architecture. Everything works but we noticed that the same code written in alpaka is ~two times slower than the one written in cupla. After a quick investigation we found out that the problem seems in the copy operations done by alpaka.
Indeed, running the algorithm with cupla takes ~1800us, where about ~100us are taken by th

[2020-01-10 09:58] psychocoderHPC commented on #911
Note: All cupla buffer created with `cuplaMallocHost` or `cuplaMalloc` are mapped to byte arrays. Alpaka buffers are type save and using the type given to the buffer to allocate a buffer. This could have impact on the performance.

If you use CUDA and cupla we are pinning all buffers created with `cuplaMallocHost` https://github.com/ComputationalRadiationPhysics/cupla/blob/0594a68a0d9bdbfc949391f8

[2020-01-10 10:07] sbastrakov commented on #911
@waredjeb thanks for your report. I believe in alpaka one can ask the host buffer to be pinned with [this utility](https://github.com/ComputationalRadiationPhysics/alpaka/blob/b99acc704cb43404d5e4a36eadd4a413d9353d72/include/alpaka/mem/buf/BufCpu.hpp#L596), that will do nothing without CUDA and pin with CUDA.

[2020-01-10 10:07] psychocoderHPC commented on #911
@waredjeb I am not sure which version of alpaka you use but since pull request #896 we are aligning alpaka host buffer to 4kib. This means if you have enabled a CUDA accelerator + CPU accelerator but only use the CPU accelerator all your host buffers will be aligned to 4kib. This can have a positive impact on the CPU code performance because each buffer is on its own memory page.

[2020-01-10 10:20] waredjeb commented on #911
Thanks for clarification. I'll try your suggestions and I'll let you know!

[2020-01-10 16:12] waredjeb commented on #911
Ok, pinning the memory worked! Now the performance are the same for cupla and alpaka!
Now the copy is done in the following way:

[code]
We had to change the ``` ViewPlainPtr ```  to a 'standard' buffer.

Thanks!

[2020-01-10 16:24] sbastrakov commented on #911
Glad it helped @waredjeb .
@BenjaminW3 @psychocoderHPC do you think we should put this info to alpaka equivalent of `cudaHostAlloc` [here]( https://github.com/ComputationalRadiationPhysics/alpaka/blob/develop/doc/markdown/user/implementation/mapping/CUDA.md) and/or somewhere else in the docs?

[2020-01-13 08:09] psychocoderHPC commented on #778
@krzikalla is not able to test the release branch for 0.4.0 in time. This means that we can release this week.

[2020-01-13 08:53] fwyzard commented on #908
Thank you all for your comments... I'll take some time to consider the options and get back here in few days.

[2020-01-13 17:58] ax3l opened #912 "ApplyTuple: Returned Value Lifetime"
https://lgtm.com/projects/g/ComputationalRadiationPhysics/alpaka/?mode=list

The `invoke_impl` implementation detail of `meta::ApplyTuple` creates a warning on LGTM of the form:
[code]

What does this mean:
- https://lgtm.com/rules/1507923806246/
- occurrence: [`include/alpaka/meta/ApplyTuple.hpp` line 40](https://github.com/ComputationalRadiationPhysics/alpaka/blob/9811f23a306a731342bed038b5af7e5

[2020-01-14 10:18] BenjaminW3 commented on #912
The code is based on an [old version of the example implementation of std::invoke from cppreference](https://en.cppreference.com/mwiki/index.php?title=cpp/utility/functional/invoke&oldid=74766).
I am not really sure if this is a false-positive.

[2020-01-14 10:20] BenjaminW3 commented on #778
@psychocoderHPC Is there anything that prevents me from creating a release now?

[2020-01-14 12:45] psychocoderHPC commented on #778
@BenjaminW3 just fond a few min ago a bug. Please DO NOT release. I am currently testing the fix.

[2020-01-14 13:41] psychocoderHPC commented on #778
@BenjaminW3 The bug I thought is not existing in alpaka. Only HIP memcpy 3D is broken but it is not our fault.

Please feel free to press the release button.

Note: we need to check zenodo, I saw that the the wrongly release 0.4.0 last time was registered there. We need to be sure that zenodo is correct.

[2020-01-14 13:45] BenjaminW3 commented on #778
Done!

[2020-01-14 13:45] #778 closed, assigned to nobody

[2020-01-14 13:47] BenjaminW3 commented on #880
I will close the issue for now. If there are any updates feel free to reopen.

[2020-01-14 13:47] #880 closed, assigned to nobody

[2020-01-14 16:37] psychocoderHPC commented on #778
thanks I will announce it tomorrow on our mailing list

[2020-01-14 16:46] ax3l commented on #778
Congratulations on the release everyone! :)

[2020-01-14 18:47] BenjaminW3 commented on #898
I updated the doxygen documentation with the code from version 0.4.0

[2020-01-14 18:47] #898 closed, assigned to BenjaminW3

[2020-01-15 16:49] sbastrakov commented on #754
I believe this one is solved, closing.

[2020-01-15 16:49] #754 closed, assigned to nobody

[2020-01-17 15:14] #565 closed

[2020-01-23 08:15] sbastrakov commented on #726
They just updated the status to `"A fix for this issue is now available in preview release. Try out the fix by installing the most recent preview from https://visualstudio.microsoft.com/vs/preview/."`
Haven't tried it yet.

[2020-01-27 09:12] j-stephan opened #919 "CMake Modernization"
I'd like to improve the current CMake infrastructure and adjust it to modern CMake idioms (as seen [here](https://www.youtube.com/watch?v=y7ndUhdQuU8) and [here](https://www.youtube.com/watch?v=y9kSr5enrSk)).

Goals to achieve:

* make Alpaka installable to the file system (`/usr/local` comes to mind)
* reduce current complexity
* ease the integration of new backends (SYCL)

My current idea is to

[2020-01-27 12:16] j-stephan commented on #919
@ax3l Are you still working on #478?

[2020-01-27 16:35] BenjaminW3 commented on #919
nearly everything is public

I really like clang-cuda and would not want to drop support for it.

I have no problem requiring CMake 3.15. I am not sure if we should already require 3.16. If it provides a huge value then it should be possible to even require 3.16.

[2020-01-27 16:51] BenjaminW3 commented on #919
This should already be the case.

CMake automatically generates a `RUN_TESTS` target. It does not differentiate between unit and integration tests so I am not opposed to add those meta targets.

I am not sure how this will work. In some cases we have interdependencies between the enabled backends. If we enable the CUDA backend together with the OpenMP backends we have to do some special magic with

[2020-01-27 18:08] ax3l commented on #919
Excellent proposal to modernize this!

No, please feel free to roll your own installers while you are on it :) Scavenge (or scrap) what you need.

Just for refs.: the [slowly progressing](https://gitlab.kitware.com/cmake/cmake/issues/16586) upstream CMake support for CUDA-clang. This issue also contains a lot of info what needs to be done, so it can also be contributed to CMake upstream :)

Since

[2020-01-28 08:07] j-stephan commented on #919
Not exactly. CUDA and HIP are not included as targets but use their outdated CMake modules instead. We are not calling `target_link_libraries(SomeTarget cuda::cuda)` or something similar but are instead forced to use `CUDA_ADD_EXECUTABLE`. OpenMP isn't used as a target as well as far as I can tell.

I will look into this.

Alright. The first topic will be "install" then.

[2020-01-28 17:02] ax3l commented on #919
Didn't know that works, since modern CMake supports CUDA (and soon HIP) as C/C++ language feature of targets as well. This is also the location where one would need to extend clang compiler support. Cool.

Great idea! :clap:

[2020-01-28 20:55] BenjaminW3 commented on #919
It looks like Ubuntu 20.04 will get CMake 3.15 by default, so we may want to support this version for some time as this will be the upcoming LTS release.

[2020-01-29 08:07] j-stephan commented on #919
Well, I don't know if it will work. My goal is to abstract `Find{CUDA,HIP}.cmake` away and hide its functionality behind a `cuda::cuda` target.

Nice, I missed that. Do you happen to have a link for further reference?

Understandable. We would have to postpone PCH for a while, though. Chances are quite good that Kitware will supply an apt repository for more recent CMake versions (as they did for

[2020-01-29 08:24] SimeonEhrig commented on #919
PCH should be loosely linked to this issue. First, you should modernize the CMake without new features and take a look at what is needed for a later PCH integration. This way you can use 3.15 without problems, which makes more sense if it comes with Ubuntu 20.04. Later, when PCH is implemented **and** useful, we can bump to 3.16.

[2020-01-29 08:25] BenjaminW3 commented on #919
I do not think that there is productive use on Windows x86. Our CI also only builds and executes Windows x64. However, some local development might happen with 32-bit builds.

[2020-02-03 12:57] sbastrakov commented on #911
Now that the docs are updated as well, closing the issue.

[2020-02-03 12:57] #911 closed, assigned to nobody

[2020-02-03 13:25] sbastrakov commented on #855
So with other changes made now a fix can be done easier with just transforming [this line](https://github.com/ComputationalRadiationPhysics/alpaka/blob/284eef5113c9518ee2be9c88696fe2cc2185e41b/include/alpaka/math/exp/ExpStdLib.hpp#L46) into
[code]
This actually does not have issues with the trait function itself being called `exp` and the ADL starts working properly. However, I am not sure what to

[2020-02-06 15:19] psychocoderHPC commented on #794
It could be https://github.com/ROCm-Developer-Tools/HIP/pull/1674 is solving the issue. I reverted the workaround in alpaka and activated the corresponding queue tests. It looks like at least with HIP-clang is all working. I will create a PR soon.

[2020-02-06 21:25] bertwesarg opened #922 "Omp2Blocks does throw runtime error with `OMP_NUM_THREADS=1`"
Since #733, it is not possible anymore to run the `Omp2Blocks` backend with `OMP_NUM_THREADS=1`.

[2020-02-08 11:09] BenjaminW3 commented on #922
I was able to reproduce this. I will try to create a fix.

[2020-02-10 08:38] #922 closed, assigned to nobody

[2020-02-10 16:57] BenjaminW3 commented on #922
When do ou need an official release with this fix?
I already created a `release-0.4.1` branch with this fix and the version increment in it.

[2020-02-10 18:16] bertwesarg commented on #922
I don't need a release. For SPEC we use the OP4 branch anyway.

[2020-02-13 09:21] tdd11235813 commented on #919
One could separate discovery and target configuration.
[code]

[2020-02-13 10:37] psychocoderHPC commented on #794
@tdd11235813 Could you please create a mini app to reproduce the behavior. As you found out it looks like it is not fixed :-(

[2020-02-13 13:09] saipavankalyan opened #929 "Unable to build HIP for reduce example"
I'm trying to build alpaka on AMD GPU using HIP-clang. The configuration I'm using is
ALPAKA_ACC_CPU_B_SEQ_T_SEQ_ENABLE_DEFAULT OFF
ALPAKA_ACC_CPU_B_SEQ_T_THREADS_ENABLE_DEFAULT OFF
ALPAKA_ACC_CPU_B_SEQ_T_FIBERS_ENABLE_DEFAULT OFF
ALPAKA_ACC_CPU_B_TBB_T_SEQ_ENABLE_DEFAULT OFF
ALPAKA_ACC_CPU_B_OMP2_T_SEQ_ENABLE_DEFAULT OFF
ALPAKA_ACC_CPU_B_SEQ_T_OMP2_ENABLE_DEFAULT OFF
ALPAKA_ACC_CPU_BT_OMP4_ENABLE

[2020-02-13 13:24] sbastrakov commented on #929
Hello @saipavankalyan . I believe, unfortunately, the reduction example does not support HIP. The list of accelerators it supports is given [in the comments here](https://github.com/ComputationalRadiationPhysics/alpaka/blob/ceead8c719a5697c5891dbed57a91036e96cabdd/example/reduce/src/reduce.cpp#L29-L37). I believe this one could not be run on AMD GPUs as of now.

[2020-02-13 13:35] saipavankalyan opened #930 "bufferCopy example failed using GPU-HIP-clang support"
I'm building alpaka on AMD GPU using HIP-clang. The configuration I'm using is
ALPAKA_ACC_CPU_B_SEQ_T_SEQ_ENABLE_DEFAULT OFF
ALPAKA_ACC_CPU_B_SEQ_T_THREADS_ENABLE_DEFAULT OFF
ALPAKA_ACC_CPU_B_SEQ_T_FIBERS_ENABLE_DEFAULT OFF
ALPAKA_ACC_CPU_B_TBB_T_SEQ_ENABLE_DEFAULT OFF
ALPAKA_ACC_CPU_B_OMP2_T_SEQ_ENABLE_DEFAULT OFF
ALPAKA_ACC_CPU_B_SEQ_T_OMP2_ENABLE_DEFAULT OFF
ALPAKA_ACC_CPU_BT_OMP4_ENABLE_DEFAUL

[2020-02-13 13:42] saipavankalyan commented on #929
But for all the examples, it is not showing AccGpuHipRt  this accelerator option but it is working.
For example, this one: https://github.com/ComputationalRadiationPhysics/alpaka/blob/develop/example/vectorAdd/src/vectorAdd.cpp#L90

So, I thought that even GpuHipRt works even though it is not mentioned.
Anyway, Thanks for letting me know :)

Edit(tdd11235813): fixed link

[2020-02-13 14:50] sbastrakov commented on #929
Good point @saipavankalyan , I did not notice that HIP was missing from the other lists as well. I believe for now it is reasonable to consider it experimental.

[2020-02-13 14:52] sbastrakov commented on #930
Thanks for reporting @saipavankalyan , we will have a look on this one.

[2020-02-13 15:02] tdd11235813 commented on #794
the mini-app is already on our internal ToDo list for AMD, I schedule this one, but it will not happen this week.

[2020-02-13 15:12] tdd11235813 commented on #929
the host must not be the HIP accelerator (the error in #930 comes from invalid device pointer access I guess). Internally `ALPAKA_ACC_GPU_HIP_ONLY_MODE ON` seems to be still required which means there is no way to use CpuSerial - but this is required for these examples.

I assume for the new hip-clang compiler that the HIP-only restriction can be removed, so HIP accelerator can be used in parallel

[2020-02-13 15:17] tdd11235813 commented on #930
https://github.com/ComputationalRadiationPhysics/alpaka/blob/ceead8c719a5697c5891dbed57a91036e96cabdd/example/bufferCopy/src/bufferCopy.cpp#L172

this cannot be replaced with the HIP accelerator, it must be kept as CPU something. HIP backend probably can be relaxed now to allow this, see #929.

[2020-02-14 12:41] saipavankalyan commented on #929
@tdd11235813 , can you please tell me what changes should I do in the CMake to make this work?

[2020-02-14 20:45] tdd11235813 commented on #929
the location in the cmake, where hip becomes disabled when hip-only mode is not activated:
https://github.com/ComputationalRadiationPhysics/alpaka/blob/ceead8c719a5697c5891dbed57a91036e96cabdd/alpakaConfig.cmake#L98-L102

[2020-02-14 20:48] tdd11235813 commented on #794
reproducible is provided in the corresponding HIP [issue](https://github.com/ROCm-Developer-Tools/HIP/issues/1205). Issues could be reproduced without Alpaka.

[2020-02-15 06:06] saipavankalyan commented on #929
Thanks @tdd11235813 ! The other [issue](https://github.com/ComputationalRadiationPhysics/alpaka/issues/930) got resolved. But for this one, I'm getting the same error as before.
`/alpaka/example/reduce/src/reduce.cpp:37:21: error: unknown type name 'GpuHipRt'
using Accelerator = GpuHipRt;`

[2020-02-15 06:10] saipavankalyan commented on #930
Thanks for the help @tdd11235813 !

[2020-02-15 06:10] #930 closed, assigned to nobody

[2020-02-15 07:24] BenjaminW3 opened #931 "Windows+CUDA CI builds broken"
Travis updated the Windows images from version 1803 to 1809.
This broke the Windows+CUDA CI builds.

[2020-02-15 18:52] ax3l commented on #919
Good news everyone, CMake 3.17+ will honour the `SYSTEM` property for include dependencies when compiling with NVCC:
https://gitlab.kitware.com/cmake/cmake/merge_requests/4317

Significantly less (boost) warnings when compiling apps for CUDA!

[2020-02-17 11:49] j-stephan commented on #931
I'm wondering if this can be fixed with the CMake [`MSVC_RUNTIME_LIBRARY`](https://cmake.org/cmake/help/v3.15/prop_tgt/MSVC_RUNTIME_LIBRARY.html) property.

[2020-02-17 11:51] BenjaminW3 commented on #931
I am currently trying this out.

[2020-02-18 09:43] fwyzard opened #934 "How to use the OpenMP 5.0 backend?"
Hi,
I am trying to use the OpenMP4 backend with GCC 7.4 on Ubuntu 18.04, but it is not working.

I have modified `example/vectorAdd/src/vectorAdd.cpp` to use `AccCpuOmp4`:
[code]

Then I tried building it with
[code]

`cmake` seems happy enough:
[code]
but `make` fails with
[code]

It looks like the compiler is trying to offload to the nvptx backend, and fails.

How do I make use of the OpenMP 4 b

[2020-02-18 09:48] fwyzard commented on #934
Note that I get similar errors even if I disable CUDA support with `cmake -DALPAKA_ACC_GPU_CUDA_ENABLE=false`, and/or if I use gcc 8 or gcc 9.

[2020-02-18 09:56] psychocoderHPC commented on #934
@fwyzard Thanks for the report, we will have a look into it.

Note: we are currently working on a full refactoring to bring the OMP4 backend to OMP5. You can find the ongoing work [here](https://github.com/jkelling/alpaka/blob/omp4/README_OMP5.md)

[2020-02-18 10:14] fwyzard commented on #934
Thanks for the pointer,  passing `-DCMAKE_CXX_FLAGS="-fno-lto"` to cmake seems to help:
[code]

and the example gives the correct results
[code]

[2020-02-18 10:31] fwyzard commented on #934
It also works in my test application:
[code]
though it seems to have the worst performance :-(

Should I try using a different partitioning into blocks, threads and elements ?

[2020-02-18 10:41] fwyzard commented on #934
By the way, `-foffload=disable` also seems to work fine, and does not prevent using LTO.

[2020-02-18 11:38] sbastrakov commented on #934
@fwyzard thanks for reporting your results, interesting. I think your configuration is fine: 1 thread per block is reasonable on CPUs, and elements are just controlled by you as a client application developer, alpaka does not really interfere there. I assume you have some loop over the elements inside the kernel?

[2020-02-18 11:45] fwyzard commented on #934
Yes:
  - the inner loop runs over the consecutive elements;
  - the outer loop is strided by the whole grid size (blocks * threads * elements) to cover the case where not enough blocks are launched.

See https://github.com/fwyzard/pixel-standalone/blob/master/rawtodigi_alpaka.cc#L376-L385 .

[2020-02-18 11:53] sbastrakov commented on #934
Thanks for the link, looks good. Unclear why does OpenMP 4 underperform.

[2020-02-18 12:10] jkelling commented on #934
The current OpenMP 4 backend has its offloading disabled, it will force the compiler to generate host code.

With one thread per block, I do not know why the CPU performance would be bad as far as the backend is concerned. It actually shares most of its code with the OMP2 backend. Only the target bit is different, but forced to run on the host. I would guess, that performance is an compiler issue,

[2020-02-18 12:49] fwyzard commented on #934
OK, I'll stick to `-fno-lto` then.

Does the offloading to NVPTX work , then ?
How can I test if anything is being offloaded ?

[2020-02-18 12:55] jkelling commented on #934
No, offloading is not supported in the current version of the backend, it is host only. Compiling with -foffload=disable and without should give you the same results, except than in the latter case mkoffload will be called pointlessly.

The new version of the backend @psychocoderHPC  mentioned supports offloading.

[2020-02-18 12:57] fwyzard commented on #934
Understood, thanks.

[2020-02-18 22:21] fwyzard commented on #934
By thw way, it looks like cupla does not switch the threads and elements when using the OpenMP 4 backend, as it does for the TBB and OpenMP 2.0 block backends:
[code]

[2020-02-19 09:14] sbastrakov commented on #934
Thanks for reporting and creating a cupla issue for that @fwyzard .

[2020-02-24 12:23] j-stephan commented on #919
Ubuntu 20.04 switched to CMake 3.16:

https://packages.ubuntu.com/focal/cmake

This means we could aim for PCH next.

[2020-02-24 14:33] j-stephan commented on #919
By the way, do we still require the `librt` dependency? `clock_gettime` was [merged into glibc in 2012](https://sourceware.org/git/?p=glibc.git;a=commitdiff;h=6e6249d0b461b952d0f544792372663feb6d792a;ds=sidebyside).

Do we have users on ancient Red Hat systems? RHEL 7 and 8 wouldn't be affected by this, only RHEL 5 (retired, critical security updates will be stopped after 2020) and 6. RHEL 6 will

[2020-02-24 15:54] BenjaminW3 commented on #919
CMake 3.16 and PCH sounds reasonable.

I remember someone having some issues without librt some time ago but I am not sure. We should look into the history of the cmake changes.

[2020-02-24 16:29] psychocoderHPC opened #936 "remove IDE specifics from .gitignore"
Based on the [comment  from](https://github.com/ComputationalRadiationPhysics/alpaka/pull/935#issuecomment-590409908) @bertwesarg we should think about cleaning up `.gitignore`

This issue is for collecting argument for cleaning up `.gitignore` or keep the IDE specific exclusions.

[2020-02-24 16:39] psychocoderHPC commented on #936
I can only speak for myself but I do not configure my git environment on all systems I work with.
I  use for quick tests often not configured systems where I am happy that I not see all tmp files when I run `git diff` to compare my current changes with the last commit.

I am against cleaning up `.gitignore` to keep my dirty workflows on the 7+ systems I working on.

[2020-02-24 16:55] ax3l commented on #936
I also [cannot follow his argument](https://github.com/alpaka-group/alpaka/pull/935#issuecomment-590432657).

There is a reason why GitHub provides `.gitignore` templates for projects, also adding the IDE files our developers use is just nice and does not harm in any way.

[2020-02-24 18:39] bertwesarg commented on #936
But you do setup your editor, right?

Since when does `git diff` shoes you untracked files?

[2020-02-25 07:56] j-stephan commented on #936
What exactly would we achieve doing this? Other than a `.gitignore` with fewer lines, that is.

[2020-02-25 08:04] j-stephan commented on #919
Okay, `librt` was first introduced with commit 8d00bdb and activated by default with commit e8df877. Apparantly this was originally a fix for clang 3.7 (which we no longer support) and later ported back to gcc, too. I assume the latter happened to support the RHEL derivatives.

I vouch for removing `librt` in a separate PR and check if anything breaks in the CI.

[2020-02-25 09:43] j-stephan commented on #858
Since this will likely be the next step of the efforts in #919: Which headers would we want to precompile? All of them? A subset? User's choice (= precompile individual concepts)?

Since Alpaka is installable: Should there also be an option to install PCHs? As far as I understand they would be limited to a specific compiler. It might be more sensible to generate PCHs on the fly for the user's targ

[2020-02-25 13:24] BenjaminW3 commented on #858
I do not think that installing precompiled headers is useful.
We are not even sure that PCH will be useful for alpaka at all but we can only find out once we added support for it. I think we should be able to have all headers (so `alpaka.hpp`) as PCH.

[2020-02-26 05:13] ax3l commented on #919
Sounds ok. Labs that I am aware off using RHEL 6 will retire it by summer this year, yet `manylinux2010` is derived from Centos 6: https://www.python.org/dev/peps/pep-0571/ Anyway, manylinux2014 is around the corner: https://www.python.org/dev/peps/pep-0599/

[2020-03-03 13:27] tdd11235813 opened #943 "Upgrade documentation"
The possible workflow pieces:

#### Initial pull request
- Integrate .md files into sphinx/readthedocs pipeline, readthedocs.yml etc.
- Convert from .md to .rst ( [md-vs-rst](https://eli.thegreenplace.net/2017/restructuredtext-vs-markdown-for-technical-documentation/), tl;dr: writing => md, software project => rst)
  - there are converters, not tested yet

#### Upgrade pull request(s)
- Update/Ref

[2020-03-05 12:55] psychocoderHPC opened #944 "simplification of the user interface"
# Motivation
Alpaka gives users high flexibility and freedom for their implementations.
Alpaka is explicit everywhere and can therefore be controlled in fine granularity.
For IMO 90% of the users, simple usage - at least to get started with a library - is very important.

# Proposal

Alpaka is from the view of a user very hard to use, therefore I like to do the first step and propose an example of

[2020-03-09 06:30] fwyzard commented on #690
if the goal of a SYCL backend is mainly to support Intel hardware, and alternative could be to use the "Level Zero" API: https://spec.oneapi.com/versions/latest/oneL0/index.html , which looks a lot like the CUDA driver API.

[2020-03-09 13:20] tdd11235813 commented on #944
Thanks a lot for the inspiring concept work. A more simple frontend would help not only the newcomers. It just makes coding more productive and readable. Code examples also would fit on a few slides then, hopefully ;-)

**Alpaka buffer**: Perhaps it is sufficient to pass the buffer instead of the iterator, because the buffer already has all information. But I see the idea, that you can manage the

[2020-03-09 17:09] sbastrakov commented on #690
Thanks for the info @fwyzard !

[2020-03-10 11:03] sbastrakov commented on #944
My 2 cents on this topic.

My understanding is that Alpaka deliberately introduces API as free functions, and not in the object-oriented style, so that e.g. putting a task to a queue looks like `simple::queue::enqueue(queue, kernel);` and not like `queue.enqueue(kernel);` (using the `simple` API from this issue, but same for existing Alpaka). The free function-style API makes it harder to define t

[2020-03-13 11:28] j-stephan commented on #690
While interesting it appears to me that we won't be able to use oneL0 anytime soon. From a quick glance at the docs I believe it requires precompiled kernels, meaning SPIR-V or the native device format. This doesn't fit our current approach.

[2020-03-13 11:34] j-stephan commented on #944
If (big if) we are basing this on the SYCL API, is there any reason to not just turn alpaka into an actual implementation of SYCL? Minus OpenCL interoperability because that would require a working OpenCL implementation on the executing system.

[2020-03-13 13:02] fwyzard commented on #690
Yes, you are right.
It is more in line with OpenCL or the CUDA driver API that SYCL/oneAPI.

[2020-03-14 11:33] BenjaminW3 commented on #931
For now the issue is fixed by setting `cmake_policy(SET CMP0091 OLD)` in #953.

[2020-03-14 11:33] #931 closed, assigned to BenjaminW3

[2020-03-14 11:42] BenjaminW3 commented on #849
@psychocoderHPC @tdd11235813 @jkrude Can this be closed now?

[2020-03-14 11:44] BenjaminW3 commented on #815
Can this issue still be reproduced after all the CMake changes on the develop branch?

[2020-03-14 11:44] #757 closed, assigned to BenjaminW3

[2020-03-18 17:06] jkelling opened #958 "Cmake switch for -Werror"
Is there a way to have a cmake switch to disable the -Werror compiler flag?

There are two reasons for this request:
1. The OpenMP4 backend triggers compiler warnings in clang about types note possibly being not mappable which might be technically correct, but  ultimately are pointless an cannot be avoided. In current clang releases, these could be turned off only with a flag that would also disab

[2020-03-18 19:26] BenjaminW3 commented on #958
`-werror` is currently automatically enabled when building the tests/examples. There is not yet a CMake option to disable `-werror` but it should be possible to add such an option easily.

[2020-03-19 21:15] ax3l commented on #944
We discussed this before in an issue and it's definitely possible, just a matter of priorities of the project and available resources.

[2020-03-19 21:18] ax3l commented on #943
Yes, ideally convert all of them to `.rst` and make a sphinx doc out of it, as in our other projects :)

[2020-03-23 13:14] SimeonEhrig commented on #943
Some points for the getting-started guide
- install alpaka
  - from source
  - spack (when it is done)
  - ... (maybe conda)
- add alpaka to the cmake of your project
  - enable backends
  - ALPAKA_ADD_EXCUTEABLE
  - ALPAKA_ADD_LIBRARY

Later, there should also be a detailed section about the `cmake` config.
And a section on how to use Alpaka downstream without CMake (config include helpers).

[2020-03-25 08:05] SimeonEhrig opened #960 "`make install` should not build examples and tests"
When I run the expected install workflow:

[code]

Alpaka builds the examples and the test cases. This is not necessary for an install and takes some time. In some cases, like mine, it can crash with an out-of-memory exception, which should be avoided.

Current solution is to run `cmake .. -Dalpaka_BUILD_EXAMPLES=OFF -DBUILD_TESTING=OFF`, but should be changed to `cmake ..` and for development it

[2020-03-25 08:12] SimeonEhrig opened #961 "find_package(alpaka) example"
Is there an Alpaka example which can build out-of-source? I want to integrate Alpaka in my application, but I haven't found an example with a helpful `CMakeLists.txt`, because the Alpaka examples and tests are designed for in-source builds.

[2020-03-25 08:31] psychocoderHPC commented on #960
We had a longer discussion about it in #942 . If testing is enabled by default depends on the project.
At all the alpaka install needs some refactoring but @j-stephan is currently under high working load with the alpaka workshop preparation :-(

[2020-03-25 08:39] SimeonEhrig commented on #960
I talked with Jan yesterday. He means open an Issue ;-)
I think, this topic is important for the workshop, but we can discuss it at the VC at the afternoon.

[2020-03-25 08:45] sbastrakov commented on #961
Do you mean cmake out-of-source / in-source builds, or usage outside of Alpaka? I thought for cmake Alpaka only supports out-of-source. In case you meant the latter, this is a good point. Btw in the private workshop example repo (link was in mattermost, will send you there) I made a very simple example outside of Alpaka directory. This is really rudimentary, but can be a start.

[2020-03-25 09:09] SimeonEhrig commented on #961
`Out-of-source` and `in-source` are not good terms, so I give an example, what I want to do.

# Install Alpaka on system Level or in environment
[code]
# Building the projekt

CMakeLists.txt
[code]

build project and run executeable:
[code]

My `CMakeLists.txt` works for a simple case at the moment, but I'm note sure, if this is correct.

[2020-03-25 09:13] sbastrakov commented on #961
I am really not an expert in this, but to me it looks okay. Except you are building your example ïn cmake "in-source" fashion, and maybe the `build` directory should be one level higher, outside of your project directory.

[2020-03-25 09:25] SimeonEhrig commented on #961
Okay, now I understand, where is the misunderstanding. I used the terms wrong.
What I want to do, is not to put the Alpaka Source Code in my project and use a relative path. I want to install Alpaka on system level and use `find_package`.

The source of my wrong usage of the terms is the LLVM library, where I develop for. It has a special folder called `tools`. If you put your code in, the `CMakeL

[2020-03-25 09:52] sbastrakov commented on #961
Ah, I see, thanks for clarifications.

[2020-03-25 13:48] SimeonEhrig opened #962 "Conda package"
As side product of the Ptychography 4.0 project, it is possible that we develop a Conda package for Aplaka, because we want to use Python and Alpaka together.

It can be useful, because it allows a easy install of Alpaka and Conda is more widely spread on Laptops than Spack, where people develop applications.

Before we can start, the modernization of the cmake have to be finished: #942, #919

[2020-03-25 17:30] psychocoderHPC opened #964 "Windows CI failed"
One of the windows CI tests is failing: https://github.com/ComputationalRadiationPhysics/alpaka/pull/948#issuecomment-603947472

[code]

CC-ing: @BenjaminW3

[2020-03-25 17:31] psychocoderHPC commented on #964
I will try a restart of the failing job.

[2020-03-25 17:42] ax3l commented on #962
Good idea, me and others took care that [pybind11](https://github.com/pybind/pybind11/) compiles with NVCC for follow-up steps.

[openPMD-api](https://github.com/openPMD/openPMD-api) should both demonstrate [conda packaging](https://github.com/conda-forge/openpmd-api-feedstock/) as well as pybind11 bindings.

[2020-03-25 18:21] psychocoderHPC commented on #964
It looks like random crashes. Otherpull requests also failing in CI action but all other pass.
The line with the error in the CUDA find module looks ok: https://gitlab.kitware.com/cmake/cmake/-/blob/44b8937b7614560d9e88d25456c8394b4b209d51/Modules/FindCUDA.cmake#L1866

[2020-03-25 19:00] psychocoderHPC commented on #964
full log: [windows_compile_error.txt](https://github.com/ComputationalRadiationPhysics/alpaka/files/4382955/windows_compile_error.txt)

Maybe the issue is triggered by: `CMake is re-running because D:/a/alpaka/alpaka/build/test/integ/axpy/CMakeFiles/generate.stamp is out-of-date.`

[2020-03-25 19:06] psychocoderHPC commented on #964
@BenjaminW3  Could it be that for some reasons multiple build are running in parallel on the same machine. If I search for e.g.`Catch2: Using INTERNAL version 2.11.0` in the log I can see that we get multiple CMake outputs at the same time.

Our here an other example:
[code]
The same file is compiled two times.

[2020-03-25 19:09] psychocoderHPC commented on #964
Maybe https://github.com/ComputationalRadiationPhysics/alpaka/blob/c2d14d09ea91b8b1e17e90272e1149c4eed22e14/script/run_build.sh#L121 is triggering the issue?

[2020-03-25 19:11] BenjaminW3 commented on #964
This line says that the compiler can use two threads. CMake generation is already finished at this place.

[2020-03-25 19:13] psychocoderHPC commented on #964
Yes but from the log it looks like we running two times the same stuf. I am testing in https://github.com/ComputationalRadiationPhysics/alpaka/pull/948 if it helps to remove it.

[2020-03-25 19:16] BenjaminW3 commented on #964
The msbuild line is totally unrelated to the CMake errors. CMake generation already happens before.

[2020-03-25 19:21] psychocoderHPC commented on #964
You are right but we are building all cpp files twice, so this parameter could be the reason or do we build two different tests in the same folder at the same time on one CI instance?

[2020-03-26 14:51] #964 closed, assigned to nobody

[2020-03-27 13:08] BenjaminW3 opened #966 "Separate usage of Acc inside and outside of kernels"
* Within a kernel it should probably be called context `CtxGpuCuda& ctx` so that it is easier for users to understand what it is
* Outside of a kernel it represents a stack of interconnected classes representing a backend

[2020-03-27 13:08] #849 closed, assigned to nobody

[2020-03-27 13:13] SimeonEhrig opened #967 "Renovating CI and usage of HZDR GitLab CI"
# Discussions points

* how to distribute the build matrix to GitHub Actions and HZDR CI
* what can be shared between the CIs, e.g. docker container
* ...

[2020-03-27 13:24] SimeonEhrig commented on #967
That's my idea, how we can provide the environment for the CI through a Container:
* describe the containers with [hpccm](https://github.com/NVIDIA/hpc-container-maker) -> it's a recipe generator, which allows to describe the recipes in Python and generate Docker and Singularity Recipes from it
* build the container with the environment one time and not for every test run
  * means the container c

[2020-03-27 15:28] psychocoderHPC commented on #966
I suggest a generic name e.g. `DeviceCtx const & ctx`

[2020-03-27 15:34] psychocoderHPC commented on #967
I suggest to create one container for each architecture e.g. BaseNvidia, BaseX86, BaseOpenPower and BaseArm.
All container should have compiled the dependencies (e.g. Boost, CMake) in all needed versions (best with spack).
Not sure if we should provide for each compiler a separate container. Maybe it is easier for us to providethe base container with multiple compiler, compiled with spack.

[2020-03-27 15:52] SimeonEhrig commented on #967
Do you mean, the CI Job should look something like this:

[code]

[2020-03-27 18:12] psychocoderHPC commented on #967
Yes, cmake should also be loaded by spack but in general this should be the easiest way to maintain a huge amount of different versions for the dependencies without creating a container for each combination.

@ax3l Could you please have a look to our ideas.

[2020-03-30 07:39] SimeonEhrig commented on #967
Okay, than we have to check, if a CI can build this container, because it needs a lot of compute power. I think free runner, like GitHub Actions and GitLab.com Runner will simply get a time out and I'm note sure, if our Runner can build Docker or Singularity container because of security restrictions.

[2020-03-30 08:02] psychocoderHPC commented on #967
As I know our CI can do it or we use our dev system in the office to build the container.

[2020-03-30 08:07] SimeonEhrig commented on #967
Okay. Last time, I had some problems to build Singularity container but something is changed in the meantime. The dev system should not be the solution, because I think container becomes

[2020-03-30 08:10] SimeonEhrig commented on #967
Okay. Last time, I had some problems to build Singularity container but something is changed in the meantime.

The dev system should not be the solution, because it has a restricted access and does not allow a flexible development.

[2020-03-30 13:12] sbastrakov commented on #966
Do we need `device` as part of name in kernel? -  All kernels are always on device.

[2020-03-31 05:39] BenjaminW3 commented on #966
In the end it is about the variable name within the kernel because the type is already a template parameter. At the moment we have `TAcc const & acc`. I would simply replace it by `TCtx const & ctx`.

[2020-03-31 06:18] ax3l commented on #966
I would like to note that for any non-computer scientist, the term "context" is not self-explanatory. So please document it well and prominently, if you pick it.

[2020-03-31 06:26] ax3l commented on #967
Sounds good!

I am not sure if you already need spack since the goal is to keep Alpaka very-low on dependencies, besides vendor libs.

For an optimal usage of free CI services and distribution by tasks (e.g. one service sanitizers, one service windows, one service HPC stack, etc.) I recommend checking out [ADIOS2](https://github.com/ornladios/ADIOS2)'s CI integration into various services. It's qu

[2020-03-31 07:21] SimeonEhrig commented on #967
Thanks for the hints. At the moment, I work on a prototype for the mega spack container (I have a strange problem with alpaka and I'm not sure if my environment is corrupted, so I need the container for verification). I had also recognize the target problem. At the moment, I use `sandybridge` as target, but your solution is better.

For the container I implemented a incremental container build sys

[2020-03-31 08:41] psychocoderHPC commented on #967
Spack will be only used to maintain the X boost, compiler and maybe CMake version. As @SimeonEhrig said the architecture of the packages can be something generric.

We will stay with a few test within free instances, e.g. for Windows and OSX but move complex matrix to our inhouse CI to reduce the load of the free instances.

[2020-03-31 09:20] sbastrakov commented on #966
@ax3l good point, but do you think `accelerator` is really more clear (not saying it's not, since I can't abstract from computer science background here)? A couple of weeks ago Rene, Jan, I and Michael struggled for some time in how to explain in words what does it mean exactly in terms of alpaka kernels, and it turned out we had at least 3 different opinions on that.

[2020-03-31 09:54] psychocoderHPC opened #968 "alpaka repository ownership transfer"
The owner ship of the alpaka repository will be transfered on 3rd April to https://github.com/alpaka-group. It could be that the CI will be offline for a short time period.

This will change the link to the repository to https://github.com/alpaka-group/alpaka.

@ComputationalRadiationPhysics/alpaka-maintainers @ComputationalRadiationPhysics/alpaka-developers

[2020-03-31 10:14] sbastrakov commented on #968
Is cupla being transfered to that group as well?

[2020-03-31 15:25] SimeonEhrig commented on #967
I implemented a first version of the Alpaka Spack CI container and get some information:
https://github.com/ComputationalRadiationPhysics/crp-container/pull/1

@psychocoderHPC
Can you please verify, if the container works. I get an error with CUDA but I had the same error on another system. So, I'm not sure, if it is something wrong with my environments or it is an error in Alpaka. I sent you the

[2020-03-31 16:43] psychocoderHPC commented on #967
Splitting by compiler makes IMO sense. I can test the container on our dev system. Thats the only system with docker where I have access.

Am 31. März 2020 17:25:16 MESZ schrieb Simeon Ehrig <notifications@github.com>:

[2020-04-01 18:12] ax3l commented on #966
Maybe `DeviceContext` or `KernelContext` or `BackendInfo` can add more meaning. As an idea, you five could focus on the description of *what* it is first and document it, and then a new name for the current `accelerator` type/param will arise more naturally.

[2020-04-01 18:23] ax3l commented on #968
I think that makes sense, yes!
(I would long-term even suggest to integrate cupla into alpaka as a high-level library/include functionality.)

[2020-04-02 13:37] jkelling commented on #815
Yes, it is still reproducible.

[2020-04-03 07:14] psychocoderHPC commented on #968
Sry for the late response. Yes the repo will be transferred too

[2020-04-03 07:35] psychocoderHPC commented on #968
@alpaka-group/alpaka-developers Please check that you have still all  access rights to settings and CO as before.

[2020-04-03 08:50] BenjaminW3 commented on #968
My rights on the alpaka repository seem to be limited. At least the settings menu cotains much much less options.

[2020-04-03 09:17] psychocoderHPC commented on #968
@BenjaminW3  please try now again

[2020-04-03 09:18] BenjaminW3 commented on #968
works, thanks!

[2020-04-03 19:03] psychocoderHPC commented on #968
The repo is transferred. Therefore I will close this issue

[2020-04-03 19:03] #968 closed, assigned to nobody

[2020-04-03 19:07] ax3l commented on #968
Repo rights already work, thanks.
I've membership but no ownership of the https://github.com/alpaka-group org.
Maybe also give Benjamin ownership of the new org, to reduce the bus factor.

[2020-04-06 05:48] psychocoderHPC commented on #968
done

[2020-04-06 16:57] ax3l commented on #968
Awesome, please don't forget to set your membership status to "public" everyone :)
https://github.com/orgs/alpaka-group/people

[2020-04-06 17:56] erikzenker commented on #968
done

[2020-04-09 01:32] #782 closed, assigned to nobody

[2020-04-09 17:53] BenjaminW3 commented on #459
I will close this ticket.
More and more meta programming constructs get integrated into the c++ standard and our goal is to get rid of dependencies (especially boost) instead of adding new dependencies.

[2020-04-09 17:53] #459 closed

[2020-04-09 17:55] BenjaminW3 commented on #405
#967 discusses the future of our CI and especially providing prebuilt docker images as build environment. Furthermore, we are moving from travis to github actions. Therefore I will close this ticket.

[2020-04-09 17:55] #405 closed

[2020-04-10 09:28] #726 closed, assigned to BenjaminW3

[2020-04-10 09:44] BenjaminW3 commented on #936
As this topic was a poll and I see 3 votes for keeping the current state and only 1 for removing entries from the `.gitignore`, I will close this now.

[2020-04-10 09:44] #936 closed, assigned to nobody

[2020-04-10 09:45] BenjaminW3 commented on #860
As we want to reduce our external dependencies and go away from travis, I will close this.

[2020-04-10 09:45] #860 closed, assigned to nobody

[2020-04-10 11:35] BenjaminW3 commented on #815
I tried hard to reproduce the issue but I failed.
First build:
[code]
Rebuild:
[code]
They are identical except some additional dependency checks.
I can not find any includes into the build folder or similar things.
Could someone else try to reproduce it?

[2020-04-14 12:13] jkelling commented on #815
The reproducer above (with the new alpaka location) does not reproduce the issue anymore. I now also did not manage to get the error in less clean environments. Maybe the the event I reported twelve days ago was a fluke and it is much harder to reproduce now, or it went away when rebaseing afterwards.

I am going to close this issue and reopen in case I run into it again.

[2020-04-14 12:13] #815 closed, assigned to nobody

[2020-04-22 08:47] psychocoderHPC commented on #966
Since we use already the name `work division` we could also use `WorkerCtx`.

The definition we found on a discussion with @j-stephan, @sbastrakov , @bussmann was:
[code]

[2020-04-22 17:13] #785 closed, assigned to nobody

[2020-04-22 17:14] BenjaminW3 commented on #785
Implemented by #847

[2020-04-23 09:55] sbastrakov opened #983 "Support for gcc 8 + CUDA backend?"
This question popped up during the call with a workshop team. The table does not list this combination as supported. Is the reason that something does not work, or it's just not tested?

[2020-04-23 11:17] jco-dev20 opened #984 "Build errors with CUDA gcc 7.3"
Dear Developers,

I'm having some issues building alpaka with CUDA.
I am building alpaka in a conda environment which has gcc 7.3 and am using Centos7. I am using OpenMP 4.5 and have tried to use CUDA 9.2 and 10.0. I have no problems building using OpenMP.

I currently run the following
[code]
I turn off building with cuda using the cmake flag and have no problems. Are you able to reproduce this e

[2020-04-23 20:43] ax3l commented on #984
Hi @jcob95,

just for completeness, can you please provide the whole set of commands on how you did set up conda and the conda environment in which you compile? Commands and packages, so that others can try to reproduce this :)

[2020-04-23 20:45] ax3l commented on #983
Yes you got that right, everything that is listed is tested in CI, according to the note below the table. One can adopt one of the GCC entries in CI to GCC8, which works with [CUDA 10.1 or newer](https://gist.github.com/ax3l/9489132), probably already works.

[2020-04-24 09:49] jco-dev20 commented on #984
Hi @ax3l ,
I set up conda a while ago so I don't remember exactly, but I've attached the yaml so hopefully it's enough to reproduce the environment so that you can reproduce it.

[code]

[2020-04-25 09:42] BenjaminW3 commented on #983
This is an error in the readme. We already have a test in CI with `nvcc-10.1 + gcc-8`. The problem in the readme is that we have only one column for gcc 8 and 9 combined and gcc 9 is not yet supported by nvcc.

[2020-04-26 11:44] BenjaminW3 opened #987 "Avoid device synchronization on cudaFree"
See this blog post: https://devblogs.nvidia.com/introducing-low-level-gpu-virtual-memory-management/

[2020-04-27 05:47] #983 closed, assigned to nobody

[2020-04-27 06:53] SimeonEhrig commented on #984
If I see it correctly, you are using a CUDA installation of the system and not a conda package. But the GCC is provided by a Conda package. Or am I wrong?

This could be the problem.

[2020-04-27 07:49] psychocoderHPC commented on #987
The disadvantage is that this function require the driver API. Currently only the tests in alpaka depends the driver API.
If we implement something like that we need to take care that we are able to build on a system without a CUDA driver. The CUDA driver ships cuda.so.
On a system without CUDA driver we need to build against `lib/stubs/libcuda.so`. At all it is no big deal but we need to check if

[2020-04-27 08:16] jco-dev20 commented on #984
Hi @SimeonEhrig
You are correct, I am using a CUDA installation on that system and not a conda package. I was under the impression that it is not possible to get CUDA using conda.  The gcc I am using is indeed from conda.
Is it possible to use conda to install  CUDA and then compile it with whatever compiler I chose in conda?

[2020-04-27 08:56] SimeonEhrig commented on #984
Theoretical, it should be possible to install CUDA via conda. There is a conda package: https://anaconda.org/anaconda/cudatoolkit

But in the past, I had some problems with the conda package. My workaround is using the CUDA and GCC version provide by the module environment system of the HPC. But this is a lazy workaround. At the moment, I trying to find out if it possible to compile Alpaka with co

[2020-04-27 09:29] SimeonEhrig commented on #984
I found out, that the `cudatoolkit` just provide libraries to run CUDA applications. It doesn't contains developments tools like the nvcc compiler.

How is CUDA provided on your system?

[2020-04-27 09:43] jco-dev20 commented on #984
The CUDA installation is installed in usr/local for each version and contains the nvcc compiler and development tools. I believe this is a driver installation.

[2020-04-27 11:50] SimeonEhrig commented on #984
I can verify, that the problem is caused by the conda package `gxx_linux-64` in combination with CUDA. The error is typical for CUDA, if the host compiler is not correct set. Unfortunately I have no solution for the conda package. Do you have the option to use a modern GCC provided by the host system (the default GCC 4.8.5 of centos 7 is to old)?

[2020-04-29 08:45] psychocoderHPC opened #992 "remove duplication in compiler flag variables"
Alpaka appends options to `CUDA_NVCC_FLAGS`, `CMAKE_CXX_FLAGS`, ...
In the case where the user is using a third party library which depends e.g. on CUDA and is also appending `CUDA_NVCC_FLAGS` it could be we pass options multiple times to the compiler.

IMO we should clean (remove duplicated options) `CUDA_NVCC_FLAGS` in our cmake macro `alpaka_add_executable` and `alpaka_add_library`. #991 provid

[2020-04-29 10:02] felicepantaleo commented on #18
just checking if there is any plan on this

[2020-04-29 10:02] felicepantaleo commented on #15
just checking if there is any plan on this

[2020-04-29 10:05] psychocoderHPC commented on #18
You increased the priority for this features by +1

[2020-04-29 10:07] psychocoderHPC commented on #15
@felicepantaleo Thanks for triggering this issue gain. @alpaka-group/alpaka-maintainers we need to increase the priority to implement these intrinsics.

[2020-04-29 10:33] BenjaminW3 commented on #18
Are you more interested in ldg or shfl?

[2020-04-29 11:03] psychocoderHPC commented on #18
The request in our internal Mattermost was for `__ballot_sync()` and `__shfl_up_sync()`. I also see  shuffle as more important as `__ldg()`

Note: CUDA has `__ballot` (asynchronous) and `__ballot_sync()`

[2020-04-29 12:06] sbastrakov commented on #15
As a note, CUDA has these operations on the warp level. Alpaka currently does not have any abstraction for it. So in case we want to make this in Alpaka, I think we should first define what is warp abstraction, or do it on the block level, or somehow else resolve this.

[2020-04-29 12:30] psychocoderHPC commented on #723
I will close this issue because I think 32bit is not required and binds only men power.

[2020-04-29 12:30] #723 closed, assigned to nobody

[2020-04-30 07:47] psychocoderHPC commented on #15
If we implement it on block level all threads must be call this functions collectively so it is not possible to use this function when you have branches in the code.

[2020-04-30 08:02] sbastrakov commented on #15
Ah, true. But does it essentially mean that to define such operations in Alpaka, it needs to define the warp abstraction first?

[2020-04-30 08:08] jco-dev20 commented on #984
This isn't really practical for me on my system without using conda since to build CUDA requires root access. A work around could be to use a container? Do you have singularity or docker containers with alpaka builds?

[2020-04-30 09:30] SimeonEhrig commented on #984
Yes, we have containers. There is a container recipe generator: https://github.com/ComputationalRadiationPhysics/crp-container/tree/master/Alpaka

The recipe generator is under development and there is no release yet, but it works in general. This means there is no constant testing via CI and images in a registry. I would create and and test a recipe for you. Is a Singularity container with CUDA 1

[2020-04-30 09:56] jco-dev20 commented on #984
@SimeonEhrig
Thanks for the information. The singularity container you suggest is fine, certainly for testing. Uploading to the singularity library would also be helpful
Thanks!

[2020-04-30 12:42] SimeonEhrig commented on #984
The container is ready. Unfortunately I have some problems with the registry and can not upload the image. Instead I uploaded it to our HZDR owncloud. I have sent you an email with the access data and a `curl` command so that you can easily download the image on your cluster.

[2020-05-01 02:46] ax3l commented on #493
ICC (`icpc`/`icc`) and DPCC (`dpcpp`/`fpcpp`) are now available as apt packages and docker images :tada:

See here:
- https://github.com/rscohn2/oneapi-ci
- https://gitlab.com/rscohn2/oneapi-ci
- https://software.intel.com/en-us/articles/oneapi-repo-instructions
- https://github.com/openPMD/openPMD-api/commit/93646a3a302106590000ad60add1446720ff79be
- https://github.com/ECP-WarpX/WarpX/blob/27376e

[2020-05-01 15:19] BenjaminW3 commented on #15
What we should do depends on the use case. Does the user really want Warp level operations or block level operations?

When the user wants Warp-level operations it is really easy to implement a basic version because on CPU devices our warp size could simply be 1 and so the operations would nearly get no-ops while we would have to expose the warp size and the real operations on the CUDA backend.
La

[2020-05-04 06:30] psychocoderHPC opened #993 "dynamic shared memory trait"
The traits `BlockSharedMemDynSizeBytes` is designed with a local view in mind. The number of threads and elements per thread where passed to the trait [ref](https://github.com/alpaka-group/alpaka/blob/ab1b75975245b2c0f7127ea068e4db5ee9a00e29/include/alpaka/kernel/Traits.hpp#L84-L85)
If you like to implement a global prefix sum as it could be helpful to know how many blocks are involved.
The exampl

[2020-05-04 10:45] SimeonEhrig commented on #984
@jcob95 Does the container works?

[2020-05-04 11:15] jco-dev20 commented on #984
@SimeonEhrig my apologies other projects have distracted me from this, I will try the container as soon as I can.

[2020-05-04 11:25] krzikalla commented on #765
In version 0.4.1. I have to conditionally comment out the whole omp single nowait block starting at
TaskKernelCpuOmp2Threads.hpp:164 with

#if (!BOOST_COMP_GNUC) || (BOOST_COMP_GNUC >= BOOST_VERSION_NUMBER(8, 1, 0))

According to the internet gcc >= 8.1. fixes the issue. OTOH I question that omp single nowait block  at all. It is there for debugging purposes only and the "omp single nowait" clause

[2020-05-04 11:28] SimeonEhrig commented on #984
No Problem :-)

[2020-05-04 12:03] psychocoderHPC commented on #15
Defining the CPU warp size to one sounds good! This will solve many issue.
I would say the block level stuf should be implemented as `reduce`, `scan`, ... and differ from the intrinsics.

[2020-05-04 12:11] BenjaminW3 commented on #765
Yes, the block has thrown.
Years ago I had some problems with OMP environment variables enforcing lower thread counts. This may or may not be an issue anymore.
However, this check found a regression in the Microsoft compiler where omp got broken.

If we have some benchmark numbers where this block has some reasonable influence, we could hide it by surrounding it with `#if ALPAKA_DEBUG >= ALPAKA_DE

[2020-05-04 13:06] krzikalla opened #994 "Conversion warning in TinyMT"
With  -Wconversion I get a warning:
[code]
I fixed it by explicitly stating the conversion:
`
return float(tinymt32_temper(random) >> 8) * TINYMT32_MUL;
`

[2020-05-04 14:57] BenjaminW3 commented on #994
I can not find a place where alpaka is ever calling the `tinymt32_generate_float` method which contains this code. Did you directly call this method or what am I mising?

[2020-05-04 14:58] BenjaminW3 commented on #994
Or did the compiler generate this error while parsing the code without ever calling it?

[2020-05-05 07:21] krzikalla commented on #994
No, we don't call it. I don't know what TinyMT is for.
I guess the compiler generate this error while parsing the code, since there is no template involved.

[2020-05-05 16:40] ax3l commented on #994
TinyMT is our CPU-side RNG backend #579 that does not occupy all RAM with RNG states alone #575 in production scenarios.
We use it from
https://github.com/MersenneTwister-Lab/TinyMT
and I applied already quite a bunch of fixes to mitigate warnings. We cropped it together in a single header, which might cause the warning even when not called explicitly.

Your proposed fix looks valid, do you want t

[2020-05-06 10:54] sbastrakov commented on #993
I like passing the `workDiv`.

[2020-05-06 14:21] krzikalla opened #995 "std::decay_t causes internal compiler errors in Intel compiler"
In TaskKernelCpuOmp2Blocks.hpp the lines 102 and 122 read

`[this](typename std::decay<TArgs>::type const & ... args)`

The std::decay in these lines produces an internal compiler in all Intel.2018 versions.
In alpaka 0.3.5 these lines (there in ExecCpuOmp2Blocks.hpp) just read

`[this](TArgs const & ... args)`

Unfortunatly we can't switch to Intel.2019 or a newer version yet (since this causes o

[2020-05-07 06:21] psychocoderHPC commented on #995
For documentation I like to link @ax3l 's comment that it is now possible to add `icc` to travis https://github.com/alpaka-group/alpaka/issues/493#issuecomment-622222393

[2020-05-07 06:29] psychocoderHPC commented on #995
You can best see it in the [cppreference documentation](https://en.cppreference.com/w/cpp/types/decay). It removes references, universal references and is doing some pointer transformations.

As you wrote I do not think that you can simply remove `std::decay`.

Depends on the compiler errors.

[2020-05-07 06:50] psychocoderHPC commented on #995
@krzikalla Is it possible to compile all alpaka tests with icc 2018?

[2020-05-07 07:52] sbastrakov commented on #995
I do not remember all details, but as far as I remember that `decay` is indeed needed, we discussed with @psychocoderHPC at that time.

[2020-05-07 13:01] krzikalla commented on #995
@psychocoderHPC:
CMake didn't complete ("Could NOT find alpaka (missing: alpaka_INCLUDE_DIR)")
To reformulate my initial question in präziserem Deutsch: Warum steht std::decay in alpaka an diesen Stellen? Wofür wurde es damals dort hingeschrieben?
@sbastrakov :
It was introduced as part of a patch, which can be traced back to #843. But why?

I mean, you should by no means change it - Intel 2018 is

[2020-05-07 13:47] psychocoderHPC commented on #995
Remove all temporary cmake files. Than set the environment variable `alpaka_ROOT`. I am not sure this happend.

Because `TArgs` can be a reference or an `array[]`. `decay` avoids that the arguments you push to the kernel will not match the definitions of the kernel arguments.

The changes was made to fix the issue that fixed size array e.g. `double[4]` was not handled correctly. I refactored all k

[2020-05-07 14:00] krzikalla commented on #995
Doesn't work, same error. A documentation on how to build examples and tests would be good.

[2020-05-11 08:34] BenjaminW3 commented on #992
@psychocoderHPC Do you still want to do something in alpaka about this?

[2020-05-11 11:51] psychocoderHPC commented on #992
Yes, to avoid side effects with other libraries but due to much work this has a low priority on my todo list.

[2020-05-11 18:51] #994 closed, assigned to nobody

[2020-05-11 18:52] BenjaminW3 commented on #994
I merged a fix into the develop branch.

[2020-05-11 18:55] ax3l commented on #994
Thanks!

[2020-05-12 05:03] BenjaminW3 opened #999 "Fix clang-10 warnings when OpenMP 4 backend is enabled"
[code]

[2020-05-13 08:09] psychocoderHPC commented on #999
CC-ing: @jkelling DO you saw this warning in your OpenMP 5 developments before?

[2020-05-13 08:26] jkelling commented on #999
Yes, this is the warning I am oft seeing. However in this case it is justified, because you cannot map function pointer to the target and thus no bind expression. The only reason this does not fail at runtime is because the present OMP4 backend explicitly disables offloading of the target region.

There would be two ways to deal with this:
1. Address it by not using a bind expression.
2. Pass `-Wn

[2020-05-14 14:12] SimeonEhrig opened #1000 "Clang as CUDA Device Compiler throws a Compiler error"
Error:
[code]

CMake config

[code]

Testet environments:
 - Ubuntu 18.04 + CUDA 10.1 + Boost 1.67.0 + Clang 9
 - Ubuntu 18.04 + CUDA 10.1 + Boost 1.73.0 + Clang 10

[2020-05-14 14:19] psychocoderHPC commented on #1000
~~Ohh could be I have seen the `catch2` issue already. @jkelling I think we fixed it together for SPEC, do you have the diff for the fix in the catch header.~~

[update] sry my fault it is clearly a cast issue if the index type is e.g `int` or in this case `long int`

[2020-05-14 14:26] psychocoderHPC commented on #1000
https://github.com/alpaka-group/alpaka/blob/a5a8277cded3e20612c11282857ad2f007a113f3/include/alpaka/mem/buf/BufUniformCudaHipRt.hpp#L398-L400

Since we use here `auto` the type of `width`, ... depends on the template `TIdx`

[2020-05-15 18:34] BenjaminW3 commented on #1000
I think we could solve this with
[code]
Do you want to create a PR?

[2020-05-16 07:46] SimeonEhrig commented on #1000
I already tried this solution and it does not works or is not enough, because some tests, like `math` failed.

[2020-05-18 09:12] bernhardmgruber opened #1002 "Strategy update for nvc++"
NVIDIA just announced their HPC-SDK: https://news.developer.nvidia.com/HPC-SDK/ and https://developer.nvidia.com/hpc-sdk

What strikes me the most is:
C++17 parallel algorithms enable portable parallel programming using the Standard Template Library (STL). The NVIDIA HPC SDK C++ compiler supports full C++17 on CPUs and offloading of parallel algorithms to NVIDIA GPUs, enabling GPU programming with

[2020-05-18 15:09] sbastrakov commented on #15
I started implementing these voting operations as discussed above in #1003.

[2020-05-18 16:31] j-stephan commented on #919
Full support for clang-cuda has just been merged into CMake:

https://gitlab.kitware.com/cmake/cmake/-/merge_requests/4442

Finally!

[2020-05-18 16:33] BenjaminW3 commented on #919
Now hope for a release very soon!

[2020-05-18 17:15] BenjaminW3 commented on #919
As soon as I can get a nightly build and some spare time I will try this out.

I do not see a way forward supporting the old FindCUDA together with the new CMake CUDA language support so the change will probably completely remove the FindCUDA way. This will result in losing support for the older CMake releases. Therefore, we should do an alpaka release before this change is applied.

[2020-05-19 08:44] SimeonEhrig commented on #919
Just as side node. Near to the end of the discussion, there is also question of HIP support and the answer, that should be really similar to the Clang+CUDA support.

[2020-05-19 09:25] jco-dev20 commented on #984
Hi, the container worked perfectly with the GPU backend on our machines. Thanks for making the container.

[2020-05-19 09:26] SimeonEhrig commented on #984
That's great!

[2020-05-19 10:58] psychocoderHPC commented on #919
I used already a plain clang for HIP as prototype with hard coded path to the libs. https://github.com/psychocoderHPC/picongpu/commit/be71be2a8e2233dc97abe98358ecbf0a21b97220
This branch is was for CRAY to test PIConGPU without hipcc.

Note: `FindHip` is currently required to use HIP-nvcc, a side effect of changing to native compiler will mean losing HIP-nvcc or still maintain the `FindHIP` part i

[2020-05-19 18:04] BenjaminW3 commented on #984
Can this issue be closed now?

[2020-05-20 07:27] SimeonEhrig commented on #984
I think, we solved the problem for @jcob95 and can close the issue.

@alpaka-group/alpaka-developers
Following of this discussion, there was a discussion in a VC, if we want to provide official Alpaka development containers. The result is that containers will probably become more and more important for HPC, but we do not want to provide official containers at the moment. The reason is that we have

[2020-05-20 08:39] bernhardmgruber opened #1005 "Atomic functions are too verbose"
While porting mallocMC to alpaka, I replaced a lot of atomic operations in CUDA by the alpaka equivalents. This made the code a lot verboser:
[code]
changes to:
[code]

What is the reason for not providing a straight forward:
[code]
?

[2020-05-20 09:05] sbastrakov commented on #1005
I would like it. Guess just with `atomic::` namespace, like
`const uint32 old = alpaka::atomic::atomicOr(acc, bitfield, mask);`

The duplication between namespace name and function name is what may also be discussed, but now it is very consistently done in alpaka.

[2020-05-20 14:24] BenjaminW3 commented on #1005
I also think that a shortcut `atomicOr` would be possible.

[2020-05-21 13:07] BenjaminW3 commented on #1000
I am taking a look at the warning/error right now.

[2020-05-22 08:27] bernhardmgruber opened #1009 "Alpaka min/max vs CUDA min/max"
The following code compiles fine with nvcc:
[code]
Now porting this alpaka gives:
[code]
The second example does no longer compile with the following error message:
error: identifier "limit" is undefined in device code

The reason is that, alpaka captures its arguments by const reference and therefore ODR-uses `limit` which hence requires a definition, whereas the CUDA builtins capture by value.

[2020-05-22 12:44] BenjaminW3 commented on #1009
I do not see a strong reason to capture by reference. It would also be ok to capture by value for those methods.

[2020-05-22 14:50] bernhardmgruber commented on #1009
Btw, adding a unary plus in front of the constant makes it compile, because the reference then binds to the created temporay instead of the constant:
[code]
Weird workaround.

[2020-05-23 20:18] ax3l commented on #1002
Just to add first-hand Q&As I publicly [asked the corresponding Nvidia folks](https://twitter.com/axccl/status/1261422262516768768):
As of today, NVC++ is a standard compliant C++17 compiler with a GPU-enabled parallel STL. It also seems to support [OpenACC](https://twitter.com/matcolgrove/status/1263531645312745473).
It is *not* ([yet?](https://twitter.com/blelbach/status/1261455345353809920)) a

[2020-05-24 06:58] BenjaminW3 opened #1011 "Considerations for C++17-only release"
CUDA 11 will add support for C++17. This would allow us to require C++17 as minimum version for alpaka which would allow us to simplify some internals.

As an intermediate step we should create a release that still supports c++14 but already adds support for CUDA 11 and c++17.

In a follow up release we could drop support for the following dependencies because they miss full c++17 support:
* CUDA

[2020-05-25 07:27] sbastrakov commented on #1009
Out of curiosity, does putting `constexpr auto deviceLimit= limit;` and passing this new variable to the `min()` make it work?

[2020-05-25 07:36] psychocoderHPC commented on #1011
Note: we need to stay with CUDA 10.1 requirements as long as the most used HPC systems using CUDA 10.1.
A stable release with C++14 will help but also increase the required work because we need to create back-ports and work on multible alpaka versions at the same time.

[2020-05-25 07:51] psychocoderHPC commented on #1009
Note: Somewhere in the CUDA specs there is a link how `constexpr` and references work together. If I remember correctly they wrote that they do not allow to capture a constexpr by reference. The CUDA devs argued that this is how it is described in the standard. I try to find the reference but it will take some time.

[2020-05-25 09:16] bernhardmgruber commented on #1011
As discussed in a VC: I think compiler/toolchain updates are governed by what kinds of (HPC-) systems we want to support. So if all of these systems have upgraded to a new compiler/toolchain, we can upgrade as well. @sbastrakov pointed me to a list of systems where picongpu has been run, so we have a (partially outdated) sample of these supported systems.

I think we should have a table of support

[2020-05-26 08:41] bernhardmgruber opened #1013 "MSVC and g++ host compiler fail to deduce return type of min/max"
When I use the `alpaka::math::min` or `alpaka::math::max` function, nvcc compiles fine, but MSVC or g++ as host compiler fails to compile the remaining code after nvcc.

Given, from mallocMC,
[code]
g++ complains with: `error: void value not ignored as it ought to be` at the assignment to `fullsegments`.
The error message indicates, that the host compiler sees a return type of `void` for the alpak

[2020-05-26 11:08] #1000 closed, assigned to nobody

[2020-05-26 12:05] BenjaminW3 commented on #1013
Can you reproduce this in an alpaka unit test so that it can be checked in CI?

[2020-05-26 12:06] #984 closed, assigned to nobody

[2020-05-26 12:09] BenjaminW3 commented on #967
All the build jobs have now been moved to github actions.
This should make the builds faster and we get rid of the second platform.
I will try to clean the linux builds up a bit more so that they get faster.

[2020-05-27 07:03] ax3l commented on #992
Ideally, Alpaka does not add/modify to `CMAKE_...` flags unless it's the root CMake project.

With CUDA, luckily the next release will allow to set device link flags on targets and potentially also add Clang CUDA support, so we should be able to get rid of many hacks.

[2020-05-27 08:22] psychocoderHPC commented on #1013
@sbastrakov said that it could be an issue when `min` is a function which can not be inlined. `::min()` is in the CUDA headers defined as `extern __device__` function so it could be the reason.

[2020-05-27 08:23] psychocoderHPC commented on #1013
Another problem could be that `a`,`b` in `min(acc, a,b)` has a different type.

[2020-05-27 14:21] bernhardmgruber commented on #1013
So while reproducing the issue in a small unit test, I ran into a different issue. But maybe this is caused by the same problem.

The following code:
[code]
fails to compile with the host hompiler (MSVC):
[code]

nvcc compiles fine.

The problem is that the CUDA `::min()` function is marked as `__device__`, whereas the `alpaka::math::min()` is marked as `__host__ __device__`. Since the return type

[2020-05-27 14:22] bernhardmgruber commented on #1013
As a sidenote: the alpaka unit tests seem to only test the math functions on `float` and `double`, but not on integral arguments (which does not make sense for all functions).

[2020-05-28 07:57] psychocoderHPC commented on #1013
I think it is only solvable by adding the return type. I got the same issue in cupla during I implemented math functions there https://github.com/alpaka-group/cupla/blob/7e7509463b48d393edc7596d36b20de2b0fef2f4/include/cupla/device/math/Common.hpp#L89-L103

See my comment  in the cupla code

[code]

[2020-05-28 07:58] psychocoderHPC commented on #1013
@bernhardmgruber  could you please test if you workaround `decltype(::min(x, y))` helps in you unit test.

[2020-05-28 10:57] bernhardmgruber commented on #1013
@psychocoderHPC yes, adding `decltype(::min(x, y))` solves it. This is what i added a few days ago on top of the alpaka subtree in mallocMC.

[2020-05-28 11:39] bernhardmgruber opened #1015 "Integer underflow when creating Vec"
Given the following code
[code]
nvcc yields this warning: `warning #68-D: integer conversion resulted in a change of sign`.

The reason is that, `getExtentVecEnd` will eventually expand to:
[code]
The substitution `alpaka::extent::detail::CreateExtent<-1>` is triggering the warning, because the non-type template parameter is `size_t` and -1 is passed.

This whole situation arises, because I create

[2020-05-29 12:45] psychocoderHPC opened #1019 "CMake target for each accelerator"
Based on [this](https://github.com/alpaka-group/alpaka/pull/942#issuecomment-593970673) I suggest that we add CMake target for each accelerator backend.
Currently alpaka CMake behaves to optimal fits the CI workflow and is activating all available backends.
Backends should be select able during the install of alpaka and store the dependencies including there locations. After alpaka is installed e.

[2020-05-29 14:05] j-stephan commented on #1019
What if I don't have CUDA installed at first but install it after alpaka? Do we want to force a reinstall?

[2020-05-29 14:10] psychocoderHPC commented on #1019
Than you can not use CUDA. If you install MPI before you install CUDA you can not have a CUDA-aware MPI.
If you activate CUDA after you installed alpaka you can not guarantee that you alpaka works fine with CUDA.
The general workflow to install software is:

[code]

To switch the CUDA version after installing alpaka sound good but will avoid that you are on a reproducible environment.

[2020-05-29 14:12] psychocoderHPC commented on #1019
You sill have the possibility to use alpaka via `add_subdirectory` to be able to switch accelerator backends.

[2020-05-29 14:50] j-stephan commented on #1019
But CUDA is a build dependency for CUDA-aware MPI, right? This isn't true for alpaka since we are header-only.

I'm also not convinced that there is a problem with our current approach. Right now we check for dependencies at build / installation / `add_subdirectory` as well as `find_package` (i.e. after installing alpaka). The latter comes with virtually no overhead. Why should we remove it?

[2020-05-29 15:57] psychocoderHPC commented on #1019
With the current approche the admin who provides alpaka as module has hard times to guarantee that alpaka works because what 'make test' checks is not what the iser later uses as environment.
We should discuss it with more alpaka devs in a face to face meeting.
It is hard for me to explain here all because I need maybe intruduce how HPC system handle there software and how they IMO should do it wi

[2020-05-29 17:11] psychocoderHPC commented on #1019
A possible way would be to keep the live search in cmake after the installation but only allow backends those was activated and therefore could be tested during the install and disable all other.
This would still allow you to switch e.g. between different cuda versions if cuda was enabled during the install.

[2020-05-29 18:16] ax3l commented on #1011
Fantastic ideas, maybe we could do a simple wiki page in the Alpaka repo?

[2020-05-29 18:57] ax3l commented on #1019
You both have great points and I think keeping the installed version as @j-stephan describes agnostic is quite good, especially for other package managers than Spack that live with a more "runtime addon" philosophy (debian, conda-forge et al.).

The point that @psychocoderHPC raises is really good and I would say we could address this with:
- additional documentation how to test backends at instal

[2020-05-29 19:11] ax3l commented on #1005
:+1: for more `using` aliases.

Note that we might want this mimic this syntax towards C++20:
- https://on-demand.gputechconf.com/supercomputing/2019/pdf/sc1942-the-cuda-c++-standard-library.pdf (slide 8)
- http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2019/p1135r5.html
- https://developer.nvidia.com/gtc/2020/video/cwe21284

Due to the very explicit naming: could we make `alpaka::atomic` a C+

[2020-06-02 07:45] SimeonEhrig commented on #1000
@BenjaminW3
Did you run `ctest`? On my system `math` and `memView` still fails.

[code]

[code]

[2020-06-02 08:19] BenjaminW3 commented on #1000
As this seems to compile now, it seems to be a diffent issue.
The math test may never have worked.
Could you please create new issues for the two separate failig tests?

[2020-06-02 10:01] sbastrakov commented on #1005
Perhaps we can, and also with many other namespaces of alpaka as lots of classes or functions have the same prefix in their self name as the namespace they are in,

[2020-06-02 11:05] psychocoderHPC commented on #1000
The error message is reporting issues with device symbols

[code]

[2020-06-02 12:58] SimeonEhrig opened #1020 "math test failed with Clang as CUDA compiler"
[code]

[code]

Tested on `fwk394` with `CUDA 10.1`, `Clang 10.0`, `CMake 3.16.5` and `Boost 1.73.0` via `Spack`. It also fails with the Alpaka-CI Docker image (the image is not public available at the moment -> I work on it).

[2020-06-02 12:59] SimeonEhrig opened #1021 "memView test failed with Clang as CUDA compiler"
[code]

[code]

Tested on `fwk394` with `CUDA 10.1`, `Clang 10.0`, `CMake 3.16.5` and `Boost 1.73.0` via `Spack`. It also fails with the Alpaka-CI Docker image (the image is not public available at the moment -> I work on it).

[2020-06-02 13:02] SimeonEhrig commented on #1000
@BenjaminW3  @psychocoderHPC
I have create the Issues: #1020 #1021
Sorry for the delay, I thought, I could easily provide the Docker images for reproducibility, but that is harder, then I thought.

[2020-06-02 13:13] BenjaminW3 commented on #1020
From the test result I would say that `alpaka::math::exp` returns `-inf` for the case where `std::exp` returns `inf`. As we do not see the input value it is hard to tell what went wrong.

[2020-06-02 13:20] BenjaminW3 commented on #1020
We are using `std::numeric_limits<double>::max()` as argumet and `std::exp(std::numeric_limits<double>::max()) == inf`.
May this be different for clang CUDA?

[2020-06-02 13:31] BenjaminW3 commented on #1021
The error is that `cudaGetSymbolAddress` can not find the device address of a variable defined as `__constant__`.
Is this a supported feature of clang at all?

[2020-06-02 15:36] psychocoderHPC commented on #1020
We should check the specs for this function and also check that we have no cast to float somewhere.

[2020-06-03 09:24] SimeonEhrig commented on #1021
The container is online. You can simply reproduce the problem with the following script:

[code]

[2020-06-03 09:25] SimeonEhrig commented on #1020
The container is online. You can simply reproduce the problem with the following script:

[code]

[2020-06-03 10:38] SimeonEhrig commented on #1019
I agree with @psychocoderHPC that we should not activate all possible backends by default. It is not the usual workflow and it is a source of unnecessary bugs (e.g. In my case, OpenMP and the nvcc together caused a problem and did not use OpenMP in my code).
But I think we should not restrict the backends at install time without a technical reason. How @ax3l already mention, there are workflows, w

[2020-06-03 12:02] j-stephan commented on #960
This can be closed now, there is a fix in #1016.

[2020-06-03 12:37] SimeonEhrig commented on #960
@j-stephan Nice work. You just forgot to update the documentation. I already created a pull request: #1023

[2020-06-03 12:37] #960 closed, assigned to nobody

[2020-06-04 06:17] SimeonEhrig commented on #497
@BenjaminW3 I think, we can close the issue, because we have completely moved to GitHub Actions.

[2020-06-04 14:42] Axel-Naumann opened #1026 "Missing doc for `mem::buf::alloc`'s `TIdx`"
Hi,

`TIdx`, the second template parameter for `mem::buf::alloc` https://github.com/alpaka-group/alpaka/blob/develop/include/alpaka/mem/buf/Traits.hpp#L116 isn't documented. Could you fix that, please? It's a function that seems to be used in tutorials - thus fairly visible. Thanks!

Cheers, Axel.

[2020-06-04 16:54] sbastrakov commented on #1026
Hello @Axel-Naumann , thanks for pointing out! It is indeed an important one. Just made a small PR #1027 to add the missing description.

[2020-06-04 18:29] #497 closed

[2020-06-04 20:10] #1026 closed, assigned to nobody

[2020-06-08 07:22] bertwesarg opened #1032 "Push to fork result in workflow errors"
Hi,

I have a fork of Alpaka and just pushed an update since a long time. But now I get workflow error messages:

[code]

This is rather surprising and also very unpleasant. Is there anything the upstream repository can do to prevent these messages, or can the fork do something?

Thanks

[2020-06-08 09:35] bernhardmgruber opened #1034 "Reduce namespace overusage"
I gave an introduction to alpaka to a group of people from the EP-SFT group at CERN and while presenting an example there was feedback that alpaka makes too much use of namespaces.

Examples:
[code]
Very often the name of the namespace repreats in the name of the entity referred to. Like `alpaka::dim::DimInt` contains `dim` in the namespace and `Dim` in the referred class template.

While there wa

[2020-06-08 09:36] bernhardmgruber commented on #944
On simplifying namespaces in alpaka: https://github.com/alpaka-group/alpaka/issues/1034

[2020-06-08 10:01] bernhardmgruber opened #1035 "Decrease need for template arguments"
I gave an introduction to alpaka to a group of people from the EP-SFT group at CERN and while presenting an example there was feedback that alpaka requires specifying too many template arguments. Especially the `Idx` needs to be specified in many places.

Example:
[code]
Here the `Idx` as argument to `alloc` should not be necesary, since it should be carried over from the type of `sizeVec` or from

[2020-06-08 10:07] bernhardmgruber commented on #1035
During a VC today, we also briefly discussed this topic and the idea was raised to lock the type of `Idx` more globally.
Alpaka could just choose a fixed type, like `uint32` or `size_t`. CUDA e.g. for specifying the size of the grid and blocks uses `int` or `dim3` (which is 3 `unsigned int`). OpenCL uses `size_t`.
Alternatively, alpaka could at least use a default argument for the `Idx` template p

[2020-06-08 10:08] bernhardmgruber commented on #944
On the `Idx` type: https://github.com/alpaka-group/alpaka/issues/1035

[2020-06-08 10:20] sbastrakov commented on #1034
Just as a note, PIConGPU also uses a deep hierarchy of namespaces that match the directory structure, so that for example a file `include/picongpu/aaa/bbb.hpp` puts things into namespace `picongpu::aaa` (or `picongpu::aaa::bbb` when necessary). However, there is normally no duplication of namespace into the prefix, so hypothetical PIConGPU-style alpaka names would have been `alpaka::dim::Int`, `al

[2020-06-08 10:22] sbastrakov commented on #1034
One could also simply eliminate some hierarchies by employing `using namespace` on the client side:
[code]

[2020-06-08 10:35] sbastrakov commented on #1035
This index type in buffer is for linear index, so can't be derived from the extent. So can't be easily removed. However, I am with you that perhaps it can somehow have a default value, and it is not most natural anyways as I also first thought it's multidimensional.

Was just documented in #1026  .

[2020-06-08 10:59] bernhardmgruber commented on #1034
While this may be true, alpaka seems to be a framework independent of PIConGPU. At least I feel it is advertised as such. Therefore I think that there is no reason for typing alpakas style to PIConGPU.

Fully agreed! Although I would rather remove the namespaces, since that eliminates even more clutter.

Unfortunately, alpaka is spread over many namespaces, so there will be many using declarations

[2020-06-08 11:06] bernhardmgruber commented on #1035
Hmm. Then I think that many examples are missleading, because the same alias `Idx` is used for the accelerator, dim, buffers, workdivs etc. Examples should then probably have a second `BufferIdx` alias. But since this type just represents the linear buffer size, this is a good candidate for just using `size_t` in the interface of buffers and drop the template parameters.

[2020-06-08 11:10] SimeonEhrig commented on #1035
A general question, is mixing different `Idx` types supported and useful? If not, It could solved by a global value.

[2020-06-08 11:13] BenjaminW3 commented on #1035
Mixing may be supported but might not be very useful and is also not tested. So deriving it should by a viable option in this case.
Going further, we could think about adding a default or hard coding it.
Exactly the difference between CUDA (int) and others (size_t) were the reason it is configurable. This makes it possible to get the most performance without any loss due to type conversion.

[2020-06-08 11:13] sbastrakov commented on #1034
Yes, sure. My point was not to say let's do everything the PIConGPU way, but just to share information how we tackle this in another project.

Couldn't a user app just have a header and this `myAlpaka`-type namespace, just to be used everywhere in the app? Maybe alpaka could have provided one, but I feel this would make things confusing with regards to examples and documentation.

[2020-06-08 11:22] sbastrakov commented on #1035
@bernhardmgruber I think you are right, examples are misleading in this regard. I will make a PR to fix.

[2020-06-08 11:29] bernhardmgruber commented on #1035
@SimeonEhrig: I am very much in favor of a global value!

@BenjaminW3: I can hardly believe that type conversions significantly contribute to the programs runtime. Furthermore, alpaka is intended to write portable code, so the same program, whatever `Idx` is chosen by the programmer, will need to run on CUDA or others and therefore also map to int, uint, size_t etc. depending on the backend. So th

[2020-06-08 11:35] BenjaminW3 commented on #1034
Alpaka independently came to the same solution.
Alpaka and PIConGPU are not the only projects following the style of having the namespaces follow the folder structure because this is much more intuitive.

I do not really believe that this is the reason for disliking the current naming scheme. I heard this from others as well but it is not something that is special to alpaka. Having to remember nam

[2020-06-08 11:36] bernhardmgruber commented on #1034
For sure could a user side application have it's own header for making alpaka simpler. But this is a burden every user has to carry.

Is there actually any strong reason for having all the subnamespaces in alpaka? alpaka is not a large library.

[2020-06-08 11:45] bernhardmgruber commented on #1034
Unfortunately, I find this to be the exact opposite. When I type `alpaka::foo`, code completion only displays matches from the alpaka namespace. So if I need a buffer, a search for `alpaka::buf` will not find anything. I need to know, that it lives in `alpaka::mem`. Good, there is my buffer. Now I want to copy it. I enter `alpaka::mem::copy` (because copying is related to buffers, so I assume they

[2020-06-08 12:00] SimeonEhrig commented on #1035
@bernhardmgruber A global variable would be the best approach for easy development, but maybe not for the best performance. I think we should start to think about what a global variable means for the performance (which we already did) and then, which should "split" the variable and make it more depend for certain parts of the code, e.g. the accelerator or memory buffer.

[code]

In this case, we j

[2020-06-08 12:04] BenjaminW3 commented on #1034
Moving everything into a global alpaka namespace will make some searches faster but it will equally make other searches slower because you now get hundreds of proposed methods and have to scroll through everything instead of having an easy option to filter via the next subnamespace.

The problem you had with the buffer copy is that alpaka has a much more structured interface when it comes to memor

[2020-06-08 12:12] sbastrakov commented on #1035
@SimeonEhrig I am not saying your suggestion is somehow bad or anything. However, to me it feels to somewhat contradict the portability idea. Namely, imposing thread indexing on accelerators on internal indexing of buffers. I feel these two should never be tightly related, and e.g. using thread incides as buffer indices directly is also not the best (although very commonly done).
(Edit: I feel a l

[2020-06-08 12:27] sbastrakov commented on #1034
With the buffer and view I agree with @bernhardmgruber that copying may benefit from having one namespace less. It could all follow the logic of "each memory operation but allocation works with views, and buffer is also conceptually a view" (well, it is not, what i meant is more like each container is a range for its full self in C++20), so `mem::view::` could have been just in `mem::`

[2020-06-08 12:34] SimeonEhrig commented on #1035
Sounds, that reducing the usage of `idx` is really hard, without hurting the goals of portability and performance. In this case, the usage of default values could be the better solution.

[2020-06-08 12:38] sbastrakov commented on #1032
Hello @bertwesarg . I agree this looks annoying, also with that "helpful" error message. Unfortunately, I do not have an idea what went wrong. Perhaps @BenjaminW3 does?

[2020-06-08 13:16] j-stephan commented on #1035
Can't we introduce `alpaka::size_t` that takes care of backend differences?

[2020-06-08 13:41] SimeonEhrig opened #1036 "readthedocs does not build new documentation"
I checked the config on https://readthedocs.org and triggered a manual build. So, I think the [webhook on GitHub](https://docs.readthedocs.io/en/stable/webhooks.html#github) is missing.

@alpaka-group/alpaka-admins
Can anybody of the admins check, if the webhook is configured? I have not the right permission. If the hook is missing, @psychocoderHPC must handle it, because he has the permission on

[2020-06-08 17:29] sbastrakov commented on #1032
It seems we have the same problem with our main fork as well #1036

[2020-06-08 17:30] sbastrakov commented on #1036
I think this is a duplicate of #1032 reported earlier today?

[2020-06-09 07:36] bertwesarg commented on #1032
I got this error per mail

[2020-06-09 07:38] SimeonEhrig commented on #1032
I'm working on the problem. At the moment, I create a Issue, which explains what is going wrong.

[2020-06-09 07:53] SimeonEhrig opened #1037 "doxygen build failes"
# Problem

The GitHub `gh-pages` is failing, which updates the doxygen documentation. It was mentioned in #1032. I think the reason is the new Sphinx Doc documentation.

# Background

At the moment, the Sphinx Doc and the doxygen documentation are built and published separately.
- **Sphinx Doc**: is build by the readthedocs builder and published on https://alpaka.readthedocs.io
- **Doxygen API**:

[2020-06-09 07:54] SimeonEhrig commented on #1032
@bertwesarg
The is issue is finish.

[2020-06-09 07:54] SimeonEhrig commented on #1036
No, it's a duplicate but they are related. See #1037

[2020-06-09 08:13] sbastrakov commented on #1037
Thanks for investigating and providing the options @SimeonEhrig ! I do not have a particular preference, so perhaps would prefer the way that gets this issue resolved or worked around quickly. Currently because of this issue CI considers all branches failing.

[2020-06-09 14:54] BenjaminW3 commented on #1037
I would prefer 2. because it will fix the immediate problem. We can still enhance the sphinx doc later.

[2020-06-10 08:06] SimeonEhrig commented on #1037
Okay, I use this solution.

Just for information. I found out, that the doxygen integration in Sphinx doc has another target than expected. Instead integrating the whole documentation like the normal doxygen build, it allows to reference certain classes, functions and so one in the documentation. So, for both solutions, it is necessary to build the `html` and `xml` output. The `html` is for the cl

[2020-06-11 11:36] SimeonEhrig opened #1040 "Doxygen integration in Sphinx Doc doesn't work correctly"
See yellow boxes in: https://alpaka.readthedocs.io/en/latest/usage/implementation/mapping/CUDA.html

[2020-06-11 11:56] jkelling opened #1041 "mem* tests fail since e8b70cc2a7"
The memory buffer/view tests are failing on my system with the changes from https://github.com/alpaka-group/alpaka/commit/e8b70cc2a7caff43824e99827b3bd18d8ebb42d6 active.

## Steps to reproduce
* configure build with cmake, enable building of tests
* `make -j && ctest`

### expected result
All tests pass.

### actual result
Tests memBuf, memView (and memP2P) fail.

#### details
System: Ubuntu 18.0

[2020-06-11 15:10] jkelling commented on #1041
The commit changes the dimensions of the buffers allocated to tests. In 4D, the dimensions are (16, 14, 12, 10) which means 26880 elements.

I only looked at memBuf for now. The failing test there uses `TIdx = short`, longer types pass. One reason for this to fail is that `TaskSetCpuBase` stores `m_extentWidthBytes` ([here](https://github.com/alpaka-group/alpaka/blob/develop/include/alpaka/mem/buf

[2020-06-11 19:51] BenjaminW3 commented on #1041
Yes, this was my fault. The extents are too large for smaller Idx types. I will fix this tomorrow by using smaller extents.

[2020-06-12 07:33] #1040 closed, assigned to nobody

[2020-06-13 10:29] BenjaminW3 commented on #1041
I created a PR which hopefully fixes the issue.

[2020-06-15 08:34] #1041 closed, assigned to nobody

[2020-06-15 08:34] BenjaminW3 commented on #1041
Should be fixed now

[2020-06-16 08:42] SimeonEhrig commented on #1037
@BenjaminW3
I tested a little bit in my fork to find out, what is the problem: https://github.com/SimeonEhrig/alpaka/commit/2a9586b34c0f15a9bcec57e7637263b0aa4e61e4
The `git push` fails. When I try to update my forked `gh-pages` branch, I get the following error:

[code]

Maybe rebasing the `gh-pages` branch solves the problem.

[2020-06-16 11:54] SimeonEhrig opened #1045 "CMake argument documentation in Sphinx Doc"
I think a documentation about the different CMake arguments in the Sphinx documentation would be really helpful. For example, today I had some difficulties compiling my Alpaka code with the HIP backend on an AMD system because I didn't know that I had to set the `ALPAKA_HIP_PLATFORM` cmake argument to `clang`. Another really common workflow for me is to search for the backend names in the cmake fi