[2021-09-14 13:06] SimeonEhrig commented on #919
For the user interface, do you mean something like:

[code]

[2021-09-14 14:29] j-stephan commented on #919
Yes. So a user employing both the CUDA and the OpenMP back-ends will do something similar to the following:

[code]

If the `LINKER_LANGUAGE` works as I expect, these targets will look like this:

[code]

This should hopefully be enough to tell CMake that we want to compile the user's source files in CUDA mode.

[2021-09-14 15:36] SimeonEhrig commented on #919
Okay, but I'm not sure if it will work, if link one target with two different backends. But like we already offline discussed, I think the behavior will be similar to the current cmake. It depends on the compiler, if e.g. OpenMP with CUDA is working together. But we get also a new ability:

[code]

This allows for example, to compile the code with the Clang compiler as host and device. At the mome

[2021-09-17 09:20] j-stephan commented on #1183
Closing due to user inactivity (and it doesn't seem to be an issue on our side).

[2021-09-17 09:20] #1183 closed, assigned to nobody

[2021-09-22 08:49] j-stephan opened #1412 "cpuid causes test cases to fail on non-x86 platforms"
This was first internally reported by @SimeonEhrig who encountered this on an ARM device. The offending line is here:

https://github.com/alpaka-group/alpaka/blob/261bdf70f359b3d97dfdfb3cc2bd39ec0472c8d1/include/alpaka/dev/cpu/SysInfo.hpp#L74

Error log:

[code]

[2021-09-24 15:00] jkelling opened #1414 "Some `alpaka::math::MathStdLib` functions trigger `[-Werror,-Wdouble-promotion]` when not called with `double`"
Using `alpaka::math::MathStdLib` functions `sin` and `cos` with an aruments of a different precision than `float` (e.g. `float`), and probably other triggers the following clang (Main/14) warning:
[code]

This is because, e.g., `sin` is not overloaded for different precisions. For `float` `sinf` should be used. (`sinl` for `long double` although this may not be supported by alpaka anyway.)

[2021-09-27 11:40] psychocoderHPC commented on #1414
Which backend is producing the error?

[2021-09-27 12:02] jkelling commented on #1414
Currently none that is upstream.

The CI for #1308 showed float-to-doubke promotion warnings, which wanted to addressed them, by using the requested type consistently. This gets blocked by `alpaka::math` functions prompting float arguments to a double return value.

[2021-09-27 12:06] jkelling commented on #1414
One could also say: "all backends implementing the math concept using `alpaka::math::MathStdLib`", though. This warning would be triggered in user code when the user wants to use float, and it would point to an actual problem.

[2021-09-28 11:48] SimeonEhrig opened #1415 "ALPAKA_CXX_VERSION cmake variable is overwritten if alpaka is included in a project"
The following example is not working:

[code]
The reason is the following line of code:
https://github.com/alpaka-group/alpaka/blob/261bdf70f359b3d97dfdfb3cc2bd39ec0472c8d1/cmake/alpakaCommon.cmake#L128

A cached variable always overwrites a normal (non-cached) variable. Therefore we have to two options.

1. The project, who is using alpaka, needs to declare the `ALPAKA_CXX_STANDARD` variable as c

[2021-09-28 12:51] psychocoderHPC commented on #1415
IMO from my limited cmake knowledge, I would also say option two sounds reasonable.

[2021-09-28 12:52] j-stephan commented on #1415
I agree, option 2 sounds good.

[2021-09-28 12:59] SimeonEhrig commented on #1415
Okay, I prepare a fix. I think, it feels more common to use simply `set(ALPAKA_CXX_STANDARD 17)` and I think this is also the reason why the CMake developer changes the default behavior of cached variables.

[2021-10-04 05:51] #1381 closed, assigned to jkelling

[2021-10-04 07:20] jkelling commented on #1414
This problem is not limited to clang. With [gcc a different warning is raised](https://github.com/alpaka-group/alpaka/pull/1308/checks?check_run_id=3777533235):
[code]
Note: this compuation should be perfromed in `T = float`.

[2021-10-04 07:23] jkelling commented on #1414
In both cases one could remove the warnings by `static_cast`ing, but this way one would silently perform a potentially more expensive calculation in `double` precision counter to the user's intent.

[2021-10-11 19:55] BenjaminW3 commented on #1415
I would also vote for option 2

[2021-10-12 12:07] bernhardmgruber commented on #1415
How about option 3, dropping `ALPAKA_CXX_STANDARD`?

[2021-10-12 12:28] bernhardmgruber commented on #1388
I just ran into the same issue with clang 14:
[code]

[2021-10-12 14:55] bernhardmgruber commented on #1389
I will postpone this issue, because there is a problem with the current implementation that is much easier to solve with fold expressions in C++17.

[2021-10-13 07:35] j-stephan commented on #1415
I vaguely remember this not being an option because of some evil hackery in other places. @psychocoderHPC, do you have any insight?

[2021-10-13 08:29] #1397 closed, assigned to nobody

[2021-10-13 10:21] bernhardmgruber commented on #1011
We mentioned this topic again in the last alpaka VC and decided to put together a list of arguments for and against a transition to C++17 after the next release (alpaka 0.8 will ship in C++14, then upgrade).

Arguments for are primarily big improvements in programmer convenience. There are especially new metaprogramming features (e.g. `if constexpr`, fold expression, new type traits) that would he

[2021-10-13 11:06] SimeonEhrig commented on #1415
I think, we should discuss `ALPAKA_CXX_STANDARD` in the meeting next week.  I found also some interesting "side effects" beside the behavior of `set(ALPAKA_CXX_STANDARD xx)`.

- The standard is only correct set, if you link your target with the `alpaka::alpaka` target. It will not set, if you use `alpaka_add_executable` or `alpaka_add_library`.
- The `CXX_STANDARD` and maybe the `CUDA_CXX_STANDARD

[2021-10-13 12:28] j-stephan commented on #1402
As discussed offline: @tonydp03 will work an PR that fixes this. The plan is to integrate this into 0.8 (next release).

[2021-10-13 12:57] psychocoderHPC commented on #1415
As I know we can not drop the variable else we can not set CXX standard for CUDA or HIP

CUDA:
`target_compile_features(alpaka INTERFACE cuda_std_${ALPAKA_CXX_STANDARD})`

HIP
`alpaka_set_compiler_options(HOST_DEVICE target alpaka -std=c++${ALPAKA_CXX_STANDARD})`

[2021-10-13 15:35] bernhardmgruber commented on #1415
Ideally, I would like the `cuda_std_...` to be the same as the `cxx_std_...` but for the target that links against alpaka. I am trying to play with generator expressions, but it seems I cannot get it working yet. Something like:
[code]
So the CUDA standard would be always the same as the actual CXX standard of the final target (not the `alpaka` target).

The reason why I would like that is this:

[2021-10-14 06:08] #1396 closed, assigned to nobody

[2021-10-14 07:26] j-stephan commented on #58
Six years later there is still no device or platform on the horizon which supports non-uniform block sizes. Is this still something we are interested in?

[2021-10-14 07:28] j-stephan commented on #62
@jkelling Do you know whether this is still a problem?

[2021-10-14 07:32] j-stephan commented on #399
@psychocoderHPC Was this fixed by #664?

[2021-10-14 07:33] j-stephan commented on #610
We have created a Monte Carlo Compute Pi example for last year's CERN workshop. We should aim to pull this into the mainline alpaka code base.

[2021-10-14 07:39] j-stephan commented on #572
`Vec`'s default constructors were removed with #1418. Could you check if these warnings still appear?

[2021-10-14 07:41] j-stephan commented on #888
Is this still something we want to do?

[2021-10-14 07:47] j-stephan commented on #934
Is this still an issue?

[2021-10-14 07:48] j-stephan commented on #999
Is this still an issue?

[2021-10-14 07:57] j-stephan commented on #908
@fwyzard Have you taken time to consider? ;-)

[2021-10-14 08:02] j-stephan commented on #856
The video link still works but the slides are missing. The ROBIS entry unfortunately does not feature them: https://www.hzdr.de/publications/Publ-23569

Could someone add them to ROBIS?

[2021-10-14 08:03] fwyzard commented on #908
@j-stephan thanks for the reminder.
Actually, this has fallen to a lower priority while we are porting the framework and reconstruction code to use Alpaka - but it's something we should come back to, reasonably soon.

[2021-10-14 08:10] sbastrakov commented on #610
Yes, or something similar to it. Iirc when doing examples for that workshop we were also thinking to simplify the coding of existing alpaka examples to separate them from CI test logic and so be easier readable. So more in spirit of the workshop examples

[2021-10-14 08:28] j-stephan commented on #632
@psychocoderHPC Is this still something you want to pursue?

[2021-10-14 08:33] j-stephan commented on #496
Our documentation shows how to set the work division: https://alpaka.readthedocs.io/en/latest/basic/cheatsheet.html#kernel-execution

I believe this can be closed; feel free to reopen if you think otherwise.

[2021-10-14 08:37] j-stephan commented on #63
Is this still an issue, @jkelling?

[2021-10-14 08:45] j-stephan commented on #639
@SimeonEhrig Do you know whether this is still a problem?

[2021-10-14 08:57] j-stephan commented on #689
@BenjaminW3 Do you still think we should investigate this?

[2021-10-14 09:00] j-stephan commented on #1238
Is this different from the current ICPC CI job?

[2021-10-14 09:47] #1403 closed, assigned to j-stephan

[2021-10-14 09:57] bernhardmgruber commented on #552
I think the term work divison is more specific than sub division. The latter could be confused with other kinds of subdivisions, like how buffers might be chunked up etc. So I would lean for keeping work divison.
The namespace discussion is obsolete since we got rid of most namespaces.

[2021-10-14 09:59] bernhardmgruber commented on #179
Since most traits are spelled in CamelCase and functions at least lower case, I would also be fine with removing the `traits` namespaces entirely. `alpaka::enqueue()` would be the functionality, and `alpaka::Enqueue` would be the customization point.

[2021-10-14 11:31] SimeonEhrig commented on #639
My example is compiling and running with `clang 11.1.0` and `CUDA 10.1` (latest official supported version). Therefore, I think we can test alpaka.

[2021-10-14 14:20] j-stephan commented on #391
@fwyzard @felicepantaleo @waredjeb @tonydp03 I suppose this is what you encountered in the alpaka port of pixeltrack-standalone. We'll discuss this in our next internal meeting.

[2021-10-14 14:35] j-stephan commented on #391
I think we can solve this through a new policy / trait. By default use the current behaviour, but allow users to override it with an alpaka-provided thread pool policy (or their own).

[2021-10-14 15:24] j-stephan commented on #391
As @bernhardmgruber kindly pointed out, `cudaStreamAddCallback` is deprecated and will be removed in a future CUDA release. We should take a look at this sooner rather than later.

[2021-10-14 16:28] fwyzard commented on #391
The [latest documentation](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__STREAM.html#group__CUDART__STREAM_1g74aa9f4b1c2f12d994bf13876a5a2498) says that

[2021-10-14 19:31] jkelling commented on #63
No.

All issues related to the old OpenMP 4 backend can be closed since it has basically been rewritten. If any issue happens to still apply, then that would more likely be a new bug than an old one.

[2021-10-14 19:33] jkelling commented on #934
No, it refers to the old OpenMP 4 backend.

The "How to use" part is still open though, documentation.wise.

[2021-10-14 19:37] jkelling commented on #62
No idea if the new OpenMP 5 backend works with ICC. I never tested that.

However: The initial issue would be a compiler bug at least since OpenMP 4.5 as these functions are inline. Separable compilation is not supported by the new backend, which kinda addresses a potential related issue as "resolved---won't fix".

[2021-10-14 19:41] jkelling commented on #999
No. Fixed by the new backend.

[2021-10-14 20:21] #999 closed, assigned to nobody

[2021-10-15 16:09] j-stephan opened #1424 "TBB back-end needs to be migrated to oneTBB"
Since TBB is now also under the oneAPI umbrella some interfaces have changed / were deprecated. We should update the back-end to be compatible with both versions until the old style TBB is no longer required.

https://docs.oneapi.io/versions/latest/onetbb/tbb_userguide/Migration_Guide.html

[2021-10-18 09:08] j-stephan commented on #62
It appears we would need to set the appropriate compiler flags for ICPC: https://www.intel.com/content/www/us/en/develop/documentation/cpp-compiler-developer-guide-and-reference/top/optimization-and-programming-guide/openmp-support/adding-openmp-support-to-your-application.html

But it mentions that it has (partial) support for OpenMP 5.

[2021-10-18 09:51] jkelling commented on #62
If it is only about compiler flags, then this is technically not an issue: Alpaka's cmake configuration does ATM not set the compiler flags for OpenMP5/OpenACC for any compiler completely (it does add `-fopenmp` for GCC/Clang, which should also be part of with Intel). [README_OMP5.md](https://github.com/alpaka-group/alpaka/blob/develop/README_OMP5.md) has some information about the required flags

[2021-10-18 11:35] j-stephan commented on #62
I'm not aware of any efforts in this direction. This would likely also depend on the compiler because I imagine that each compiler will support offloading for different hardware targets.

[2021-10-18 14:09] j-stephan commented on #62
I played around a bit with the current ICPC:

[code]

The relevant compiler flags are `-qopenmp -qopenmp-offload` (or `-qopenmp-offload=host` for disabling the offload). Leaving out `-qopenmp-offload` will make ICPC complain about unknown OpenMP pragmas (everything related to `#pragma omp target`).

However, even with `-qopenmp-offload` it refuses to compile/link the current alpaka `HEAD`. Configu

[2021-10-18 17:41] jkelling commented on #62
Thanks for testing.

Is that the new one, based on clang? (I suggest to ignore the old one)

The warnings can be ignored: The standard states, that the `declare target` is optional for functions defined in the same compilation unit as the `target` code calling them.

The wrror:
[code]
Does not look like something that could be caused by anything in the code. it looks more like a broken installatio

[2021-10-18 19:47] j-stephan commented on #62
Nope, that is the "classic" Intel compiler. The other one is called `dpcpp` or `icpx` (seem to be synonyms; haven't tested that one yet).

From what I could gather through a quick search this seems to be related to MIC (or the lack thereof on my system). My assumption is that the compiler tries to offload to a MIC target (see the warnings) and fails to find the precompiled file needed to do so.

[2021-10-18 20:04] j-stephan commented on #62
Using `dpcpp` / `icpx` works out of the box.

Configuration:

[code]

Build (the "unused argument" is required for linking, not compiling):
[code]

Execution:
[code]

:tada:

[2021-10-18 20:06] j-stephan commented on #1238
To answer my own question:

* `icc` and `icpc` refer to the classic Intel compiler that is slowly phased out.
* `icx` and `icpx` refer to the new clang-based Intel compiler which is also known as `dpcpp` to the SYCL crowd.

We should decide on how long we still want to support the classic Intel toolchain.

[2021-10-19 07:44] j-stephan commented on #1408
I played around with some SYCL implementations. Test program:

[code]

Results:

* Intel `dpcpp` with CPU target: :heavy_check_mark:
* Intel `dpcpp` with GPU target: :heavy_check_mark:
* Intel `dpcpp` with FPGA emulation target: :heavy_check_mark:
  * Works when I use `sycl::ext::intel::fpga_emulator_selector` instead of `default_selector`.
  * I have not tested this for actual hardware!
* Compute

[2021-10-19 07:50] bernhardmgruber commented on #1408
Thank you, this is very valueable! So it looks to me that until ComputeCpp gets this right, we are stuck at where we are. But AFAIK, both Intel and Codeplay use a clang based compiler. AFAIK Intel ships a very recent implementation. That is, the dpcpp you get via the OneAPI SDK is already based on clang 14, although that is not officially released yet. So there is a good chance that using cmath di

[2021-10-19 13:28] bernhardmgruber opened #1425 "#pragma unroll"
Alpaka should support a portable way to request unrolling of loops, which is typicall done via the `#pragma unroll` directive.

This request came up during the discussion of an optimization proposed for PIConGPU: https://github.com/ComputationalRadiationPhysics/picongpu/pull/3859

[2021-10-20 14:19] SimeonEhrig opened #1426 "Default contstructor for alpaka Buffer"
At the moment, `alpaka::Buf` does not provide a default constructor. Therefore I have to do the following thing, If I want to declare `alpaka::Buf` object as member of my class:

[code]

Technically it is fine, but it feels uncommon. I would prefer, if this is possible:

[code]

I think, this API looks better. But the default constructor brings also a problem. At the moment, each `alpaka::Buf` poi

[2021-10-20 21:56] fwyzard opened #1427 "add iDevice() to DevUniformCudaHipRt and DevCpu"
Would it be possible to add an `iDevice()` method to `DevUniformCudaHipRt` and `DevCpu` ?

Currently
  - `DevOacc` and `DevOmp5` have a private `m_iDevice` member, and a public `iDevice()` method
  - `DevUniformCudaHipRt` has a public `m_iDevice` member
  - `DevCpu` has neither (can be assumed to be always `0`)

For writing generic code, it would be nice if all devices exposed the same interface (

[2021-10-21 16:42] fwyzard opened #1428 "Add DevType<Event> trait"
Hi,
for simplifying some generic code we are writing, we would benefit for traits to extract the `Device` type from the `Event` type, something that returns `TDev` for `EventGenericThreads<TDev>` and `DevUniformCudaHipRt` for `EventUniformCudaHip`.

Of course we can add such  trait in our code, but it could come in useful for other projects as well.

[2021-10-21 17:21] j-stephan commented on #1427
This seems reasonable. I think the OpenACC / OpenMP 5 back-ends are in error here. alpaka should not hide / encapsule underlying back-end specifics, only provide a means to interact with them in an abstract way.

I'm not sure about `DevCpu` always being `0`, though. How would this interact with multi-CPU machines?

[2021-10-21 17:27] j-stephan commented on #1428
You mean something like the `getDev` function?

https://github.com/alpaka-group/alpaka/blob/d5f396ada7bb92f100bbb2f96e15fb8b1c8d9fca/include/alpaka/dev/Traits.hpp#L59

From a quick glance it should be specialized for `Event` (at least for the CUDA/HIP case).

[2021-10-21 17:29] fwyzard commented on #1427
As far as I could see, Alpaka assumes that there is a single CPU device, which has (for example when using the TBB backend) as many cores as the total number of cores in the system.

Changing that to separate CPU devices (e.g. for machines with multiple sockets or multiple NUMA nodes per socket) could be interesting - but likely to require some general rethinking, especially for the "host" device.

[2021-10-21 17:30] fwyzard commented on #1428
`getDev` returns the actual device object; I meant something to extract the device C++ type, like `DevType<Queue>::type` for a `Queue`.

[2021-10-21 17:34] j-stephan commented on #1428
Ah, got it. Yes, this is currently missing from alpaka but should not be too hard to integrate.

[2021-10-21 18:26] j-stephan commented on #1425
A solution for this issue is closely related to other loop decorations (such as FPGA pipelining). I've had this on my wish list for a time but never got around to design something nice. Glad to see that this is now needed elsewhere.

[2021-10-21 18:28] j-stephan commented on #1426
Maybe let the default constructor construct an empty buffer? In this case we should add an `empty()` check to the buffer interface.

[2021-10-22 03:32] bussmann commented on #1425
Loop decorations are Information on algorithms provided by the user that also (implicitly) provide information on data. It would be interesting to understand how alpaka and llama could share this Information.

[2021-10-22 09:51] bernhardmgruber commented on #1425
I beg to disagree. `#pragma unroll` is purly about how the compiler produces an instruction stream from the loop. It does not contain any information on how data is touched. And in the case of https://github.com/ComputationalRadiationPhysics/picongpu/pull/3859 it pokes the optimizer in the right direction.

Example:
[code]
Here, `f`, `g` and `h` have completely equivalent semantic. Still, `g` and

[2021-10-22 12:16] tonydp03 opened #1429 "Cmake reading binary file for atomic test"
After building the unit test for atomics, a binary file called "atomic" is created in the `build/test/unit/atomic/` directory. If the source code for the Atomic tests is then modified, the compiler fails to rebuild the application as it tries to read the binary file from the above mentioned directory instead of the std library header <atomic> (included in the source code).

<img width="1433" alt="

[2021-10-24 04:37] bussmann commented on #1425
O.k., this was formulated wrongly by me. A programmer will use these pragmas to convey certain optimization possibilities to the compiler.

These are, however, not always possible due to certain - sometimes wrong but usually implicit - assumptions on the data access/properties inside the loop or do not lead to the desired effect, as the compiler is too dumb to see them.

With LLAMA one could clari

[2021-10-25 06:37] jkelling commented on #1429
Sounds like this issue: https://github.com/alpaka-group/alpaka/issues/815 .

[2021-10-25 06:48] tonydp03 commented on #1429
As far as I see yes. While I read there might be some workaround, I think that just renaming the target tests in the cmake files could help to avoid anyone to get this error in the near future (although the directory containing the binary file should not be present in the include path.

[2021-10-25 06:52] SimeonEhrig commented on #1426
In this case, we need a device object to allocate the empty buffer on the correct device.

[2021-10-25 08:15] bernhardmgruber commented on #1429
Pure speculation: nvcc might have a bug and when encountering `#include <atomic>` looks into the local directory as well. Reading #815, maybe that bug/behavior is even spurious.

I think renaming the tests is among the easiest solutions.

[2021-10-25 08:19] tonydp03 commented on #1429
I experienced the same issue with serial accelerator and TBB

<img width="1028" alt="Screenshot 2021-10-25 at 10 18 43" src="https://user-images.githubusercontent.com/41752419/138659896-2c75631a-d8ad-4192-bf87-94aec519087e.png">

[2021-10-25 13:41] bernhardmgruber commented on #1402
We had another offline discussion. We should:

* Keep running the 8- and 16-bit tests, which are not run for the CUDA/HIP backend
* Reenable the `float`/`double` tests for atomics.
* Not run the `float`/`double` tests for the CUDA backend
* Not run the `float`/`double` tests for bitwise atomics

[2021-10-25 14:08] tonydp03 commented on #1402
I opened the draft pull request [here](https://github.com/alpaka-group/alpaka/pull/1431) with the changes that @bernhardmgruber mentioned.

[2021-10-26 08:34] #1429 closed, assigned to nobody

[2021-10-27 08:47] jkelling commented on #1427
@j-stephan note, that `m_iDevice` is a member of [`detail::DevOaccImpl`](https://github.com/alpaka-group/alpaka/blob/develop/include/alpaka/dev/DevOacc.hpp#L46), not `DevOacc`. Both provide the getter.

* The getter in `DevOacc` is necessary because it is very wierd, if outside code using an implicitly-shared object like `DevOacc` has to access the (kinda)PIMPL directly.
* One can argue about the

[2021-10-27 08:52] fwyzard commented on #1427
From a user perspective, it makes sense that `m_iDevice` is private: I would assume that I should not change it by hand from outside the object to (try and) change the active device.

[2021-10-27 08:56] jkelling commented on #1427
@fwyzard What exactly are your using the device id for in your code? The backend's `Dev..` is the only handle for a device that should be used by user-code. Any property relevant to the user should have a trait. There is no `getDeviceId` trait because the device id is an implementation detail (in theory, backends could exist in which there are multiple devices, but no numerical device id, only som

[2021-10-27 09:19] fwyzard commented on #1427
One use case is to have a collection of objects, one per device: a progressive numerical index allows for a faster and more compact representation (_e.g._ an `std::vector<T>`) than a generic handle (_e.g._ an `std::map<Device, T>`).

So, we don't need the device index to correspond to the underlying identifier used by the backend (for example, that could be the full PCI ID of the device), but we w

[2021-10-27 09:28] jkelling commented on #1427
Indexing `std::vector` with a device ID is not save in OpenMP target: Note, that `m_iDevice` is of type `signed int`, this is not any accident. You can target the host device, the device id of which is returned by [`omp_get_initial_device()`](https://www.openmp.org/spec-html/5.0/openmpsu150.html#x187-8820003.2.41). The returned value is implementation-defined. Many implementations chose `-1` (But

[2021-10-27 09:31] fwyzard commented on #1427
Mhm, thanks for the info.

We don't need this id for the host device, only for the accelerator devices, but I take your point.

[2021-10-29 10:15] bernhardmgruber commented on #1425
I am not even sure about that for `#pragma unroll`. This pragma does not enable more or different optimizations by conveying more guarantees to the compiler. I would agree for different pragmas, like `#pragma omp parallel for`, which gives the guarantee that the following loop can be executed in parallel and free of races. Or `#pragma ivdep`, which gives guarantees on the semantic of loads and sto

[2021-10-29 10:16] bernhardmgruber commented on #1425
Btw, it turns out alpaka already has such a portable macro in `alpaka/core/Unroll.hpp`. I am surprised that nobody knew (or bothered to speak up).

[2021-10-29 12:36] jkelling commented on #1414
This turn out to not be the underlying issue of what occurred in #1308: The implementations subject to this issue should not have been called in the first place.

This issue remains though, albeit with nothing currently triggering it.

@sbastrakov @psychocoderHPC should we add specializations for the fallback trait implementations for `float` and `long double` just in case this gets used somewhere

[2021-10-29 12:41] bernhardmgruber commented on #1414
I don't know if it helps, but the compiler warning is reasonable. `sqrt` is a single function accepting a `double`, so of course a `float` is promoted. You might want to use `std::sqrt`, which is an overloaded function with overloads for all floating point types.

[2021-10-29 12:45] jkelling commented on #1414
The issue is, that this code is part of [the trait definitions in `alpaka::math`](https://github.com/alpaka-group/alpaka/blob/develop/include/alpaka/math/sqrt/Traits.hpp#L35-L37), hence my asking if this should be fixed.

[2021-10-29 12:50] bernhardmgruber commented on #1414
I found it myself now. I thought you where talking about the implementations `XXXStdLib` implementations, to which my comment before applied.
You seem to be referring to the ADL fallback for types other than the ones handled by the backends. So for example if you implement your own complex number:
[code]
You can use the alpaka functions and they will try to find an implementation of `sqrt` in the

[2021-10-29 12:56] jkelling commented on #1414
Indeed. The thing, that this fallback exists, but causes these up-conversion warnings because of the way it is currently implemented. I think, the fallbacks should either not exist, making your code fail to compile if `ConceptMathXXX`s are missing, or should keep take care of the float type.

[2021-10-29 12:56] sbastrakov commented on #1414
I vaguely remember encountering a similar thing for my forever-going complex number implementation. I think the `sqrt` piece linked by @jkelling above is generally incorrect and just happened to work before. It should be instead:
[code]
Will check in more detail, and how it actually comes to play with my complex PR, by Monday.

[2021-10-29 13:00] jkelling commented on #1414
The implementation there is not incorrect for `T = double`, it is just that the ADL always takes the C version of `sqrt`, i.e. `double sqrt(double)` in the global scope, leading to the cast.

I think your suggestion would defeat the purpose of this fallback, because then the fallback would just be `MathStdLib`. -- I think the purpose of this fallback may be to use compiler build-ins on some backen

[2021-10-29 13:04] jkelling commented on #1414
If you have your own types, outside of alpaka, why would you want to use `alpaka::math::` on them? Would you not have your own `sqrt` in your namespace and call that via `sqrt(varOfMyType)` (or by qualified name)?

[2021-10-29 13:06] bernhardmgruber commented on #1414
I implemented it because @sbastrakov needed it for the complex implementation some time ago:
https://github.com/alpaka-group/alpaka/pull/1248

[2021-10-29 13:08] bernhardmgruber commented on #1414
Templates. You might want to write an alpaka device side function that you can call on `float`, `double`, `MyBigNumber`, `MyComplex`, `__half ` or `bfloat16`.

[2021-10-29 13:10] sbastrakov commented on #1414
The idea is, one always calls `alpaka::math::func(acc, ...)` for any math function inside kernel. If there is a custom implementation, it should be fallen back to via ADL

[2021-10-29 13:29] jkelling commented on #1414
If this is the only idea, and there is nothing about compiler intrinsics, then maybe we should disable these fallback for `float` `double` `long double` to cause a compiler error when they are called accidentally.

[2021-10-29 13:48] bernhardmgruber commented on #1414
Fine for me, send a PR!

[2021-10-29 14:09] jkelling commented on #1414
The shortest check would be using `std::is_floating_point` which specifically checking for `float`, `double` and `long double`.

However, a user might then specialize this trait for their type for some reason and thereby inadvertently kick them out of this ADL fallback.

On the other hand, to quote [cpprefeence.com](https://en.cppreference.com/w/cpp/types/is_floating_point)
[code]
Are we comfortab

[2021-10-29 16:56] BenjaminW3 commented on #1425
Can this issue be closed now that you found the solution or is there something missing?

[2021-10-29 17:07] BenjaminW3 commented on #689
For me alpaka is not only about parallel execution in the sense of multiple OS/hardware threads.
It is about exploiting the available hardware (computation units and memory) as much as possible by mapping the abstraction layers onto what is available on a specific machine.
It may or may not be much more efficient (especially cache efficient), if multiple kernels would run in a lockstep-like way on

[2021-10-29 17:13] BenjaminW3 commented on #888
As the industry moves on, we definitely should not switch to `master` as this is burned.
I am happy with `develop` as it explicitly expresses the intent (non-stable, non-release), so I will close the issue.

[2021-10-29 17:13] #888 closed, assigned to BenjaminW3

[2021-10-29 22:13] bernhardmgruber commented on #1425
Sure. I wanted to wait until #1437 is in, then I close that topic for me.

[2021-10-29 22:13] #1425 closed, assigned to nobody

[2021-10-29 22:16] bernhardmgruber commented on #689
I am eagerly looking forward to a PR and some benchmarks then :)

[2021-10-30 14:04] bussmann commented on #689
I like Benjamin's answer on the scope of Alpaka!

[2021-11-01 07:58] BenjaminW3 commented on #1426
Default parameters would be hard to guess. The extent could be zero, but on which device? Selecting an arbitrary device could impose problems.
Adding zombie states like "empty buffer" to objects is an anti-pattern and should be prevented as much as possible. Objects should always be in a valid and useful state.
If your class has multiple states and initially does not have a buffer, then it is part

[2021-11-01 09:33] denisbertini opened #1438 "Alpaka installation problem on ArchLinux with , nvcc 11.4 and gcc 11.1"
Hi
I got some problems trying to install the `develop` branch of Alpaka on `ArchLinux`
 - gcc:    `11.1`
 - nvcc:  `11.4`

Some of the examples did not compile
- `buffercopy`
-  `reduce`
All the rest did compile and i was able to run the `ctests`.

Compilation errors.
[code]
and
[code]

[2021-11-01 09:52] SimeonEhrig commented on #1438
You need to add the cmake argument `-DALPAKA_ACC_CPU_B_SEQ_T_SEQ_ENABLE=ON`. The examples requires the serial CPU backend but don't activate it automatically.

[2021-11-01 09:54] denisbertini commented on #1438
I used
`cmake -DBUILD_TESTING=ON -DALPAKA_ACC_CPU_B_SEQ_T_SEQ_ENABLED=ON .. `
is that correct ?

[2021-11-01 09:58] denisbertini commented on #1438
When adding this variable:
[code]

[2021-11-01 09:59] SimeonEhrig commented on #1438
Unfortunately not, but this is a typical error. You need the argument `ALPAKA_ACC_CPU_B_SEQ_T_SEQ_ENABLE` without leading `D` at the end. The other is a internal variable.

Therefore, there is documentation to avoid this stupid problem: https://alpaka.readthedocs.io/en/latest/advanced/cmake.html

[2021-11-01 10:06] denisbertini commented on #1438
thanks !
It all works now
[code]

[2021-11-01 10:09] SimeonEhrig commented on #1438
Your welcome. Just a hint. At the moment, the examples are completely executed on a single thread of the CPU. To use the NVIDIA GPU, you need also to enable the GPU backend: `cmake -DBUILD_TESTING=ON -DALPAKA_ACC_CPU_B_SEQ_T_SEQ_ENABLE=ON -DALPAKA_ACC_GPU_CUDA_ENABLE=ON ..`

[2021-11-01 10:12] denisbertini commented on #1438
OK will do now thanks !

[2021-11-01 10:16] denisbertini commented on #1438
Just one question, is it ppossible to test alpaka on AMD GPU with `Rocm`  without too much efforts?

[2021-11-01 10:19] SimeonEhrig commented on #1438
Actual yes. If you have a default hip setup you can use the cmake `ALPAKA_ACC_GPU_HIP_ENABLE` to enable the HIP backend.

`-DALPAKA_ACC_CPU_B_SEQ_T_SEQ_ENABLE=ON -DALPAKA_ACC_GPU_HIP_ENABLE=ON ..`

[2021-11-01 10:35] denisbertini commented on #1438
With `GPU_ENABLE` variable `on` , the test time is longer ... is this normal?

[code]

[2021-11-01 10:38] SimeonEhrig commented on #1438
Yes, because most of the test uses really small problem size to be fast on each backend. In the case of the GPU, initializing the CUDA runtime and copy data to/from the GPU takes more time, than you save with accelerating the actual calculation.

[2021-11-01 10:40] denisbertini commented on #1438
OK clear !

[2021-11-01 13:37] sbastrakov commented on #1438
Yes, so these tests are not at all performance tests

[2021-11-01 14:13] denisbertini commented on #1438
Could you also provide perf. tests?
Or maybe one can change the standard tests to perf tests?

[2021-11-01 18:14] sbastrakov commented on #1438
Currently alpaka itself does not provide much of performance tests. There is only a standard matrix multiplication, which was used in one of the early alpaka publications, it is in `test/integ/matMul`.  Of course, we also have some performance numbers coming from PIConGPU, being a "real world" app using alpaka.

We are aware this part is important to have, e.g. there was recently effort to port so

[2021-11-02 09:52] bernhardmgruber opened #1439 "Cancel running CIs on push"
We should configure the CI to cancel existing runs for a PR when a new commit is pushed to this PR. This way, we can free up some CI resources.

GitLab supports this, see e.g.: https://github.com/alpaka-group/alpaka/blob/develop/script/gitlabci/job_base.yml#L11
There seems to be a GitHub action that might be able to do it: https://github.com/styfle/cancel-workflow-action

[2021-11-02 14:22] sliwowitz opened #1441 "Box-Muller states for the Philox PRNG"
Box-Muller method is a fast way to generate normally distributed random numbers - especially on the GPU. This is mentioned in the [documentation](https://www.thesalmons.org/john/random123/releases/1.11.2pre/docs/) of the reference implemetation of the Philox algorithm. The reference implementation also shows how to include Box-Muller states in the Philox state variable.

[2021-11-02 14:34] sliwowitz opened #1442 "Organize distributions and engines in alpaka::rand"
Our random number distributions are living inside the same files as our random number generators. For some of them this might make sense (e.g. CUDA distributions which will not work with non-CUDA generators), but they might better live in their own source files.

[2021-11-02 14:41] sliwowitz opened #1443 "Stateless API for Philox"
Provide API for stateless operation of the Philox random generator. This would also solve issue #710

[2021-11-05 10:11] fwyzard commented on #1426
The current implementation of buffers already does not guarantee this; given that buffers are movable, a buffer that has been "moved from" is effectively in an "empty buffer" state, and trying to use it (other than assigning/moving to it) will result in a crash:
[code]

results in
[code]

[2021-11-05 10:17] bernhardmgruber commented on #1426
From the technical standpoint, since alpaka buffers are reference counted handles via a shared pointer to an internal implementation, we can get a very easy empty state: leaving the shared pointer null. That entails the problem that all buffer operations now acquire the precondition of this implementation pointer to not be null. We could `assert` that in debug builds, but for sure developers will

[2021-11-05 10:36] fwyzard commented on #1426
No, please, we like the performance :-)

[2021-11-05 10:52] fwyzard commented on #1426
The default status could simply have an empty (`nullptr`) `m_spBufCpuImpl`, so it would not be on any device nor point to any actual buffer.

[2021-11-05 10:52] bernhardmgruber commented on #1426
The flipside design is then to inline the shared pointers in all alpaka objects and define proper move and copy operations. That would avoid all shared pointer costs (which I guess are very negligible since they are only paid on ctor/dtor and the pointees are expensive objects). You still have the moved-from state as now. We would need to forbid the copy operations then, which might be a usability

[2021-11-05 10:57] fwyzard commented on #1426
What would it mean to "inline the shared pointers" ?
If the reference counting were part of the object itself, it wouldn't be a shared pointer, because it wouldn't have anything to point too ?

[2021-11-05 11:03] bernhardmgruber commented on #1426
Moving the contents of `BufXXXImpl` into `BufXXX` and removing the shared pointer and then `BufXXXImpl`, leaving `BufXXX` no longer reference countable.

[2021-11-05 12:10] fwyzard opened #1445 "Alpaka objects do not have an "empty, invalid state""
Alpaka objects do not have an "empty, invalid state", which prevents their direct use in various situations.

---
### lifetime different than the containing object

One such case is holding a memory buffer that does not need to live as long as the holding object, but still longer than individual methods:
[code]
(this is just a mock-up example I made up on the fly to illustrate the argument; apolog

[2021-11-05 12:20] fwyzard commented on #1445
Thinking about it:

  - an explicitly invalid state would also be OK for our use case:
[code]
    could be a reasonable alternative to
[code]

  - a way to check if a buffer is valid or not might be useful::
[code]
    or
[code]
    of just making it contextually convertible to `bool`:
[code]

  - a method to invalidate an existing would also be useful:
[code]
    but it could be done by hand sett

[2021-11-05 12:34] fwyzard commented on #1445
In fact, Alpaka objects do have an "empty, invalid state" - the "moved from" state:
[code]

So, a workaround could simply be keep around one invalid object per type...
[code]

Clearly, not the most elegant solution :-D

[2021-11-05 12:38] fwyzard commented on #1426
So... basically using `BufXXXImpl` directly instead of `BufXXX` ?

Do you mean "no longer reference counted" rather than "no longer reference countable" ?

[2021-11-05 13:17] jkelling commented on #1445
Not having an "invalid" state is part of the RAII (resource acquisition is initialization) pattern prevalent in alpaka. The "invalid" state after a move is not really such: one should not use an object after it has been moved from, because its state is more undefined than invalid (although I do not know if alpaka's docs might give some guarantees about that stated, making it defined.).

The advant

[2021-11-05 13:56] fwyzard commented on #1445
Er, no.

Moved-from objects should be in a "valid but unspecified state", not in an invalid state.

For example, an `std::vector` could be empty, or an `std::unique_ptr` could point to `nullptr` - but they should still be usable, and in fact they are:

[code]

Accessing a non-existent element of the `vector` or dereferencing the `nullptr`-values `unique_ptr` would lead to a crash at runtime (or an

[2021-11-05 14:43] jkelling commented on #1445
That is a guarantee that (at least most) STL types give. I am not aware, that this is a requirement of the core language for move semantics. The only thing an object must guarantee after being moved from is that its destructor does not invalidate anything that was moved away. It may, for example, be no longer assignable, although I agree, that the guidelines the STL is following here are better.

[2021-11-05 14:45] bernhardmgruber commented on #1426
Yes. Making `BufXXXImpl` the public interface.

Yes, `BufXXXImpl` just has the native handles just embedded directly. It does not have a reference counted shared state any longer.

[2021-11-05 14:59] fwyzard commented on #1445
Sorry, but I don't buy your argument.

Saying that a Buffer object is never invalid - except when it is invalid because it was moved from - so there is no need to check for its validity, is like saying that a pointer is never null - except when the user stored a null value - so there is no need to check that it is non-null.

Either a type guarantees that an object is _always_ in a valid state, or

[2021-11-05 15:04] fwyzard commented on #1445
So, to me this boils down to one of
  1. enforcing that an Event or Queue or Buffer is _always_ valid: either by disallowing moving them (incurs in a small cost due to the increase/decrease of reference counting with each copy) or by coming up with a "valid state" they should have after being moved-from;
  2. acknowledging that an Event or Queue or Buffer _may_ be in an invalid state under some co

[2021-11-05 15:24] jkelling commented on #1445
That would be ideal. With the move, this is more of a design pattern of not moving from an object which lives on. So, I think there is a difference between this clutch and having a default constructor which can explicitly create invalid objects. You do point out a gap in alpaka's design here though. Maybe move semantics is just inherently incompatible with implicit sharing, I never thought about t

[2021-11-05 15:28] jkelling commented on #1445
Disallowing move would indeed make the implicit sharing more consistent (the implicit sharing is unfortunately not cleanly implemented in some places, e.g. some types do not keep the shared state private and it get used as part of the interface...).

This would make these types explicitly shared, i.e. the user needs to check if there is a shared state, turning them into glorfied `std:.shared_ptr`s

[2021-11-07 11:04] fwyzard opened #1447 "Avoid `shared_ptr<shared_ptr<T>>` anti-pattern in user code"
Constructing CUDA streams and CUDA events is expensive; in CMSSW we keep this cost to a minimum by reusing objects instead of creating/destroying them every time. This mechanism is provided by the [`ReusableObjectHolder`](https://github.com/cms-patatrack/pixeltrack-standalone/blob/master/src/alpaka/Framework/ReusableObjectHolder.h) (taken from CMSSW):
  - use a thread-safe queue (`tbb::concurrent_

[2021-11-07 11:07] fwyzard opened #1448 "stream-ordered memory allocations, and a caching memory allocator"
Many of the algorithms in CMSSW and the split `acquire()`/`produce()` approach rely on _stream-ordered_ memory allocations:
  - device memory is allocated (from the host) in association with a CUDA stream / Alpaka queue
  - device memory is used by asynchronous operations enqueued to the same stream / queue
  - device memory is marked for freeing (from the host) while it may still be used (on the

[2021-11-07 13:39] bussmann commented on #1448
CCing @bernhardmgruber

[2021-11-08 11:09] felicepantaleo opened #1449 "Inner-loop parallelism is not isolated when using tbb backend"
When using alpaka tbb backend from within a parallel section of a code that is already parallelized using tbb, the alpaka kernel  becomes the innermost parallel loop of a nested parallel section.
As tbb treats all the tasks the same, whether they come from the outermost or the innermost loop and a thread might steal a task. If not protected, this might lead to deadlocks or unexpected results.

Mor

[2021-11-08 13:58] felicepantaleo opened #1452 "Mutex in atomic operation increases contention and reduces performance"
When running our pixeltrack-standalone benchmark with the tbb backend we noticed that the tbb backend performance does not scale with the number of threads:

![image](https://user-images.githubusercontent.com/6595715/140754274-d4dd2eb3-c449-43e6-bc42-5e6fbc099cdb.png)

By profiling we realized that most of the time is spent waiting for this lock to be released:
https://github.com/alpaka-group/alpa

[2021-11-09 08:52] sbastrakov opened #1454 "Why is there a separate unit test for sincos"
The separate test is in [this file](https://github.com/alpaka-group/alpaka/blob/develop/test/unit/math/src/sincos.cpp). However, `sincos` is already tested at the same place as other math functions, [here](https://github.com/alpaka-group/alpaka/blob/e7c29db42fba7bed03d3f6b8596e5b08d776be83/test/unit/math/src/math.cpp#L434-L436). Should we just remove the separate version?

[2021-11-09 09:21] sbastrakov commented on #1414
I am now again getting issues with this ADL stuff for my complex numbers PR. I think it is implemented maybe not in the best way. Could we just do the following instead, e.g. for `Abs`?

[code]

[2021-11-09 09:25] bernhardmgruber commented on #1454
The ADL unit test for `sincos` is in `math.cpp`. All the other tests for `sincos` are in `sincos.cpp`. There should not be any redundancy.

[2021-11-09 09:27] sbastrakov commented on #1414
With such a change the unit tests in #1336 seem to compile for both real and complex types. So i would think it doesn't break anything. I can make a separate PR for it to see if it works for all combinations in CI

[2021-11-09 09:41] psychocoderHPC opened #1455 "multiple cmake targets"
https://github.com/alpaka-group/alpaka/pull/1451 is avoiding that alpaka include files will be showing warning in the user code.
We discussed the current "workaround" in the developer meeting and @j-stephan came up with the idea of multiple targets.

alpaka should provide a target we can use for testing und a target for the user which is using the keyword SYSTEM.

[2021-11-09 10:35] sbastrakov commented on #1454
Thanks for explaining. So was a false alarm.

[2021-11-09 10:35] #1454 closed, assigned to nobody

[2021-11-09 17:34] bernhardmgruber opened #1460 "Internal catch2 no longer compiles on gcc 11.2"
I just tried compiling with the internal Catch2 and got a compilation error. The bug was fixed upstream here: https://github.com/catchorg/Catch2/issues/2178

We should update the internal Catch2 of alpaka or just drop it entirely.

[2021-11-09 18:44] j-stephan commented on #1388
Judging by the catch2 issue linked above a fix will appear in the next Catch2 release (whenever that is).

[2021-11-10 08:42] j-stephan commented on #1220
In Tuesday's alpaka meeting we have decided to switch to C++17 with alpaka 0.9 (February 2022).

[2021-11-10 08:52] j-stephan commented on #720
We no longer support GCC 5.

[2021-11-10 08:52] #720 closed, assigned to nobody

[2021-11-10 08:55] j-stephan commented on #493
We have had a ICPC CI job for a while now.

[2021-11-10 08:55] #493 closed

[2021-11-10 09:28] j-stephan commented on #28
We will try and tackle this for 0.9 since it was mentioned by CMS as nice-to-have.

[2021-11-10 09:32] j-stephan commented on #529
Since we've been using CMake's native CUDA support for both `clang` and `nvcc` for while this issue can be closed.

[2021-11-10 09:32] #529 closed

[2021-11-10 09:42] j-stephan commented on #1233
@sbastrakov Do you (still?) think we need this?

[2021-11-10 09:43] sbastrakov commented on #1233
Probably not, I'll close tge issue

[2021-11-10 09:43] #1233 closed, assigned to nobody

[2021-11-10 09:46] j-stephan commented on #740
@tonydp03 Could you maybe take a look at this once you have finished the atomic tests?

[2021-11-10 11:43] tonydp03 commented on #740
Yes, sure I'll give it a try.

[2021-11-10 12:34] j-stephan commented on #1292
So what is the best way here? Can we work around this bug or do we have to wait until we drop support for LLVM < 13?

[2021-11-10 12:36] j-stephan commented on #1388
Since it is unlikely that the next Catch2 version is released this week I move this into the alpaka 0.9 project. We can then maybe backport this to 0.8.1.

[2021-11-10 12:37] #1460 closed, assigned to j-stephan

[2021-11-10 13:57] j-stephan opened #1462 "Use CMake's native HIP support"
CMake 3.21 [introduced native support for HIP](https://cmake.org/cmake/help/v3.21/release/3.21.html#id9). We should check this out as soon as we can migrate to a CMake version >= 3.21.

[2021-11-10 14:11] j-stephan commented on #1462
This will probably happen once Ubuntu 22.04, the next LTS version, is released.

[2021-11-10 14:16] j-stephan commented on #1428
Shifting to 0.9 since we are branching 0.8 off this week.

[2021-11-10 14:18] j-stephan commented on #1427
Shifting to 0.9.

[2021-11-10 14:24] j-stephan commented on #1331
Since we are moving to C++17 with 0.9 I guess this will automatically solve itself.

[2021-11-10 14:28] SimeonEhrig commented on #1292
I discussed a solution for Cling (basis on clang 9) with developer of the feature a while ago. He means, a workaround would be hard. I would suggest, that we catch this in the CMake and throw an error if `CMAKE_CUDA_SEPARABLE_COMPILATION` is activated together with <= Clang 12.0 and it is fine.

[2021-11-10 14:29] j-stephan commented on #1292
Okay. This shouldn't be too hard to integrate so it can still land in 0.8.

[2021-11-10 14:31] SimeonEhrig commented on #1415
@j-stephan Should this lands also in alpaka 0.8?

[2021-11-10 14:34] j-stephan commented on #1415
Ah, it wasn't assigned to the project so I haven't seen this yet. Do you have the time to provide a PR this week?

[2021-11-10 14:45] SimeonEhrig commented on #1415
I think I can do it now. Should be not much work.

[2021-11-11 08:21] SimeonEhrig commented on #1415
solved

[2021-11-11 08:21] #1415 closed, assigned to nobody

[2021-11-11 09:11] bernhardmgruber commented on #858
I think precompiled headers will become obsolete in C++20, because we can just `import <alpaka>`.

[2021-11-11 09:25] SimeonEhrig commented on #858
That's correct, but I think it will take some time, until we can move to c++ modules. Therefore, I think it is still useful to test PCH.

[2021-11-16 10:12] bernhardmgruber commented on #1331
We discovered in #1466, that also the switch to C++17 will not solve this issue.

[2021-11-16 10:15] j-stephan commented on #1331
In today's alpaka meeting there were no objections to removing CUDA 11.0 / 11.1 support for Windows.

[2021-11-16 10:15] #1331 closed, assigned to nobody

[2021-11-16 17:27] bernhardmgruber opened #1471 "Drop support for Ubuntu 18.04 from the CI"
Ubuntu 18.04 is dated already and we should drop support for it to cleanup the CI scripts.

[2021-11-17 17:43] fwyzard opened #1472 "Cannot compile with GCC 10 or later for the CUDA backend if the kernel functor is templated"
Looks like a change in GCC 10 breaks the compilation for the CUDA backend of kernels written with Alpaka, if the `operator()` is templated on its arguments other than `TAcc`.

Here is an extract of the code:
[code]

When used later on in some application code, _e.g._
[code]
this results in the error
[code]

The errors happens with GCC 10.2 and 11.2; the same code compiles fine with GCC 9.

To repr

[2021-11-17 17:44] fwyzard commented on #1472
The HEAD of our `master` branch uses Alpaka 0.8.0-rc1, but the same error is there also with Alpaka 0.7.0 .

[2021-11-18 07:52] fwyzard commented on #1472
After going through plenty of intermediate code generated by nvcc and preprocessed code generated by g++, I now suspect that the issue may be related to template arguments with the `__restrict__` attribute.

Looking at the code snippets above, the kernel has the signature
[code]
but the compiler is trying to cast the function that calls it to a function pointer of type (here `T = short int`)
[code

[2021-11-18 08:29] fwyzard commented on #1472
I found a much simpler way to reproduce the problem, modifying the `vectorAdd` example to exhibit the same issue:
[code]

The modification compile fine with GCC 9:
[code]
but fail with GCC 10:
[code]

[2021-11-18 10:24] bernhardmgruber commented on #1011
The upgrade to C++17 has further implications. Since we need to require at least CUDA 11.0 to support C++17, it seems we can no longer support clang as CUDA compiler below clang-12, as clang-11 and below fail to detect a CUDA 11.0 SDK. See https://github.com/alpaka-group/alpaka/pull/1466#issuecomment-972709222. Or at least I could not find a way yet to make clang-11 and below work with CUDA SDK 11

[2021-11-18 11:33] j-stephan commented on #1472
Thanks for reporting this. Which CUDA version are you using here?

[2021-11-18 11:52] psychocoderHPC commented on #1011
I can confirm that CUDA 11.0 is not working with clang++-9 and clang++-10.
I can use PIConGPU with clang++-11 together with CUDA 11.0.

[2021-11-18 12:12] j-stephan commented on #1292
@SimeonEhrig If I understand the original issue at cling correctly, we need to use clang 13 for compilation and nvcc as linker to make this work with clang. Is this correct?

[2021-11-18 13:35] psychocoderHPC commented on #1472
@fwyzard I can reproduce the error with your mini example but currently do not understand why it is failing.

[2021-11-18 14:10] psychocoderHPC commented on #1472
If I change the alpaka code to be explicit and except only the signature for the vector add all is working.

[code]

IMO the error is not because `__restrict__` and normal pointers did not match in their signature. Do I oversee something in my diff?

[2021-11-18 14:13] psychocoderHPC commented on #1472
@fwyzard Is there a benefit to declare the pointer `__restrict__` on the host side before the kernel is called? Is it not enough to mark the parameters of the kernel (functor) with `__restrict__`?

[2021-11-18 14:20] psychocoderHPC commented on #1472
I wrote my own `remove_restrict` and patched alpaka and the mini app is working.

[code]

I will provide an PR.

[2021-11-18 14:44] fwyzard commented on #1472
Probably not :-)
Checking if it makes any difference is still on my to do list ...

[2021-11-18 14:44] fwyzard commented on #1472
I can confirm the #1474 fixes the compilation problem with GCC 10.

[2021-11-19 13:04] bernhardmgruber opened #1475 "Add CI Jobs for CUDA 11.5"
We should add CI Jobs for CUDA 11.5.

_Originally posted by @j-stephan in https://github.com/alpaka-group/alpaka/pull/1466#discussion_r753104453_

[2021-11-19 13:07] bernhardmgruber opened #1476 "Add clang-13 to CI"
We should add clang-13 to the CI.

_Originally posted by @j-stephan in https://github.com/alpaka-group/alpaka/pull/1466#discussion_r753104281_

[2021-11-19 13:09] #1011 closed, assigned to nobody

[2021-11-19 15:32] j-stephan commented on #1408
Intel introduced this feature as a SYCL extension:

https://github.com/intel/llvm/blob/sycl/sycl/doc/extensions/C-CXX-StandardLibrary/C-CXX-StandardLibrary.rst

So I guess they are currently debating this internally among implementers.

[2021-11-22 06:50] psychocoderHPC opened #1477 "alpaka API call overhead can be high"
Alpaka is calling with the HIP/CUDA backend for each memcopy, kernel call, ... `hip/cudaSetDavice` and `hip/cudaGetLastError`. Those calls can increase the latency for API calls a lot.
In cases where the user can guarantee that only one device per process is used `hip/cudaSetDevice` is a useless call. For HIP calling `hipGetLastError` introduces 11us overhead. In an application with 1k API calls p

[2021-11-22 07:02] psychocoderHPC opened #1478 "high overhead `getDevByIdx`"
`getDevByIdx(id)` is the equivalent to `cudaSetDevice` but should not be used like that.
The overhead of this function in alpaka is very very high.
- This method is always asking for the number of devices in the system: https://github.com/alpaka-group/alpaka/blob/0ef767dc1ef097bea9a35865cbcbd92b74d85f3f/include/alpaka/pltf/PltfUniformCudaHipRt.hpp#L84
- is calling `isDevUsable()` where **a stream

[2021-11-22 07:30] fwyzard commented on #1478
Hi @psychocoderHPC ,

thanks for following up this.

Indeed we were having this problem while halfway through porting the application from CUDA, which used integer indices to keep track of devices.
We are working to switch completely to the Alpaka style of API, using Device objects instead of indices (after the initialisation) which should also alleviate the problem.

[2021-11-22 09:59] fwyzard commented on #1428
Done in #1479 .

[2021-11-22 19:48] BenjaminW3 commented on #1220
@j-stephan Is there anything else you wanted get rid of or can this be closed now?

[2021-11-22 20:20] j-stephan commented on #1220
Thanks for the ping. I believe this can be closed now.

[2021-11-22 20:20] #1220 closed, assigned to nobody

[2021-11-22 22:47] #1402 closed, assigned to tonydp03

[2021-11-26 10:58] bernhardmgruber opened #1482 "std::mdspan"
~~`std::mdspan` in its [14th revision](https://wg21.link/p0009r14) passed the LEWG review last Monday, meaning its design has converged and seems to be finished for now. The paper still has to go through several votes, but I expect it to pass them, so it has a good chance of making it into C++23.~~
`std::mdspan` was voted into C++23 at the Kona meeting last November. It's coming.

I would really l

[2021-11-27 04:21] bussmann commented on #1482
I would go the dependency way.

[2021-11-27 04:36] bussmann commented on #1482
P.S.: I wanted to have mdspan in Alpaka the first time I read about it. Except for free index maps it is the best existing indexing solution.

[2021-11-29 10:42] psychocoderHPC commented on #1482
I agree with @bussmann and would add this as a dependency instead of reimplementing it.

[2021-11-29 11:09] #1428 closed, assigned to nobody

[2021-11-29 12:21] #1472 closed, assigned to nobody

[2021-11-29 14:32] bernhardmgruber commented on #1482
The options are vendoring the library inside the alpaka source tree or putting the burden on the user to install it themselves. I did not mention reimplementing it myself as an option.

[2021-11-30 09:11] #1424 closed, assigned to nobody

[2021-11-30 09:11] #716 closed, assigned to nobody

[2021-11-30 09:43] bernhardmgruber opened #1487 "Installation is broken"
The PR #1456 removed the directory "cmake/modules", which is still referenced in `CMakeLists.txt` for installation alpaka. This makes the installation fail. See e.g. LLAMA CI: https://github.com/alpaka-group/llama/runs/4365043305?check_suite_focus=true

[2021-11-30 13:29] fwyzard commented on #620
Do you know if `hwloc_set_membind()` can be used in place of `cudaHostRegister()` to pin memory in a way that accelerates GPU copies, or if it can only be used when CUDA/HIP are not being used ?

The [documentation](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__MEMORY.html#group__CUDART__MEMORY_1ge8d5c17670f16ac4fc8fcb4181cb490c) of `cudaHostRegister()` says

I would guess that `hwl

[2021-11-30 13:39] fwyzard opened #1489 "how to run unit tests ?"
Hi,
I've been trying to run the unit tests locally, with
[code]
but it fails with
[code]

This happens both with the `0.8.0-rc1` branch and with the `develop` branch, both on Ubuntu 21.10 (with gcc 11.2) and CentOS 8.4 (with gcc 10.2).

I assume I am doing something wrong to build the unit tests, but I couldn't found any actual documentation on how to do it :-/

[2021-11-30 13:52] sbastrakov commented on #1489
Hello @fwyzard ,

The issue is, you did not enable any alpaka backends when configuring. You should add `-DALPAKA_ACC_CPU_B_SEQ_T_SEQ_ENABLE=ON` and similar for other backends you want to use to the cmake command. More details about these flags are in [this doc page](https://alpaka.readthedocs.io/en/latest/advanced/cmake.html#).

However, you are right that the docs should also have an explicit co

[2021-11-30 13:52] bernhardmgruber commented on #1489
People wiser than me have decided at some point to not enable any of the backends by default. So the only thing missing in your case is to enable at least the serial backend with `-DALPAKA_ACC_CPU_B_SEQ_T_SEQ_ENABLE=ON`. You are free to enable additional backends, just check with `ccmake ../alpaka-0.8.0-rc1`.

It seems there is really no good documentation on this matter, we should add it somewher

[2021-11-30 13:52] sbastrakov commented on #1489
Lol, thought the same thing at same time @bernhardmgruber

[2021-11-30 14:13] fwyzard commented on #1489
Thanks @sbastrakov @bernhardmgruber , enabling the backends seems to work.

[2021-11-30 14:19] SimeonEhrig opened #1490 "Enable CPU Serial backup automatically if test or examples are enabled"
In issue #1489 I saw a really common problem. The tests and example does not work and it crashes at compiling, if the CPU serial backend is not enable. I have the same case in vikunja, where the tests and examples requires the CPU serial backend. Therefore the backend is automatically enabled if I enable the tests and examples.

https://github.com/alpaka-group/vikunja/blob/master/CMakeLists.txt#L3

[2021-11-30 14:29] bernhardmgruber commented on #1490
IIRC, we enabled some of the backends automatically in the past, but this was disabled at some point so that the user cannot accidentially enable the wrong backend. You can try digging through the issue history, maybe we had the discussion somewhere here.

[2021-11-30 15:11] SimeonEhrig commented on #1490
I know that we don't want to enable backends by default that it cannot happen accidentally in the user code. The question is, if this is also required for tests and examples, which are no user code?

[2021-11-30 15:21] bernhardmgruber commented on #1490
Fine for me!

[2021-11-30 16:56] j-stephan opened #1492 "Create perfectly forwarding function objects for CPU back-ends"
The `TaskKernel` implementations for the TBB, OpenMP 2.x and Serial back-ends feature the following comment:

[code]

We should address this as part of the C++17 migration.

[2021-11-30 17:02] j-stephan opened #1494 "Use C++17 metaprogramming facilities."
In the `meta` directory there are several files referencing their C++17 counterparts:

* `Metafunctions.hpp` (`std::conjunction`, `std::disjunction` and `std::negation`)
* `Void.hpp` (`std::void_t`)
* `ApplyTuple.hpp` (`std::invoke` and `std::apply`)

Now that we have made the switch to C++17 we should address this.

[2021-11-30 17:03] sbastrakov commented on #1494
Wow today is the parallel thinking day. See #1493

[2021-11-30 17:04] j-stephan commented on #1494
Looks like you just volunteered ;-)

[2021-11-30 17:06] sbastrakov commented on #1494
@j-stephan no, those were not used for our apply. I see that it is used somewhere else tho.

[2021-11-30 17:11] j-stephan opened #1495 "Switch to C++17 `constexpr`"
In `meta/CudaVectorArrayWrapper.hpp` we find the following section:

[code]

All prerequisites are met to remove this.

[2021-11-30 17:16] j-stephan opened #1496 "`delete` `rand::distribution::gpu::NormalReal`'s move constructor"
In `rand/RandDefault.hpp` we find the following move constructor for the `NormalReal` class:

[code]

Time to delete this. @jkelling @sliwowitz Any volunteers?

[2021-11-30 17:22] j-stephan opened #1497 "Use C++17 mandatory copy elision for CPU mem fences."
In `mem/fence/MemFenceCpu.hpp` we find the following TODO:

[code]

This can now be done.

[2021-11-30 17:24] j-stephan opened #1498 "Use C++17 `std::data()`."
In `mem/view/Traits.hpp` we find the following section:

[code]

This can now be addressed.

[2021-11-30 17:25] sliwowitz commented on #1496
I'll do it

[2021-11-30 17:49] j-stephan opened #1500 "Use `if constexpr`"
Since we heavily rely on template metaprogramming we should investigate where we can (sensibly) use `if constexpr` instead of `std::enable_if` and friends.

[2021-12-01 09:30] sbastrakov commented on #1494
Looks to have been auto-closed, however the other 2 PRs are still open

[2021-12-01 09:58] #1471 closed, assigned to nobody

[2021-12-01 10:16] bernhardmgruber commented on #1471
Note that we did not update the clang-5 and clang-6/libc++ builds, because clang-5 and libc++-6 cannot be installed anymore on Ubuntu 20.04. All other builds have been updated.

[2021-12-01 10:48] bernhardmgruber opened #1505 "Drop support for clang-6/7 with nvcc"
I propose to drop support for clang-6 and clang-7 with nvcc, as nvcc claims that both compilers do not support C++17 and refuses to pass the required `-std=c++17` flag to them. I also tried bypassing nvcc with `-Xcompiler -std=c++17`, without success. Since we decided to move to C++17 (in #1011), we unfortunately need to remove support for these clang-6 and clang-7 together with nvcc. Both compile

[2021-12-02 07:45] #1505 closed, assigned to bernhardmgruber

[2021-12-02 20:30] j-stephan opened #1509 "Raise required CMake version to 3.21"
Upgrading to CMake 3.21 would offer us the following advantages:

* Support for `CUDA_SEPARABLE_COMPILATION` for clang-cuda (CMake 3.19) (important for #1467)
* Platform support for Apple Silicon (CMake 3.19)
* A more flexible `FindCUDAToolkit` module (CMake 3.19)
* Support for C++23 mode (CMake 3.20)
* `nvc++` compiler support (CMake 3.20)
* Support for the oneAPI compiler toolchain (CMake 3.20)

[2021-12-02 20:45] bernhardmgruber commented on #1509
CMake 3.21 was released on Jul 14, 2021. That feels a bit too new to require, but I am not blocking you. I work on platforms where I can get the latest tools :)

[2021-12-02 21:49] j-stephan commented on #1509
CMake can easily be downloaded as a standalone tool (I'm doing this myself on some rather antique platforms I have to work with). So IMHO the relatively new release date shouldn't block this, but I'm open to criticism.

[2021-12-03 07:45] #1475 closed, assigned to psychocoderHPC

[2021-12-03 10:54] #1487 closed, assigned to bernhardmgruber

[2021-12-03 12:07] #1497 closed, assigned to j-stephan

[2021-12-03 12:50] sbastrakov commented on #1509
However if it's not available out-of-the-box (on, say, a cluster), many users would struggle with it.

[2021-12-03 13:05] j-stephan commented on #1509
Why? It doesn't need to be installed (or compiled), it is just a matter of downloading & unpacking.

[2021-12-03 13:17] #1495 closed, assigned to bernhardmgruber

[2021-12-03 14:15] sbastrakov commented on #1509
Not all users are computer scientists / experienced with software. It's maybe less of an issue for alpaka, but i could imagine for derivative software like PIConGPU. Of course, if we have to update, then no way around it

[2021-12-06 07:53] SimeonEhrig commented on #1509
But we already don't care about, if the correct cmake is available out-of-the box on Linux: https://gitlab.kitware.com/cmake/community/-/wikis/CMake-Versions-on-Linux-Distros

Our main target systems are Ubuntu 20.04 LTS (cmake 3.16.3) and RHEL/CentOS 8 (3.11). If you would care about this, we have to downgrade the CMake version.

[2021-12-06 14:42] psychocoderHPC commented on #1509
It is not about what is shipped with the distribution. The question is which CMake versions you mostly find on HPC systems.
I would only vote for increasing the version to the cutting edge CMake if it is impossible to get the relocatable compile working and even then I would think about supporting this feature only if cmake 3.21 is available and throwing an error else.
Supporting only one CMake ve

[2021-12-06 14:50] psychocoderHPC commented on #1500
Note: For such a refactoring keep the design principles of alpaka in mind. `std::enable_if` is mostly used together with SFINAE to keep alpaka extendable from the user/thrid-party code outside of alpaka.
Never the less I thing we have some places where `if constexpr` would make the implementation much easier because such parts are not extendable or exposed to the user of alpaka.

[2021-12-06 22:42] j-stephan commented on #1509
How is this handled with our current CMake requirement? There are also no POWER binaries available on cmake.org. I guess the Summit / Taurus admins have installed CMake 3.18 themselves?

Not impossible, but very evil and hacky. I would need to force-override the linker executable.

This might be a way worth exploring.

[2021-12-07 08:09] psychocoderHPC commented on #1509
Yes the system provider is typically building the packages. It is not easy to get such packages updated and took some time.
We should discuss this in today's developer meeting and write down the decision here.

[2021-12-07 08:11] #1449 closed, assigned to nobody

[2021-12-07 10:24] j-stephan commented on #1509
In today's meeting we have decided to stay with CMake 3.18 for now. We will revisit this topic at a later time.

[2021-12-07 10:26] j-stephan opened #1512 "Raise required Boost version to 1.74"
In today's meeting we have decided to raise the required Boost version to 1.74 (as requested in https://github.com/alpaka-group/alpaka/pull/1453#issuecomment-987665863).

[2021-12-07 10:29] j-stephan commented on #253
We should revisit this after #1453 has been merged. We may be able to remove `AtomicStdLibLock` completely.

[2021-12-07 10:31] j-stephan opened #1513 "Improve build system documentation"
We have received some questions regarding the usage of the CMake-based build system:

* How are back-ends enabled?
* How are test cases enabled?

We should document this better.

[2021-12-07 14:38] j-stephan commented on #1412
Just tested this on an A64FX platform. It is indeed enough to remove the unused parameter names to silence the warning to make everything compile.

However, I believe we should refactor the entire functionality since it is highly dependent on x86 functionality. It might be interesting to get the CPU name on non-x86, too. Maybe this is a good start for our proposed hardware support library.

[2021-12-07 14:49] j-stephan commented on #1489
Closing this issue. We will monitor this in #1513.

[2021-12-07 14:54] #1489 closed, assigned to nobody

[2021-12-07 15:14] j-stephan commented on #1477
Do we want this in hard debug mode (`-DCMAKE_BUILD_TYPE=Debug`) or just in some sort of verbose mode?

[2021-12-07 15:18] j-stephan opened #1517 "Improve CI efficiency"
Discussed offline with @bernhardmgruber: The current way of running the CI every time when a PR is merged is very inefficient. We just tested the code base against the PR, why test it again? This unnecessarily blocks the CI for a few hours.

Instead it might be more useful to run the `develop` CI on a regular basis. Maybe once per week or once every other day. Thoughts?

[2021-12-07 15:24] j-stephan commented on #1448
If I'm not mistaken this has been fixed by #1481. Feel free to reopen this issue if you feel otherwise.

[2021-12-07 15:24] #1448 closed, assigned to nobody

[2021-12-07 15:31] psychocoderHPC commented on #1517
The CI is running for the dev branch after a merge because a PR can be based on an old development branch.
If you merge two PRs in a row we typically rebase these PRs via github to the latest development branch this could introduce issues even if there is no merge conflict. If so you know which PR is the root o the issue. It is hard to say which PR is breaking the development branch if you test th

[2021-12-07 15:33] psychocoderHPC commented on #1517
To reduce the load I suggest testing for PRs and merging development fewer combinations per compiler and performing a full matrix test once per week. This should catch most issues when the PR is opened.

[2021-12-07 15:35] psychocoderHPC commented on #1517
Another way to reduce the CI load is by staging the tests. This means you test first a handful of combinations and only on successes perform more tests.
For example, this is what we do for PIConGPU: https://gitlab.com/hzdr/crp/picongpu/-/pipelines/424201783

[2021-12-07 15:36] j-stephan commented on #1517
Also a solution to #1439 might help.

[2021-12-07 15:41] psychocoderHPC commented on #1517
for the record: PIConGPU is using a CI job generator to avoid that a combination being tested twice. https://github.com/ComputationalRadiationPhysics/picongpu/blob/dev/share/ci/n_wise_generator.py
The generator is spaghetti phython but is only running valid combinations e.g. host compiler + CUDA, ....
With a generator is is easy to generate different complex matrices, e.g if we do not want to run

[2021-12-07 15:47] psychocoderHPC commented on #1477
Definitive in debug mode but some lightweight verbose mode would be nice too. We have an alpaka debug lvl, maybe we should add some more lvl's with low overhead which are not as verbose as our current `ALPAKA_DEBUG_LVL=1`

[2021-12-07 15:52] psychocoderHPC commented on #1412
We have an open issue to use `hwloc` for better host memory pinning, topology stuff https://github.com/alpaka-group/alpaka/issues/36
`hwloc` is also abstracting how you can get the CPU namings.

[2021-12-07 16:53] j-stephan commented on #1240
We need to revisit this once accessors no longer live inside `alpaka::experimental`.

[2021-12-07 16:54] j-stephan commented on #38
We now have accessors inside `alpaka::experimental`. The PR moving accessors into the regular namespace should link to and close this issue.

[2021-12-08 08:17] #1412 closed, assigned to nobody

[2021-12-08 08:30] psychocoderHPC commented on #1240
Where do they live now? Are they not experimental anymore?

[2021-12-08 08:33] #1492 closed, assigned to nobody

[2021-12-08 10:01] j-stephan commented on #1240
They currently live in `alpaka::experimental`. One day they will (hopefully) be put into `alpaka` like everything else.

[2021-12-09 13:25] j-stephan opened #1523 "Ubuntu CI failing because of missing MySQL executable."
This is the failing part of our CI scripts:

https://github.com/alpaka-group/alpaka/blob/7064fcd05d9ad149bbbdc04b9aa96c7ad9302461/script/print_env.sh#L28-L29

I guess that some MySQL update in the Ubuntu runners broke it. However, it should no longer be necessary since the MySQL service has not been active by default since May 2020.

[2021-12-09 13:55] j-stephan commented on #992
The way we handle CUDA has changed over the past months. Is this still an issue?

[2021-12-09 13:56] j-stephan commented on #1134
Do we still officially support these old versions of a legacy compiler?

[2021-12-09 14:07] sbastrakov commented on #1134
I do not know. But i think it is reasonable to close this, and open a new issue if there is a report for current alpaka version.

[2021-12-09 14:07] #1134 closed, assigned to nobody

[2021-12-09 15:59] #1523 closed, assigned to nobody

[2021-12-13 13:56] tonydp03 commented on #740
Locally on my macbook pro 2017 (MacOs Monterey 12.0.1, Apple clang version 13.0.0 (clang-1300.0.29.3)), using the latest develop branch, tests are built and run successfully if selecting the backend `ALPAKA_ACC_CPU_B_OMP2_T_SEQ_ENABLE` or `ALPAKA_ACC_CPU_B_SEQ_T_OMP2_ENABLE`. Build fails if selecting the backend `ALPAKA_ACC_ANY_BT_OMP5_ENABLE` with the following error:
[code]

[2021-12-13 16:21] psychocoderHPC commented on #740
IMO it is not a problem that `ALPAKA_ACC_ANY_BT_OMP5_ENABLE` is failing on MacOSX. @jkelling is MacOSX supporting OpenMP 5?

[2021-12-13 16:36] j-stephan commented on #740
IMO this should be caught by CMake since it checks for the OpenMP version. Apparently CMake believes that OpenMP 5 is supported but fails to properly link the library.

[2021-12-14 16:41] fwyzard opened #1535 "feature request: support for 0-dimensional buffers"
Many of the memory allocations and copies that we deal with in the CMS software concern individual objects, or _scalars_, instead of N-dimensional arrays.

While a _scalar_ can always be represented as an N-dimensional (usually, 1-dimensional) buffer with a single element, this requires some extra care when copying or converting between the native C++ point-of-view (where a `T` and `T[1]` are diff

[2021-12-14 16:47] fwyzard commented on #1535
It also looks like it's already mostly supported.

With a small patch
[code]

I can create a buffer of dimension 0:
[code]

[2021-12-14 18:04] fwyzard commented on #1535
The CUDA/HIP backend also needs some specialisations.

[2021-12-14 18:05] fwyzard commented on #1535
For a first attempt, see #1536 .

[2021-12-15 08:45] bernhardmgruber opened #1538 "Test and extend zero-dimensional usage"
Lots of components in alpaka are instantiated for some kind of dimensionality. Vectors for sizes and extents, buffers, accelerators, views, etc. Zero-dimensional versions of these might be handy in some situation, like zero-dimensional buffers: #1535. Let's revisit all alpaka constructs and check whether they allow zero-dimensional usage and extend the unit tests to cover this.

[2021-12-15 10:48] psychocoderHPC commented on #1517
To reduce the CI job runtime we should maybe run the header include check called `headerCheck` in a separate job and only once for each compiler e.g. gcc, clang, hipp, nvcc, intel. There is a very small possibility we miss something if we have a workaround within the code that is only activated for a specific compiler version.
IMO this risk is very tiny but the saved runtime is gigantic.
We could

[2021-12-15 10:53] bernhardmgruber commented on #1517
The header checks are already only run as part of the `analysis` CI runs. All other CI runs should not run header checks.

[2021-12-15 10:54] psychocoderHPC commented on #1517
That is good to know, I was not aware that we do not perform it always.

[update] on the gitlab CI we always perform the header check.

[2021-12-15 14:32] psychocoderHPC commented on #1517
I realized that checking out boost even with `--depth 1` took ages, we should check if it is faster to download from github the tarball.

[2021-12-15 14:36] bernhardmgruber commented on #1517
Or we just download the system boost in most runs, which is even faster.

[2021-12-15 15:03] psychocoderHPC commented on #1517
I also thought about it but I think it is harder to get FIBER running and I am not sure if the system boost is providing all versions. I have the patch for downloading the tar now ready and tested it within a docker container.

[code]

I waiting for https://github.com/alpaka-group/alpaka/pull/1537 and then we can apply your open optimization and the wget PR.

[2021-12-15 15:08] bernhardmgruber commented on #1517
It doesn't. It just provides one version. But I guess this is good enough for many of the CI builds. We can use an alternative boost on only a few CI jobs.

Ok that is amazing! PR super welcome!

[2021-12-15 15:18] psychocoderHPC commented on #1517
IMO one version is not enough. Boost is one of the biggest issues we had and testing boost with clang-cuda/nvcc in various combinations is important. The problem is that boost itself is not testing nvcc and the usage within kernels.

[2021-12-16 07:17] bernhardmgruber opened #1540 "Fix randomCells2D example for OpenACC"
The randomCells2D example fails during the CI for the OpenACC backend due to a memory related bug. The example has been disabled in CI as part of #1537 and needs to be fixed and reenabled.

[2021-12-16 07:45] psychocoderHPC commented on #1540
The example is currently assuming that the pitch is a multiple of the random number state size. IMO this is wrong because a random number state can be of any size.

[2021-12-16 15:07] #740 closed, assigned to tonydp03

[2021-12-17 07:03] #1512 closed, assigned to bernhardmgruber

[2021-12-17 07:37] #1388 closed, assigned to j-stephan

[2021-12-17 07:37] #1476 closed, assigned to nobody

[2021-12-17 10:21] bernhardmgruber opened #1545 "Use std::byte where appropriate"
We have a lot of places in alpaka where we deal with a region of bytes. E.g. are buffers, views, memset, etc. Since C++17 we can use the dedicated type `std::byte` to communicate the intent that we are dealing with raw bytes and not integers intended for computations. We should thus refactor the code and change types to `std::byte` where we really mean just a region of storage.

[2021-12-20 08:32] #1490 closed, assigned to nobody

[2021-12-22 06:20] psychocoderHPC opened #1550 "Ci: openAcc test show illegal memory access"
As mentioned https://github.com/alpaka-group/alpaka/pull/1549#issuecomment-998748452 the openAcc runtime test is showing illegal memory access, the reason is not clear:

[linux_nvhpc-21.9_cuda-11.4_oacc](https://gitlab.com/hzdr/crp/alpaka/-/jobs/1907538789) fails on gitlab CI with call to cuStreamSynchronize returned error 700: Illegal address during kernel execution. I suppose this is still the s

[2021-12-22 12:06] j-stephan commented on #1513
We have agreed that @tonydp03 will set up a developer documentation in the next year.

[2021-12-22 12:08] SimeonEhrig commented on #1513
Great. I have also the same problem with vikunja documentation and would be great, if I can simply link the documentation.

[2021-12-22 12:50] tonydp03 commented on #1513
Sure. I'll dedicate part of my time to alpaka developments next year, in parallel with CMS developments as well.

[2021-12-23 21:47] fwyzard opened #1552 "OpenMP 5 backend fails in integration tests with Alpaka 0.8.0"
Hi,
I'm trying to run the integration tests with Alpaka 0.8.0, and I'm getting some segmentation fault errors.

I'm working on Ubuntu 21.10 with GCC 10.3.0, and I'm setting up the test with
[code]

When I run the tests with
[code]
I get
[code]

Am I using some unsupported combination, or wrong cmake options ?

[2021-12-25 14:52] bernhardmgruber opened #1553 "Avoid M_PI"
`alpaka/rand/RandDefault.hpp` uses `M_PI` which is a non-standard extension. Please replace the constant by e.g. `boost::math::constants::pi`.

[2021-12-25 16:30] bernhardmgruber commented on #1482
So far it looks like the big showstopper is that `mdspan` does not support pitched allocations. Or at least I have not yet found a way to make them work efficiently. I opened an issue at their repository and I am now waiting for their recommendations: https://github.com/kokkos/mdspan/issues/117.

[2021-12-26 00:29] bernhardmgruber commented on #81
Just stumbled over a trick in C++20 we could try: https://youtu.be/z5AnYgyjQ-o?t=2567

[code]
https://godbolt.org/z/nzr7vMcGc

The value of `counter` will be unique for each location the user used `declareSharedVar()`.

[2021-12-26 11:54] fwyzard commented on #1553
Out of curiosity, which C library _does not_ define `M_PI` ?

[2021-12-26 12:27] fwyzard commented on #1552
After reading [`README_OMP5.md`](https://github.com/alpaka-group/alpaka/blob/develop/README_OMP5.md) I've set all suggested options, and tried a few more combinations:

#### GCC 10.3, CPU (host) backend
Configured with
[code]

Builds successfully, some checks fail at runtime with a `SEGFAULT`:
[code]

#### GCC 10.3, NVPTX backend
Configured with
[code]

Builds successfully, some checks fail at run

[2021-12-26 12:31] fwyzard commented on #1552
Indeed, all versions of GCC are marked as :x:  in the [`README.md`](https://github.com/alpaka-group/alpaka/blob/develop/README.md)... are there any plans to support them ?

I'm not particularly interested in actually using it, but having some non-working (or non-compiling) setups for GCC makes it harder to implement and debug the OpenMP 5 changes in the PRs :-/

Anyway, I'll try with clang...

[2021-12-26 17:00] bernhardmgruber commented on #1553
I primarily encountered it with MSVC 19.30 (VS 2022), where you need to explicitely ask for it with `_USE_MATH_DEFINES` before including `<cmath>`. For some reason we did not have that problem in the CI with VS 2019.

[2021-12-26 18:27] fwyzard commented on #1552
#### clang-12, CPU (host) backend
Configured with
[code]

Builds successfully, all tests pass:
[code]

However, I had to add `-rpath /usr/lib/llvm-12/lib'` to the linker options (or alternatively to the `$LD_LIBRARY_PATH`), otherwise the compiled binaries fail to find `libomptarget.so.12`:
[code]

Would it be worthwhile to mention  this in [`README_OMP5.md`](https://github.com/alpaka-group/alpaka/

[2021-12-29 11:37] j-stephan commented on #1552
Hi @fwyzard,

thanks for investigating this. Please note that HZDR as an institution is currently on Christmas vacation; it might take us a few days to catch up with this in the new year.

[2021-12-29 12:09] fwyzard commented on #1552
Yep, CERN as well... I'm just catching up on accumulated stuff :)

[2022-01-03 08:52] psychocoderHPC commented on #81
I like it, the only problem will be the loop and if someone encapsulates the allocation within a helper, but if `declareSharedVar` will be used as default and provide still the way to use user id's all will be fine.

[2022-01-03 08:59] psychocoderHPC commented on #1552
@jkelling Could you please have a look into this issue?

[2022-01-03 09:59] j-stephan commented on #1553
It sounds less intrusive to define another preprocessor flag rather than add yet another Boost dependency (see #481).

[2022-01-03 10:58] j-stephan commented on #1552
I am unable to reproduce this on my local system (`upstream` refers to this repository.):

[code]

Result:

[code]

[2022-01-03 11:47] jkelling commented on #1552
Hello @fwyzard first, thanks for testing.

I will answer to the points you brought up above in this one post.

## GCC
* The reason these backends do not work with GCC is not that alpaka does not support it, but rather that GCC's offloading support is broken.
* GCC NVPTX was just not tested during the development of these backends because it failed in too many ways.
* The only thing tested was *com

[2022-01-03 13:50] sbastrakov commented on #1553
An own variable template for pi is also an option i think. No ugly all caps name as a bonus

[2022-01-03 14:13] j-stephan opened #1555 "`ignore_unused()` should be replaced with `[[maybe_unused]]` or removed entirely"
With the switch to C++17 we have the `[[maybe_unused]]` attribute available. This should replace `alpaka::ignore_unused()` in all instances where a variable / parameter is only used in some code branches. Example:

[code]

can be transformed into

[code]

(Those macro checks should probably also be a `if constexpr` now.)

In other cases `ignore_unused` can be removed entirely because it serves no

[2022-01-03 16:48] #1494 closed, assigned to sbastrakov

[2022-01-03 19:03] jkelling commented on #1550
I had no success reproducing this issue locally (Kepler GPU) using the branch from #1549 (passes for me). Will have to try a different machine with a Pascal GPU.

[2022-01-04 08:38] #1498 closed, assigned to nobody

[2022-01-05 07:58] bernhardmgruber commented on #81
The loop is not the problem. The program I described prints:
[code]
So the counter in the loop is the same for each loop iteration. The counter value changes for each source location.

If you wrap the call to `declareSharedVar`, this is indeed a problem:

[code]

https://godbolt.org/z/q3crYqPTs

[2022-01-05 08:02] bernhardmgruber commented on #1553
We already have a Boost dependency. There is no way around it. So why reinvent the wheel?
Plus: C++20 has `std::numbers::pi<T>`.

IMO the preprocessor flag adds more complexity, since it complicates the build system. And I think we have users, that don't use alpaka's CMake, so they would need to specify the flag manually each time.

[2022-01-05 09:29] fwyzard opened #1558 "Accessors for 0-sized buffers and views"
As a follow up to #1536 and #1433, I would like to add a specialisation for accessors for 0-dimensional (scalar) buffers and views.

Since for a scalar the `[]` operator does not make much sense, what interface do you prefer ?
  - add an `operator T&()` or `operator T const&() const` conversion operator to the underlying scalar type[^1]
  - add the `*` and `->` operators
  - something else

[^1]:

[2022-01-05 09:29] fwyzard commented on #1558
@bernhardmgruber what do you think ?

[2022-01-05 10:51] j-stephan commented on #1553
What are we reinventing? `_USE_MATH_DEFINES` is the official MSVC way: https://docs.microsoft.com/en-us/cpp/c-runtime-library/math-constants?view=msvc-170

Then we can switch to that once C++20 is available to us.

It is literally a one-liner in CMake. And we need to change the build system in Boost's case as well since we would need to check for the existence of `boost::math` and link to it (even

[2022-01-05 11:03] fwyzard commented on #1553
We don't use CMake, and we don't use MSVC, and have been using `M_PI` since... (checks)... well, technically "since ever" as far as CMSSW is concerned: the first (pre)release from 2005 was already using it.

[2022-01-05 13:00] #1535 closed, assigned to nobody

[2022-01-05 13:14] j-stephan commented on #1558
Note that @bernhardmgruber is still on vacation (until next week I believe). It might take a while before he answers to this.

[2022-01-05 22:25] bussmann commented on #1558
I would think option 1 looks most natural...

[2022-01-06 13:02] #1500 closed, assigned to nobody

[2022-01-06 18:01] jkelling commented on #1496
Just to be sure: the title is a bit misleading: please do not just remove the c'tor, but explicitly delete it.

[2022-01-06 20:30] jkelling commented on #1550
No luck on P100 and V100 either: passes on both.

The flags are identical to the ones use in CI (This is important as passing optimization flags or `-g` to nvc++ will make things go wrong):
[code]

[2022-01-06 20:36] fwyzard opened #1560 "[RFC] Support the CUDA/HIP host API without a CUDA/HIP compiler"
This RFC proposes to require a CUDA or HIP compiler only for compiling device code or kernel launches.
The rest of the CUDA or HIP host API (device queries, memory operations, etc.) would be usable with a standard compiler, as long the required libraries are available.

This proposal aims make available in Alpaka the division of host and device compilers used in CMS, where we try to minimise the c

[2022-01-06 20:40] fwyzard commented on #1560
I'm copying here a comment by @SimeonEhrig:

[2022-01-07 04:47] bussmann commented on #1560
On a longer run I would prefer option 1 over option 2, as it is cleaner, less error prone than 2 and reflects the distinction between host and device better. It requirers much more work and I am not totally convinced such a division can hold up in the future and will be necessary with future compilers. Thus, for practical reasons, option 2 seems a good compromise.

[2022-01-07 12:00] jkelling commented on #1550
It also passes if run on the CI node, but outside of a container. I.e. there may be some issue with the container.

@psychocoderHPC do you have any idea if compiler flags might be passed in the CI environment by a mechanism which makes them not show up on the command line printed by cmake, via `$CXXFLAGS`.

[2022-01-07 22:30] bernhardmgruber commented on #1558
I remember @fwyzard proposing `operator*` and `operator->` for 0-dim buffers, so using the same syntax for accessor seems the most appropriate.

Write-only access is generally problematic, since we have to use proxy references to restrict reading a memory reference. Also because the C++ language does not offer a propagating language support like `const` to model this. So I have no way to give you

[2022-01-08 10:09] jkelling commented on #1552
@sbastrakov A less intrusive way would be by replacing the `const`/`constexpr` data members by `consexpr` member functions.

Is this part of a user facing interface, though?

[2022-01-08 10:54] fwyzard commented on #1558
Indeed... In fact, I'm asking because I'd like to implement a consistent interface for 0-sized buffers and accessors: either both of them have  `operator*` and `operator->`, or both have `operator T&()` _etc._

I don't have a strong preference either way, hence my question :-)

Agreed.

So far it's not something we are interested in, but I would try to add it for consistency.

[2022-01-08 12:01] jkelling commented on #1550
Ok I found the issue.

The CI OpenACC backend was hardcoded to only have two threads per block in the CI, which was the difference local runs and CI.

The issue is related to how NVHPC's runtime handles block/gang-local variables by placing it in global device memory, not actually in (CUDA) shared memory. It seems like it allocates memory for each block in a kernel, this way kernels with many bloc

[2022-01-10 09:15] fwyzard commented on #1560
After writing and trying to integrate a test case, I came up with a 4th option.

## Option 4: define the `ALPAKA_HOST_API` preprocessor symbol to request and enable only the host API

If `ALPAKA_HOST_API` is _not_ defined, including `alpaka.hpp` brings in the whole library, and requires a CUDA/HIP compiler if  `ALPAKA_ACC_GPU_CUDA_ENABLED` or `ALPAKA_ACC_GPU_HIP_ENABLED` are defined.

If `ALPAKA_H

[2022-01-10 10:46] bussmann commented on #1560
I like the idea, though compiler flags are orthogonal to separation by Code Design. It is practical, not too intrusive and manageable. However, it is still a bit error prone and has to work with the HIP/CUDA flags. I agree option 4 is the best so far.

[2022-01-10 14:02] fwyzard commented on #1560
OK, hopefully the proof-of-principle PRs for both options 2 (#1561) and 4 (#1565) will pass all checks.

Adding a test for option 1 would be quite intrusive, and that's already a good reason against it.

Implementing and adding a test for option 3 should be similar to option 4, and nobody seems to root for this one, so I'll just skip it.

[2022-01-10 14:37] fwyzard commented on #1560
If there is interest, I can also update some of the existing tests to use the host API only mode:
  - `zeroDimBufferTest` from `test/integ/zeroDimBuffer`
  - `accTest` from `test/unit/acc`
  - `coreTest` from `test/unit/core`
  - `devTest` from `test/unit/dev`
  - `idxTest` from `test/unit/idx`
  - `bufSlicingTest` from `test/unit/mem/copy`
  - `vecTest` from `test/unit/vec`

[2022-01-11 09:36] j-stephan commented on #1560
In today's meeting we (including @fwyzard) have decided to proceed with option 4.

[2022-01-11 13:04] fwyzard commented on #1560
Following the discussion this morning and a quick poll on Mattermost, we agreed to adopt option 4, and rename the new symbol to `ALPAKA_HOST_ONLY`.

I've opened two new PRs:
  - #1567 implements this proposal, based on option 4 and using `ALPAKA_HOST_ONLY`, and adds a new integration test for the host-only API;
  - #1568 on top updates some of the existing integration and unit tests to use the hos

[2022-01-11 15:47] fwyzard commented on #908
A detailed proposal has been discussed in #1560, with possible implementations in #1559, #1561, and #1565.
The agreed implementation has been submitted in #1567, with additional tests in #1568.

[2022-01-11 19:56] bernhardmgruber opened #1569 "Are alpaka objects copy/moveable?"
During a PR review (#1564) I saw that a change might affect whether the OpenACC device class is copy/movable, with @jkelling stating that there might not be any tests for that. There is a claim in the documentation that buffer objects are reference counted, but I could not find anything about other kinds of objects (platforms, devices, queues, etc.).

Question: are all alpaka objects supposed to b

[2022-01-11 20:25] jkelling commented on #1569
I would like to clarify (because I always misunderstand when @bernhardmgruber  puts it like he did here): The referenced issue affects copy/move *assignment* only, not copy/move in general. I do not know if copy/move is tested somewhere, but *assignment* of at least `Dev*` types is clearly not.

[2022-01-12 08:20] fwyzard commented on #1558
After thinking it through, this

seems like the best approach.

The reason is that 0-dim buffers are often going to be complex structures, for which it is important to have a simple way of accessing data members or methods. This is simple with the `->` operator, but much more complex with a `T&` cast operator.

This approach also matches interface of the usual smart pointeres (`srd::unique_ptr` an

[2022-01-12 14:15] j-stephan commented on #1569
I don't see a reason for our objects to not be move-assignable. The semantics are clear here IMO.

Copy-assignable is a different matter. We should probably take the time and define the behaviour clearly if we haven't done this so far. For a device and a platform the behaviour is IMO clear, but what about a queue? Does a copy create a new queue with the same properties or just refer to the old que

[2022-01-13 15:42] #1555 closed, assigned to nobody

[2022-01-13 17:02] fwyzard commented on #1569
So far I understood or assumed that copying a queue, event, buffer, _etc._ gives an object that references the same  queue, event, buffer, _etc._ as the original one.

[2022-01-17 08:25] SimeonEhrig commented on #1513
I opened a PR #1571

[2022-01-17 11:08] #1550 closed, assigned to nobody

[2022-01-17 11:53] #1452 closed, assigned to nobody

[2022-01-17 12:20] j-stephan opened #1572 "Which CPU atomic implementation should be enabled by default?"
As a follow up to #1566:

We need to decide which CPU atomics implementation should be enabled by default.

### `boost::atomic_ref`

+ Pro: better performance
+ Con: hard **runtime** dependency on Boost.Atomic

### lock-based

+ Pro: no runtime dependency, alpaka is still header-only
+ Con: worse performance

@alpaka-group/alpaka-maintainers Please discuss (once you are back...)

[2022-01-17 12:42] bernhardmgruber commented on #1572
I prefer `boost::atomic_ref` because it's faster. We already have runtime dependencies like Boost.Fiber, CUDA, HIP, TBB, OpenMP, pthread, etc. It's true that this is the first time we have a runtime dependency for the most simple serial backend. But I would argue that the backends for production use always need third-party runtime dependencies. Furthermore, you can also link boost statically and a

[2022-01-17 15:40] bernhardmgruber opened #1573 "Add nvcc 11.6 to CI"
CUDA Toolkit 11.6 has been released recently. Add tests for this version to the CI.

[2022-01-17 15:44] SimeonEhrig commented on #1573
Looks, like that Nvidia is silently releasing software :thinking: I got the current developer news on the 13. and there was nothing about the new CUDA version and the news was one day after the last update of the CUDA 11.6 documentation.

[2022-01-17 19:38] #1558 closed, assigned to nobody

[2022-01-18 12:06] SimeonEhrig commented on #1361
The `ALPAKA_HIP_ARCH` is removed. It is replaced by the variable `GPU_TARGETS` which is documented (#1551 ).

[2022-01-18 12:06] #1361 closed, assigned to nobody

[2022-01-18 12:47] jkelling opened #1576 "Omp2Blocks aborts when `num_threads = 1` while `omp_get_max_threads > 1`"
https://github.com/alpaka-group/alpaka/blob/a2315638266b9c2a429d34e4e8e695405045d486/include/alpaka/kernel/TaskKernelCpuOmp2Blocks.hpp#L879

This check fails because there is [no parallel region created](https://github.com/alpaka-group/alpaka/runs/4853180884?check_suite_focus=true#step:5:5592) after going through [`omp parallel`](https://github.com/alpaka-group/alpaka/runs/4853180884?check_suite_f

[2022-01-19 11:32] jkelling commented on #1576
The issue is caused by an interaction between the Omp5 and the Omp2Blocks backend with `ALPAKA_OFFLOAD_MAX_BLOCK_SIZE=1`. This leads the Omp5 backend to have a
[code]
This does change the `num_threads` ICV, so that the
[code]
to run only one thread. (I cannot tell whether this behavior conforms to the standard or is a bug. I would think only `omp_set_num_threads()` should permanently set the ICV,

[2022-01-19 11:40] jkelling commented on #1576
Btw.: I can reproduce this issue locally with clang main (14) and in the CI with clang 13. I can *not* reproduce it locally with clang 11 for some reason (local is `11.0.0`, CI has `11.0.0-2~ubuntu20.04.1`, that is only a different build).

[2022-01-19 12:46] j-stephan commented on #1573
There is a blog post: https://developer.nvidia.com/blog/cuda-11-6-toolkit-new-release-revealed/

[2022-01-20 12:51] #908 closed, assigned to tonydp03

[2022-01-20 12:51] #1560 closed, assigned to nobody

[2022-01-20 14:46] jkelling commented on #1576
Checking `omp_get_num_threads()` would make the check never trigger because this would always return `1` outside of a parallel region, so it would become pointless. I guess the intention of the check may be best implemented by only checking [`omp_get_level()`](https://www.openmp.org/spec-html/5.0/openmpsu127.html):
[code]
but this only exists since OpenMP 3.0.

On the other hand, the current versi

[2022-01-20 14:49] jkelling commented on #1576
Btw.: `throw`ing in a `single` region is only allowed if the exception is also caught in the same region. As is exception does not appear to be intended to be caught in any case it may not matter whether the program aborts in a conforming or non-conforming way, though.

[2022-01-23 10:57] BenjaminW3 commented on #1569
My initial goal was that the objects on the public interface are basically handles to the underlying resource owned by the lib/framework.
Internally they hold reference counted implementations or in the case of CUDA sometimes also only handles to the CUDA objects.
In the end this means that all alpaka objects passed out to the user can be copy/move-consructed/assigned by doing a plain copy. As res

[2022-01-24 10:05] s9105947 opened #1580 "use constexpr in device function"
Dear Maintainers,

when I refer to a C++ `constexpr` function from inside a (inline-) device function, should I mark the `constexpr` as a device function as well?

In a short discussion @j-stephan noted that this (probably) depends on the used compiler.

Apart from the question: Where/How should this be noted in the documentation?
I'd suggest a Notes/Misc/Q&A section, but I haven't found any.

[2022-01-24 11:23] fwyzard commented on #1580
`nvcc --expt-relaxed-constexpr` will consider any `constexpr` function as `__host__ __device__`

I'm not sure what clang does, nor if HIP has a similar flag.

[2022-01-25 10:37] SimeonEhrig opened #1581 "Clarify relationship between accelerator mapping, device object, queue ..."
I want to overwork the API of vikunja (https://github.com/alpaka-group/vikunja/issues/44). Therefore I think about, which template types and function arguments are necessary. For example, do I need to pass the device object and queue object, or can I get the device from the queue. At the moment, the documentation about this relationship is missing.

[2022-01-25 10:42] fwyzard commented on #1581
You can get the device type from the queue type:
[code]
and the device object from the queue object:
[code]

[2022-01-25 11:13] j-stephan commented on #1569
I prefer to stay with the originally intended way of shallow copies. We "just" need to document this better. As part of our documentation rework we could maybe come up with something like an alpaka specification where we clearly define these fundamentals; right now this is more like an oral tradition.

[2022-01-25 11:28] fwyzard commented on #1569
A related topic that I found unclear is which interfaces are (supposed to be) `const`.
For example, is submitting work to a queue a `const` operation for the queue object ?

[2022-01-25 11:50] SimeonEhrig commented on #1581
Thanks for the hint. But I thought @j-stephan mentioned a way, how to create a queue without a device, in the VC? It should be used in the test cases.

[2022-01-25 11:58] j-stephan commented on #1581
Yes, this is possible for the CPU device:

[code]

Live-action example: https://github.com/alpaka-group/alpaka/blob/develop/test/integ/hostOnlyAPI/src/hostOnlyAPI.cpp, line 56 and following.

[2022-01-25 12:06] SimeonEhrig commented on #1581
But this looks like a device: `auto const host = alpaka::getDevByIdx<Host>(0u);`

[2022-01-25 12:08] j-stephan commented on #1581
Ah, I didn't read your question properly. No, it isn't possible to create a queue without a device (what would it be connected to?), only the other way around (device without queue).

[2022-01-25 12:08] SimeonEhrig commented on #1581
Yes, that makes sense, for example to allocate memory.

[2022-01-25 19:12] BenjaminW3 commented on #1569
Out of my head, `const` methods should be:
* side-effect free - should not lead to any externally visible state change
* atomic or internally synchronized - should be safe to be called from multiple threads in parallel

Given my first point, I would say no, because you can most likely see that the queue length changed.

[2022-01-26 06:26] fwyzard commented on #1569
OK, I agree that this definition makes sense.

So, this correctly fails to compile:
[code]

However, alpaka reference-counted objects can easily work around their `const`-ness, and it's pretty easy to write functions that take `const` arguments and do non-`const` operations:
[code]

[2022-01-26 10:03] jkelling commented on #1569
Good point. This is inevitable with the implicitly shared semantics, unless one is not allowed to copy, contradicting the inital premise.

This appears to be an argument for having all user-facing member functions of implicitly shared objects be `const`, which never requires a `const_cast` or something as their have a pointer to a non-const shared object. One could additionally implement a const v

[2022-01-27 14:01] j-stephan commented on #1580
As @fwyzard said CUDA allows this with an extra compiler flag. According to https://github.com/ROCm-Developer-Tools/HIP/issues/374 this is explicitly not supported for HIP.

So right now `constexpr` functions should also be marked as device functions.

[2022-01-27 14:30] s9105947 commented on #1580
Copy-paste-able text for documentation (I don't know where to put it):

[code]

[2022-02-01 15:29] SimeonEhrig commented on #1581
We clarified the relationship today in the VC.

- Each device object has a device type (e.g.: `alpaka::DevCPU`, `alpaka::DevUniformCudaHipRt`)
- Each queue has a ~~acc~~ device object
- Many queues can use a single ~~acc~~ device object
- Each acceleration type (e.g. `alpaka::AccCpuSerial`, `alpaka::AccGpuHipRt`) is dedicated to a device type
  - this means for example, a device object which has t

[2022-02-01 16:20] fwyzard commented on #1581
Mhm, this is not what the code says.

A `queue` has a _device_, not an _accelerator_:
[code]

In principle one could use the same queue with different accelerators on the same device; _e.g._ the serial CPU backend and the TBB backend, or a 1D accelerator and a 3D accelerator, _etc._

[2022-02-01 16:28] fwyzard commented on #1581
I would say that
  * Each device object has a device type (_e.g._ `alpaka::DevCPU`, `alpaka::DevUniformCudaHipRt`, ...)
  * Each queue object has a queue type (_e.g._ `alpaka::QueueCpuBlocking`, `alpaka::QueueUniformCudaHipRtNonBlocking`, ...) with an underlying device type (see above) and a sync/async implementation
  * Each queue object has an underlying device object
  * Each accelerator object

[2022-02-01 19:18] bussmann commented on #1581
I think this discussion is a good hint to update the doc.

[2022-02-03 10:16] j-stephan commented on #481
We have a new dependency: Boost.Atomic. Right now this is non-optional but can easily be turned into an optional dependency.

[2022-02-03 10:17] j-stephan commented on #1340
Is this still relevant? AFAIK we have GitLab runners that execute CUDA and HIP tests.

[2022-02-03 10:19] j-stephan commented on #1340
This was fixed by #1375, #1407, #1409 and #1520. I'm closing this now. Feel free to reopen if I was wrong.

[2022-02-03 10:19] #1340 closed, assigned to nobody

[2022-02-03 10:28] j-stephan commented on #912
`ApplyTuple` was removed as part of #1493. Feel free to reopen if this problem persists even with `std::apply`.

[2022-02-03 10:28] #912 closed, assigned to nobody

[2022-02-03 23:54] fwyzard opened #1588 "prepareForAsyncCopy crashes if a program compiled for CUDA runs without a GPU"
I'm not sure if this can be addressed inside alpaka, but we have run into a problem with this scenario.

If a program is built with support for CUDA (setting `ALPAKA_ACC_GPU_CUDA_ENABLED`), but runs on a machine without access to a GPU (_e.g._ if `CUDA_VISIBLE_DEVICES` is set to an empty list at runtime), a call to `alpaka::prepareForAsyncCopy(buffer)` will result in an exception:
[code]

The reas

[2022-02-04 04:27] bussmann commented on #1588
Could you elaborate on the use case scenario for which this is happening? Why do you need a CUDA backend when there is no GPU present?

[2022-02-04 07:12] fwyzard commented on #1588
Sure: the use case is for building an application once, with support for multiple backends (gpus, cpus), and being able to deploy it on different kind of machines, with or without gpus.

[2022-02-04 08:34] BenjaminW3 commented on #1573
This version adds support for VS 2022, which I added support for in #1583

[2022-02-04 08:35] psychocoderHPC commented on #1576
IMO the check that we are in a parallel region should stay for OpenMP <3.0 and should be relaxed (or implemented as suggested https://github.com/alpaka-group/alpaka/issues/1576#issuecomment-1017582742) for newer versions. I am not sure what the standard is saying but maybe the OpenMP implementation is free to decide to reuse the current process instead of opening a parallel reagin for one thread.

[2022-02-04 11:10] bernhardmgruber commented on #1208
C++23 might get it: https://wg21.link/p2437r0

[2022-02-07 08:55] SimeonEhrig commented on #1581
You are right. It was a mistake of mine. I constantly switch device and accelerator object.

I'm not sure, if there is accelerator object (maybe you can create one, but it will not used anywhere).

[2022-02-07 10:22] j-stephan commented on #1581
Accelerator objects cannot be created by the user. They only exist inside a kernel and are created in the background by the respective back-end.

[2022-02-07 10:26] SimeonEhrig commented on #1581
You are right. I forgot, that the acc objects are there.

[2022-02-08 01:59] ax3l commented on #1572
Not sure if that's done already, but when Alpaka is built in C++20 even today, you could already do that switch automatically.

Since we still depend on Boost for at least predef #481, just depend on it for now. We could aim to get boost as a fully optional dependency with a C++20 switch, for instance.

If we get all other non-optional dependencies out before that switch, I would make this optiona

[2022-02-08 16:56] tonydp03 commented on #1445
I talked with Andrea a few weeks ago about this issue. One possible solution that he proposed, which would keep alpaka's programming pattern unchanged, was:
- no addition of a default constructor for _invalid_ objects;
- addition of a function like `alpaka::Buf::invalid_state()` which creates and returns an _invalid_ buffer (or a free function like `alpaka::make_invalid<Buf>()`;
- addition of a me

[2022-02-09 10:46] #611 closed

[2022-02-09 11:47] bernhardmgruber commented on #1445
Here are some thoughts of mine:

There are typically two approaches to obtain two phase construction for an object, which is what @fwyzard needs in his example.

Firstly, the type of the object supports a partially formed state (either via default construction, a special constructor or a special static factory member function) and construction can be finished using a member function. This has the

[2022-02-09 13:19] j-stephan commented on #1445
It may also be worth noting that the Microsoft standard library developers recommend using `std::optional` for the use case presented in the initial issue comment: [Source](https://devblogs.microsoft.com/cppblog/stdoptional-how-when-and-why/#the-need-for-not-yet-a-thing).

[2022-02-09 16:04] fwyzard commented on #1445
Well, this is not an argument, it's an arbitrary assertion. I could write

and it would have exactly the same validity.
Case in point, many of the standard objects cannot be safely used after being default constructed.

As I have pointed out already, having to wrap *every single alpaka object* in an `std::optional` IMHO is a clear message that the API is lacking, at least for the more advanced use

[2022-02-09 16:07] fwyzard commented on #1445
Funny that they quote "C++’s zero-overhead abstractions" as a reason for using `std::optional<T>`, considering that `std::optional<T>` does have a small overhead, while making alpaka objects default constructible would not.

[2022-02-09 17:58] bernhardmgruber commented on #1445
It's not an argument in a scientific sense, but it's not arbitrary either. It's design consensus within the C++ community. I cannot provide you with a quote. I can only share experience I obtained by listening to the experts.

This is not required in cases where two phase construction is not needed.

I am looking forward to your feedback and measurements there!

`std::optional<T>` is a generic, ze

[2022-02-09 19:41] fwyzard commented on #1445
We clearly disagree on this point, I would argue that the C++ standard disagrees with you, as well.
Try using a default constructed `std::shared_ptr`, `std::unique_ptr`, or `std::optional` for that matters.
Or please explain what kind of problems you incur in using a moved-from `std::vector` or other container.

Then we agree on this: the API currently provided by alpaka is well suited for simple

[2022-02-09 20:28] bussmann commented on #1445
Just seeing the discussion. I think we should step back and discuss example use cases in Alpaka for this and evaluate solutions.

[2022-02-10 08:42] bernhardmgruber commented on #1445
I think we brought forward our arguments. So @tonydp03 or @j-stephan I let you decide what to do.

[2022-02-10 09:44] #1540 closed, assigned to sliwowitz

[2022-02-11 11:26] j-stephan commented on #468
Adding this to our to-do list since outside users have started to encounter this.

[2022-02-14 16:42] #1427 closed, assigned to tonydp03

[2022-02-15 11:41] bernhardmgruber commented on #1496
Discussion was here:
https://github.com/alpaka-group/alpaka/pull/1444#pullrequestreview-799902845
https://github.com/alpaka-group/alpaka/pull/1444#pullrequestreview-799905832

[2022-02-16 08:01] #1496 closed, assigned to sliwowitz

[2022-02-16 09:34] ericcano commented on #468
I encountered this issue in a test validating a range checking feature. In CUDA kernels, when out of range, the kernel fails (crash on purpose in the absence of exceptions support). Once this has happened, we do get a exception when calling `aplaka::wait()` on the queue (this is totally fine), but in addition, both buffer and queue destructors fail with the following exceptions (and should not). I

[2022-02-17 12:52] j-stephan opened #1595 "`getWarpSize()` should return a vector"
We currently assume that each device has exactly one supported warp size. This is true for CUDA GPUs and (to an extent) for AMD GPUs. On CPUs this is already questionable if we take vectorization into account but the current approach seems to work reasonably well.

As the SYCL back-end is nearing completion we can observe that this is no longer true: My laptop GPU (Ice Lake) reports that it can op

[2022-02-17 14:19] bernhardmgruber opened #1597 "[RFC] Remove pitched allocations"
Some backends in alpaka insert padding after the rows for a 2D or higher dimensional buffer (notable CUDA/HIP with cudaMallocPitch and cudaMalloc3D). This additional padding is hardware dependent and selected by the implementation with the hope to provide faster memory access to the buffer inside a kernel. That concerns coalescing, the memory controller, number of memory transactions etc.

However

[2022-02-17 16:11] fwyzard commented on #1597
IMHO pitched allocations are only useful if they can be used consistently on all backends, so that one can allocate an N-dimensional buffer with a given pitch (_e.g._ 128 bytes) on any backend, then transfer the buffer as a whole and use it on any other backend.

Pitched *views* are useful for other purposes - for example, to take an N-dimensional buffer, fix one of the indices, and access it via

[2022-02-17 19:09] bussmann commented on #1597
Remove. Any specific memory layout should remain outside Alpaka. This is done by LLAMA.

[2022-02-17 19:12] j-stephan commented on #1597
If we're approaching this subject anyway we should also discuss the general need for n-dimensional buffers in alpaka. If we ditch pitched allocations, why not ditch 2D / 3D allocations entirely?

[2022-02-17 19:14] bussmann commented on #1597
Agreed. My view was always this is the job of an extra interface/library. May I recommend LLAMA?

[2022-02-17 19:49] j-stephan commented on #1597
One could argue that we should also remove the type from the buffer so that the user always receives a range of `std::byte`s and has to set up the actual interpretations on their own.

I always wanted to have an overarching concepts library in the ecosystem that defines the interaction between our libraries. The interfaces of memory interpretations might be a good start for that (we can probably e

[2022-02-18 10:25] bernhardmgruber commented on #1597
That is also something I have found browsing the internet, since a 2D memcopy with different source and destination buffer pitches is rather costly.

Fully agreed. `std::submdspan` can do that for example. They are called strided views there.

The latter case is exactly what LLAMA is designed for. You provide a region of bytes, describe a memory layout, and a LLAMA view will then map your index sp

[2022-02-18 12:22] j-stephan opened #1600 "Add ROCm 5.0 to CI"
ROCm 5.0 was released a few days ago: https://www.phoronix.com/scan.php?page=news_item&px=Radeon-ROCm-5.0

It should be added to the CI.

[2022-02-18 16:54] bernhardmgruber commented on #1597
Here are a few additional numbers on the V100, also including the time required for the memory copy:

![image](https://user-images.githubusercontent.com/1224051/154726536-ae3c10c8-6326-4228-87a5-4fec3e343566.png)

Apart from the insane jitter on the copy times (feel free to suggest improvements here: #1599), it also looks like we can win something on copies when the pitch is dropped.

[2022-02-18 22:10] fwyzard commented on #1597
If I read the code correctly, the underlying type used in `matMulTest` is `std::uint32_t`, whose size is a divisor of 128 bytes.

What happens if the type used in the buffer has a size that is not a power of 2 ?
Would that make the pitched allocation more useful ?

[2022-02-21 11:39] bernhardmgruber commented on #1597
Here is another measurement (no serious benchmark) from my GeForce RTX 2060. First group is cudaMalloc, second group is cudaMallocPitch.
![image](https://user-images.githubusercontent.com/1224051/154947577-f7bd2718-996f-4d86-b0cd-16e4e0852498.png)
Here we get a 5% runtime improvement at roughly the same transfer time.

[2022-02-21 11:45] bernhardmgruber commented on #1597
The pitches used by my CUDA implementation on the GeForce and then the V100 are:

| matrix width in bytes | row pitch in bytes | padding |
| -|-|-|
| 36988 | 37376 | 388 |
| 126516 | 126976 | 460 |
-- | -- | --
46196 | 46592 | 396
158108 | 158208 | 100

Note that I use different matrix sizes on the two cards.

If I make matMulTest use a type containing 3 `uint32_t` (thus the matrix element size is

[2022-02-21 12:04] j-stephan opened #1601 "The SYCL back-end requires a README"
We should add a special `README.md` for the experimental SYCL back-end which shows how to use it and which features are missing.

[2022-02-21 12:08] j-stephan opened #1602 "Add Xilinx FPGA codepaths to SYCL back-end"
Right now all of the possible SYCL targets use the `parallel_for` kernel instantiation. Aside from this being currently [broken](https://github.com/triSYCL/sycl/issues/154) I believe we can achieve higher performance by using `single_task` instead and relying on Xilinx' SYCL extensions for loop unrolling, pipelining and dataflow.

[2022-02-21 12:14] j-stephan opened #1603 "Reuse Intel FPGA images if the device code has not changed"
The Intel FPGA compiler allows to reuse FPGA images if the device code hasn't changed. This should be added to CMake to vastly improve hardware synthesis times.

[2022-02-21 12:19] j-stephan opened #1604 "Add Intel FPGA code paths to SYCL back-end"
This is basically the Intel variant of #1602 (with the exception of `parallel_for` not being broken). For FPGAs we should add a `single_task` kernel and make use of Intel's SYCL extensions where possible. Intel provides special load/store extensions; maybe we can use these after we have found a solution to #38 and #1312.

[2022-02-21 12:38] j-stephan opened #1605 "Add random number support to SYCL back-end"
The SYCL back-end currently does not allow for device-side RNGs. We should investigate whether the Philox implementation can be utilized here.

[2022-02-21 12:40] j-stephan opened #1606 "Add time support to SYCL back-end"
The SYCL back-end currently does not allow for device-side timing. We should investigate whether this is possible (maybe through vendor extensions) since the SYCL API has no methods for this.

[2022-02-21 12:41] j-stephan opened #1607 "Support additional SYCL platforms"
The SYCL back-end currently targets the oneAPI compiler and its Xilinx fork. We should add support for other compilers, namely Codeplay.

[2022-02-22 08:38] SimeonEhrig commented on #1597
I would not suggest this. It's make harder to use and is really error prone, like working with `void *`. Also we should think about our target group. There are not only well experienced developer. There are also scientist, which want to implement his algorithm in a HPC context, like the physicists, which develop the plugins for PIConGPU.

I know, it is also possible to add an abstraction layer on

[2022-02-22 12:25] fwyzard commented on #1597
Following up to this morning meeting, I couldn't find how to query the pitch that would be used by `cudaMallocPitch()` and `cudaMalloc3D()` :-(

I found that there is a way to query the _maximum_ pitch for a device via `cudaDeviceGetAttribute`:
[code]

Then, I found that the equivalent function to `cudaMallocPitch()` in _driver_ API takes an extra parameter:
[code]
  - `ElementSizeBytes` specifies

[2022-02-22 14:18] bernhardmgruber commented on #1597
Thank you for pointing to `cuMemAllocPitch`. It's documentation further says:

Which then further mentions:

These values are 512 and 16 on my GeForce.

[2022-02-22 14:54] fwyzard opened #1613 "Support CUDA and HIP/ROCm at the same time"
A feature that we would like to have in CMS is to be able to compile applications that support both CUDA and HIP/ROCm (and eventually SYCL) at the same time.

This is possible using CUDA and HIP natively: see https://github.com/fwyzard/test-rocm-cuda for a simple example.

It would be nice to support this also when using alpaka.

[2022-02-22 15:00] fwyzard commented on #1613
From what I can think of, here is a non-exhaustive list of changes that would be needed:
  - [x] introduce separate types for the CUDA and HIP-related objects
  - [x] make the host buffer pinning dependent on the target GPU
  - [ ] replace `ALPAKA_HOST_ONLY` with a separate preprocessor symbol for each backend

[2022-02-22 15:03] fwyzard commented on #1613
### Introduce separate types for the CUDA and HIP-related objects

I think this is already done for the accelerator types, `AccGpuCudaRt` and `AccGpuHipRt`, that inherit from the common implementation in `AccGpuUniformCudaHipRt`.

Maybe it is enough to use the same approach for the other classes:
  - `BufUniformCudaHipRt`
  - `PltfUniformCudaHipRt`
  - `DevUniformCudaHipRt`
  - `QueueUniformCudaHi

[2022-02-22 15:08] fwyzard commented on #1613
### Replace `ALPAKA_HOST_ONLY` with a separate preprocessor symbol for each backend

Backend specific code should be seen only by the respective compiler, so `ALPAKA_HOST_ONLY` is probably not enough to support both CUDA and HIP/ROCm at the same time: there may be code that should be seen by the CUDA compiler but not by the HIP/ROCm compiler, or vice versa.

It may be possible to figure out  case

[2022-02-22 15:46] fwyzard commented on #1613
###  Make the host buffer pinning dependent on the target GPU

Currently, `alpaka::CpuBuf` can be pinned using `cudaHostRegister` (if compiling for the CUDA backend) or `hipHostRegister` (if compiling for the HIP/ROCm backend).

One possibility to support pinning for either backend would be to
  - add a second parameter to `prepareForAsyncCopy` and `pin` to indicate what device (or queue) to pin f

[2022-03-01 08:13] psychocoderHPC commented on #1613
I would say `ALPAKA_HOST_ONLY` can be defined as empty to support both backends. Not sure if there are cases where it is required to explicit define a function as host only.

The question is how the free functions should be tagged if we introduce preprocessor symbols for CUDA and HIP.
IMO it should be enough to keep our generic symbol `ALPAKA_FN_ACC`. We need to improve the definition a little bit

[2022-03-01 10:25] bernhardmgruber commented on #1445
@fwyzard we discussed this issue today during the alpaka VC and we wondered whether a buffer with zero extents could serve your use case:

[code]

Such an allocation with zero extents (not zero dimensionality!) for the CUDA backend does not call any API functions during allocation and also copy. We would still need to check whether that is true for the other backends though.

Would this work for y

[2022-03-01 12:27] bernhardmgruber opened #1618 "Test zero extents alpaka buffer"
Alpaka's API allows the creation of buffers with extents containing only zeros, which might be a valid use case when a buffer object is needed, but no allocation should occur yet.

We should make sure this use case is supported by extending the unit tests accordingly.

See also discussion #1445.

[2022-03-01 12:35] bernhardmgruber commented on #1618
Ok, it seems the tests already cover this well! :D

[2022-03-01 13:46] psychocoderHPC commented on #1597
I disagree, the padding is set by CUDA/HIP and is device-specific. This does not mean that llama does not need this feature, llama should be able to handle padding but it is currently not clear if an emulated padding based on virtual dimension changes on a 1D memory chunk is equivalent to a native allocated n-D memory chunk.
A native n-D allocation function has several optimization possibilities e

[2022-03-01 14:04] #1618 closed, assigned to nobody

[2022-03-01 15:38] bernhardmgruber commented on #1597
[This question on Stackoverflow](https://stackoverflow.com/questions/12550927/pitch-alignment-for-2d-textures) suggest that the pitch in cudaMallocPitch is honoring cudaDeviceProp::textureAlignment, which is 256 on older hardware, and 512 on newer. Textures require this alignment for their start address, and only texturePitchAlignment (usually 16) for each row.
Speculation: the row pitch is also c

[2022-03-01 15:53] bernhardmgruber commented on #1597
From looking at the HIP implementation (thx @psychocoderHPC) it seems that `hipMallocPitch` is related to textures/images. In fact, if the target device does not supported images, `hipMallocPitch` even fails to allocate.
Furthermore, `hipMalloc`, `hipMallocPitch` and `hipMalloc3D` all eventually call `amd::SvmBuffer::malloc`, so it seems there are no further specific optimizations.
See: https://gi

[2022-03-01 15:58] bernhardmgruber commented on #1597
@psychocoderHPC and me discussed today as well, that it is probably impossible to proof that pitched allocations do not matter performance wise, because someone for sure can come up with an example where it matters.

For now, I have concluded to implement better support for arbitrary pitches in LLAMA and see where this goes.

[2022-03-01 16:00] bernhardmgruber commented on #1482
Here is a different approach: Just because a user needs an n-dimensional buffer does not mean they need to allocate one. They could just as well create a 1D buffer and wrap an n-dimensional `mdspan` around it. That would leave both options in alpaka: using `mdspan` for its great API and having ND pitched buffers for special cases.

[2022-03-02 13:19] fwyzard commented on #1613
I don't think this would work: since the host-only part is visible to all backends, we can have to compile it with CUDA/`nvcc` while the backend-specific part is compiled with ROCm/`hipcc`.

[2022-03-02 15:41] #1573 closed, assigned to nobody

[2022-03-03 10:23] tonydp03 commented on #1445
@bernhardmgruber this workaround could be useful for buffers, but CMS needs something similar for queues and events...

[2022-03-07 13:01] j-stephan commented on #1509
Ubuntu 22.04 will make CMake 3.22 available. I propose that we switch to this version, too (which would affect alpaka 0.10). Any objections @psychocoderHPC @SimeonEhrig?

[2022-03-07 13:15] bernhardmgruber opened #1625 "clang + libstdc++ 9.4 + nvcc broken"
Today our ubuntu containers updated from libstdc++ 9.3 to 9.4, which broke compilation with nvcc + clang as host compiler.

See e.g. this CI run from today at 11:00: https://gitlab.com/hzdr/crp/alpaka/-/pipelines/485977443
And this one from 13:00: https://gitlab.com/hzdr/crp/alpaka/-/pipelines/486110519

The error message starts with:
[code]
The problem is also referenced in this NVIDIA forum post

[2022-03-07 13:35] j-stephan commented on #468
I looked into this today.

### Easy fix

Affected classes:

* `EventHostManualTriggerCudaImpl`
* `EventHostManualTriggerHipImpl`
* `EventUniformCudaHipImpl`
* `QueueUniformCudaHipRtImpl`

All of these make use of `ALPAKA_UNIFORM_CUDA_HIP_RT_CHECK` in the destructor. The macro generates an exception if the CUDA/HIP API call fails. I propose to introduce a `ALPAKA_UNIFORM_CUDA_HIP_RT_CHECK_NOEXCEPT`

[2022-03-07 14:46] j-stephan commented on #1625
The issue on the NVIDIA forums is not the same since the user there makes use of libstdc++ 10. But it is similar, this issue often occurs when `nvcc` doesn't like the host compiler. I'm not sure we can currently do much other than force-installing libstdc++ 9.3 in the CI runners.

[2022-03-07 15:38] j-stephan commented on #1625
Judging by https://gitlab.com/hzdr/crp/alpaka/-/pipelines/486239694 it appears that the combination clang + nvcc + libstdc++ 9.4 is broken for CUDA versions 11.3, 11.4 and 11.5 (11.6 appears to work again). I guess we just have to disable these and update our `README.md`. I deem it unlikely that NVIDIA will fix older CUDA versions if the most recent one works.

[2022-03-08 10:19] bernhardmgruber commented on #1625
I tried to downgrade libstdc++ in the CI runners to by passing `g++-9=9.3.0-10ubuntu2` to `apt` when we install cuda (which in turn installs g++). However, then we get mixed up versions of the packages and dependencies. This is more messy than I though, so I will drop this idea.

[2022-03-08 19:49] #1625 closed, assigned to nobody

[2022-03-09 08:51] j-stephan opened #1630 "Restore disabled nvcc + clang runners"
In order to fix #1625 we have disabled the affected clang + CUDA combinations in #1627. Since Ubuntu 22.04 is on the horizon we should restore these tests once new CI runners become available and CUDA doesn't want to pull in gcc-9 by default.

[2022-03-09 08:59] #1015 closed, assigned to bernhardmgruber

[2022-03-09 08:59] #1389 closed, assigned to bernhardmgruber

[2022-03-09 10:26] j-stephan commented on #1572
CC @psychocoderHPC and @SimeonEhrig

[2022-03-09 14:53] j-stephan opened #1634 "[RFC] Remove support for `std::function` kernels."
I propose to remove support for `std::function` kernels because of the following reasons:

1. Using a `std::function` as a kernel task is currently only supported for CPU back-ends. For CUDA and HIP this is explicitly disabled and with SYCL it is untested.
2. Since all back-ends support trivially copyable kernel arguments we should enforce that all arguments passed to the underlying back-end kerne

[2022-03-10 11:41] #1600 closed, assigned to nobody

[2022-03-10 13:34] j-stephan opened #1636 "Standalone mode: Add compatibility check header"
User request: For the standalone mode there should be a header that does some basic requirements checking (like the required boost version).

[2022-03-10 14:00] bernhardmgruber commented on #1634
I also don´t see a big use case for passing kernels as `std::function`s. You have my support!

[2022-03-10 14:57] #468 closed

[2022-03-11 09:41] #703 closed, assigned to BenjaminW3

[2022-03-11 09:41] #1384 closed, assigned to nobody

[2022-03-14 14:23] tonydp03 commented on #801
@fwyzard is this solved/not necessary anymore?

[2022-03-14 15:39] fwyzard commented on #801
So far we are happy with non write-combine memory, so no need for any extra functionality.

I will open a new issue if it runs out we can gain from it in the future.

[2022-03-14 15:39] #801 closed, assigned to tonydp03

[2022-03-15 07:43] fwyzard opened #1643 "A simple way to specify the ROCm installation directory ?"
Is there a simple way to tell CMake where to find the ROCm installation ?

The best I've managed so far is
[code]

  - `CMAKE_C_COMPILER` and `CMAKE_CXX_COMPILER` are needed to choose the right compiler, otherwise CMake will use the system `gcc` and `g++`.
As @j-stephan suggests below, the same effect can be obtained setting the `CC` and `CXX` environment variables:
[code]

  - `CMAKE_PREFIX_PATH`

[2022-03-15 08:34] psychocoderHPC commented on #1643
I always set `CMAKE_CXX_COMPILER` to the rocm clang and add rocm, hip, rocran and hiprand to `CMAKE_PREFIX_PATH`.

IMO your cmake command line looks good and I do not know another way.

[2022-03-15 09:33] fwyzard commented on #1643
OK, thanks.

[2022-03-15 09:36] j-stephan commented on #1643
Note that the first line should read `-DCMAKE_C_COMPILER`, not `-DCMAKE_CC_COMPILER`. Personally I find it easier to specify those in front:

[code]

[2022-03-15 09:39] fwyzard commented on #1643
Ah, thanks for the correction.

[2022-03-15 10:43] tonydp03 commented on #1513
PRs #1571 and #1609 addressed this issue. Any other part of the documentation might get some improvements?

[2022-03-15 11:40] tonydp03 commented on #1595
Should we just return vectors for all the backends (with size 1 in the other cases - CPU included for now) or maybe just change the SYCL trait specialization? I expect that some things for SYCL could be different in general - i.e. the device native handle is an `std::pair` instead of an `int` like in the other backends - so it could make sense if the function returns a vector only for the sycl bac

[2022-03-15 11:45] tonydp03 commented on #1588
We discussed today in VC and seems that this issue and #1613 could be solved changing some Makefile logic for compiling alpaka applications. @psychocoderHPC

[2022-03-15 11:49] j-stephan commented on #1595
This is needed at least for SYCL, but IMO it should also extend to the CPU back-ends. Having a vector for all back-ends makes this uniform, but I may be convinced otherwise if someone presents a counter argument.

[2022-03-15 11:51] j-stephan commented on #1588
`prepareForAsyncCopy` needs to be changed internally, too. I guess that it should be enough to check for the number of CUDA devices in the system and only act if that number is greater than 0.

[2022-03-15 12:11] tonydp03 commented on #1588
That's also what I was thinking. I didn't see any other solution than checking the list of available CUDA devices.

[2022-03-15 12:15] tonydp03 commented on #1595
At that point I would agree on having it for all the backends and users can eventually call `getWarpSizes()[0]` instead of just `getWarpSizes()` in case - i.e. - they only need it for CUDA or devices that only support one size.

[2022-03-15 15:26] j-stephan opened #1646 "Add USM pointers to Intel SYCL back-ends"
The Intel targets are able to work with SYCL 2020's USM pointers (AMD/Xilinx targets are currently not). We should migrate the current `sycl::buffer` based memory allocations to the special Xilinx code paths and use pointers for the generic SYCL target which would increase compatibility with existing alpaka codes.

[2022-03-15 16:12] fwyzard commented on #1595
From a user's perspective I find having a consistent interface preferable -- so I would suggest to always return a vector.

[2022-03-15 16:20] fwyzard commented on #1588
I expect that the list of available devices should not change during a program's execution, so would it make sense to discover this information once and store it in a central place ?

[2022-03-15 18:20] fwyzard opened #1647 "Minor changes for building with HIP in host-only mode"
Over the last week I've been working to make the alpaka port of our [`pixeltrack-standalone`](pixeltrack-standalone) application buildable with the HIP backend.

I've identified just a few changes that would be needed in alpaka -- but as I'm very not familiar with HIP and ROCm, I thought I'd ask for opinions before submitting a PR.

[code]

This is required because `hip/math_functions.h` cannot be

[2022-03-15 21:48] fwyzard opened #1648 "Querying the size of the dynamic shared memory"
At least for debugging purposes it would be useful to be able to query the the size of the dynamic shared memory from within the device code.

In CUDA this can be done with some inline PTX (see https://stackoverflow.com/questions/40021086/can-i-obtain-the-amount-of-allocated-dynamic-shared-memory-from-within-a-kernel/40021087#40021087):
[code]

With ROCm I have no idea :-)

Is this something that

[2022-03-16 05:03] bussmann commented on #1588
I would not make this assumption. Combinig Alpaka with virtualization would invalidate this assumption. Think of dynamic resource allocation by a virtualized HPC system with several demanding workloads running in parallel. You might have 256 GPUs to start with and then end up with 192 mid run. Currently, this is not a scenario seen in the wild very often, if at all, but with more demanding work an

[2022-03-16 07:53] psychocoderHPC commented on #1588
IMO this is application dependent and should not be part of alpaka.

[2022-03-16 07:59] psychocoderHPC commented on #1588
Currently alpaka's accelerators are enabled via CMake variables, we should provide alpaka targets for each accelerator. This would open the user to deside which shared library, static library or binary should contain which accelerator.
This should also solve the `prepareForAsyncCopy`.

[2022-03-16 16:01] fwyzard commented on #1588
I would rather say that it is backend dependent:
  - as far as I know TBB does not allow to change the number of worker threads once a pool has been created
  - the SYCL documentation says explicitly that

  - I'd be surprised if CUDA or ROCm can discover new devices at runtime - but I've never tried...

Anyway, what I meant is that this change

risks making `prepareForAsyncCopy` extremely expensi

[2022-03-16 21:16] fwyzard commented on #1613
FYI, the [pixeltrack-standalone](https://github.com/cms-patatrack/pixeltrack-standalone) application can finally build for CUDA _or_ HIP/ROCm: https://github.com/cms-patatrack/pixeltrack-standalone/pull/342#issuecomment-1069402080 .

The next step is to start working on the changes in alpaka to support both at the same time ...

---

Edit: I forgot to mention that getting the ROCm backend to compi

[2022-03-17 03:52] bussmann commented on #1613
Mmmh, wouldn't this be a compiler/linker problem for host code?

Host code that is device-specific just gets compiled for each device-specific backend / compiler separately and then linked.

If you want to mix CUDA and HIP in a single source file - well then one has to do something...

[2022-03-17 08:24] psychocoderHPC commented on #1588
@fwyzard I misinterpreted your comment. I thought you like to store the user-chosen device somewhere, instead, you mean you would like to query all possible devices only once and collect all information and if the user is executing the query again the information should be provided from the cached information.

I agree we should think about it.

[2022-03-17 08:37] fwyzard commented on #1588
Specifically for the `prepareForAsyncCopy` case, an other option could be to change to function signature to take as a second parameter the `Queue` or `Device` that the memory should be pinned _for_ :
[code]

I'm the first to say that it may be annoying - but it may also be (a) necessary (extension) for #1613 .

[2022-03-17 08:37] psychocoderHPC commented on #1613
@fwyzard What is the build workflow to support CUDA and HIP within one binary.
I build an application in the past which supported CUDA, OpenCl and CPU. For that, I was compiling a shared library for each backend and the main application loaded the shared library based on the selected backend. This provided the possibility that you can run the application on a system where no CUDA libraries are ava

[2022-03-17 08:58] fwyzard commented on #1613
Sorry, I should have been more precise: a single `executable` that uses multiple `shared libraries`.

&nbsp;

The workflow is the same you describe:
  - build one shared library for each backend
  - build one executable that can load the various libraries via a plugin system (_e.g._ `dlopen()` the libraries on demand)

&nbsp;

 At runtime we handle different the scenarios outside of the executable

[2022-03-17 10:11] fwyzard commented on #1647
A possible implementation is in https://github.com/alpaka-group/alpaka/pull/1652 .

[2022-03-17 10:55] tonydp03 commented on #1355
@alpaka-group/alpaka-maintainers what's your opinion on that?

[2022-03-17 11:24] fwyzard commented on #1355
The CUDA documentation for [Atomic Functions](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#atomic-functions) suggests that

Of course for `atomicSub(addr, val)` it makes much more sense to implement it as `atomicAdd(addr, -val)`.

One could also check the implementation of (or use) the atomic operations in the CUDA std library.

[2022-03-17 13:26] psychocoderHPC commented on #1355
`atomicSub` is in CUDA only implemented for 32bit signed/unsigned value. I do not know why there is no 64bit and half prediction interface available.
IMO we should remove a implement alpaka's `atomicSub` with atomicAdd or at least for all other types than `int` and `unsigned int`

[2022-03-18 10:01] #1595 closed, assigned to nobody

[2022-03-18 11:16] psychocoderHPC commented on #1634
I would avoid supporting std::function. The reason is that writing heterogenious code would be much harder if there are ways to spawn kernel which will not be supported by all backends.

[2022-03-20 22:16] #1634 closed, assigned to nobody

[2022-03-21 09:41] #179 closed

[2022-03-21 09:42] SimeonEhrig commented on #1509
The release of version 0.10 is in the summer, or? Normally, it takes about a half year until a Ubuntu LTS version fully replace it's successor, because third party software and PPA needs to update to the new Ubuntu version. Therefore we should expect, that Ubuntu 20.04 is the mainly used Ubuntu version until the end of summer.

[2022-03-21 09:42] j-stephan commented on #1509
Yes, 0.10 will probably be around in June.

[2022-03-21 09:43] j-stephan commented on #1648
No idea, we have to investigate this first. If it is possible I see no reason against this.

[2022-03-21 09:45] SimeonEhrig commented on #1509
Therefore, I would postpone it version 0.11, because I think Ubuntu 20.04 will be stay the mainly used Ubuntu version at the release of 0.10.

[2022-03-21 09:48] j-stephan commented on #1647
Fixed by #1652.

[2022-03-21 09:48] #1647 closed, assigned to nobody

[2022-03-21 09:53] fwyzard opened #1656 "Move the definition of the atomic operations to a "details" namespace ?"
The atomic operation types declared in `include/alpaka/atomic/Op.hpp` are in the `alpaka` namespace:
[code]

I would propose moving them to a nested private namespace, like `aplaka::detail`:
[code]

I spent a couple of hours trying to debug why `alpaka::AtomicAdd(...)` was not compiling or doing what I wanted, before realising I should have written `alpaka::atomicAdd(...)` :-/

[2022-03-21 10:30] psychocoderHPC commented on #1648
In general, it should be possible. We could store it as a member of the accelerator.

The question is if alpaka should provide such an interface. The size of the dynamic shared memory is set by the user before submitting the kernel so if this knowledge is required within the kernel the user should pass it as an argument.
So if the user is fine with the additional overhead of passing one more varia

[2022-03-21 10:36] psychocoderHPC commented on #1509
We should not increase the required CMake version based on what Ubuntu is shipping, we do not depend on Ubuntu. We should increase the version **only** so avoid bugs or if a feature is required that blocks alpaka's development.

[2022-03-21 10:43] SimeonEhrig commented on #1509
CMake 3.21 brings us several feature, see first message of the issue. But we decide to not upgrade, because the new version is not available in Ubuntu 20.04 by default. By the way, Ubuntu is shipped with CMake 3.16. Therefore we already break it :sweat_smile: Okay, maybe we can already upgrade to CMake 3.21 with version 0.10.

[2022-03-21 10:47] SimeonEhrig commented on #1572
Is there any problem, to check what is available on compile time? If not, I would order it by performance and use the most fasted, available version.

[2022-03-21 10:51] psychocoderHPC commented on #1656
I do not support this request.
I can understand your problem, in old alpaka released the operations were under the namespace `alpaka::op` but were moved later into the alpaka namespace.

The reason why I do not support the request is that the operations are part of the user interface. In other applications, we use `alpaka::atomicOp<Operation>(...)` or require the `AtomicYYY` signature to specializ

[2022-03-21 10:53] psychocoderHPC commented on #1656
I agree that the naming can be confusing and I am for moving the operations into an own namespace `op` or `operation` but not `detail`.

CCing: @bernhardmgruber @j-stephan

[2022-03-21 11:00] fwyzard commented on #1656
Off topic in this issue, but wouldn't it make sense to have the workaround for the poor performance directly into Alpaka ?

[2022-03-21 11:14] psychocoderHPC opened #1657 "atomicAdd workaround for ROCM"
based on the request: https://github.com/alpaka-group/alpaka/issues/1656#issuecomment-1073757306

In PIConGPU we provide an atomicAdd workaround for HIP for `float` atomics which should be atomic between `blocks`. https://github.com/ComputationalRadiationPhysics/picongpu/blob/02f6d46505a55244f0ee384f53b7353126ddec31/include/pmacc/kernel/atomic.hpp#L70-L126.

I was starting to discuss the problem d

[2022-03-21 11:14] psychocoderHPC commented on #1656
I opened #1657

[2022-03-21 13:25] bernhardmgruber commented on #1656
@fwyzard I am trying to imagine in what kind of trap you fell wrt. the current API design. `alpaka::AtomicAdd(...)` with any non-zero argument list should not compile and you should get a reasonable error message here. What is the design bug here?

@psychocoderHPC I removed the `op` namespace back then to make atomic calls like `alpaka::atomicOp<alpaka::op::Add>(...)` less verbose. By now we have

[2022-03-21 13:51] fwyzard commented on #1656
Indeed, it doesn't compile, but the error message is far from obvious:
[code]

Just for the sake of argument, I've tried moving all `AtomicXxx` types into a nexted namespace, and the error became
[code]

which is at least somewhat clearer.

[2022-03-21 14:23] fwyzard commented on #1613
So, for comparison, here is the application using CUDA and HIP/ROCm natively at the same time:
  - https://github.com/fwyzard/test-rocm-cuda

And here is a slightly extended version doing the same, but using Alpaka:
  - https://github.com/fwyzard/test-rocm-cuda-alpaka

If you try running the latter, you can see that it runs into issues because the CUDA and HIP symbols are actually the same under t

[2022-03-21 15:58] fwyzard commented on #1613
So far I've come up with two ideas that _could_ work, but would need to be tested.
Since neither is a trivial amount of work, I would be happy to hear some comments on which might be acceptable (if any), so I can start testing down that road.

### Option 1: code duplication

Duplicate all types, functions, etc. that use `UniformCudaHip` or the `uniform_cuda_hip` namespace in two, one for `Cuda` an

[2022-03-21 17:18] fwyzard commented on #1588
In the context of #1613, an other alternative could be
  - if `ALPAKA_ACC_GPU_CUDA_ENABLED` is defined and the system has any NVIDIA GPUs, pin the memory with `cudaHostRegister`
  - if `ALPAKA_ACC_GPU_HIP_ENABLED` is enabled and the system has any AMD GPUs, pin the memory with `hipHostRegister`
  - if both are true, pin the memory twice, with both calls

Strange as it is, pinning both at the same

[2022-03-22 07:54] psychocoderHPC commented on #1572
IMO using boost `atomic_ref` if available is fine but if not we should fall back to the original compile-time hash table implementation.
Never the less we should add an CMake option which is by default set to `AUTO` where we can force disable that `boost::atomic_ref` is used or force enable it.

[2022-03-22 08:07] psychocoderHPC commented on #1613
This would revert what we did in the past. https://github.com/alpaka-group/alpaka/pull/928
But this does not mean that we can do it, we thought there will be no need to run both at the same time because there is not HPC Cluster where AMD GPUs and NVIDIA GPUs are mixed.
A typical HPC application is compiled for a specific cluster but it looks like you have different workflows, where we should defin

[2022-03-22 08:17] fwyzard commented on #1613
One other aspect I had not considered yet: if some kind of split happens, would it be useful to keep also the UnifiedCudaHip interface ?

[2022-03-22 09:11] #1643 closed, assigned to nobody

[2022-03-22 09:43] fwyzard commented on #1613
After discussing this issue at the meeting this morning, the consensus seems to be
  - try the Option 3 approach
  - users should use the `HipRt` or `CudaRt` types, while the `UniformCudaHipRt` can be considered an internal implementation detail
  - it's still to be determined if the device code needs to be split as well or not, since it is anyway going to be built with different compilers

[2022-03-22 15:44] fwyzard commented on #1613
@j-stephan @psychocoderHPC you can find at [fwyzard/split_CUDA_ROCm_types](https://github.com/fwyzard/alpaka/tree/split_CUDA_ROCm_types) a first draft of this approach.

The implementation uses the `ALPAKA_UNIFORM_CUDA_HIP_RT_NAMESPACE` macro to define the `alpaka::cuda` and `alpaka::hip` namespaces, that contain all `...UniformCudaHip...` host symbols.

This helped highlight some of the limitatio

[2022-03-22 16:28] fwyzard commented on #1613
Note that this approach still does not allow to define both `ALPAKA_ACC_GPU_CUDA_ENABLED` and `ALPAKA_ACC_GPU_HIP_ENABLED` in the same translation unit -- but AFAIK that is a limitation coming from the underlying CUDA and HIP runtimes, _i.e._ one cannot include both `<cuda_runtime.h>` and `<hip/hip_runtime.hpp>` at the same time.

[2022-03-23 08:19] psychocoderHPC commented on #1613
I swiped over your prototype. I added a comment because your changes provide the wrong accelerator name since you change the type `AccGpuCudaRt` from a struct to an alias.

IMO if this is required we should move the code in separate files to make it more readable. From the first look to the changes, I have not fully understood why the code separation is required but this should be discussed within

[2022-03-23 14:16] j-stephan commented on #23
The SYCL back-end currently assumes this and I think it would be useful to have this guaranteed for all of alpaka. Implementing this for SYCL was relatively straight forward so I believe this could (and should) be achieved as part of the next alpaka release with not too much effort.

[2022-03-24 10:41] fwyzard commented on #1613
Thanks, that should be fixed now.

[2022-03-24 10:43] fwyzard commented on #1613
The problem is (for example) the code in the `BufCpu.hpp` that should be compilable with both `ALPAKA_ACC_GPU_CUDA_ENABLED` and `ALPAKA_ACC_GPU_HIP_ENABLED` defined at the same time.

[2022-03-24 10:46] fwyzard commented on #1613
Anyway, I've opened a Draft PR at https://github.com/alpaka-group/alpaka/pull/1662 to discuss further.

[2022-03-25 18:41] j-stephan commented on #1606
Since `alpaka::clock()` has been deprecated I'm closing this.

[2022-03-25 18:41] #1606 closed, assigned to nobody

[2022-03-25 21:55] fwyzard commented on #1613
One of the main drawback of #1662 is the heavy use of preprocessor macros to separate the CUDA and HIP backends.

I think that using templates could be a better approach, that can achieve the same result without the fragility of the preprocessor macros.
#1665 reimplements the separation of the CUDA and HIP types using this new approach.

[2022-03-25 21:57] fwyzard commented on #1613
I've also extended [the same test](git@github.com:fwyzard/test-rocm-cuda-alpaka.git) to arbitrary alpaka backends:
[code]

[2022-03-28 08:01] #856 closed, assigned to psychocoderHPC

[2022-03-28 11:33] j-stephan commented on #1513
I think this can be closed since the initial questions presented here have been addressed. We can always open a follow up issue later if we find that the documentation is lacking elsewhere.

[2022-03-28 11:33] #1513 closed, assigned to tonydp03

[2022-03-28 12:51] bernhardmgruber opened #1670 "Add clang-14 to CI"
clang-14 was released a few days ago. We should add it to the CI.

[2022-03-29 09:02] #1601 closed, assigned to nobody

[2022-03-29 09:29] #1355 closed, assigned to nobody

[2022-03-29 09:46] j-stephan commented on #1517
After the CI has seen a few revisions in the past weeks I'm fairly content with the current state of things. If nobody objects (@bernhardmgruber, @psychocoderHPC) I believe we can close this.

[2022-03-29 09:50] j-stephan commented on #1552
@fwyzard Have you managed to set up a working OpenMP 5 setup?

[2022-03-29 09:56] fwyzard commented on #1552
Only for a CPU backend, but that's enough for testing my changes to Alpaka.

[2022-03-29 09:59] j-stephan commented on #1552
Okay, glad to hear that. If necessary, feel free to reopen this issue. Otherwise, the documentation issues mentioned here are tracked in #934.

[2022-03-29 09:59] #1552 closed, assigned to jkelling

[2022-03-29 10:07] j-stephan commented on #1414
Is this still an issue?

[2022-03-29 10:09] j-stephan commented on #1284
I'm not sure what fixed this but the RTD job now appears in the GitHub actions list.

[2022-03-29 10:09] #1284 closed, assigned to psychocoderHPC

[2022-03-29 10:21] j-stephan commented on #1288
This is still present in the current version of icpc:

[code]

Is the work-around part of alpaka? If so, can we close this issue?

[2022-03-29 10:22] j-stephan commented on #1297
Almost a year later there is still no sight of GCC 10.4 :-(

[2022-03-29 11:03] sbastrakov commented on #1414
The part that I was talking about is now solved afaik. I am not sure it's exactly same as the original post in this issue.

[2022-03-30 08:54] #1572 closed, assigned to nobody

[2022-03-30 13:44] #1538 closed, assigned to nobody

[2022-03-31 08:38] jkelling opened #1676 "`QueueGenericThreadsNonBlocking` technically illegal with OpenMP"
I ran into an issue with the new `FenceTest` which occasionally crashes after succeeding with NVHPC for any OpenMP backend. This test runs kernels in parallel using separate non-blocking queues. All OpenMP backends use `QueueGenericThreadsNonBlocking`, only with different device type (aliased as `QueueCpuNonBlocking` and `QueueOmp5NonBlocking`.

The reason for this crash is probably a race conditi

[2022-03-31 10:04] j-stephan commented on #1676
While we are talking about legality: Is it even legal (from OpenMP's point of view) to have an activated OpenMP back-end together with the CUDA back-end which might spawn a `std::thread`? AFAIK OpenMP considers this undefined behaviour.

[2022-03-31 10:14] j-stephan commented on #1414
@jkelling @bernhardmgruber Do you know if this is solved?

[2022-03-31 10:43] jkelling commented on #1676
Spawning a non-OpenMP thread that does not itself use any OpenMP (directives or runtime API functions) may still be UB (not where to look for an explicit statement about this, it is not stated in the section cited above), but there is much less or no risk of issues arising from this in the OpenMP runtime, because they change anything the runtime is observing (unless the OS has hard limit on the nu

[2022-03-31 10:53] jkelling commented on #1676
There is, btw. a big caveat to adding a queue bases on OpenMP tasks: An non-blockig queue would require OpenMP 5.0's tasks. OpenMP 4.0 already has `depend` which would be required to create a chain of tasks per queue, but in 4.x `taskwait` always waits for all (child) tasks (of the current thread), thus a `wait` would always synchronize all queues while in 5.0 `taskwait` may also have a`depend` cl

[2022-03-31 14:19] #934 closed, assigned to jkelling

[2022-03-31 15:05] bernhardmgruber commented on #1414
No idea, sorry.

[2022-04-01 08:44] jkelling commented on #1414
I think #1457 solved this.

[2022-04-01 09:08] sbastrakov commented on #1414
I think there is a good chance it did. So imo it's reasonable to consider this issue solved.

[2022-04-01 14:37] j-stephan commented on #1414
Thanks! Feel free to reopen if this should appear again.

[2022-04-01 14:37] #1414 closed, assigned to nobody

[2022-04-05 12:19] bernhardmgruber opened #1679 "[RFC] Use SPDX license identifiers"
All alpaka headers use a license statement at the top. This adds a lot of noise and there is a more compact way to specify the license: SPDX license identifiers. More info here: https://spdx.dev/ids/

We basically replace the existing license preamble in header files by:
`// SPDX-License-Identifier: MPL-2.0`

Are there any concerns to such a change?

[2022-04-06 08:46] j-stephan commented on #1679
Yes: I don't see why that is immediately necessary. I rarely (if ever) spend much time reading the top few lines of a source file. IMO the time required to change this would be invested better elsewhere.

[2022-04-06 08:47] sbastrakov commented on #1679
I personally would prefer to not scroll through the licence when viewing or reviewing.

[2022-04-06 09:14] bernhardmgruber opened #1680 "Add test using CUDA/HIP at the same time"
As discussed this morning, a test for this functionality is available at https://github.com/fwyzard/test-rocm-cuda-alpaka .

With the current `develop` branch (actually with #1678 to make the explicit types available), the test fails with
[code]

With this #1665 (this PR), the test passes with
[code]

_Originally posted by @fwyzard in https://github.com/alpaka-group/alpaka/issues/1665#issuecomment

[2022-04-06 14:51] #734 closed, assigned to sbastrakov

[2022-04-07 06:52] fwyzard opened #1681 "Proposal: demangle type names"
There are a few places in the alpaka library and the test files where names and log messages use mangled type names:
https://github.com/alpaka-group/alpaka/blob/dacd3a2d955943b485b7fcc8eb3db7fd38a73df7/include/alpaka/acc/AccCpuSerial.hpp#L151

https://github.com/alpaka-group/alpaka/blob/dacd3a2d955943b485b7fcc8eb3db7fd38a73df7/include/alpaka/kernel/TaskKernelGpuUniformCudaHipRt.hpp#L293-L294

http

[2022-04-07 07:11] sbastrakov commented on #1681
I like the idea. If implemented, we may also make use of it in PIConGPU to get more readable kernel names in exception messages or safety check macros that wrap kernel calls.

[2022-04-07 08:26] j-stephan commented on #38
One thing that accessors are unsuitable for are data structures like linked lists or trees (thanks to @fwyzard for mentioning this). For these we should probably keep pointers unless we want to point everyone to LLAMA. @bernhardmgruber What are your thoughts on this matter?

[2022-04-07 09:31] bernhardmgruber commented on #38
Keep pointers, they are a powerful escape hatch when a view to an array does not cut it. I have seen a bit of device pointer arithmetic on the host before passing the pointer to a kernel in a different project. That would not at all be possible with accessors.

[2022-04-12 08:36] bernhardmgruber opened #1687 "Support aligned buffer allocations"
The current buffer allocation API's allow to specify the size of the requested block of memory, but the alignment of the memory block is unspecified. Internally, we rely on the default alignment of the underlying backend. For the CPU backend, we choose the alignment based on the available vectorization width during compilation.

Having the right alignment is relevant for e.g. vectorization or opti

[2022-04-12 08:38] bernhardmgruber commented on #1687
This is a generalization of #1686.

[2022-04-12 08:56] SimeonEhrig opened #1688 "alpaka math functions does not work in lambdas with alpaka 0.9 and CUDA backend"
# Problem

I want to pass a lambda to a kernel, which is called and use a `alpaka::math` function. Therefore the lambda needs an `acc` object as argument. The CUDA backend does not support generic lambdas, therefore it needs to be an explicit type. This causes a compiler error.

[code]

The same code is working with the serial backend, OpenMP backend and also the Hip backend. Maybe it also happen

[2022-04-12 12:03] SimeonEhrig commented on #1688
Using a wrapper function for the type deduction also does not work.

[code]

[2022-04-13 06:11] fwyzard opened #1690 "[RFC] add a header with forward declarations ?"
In my attempt to write an alpaka-based application that support CUDA and HIP/ROCm at the same time, I've resorted to the forward declaration of many alpaka symbols for all the backends I might end up compiling for.

This lets the part of the application that is not being compiled for multiple backends interact with the libraries and plugins that are compiled separately for each backend.

Currently

[2022-04-13 08:50] psychocoderHPC commented on #1688
In the past we have seen nearly an equal issue and solved it via explicit definition of the return type: see https://github.com/alpaka-group/alpaka/pull/1085

[2022-04-13 09:14] bernhardmgruber opened #1691 "CMake variable and documentation for ALPAKA_DEFAULT_HOST_MEMORY_ALIGNMENT"
#1686 introduced the macro `ALPAKA_DEFAULT_HOST_MEMORY_ALIGNMENT`. We should document it properly and consider making it available via cmake.

_Originally posted by @bernhardmgruber in https://github.com/alpaka-group/alpaka/issues/1686#issuecomment-1096531865_

[2022-04-13 09:23] SimeonEhrig commented on #1688
I test the example with CUDA 11.0, 11.1, 11.2 and 11.6 and the same error appears in all versions.

[2022-04-13 09:56] j-stephan commented on #1688
If this happens in CUDA 11.6 we should open a NVIDIA bug report. Can you create a reproducer without alpaka?

[2022-04-13 10:00] SimeonEhrig commented on #1688
That's correct but I'm not sure, if we can reproduce it. The math functions has a quiet complicated implementation :sweat_smile:

[2022-04-13 10:01] sbastrakov commented on #1688
I think for 1 trait it's reasonably possible to make a similar workflow to alpaka, just as `TAcc` use any type and "implement" the right trait for it

[2022-04-13 10:02] sbastrakov commented on #1688
I can make it after lunch if needed

[2022-04-13 10:03] SimeonEhrig commented on #1688
Would be great.

[2022-04-13 15:15] sbastrakov commented on #1688
With a standalone reproducer I started with [this goldbolt piece](https://godbolt.org/z/dc1aKsfeT) but it surprisingly compiles. So i may have done smth wrong there, will check tomorrow. Also i didn't try to run it yet, could also trigger that `invalid device function` error.

[2022-04-14 09:49] j-stephan opened #1693 "Update documentation copyright"
The copyright for our documentation is quite outdated. We should update the list of authors and the list of copyright holders.

Who should be in these lists? The authors of the current alpaka release? Or just the people who have actually touched the documentation?

[2022-04-14 14:09] sbastrakov commented on #1688
I made a standalone reproducer that consistently shows the behavior on the dev system with CUDA 11.0 (didn't try other versions). I am not exactly sure how to formulate all that, but I tried adding explanatory comments to the file, it's attached. I built it with the cmake as above, however that is probably not needed as I don't include alpaka, just reuse compilation flags.
[main.cpp.txt](https://g

[2022-04-21 09:09] j-stephan commented on #1688
Fixed by #1692.

[2022-04-21 09:09] #1688 closed, assigned to nobody

[2022-04-26 05:45] #1580 closed, assigned to nobody

[2022-04-26 06:29] bernhardmgruber opened #1701 "Drop support for icpc"
The Intel Classic compiler (icpc) was deprecated by Intel a while ago and the Intel LLVM compiler (icpx) is an established alternative by now. In order to reduce maintenance work, I propose to drop support for the Intel Classic compiler.

[2022-04-26 08:30] SimeonEhrig commented on #1688
The example looks fine. You can use the command `nvcc --std=c++17 --extended-lambda main.cu -o lambda_bug` with CUDA 11.6.2 to build the example without CMake.

[2022-05-03 08:36] #62 closed

[2022-05-03 08:36] #1288 closed, assigned to nobody

[2022-05-03 08:36] #1701 closed, assigned to nobody

[2022-05-03 08:39] bernhardmgruber opened #1705 "Test OpenMP 5 and TBB with `icpx` in CI"
_Originally posted by @j-stephan in https://github.com/alpaka-group/alpaka/pull/1700#discussion_r863572967_

[2022-05-04 07:06] #1238 closed, assigned to nobody

[2022-05-09 09:18] j-stephan opened #1708 "Add gcc-12 to CI"
List of new features: https://gcc.gnu.org/gcc-12/changes.html

[2022-05-09 09:30] psychocoderHPC opened #1709 "CUDA/HIP device is not freed when alpaka object is destroyed"
I realized https://github.com/alpaka-group/alpaka/pull/1707#discussion_r867812402 that in cases the alpaka device is destroyed the device is not correctly freed. The class https://github.com/alpaka-group/alpaka/blob/b074b0df68a96321dc73261ab2b9d3d41180f18c/include/alpaka/dev/DevUniformCudaHipRt.hpp#L62 should call `reset()` which is calling `cudaDeviceReset()/hipDeviceReset()` and guarantees that

[2022-05-09 09:44] fwyzard commented on #1709
I think this behaviour would only make sense if Alpaka guaranteed not to create multiple `DevUniformCudaHipRt` objects for the same device.

The current implementation will create a new object for every call to `getDevByIdx<PltfUniformCudaHipRt.>(index)`, so client code can easily create multiple objects, each with an independent state, that manage the same underlying device.
If the destructor of

[2022-05-09 10:10] j-stephan commented on #1438
Closing since the original issue is resolved. Performance tests / benchmarks are on our to-do list.

[2022-05-09 10:10] #1438 closed, assigned to nobody

[2022-05-10 13:06] j-stephan opened #1714 "[RFC] Future of the Boost.fiber back-end"
While working on #1713 I discovered that the Boost.fiber back-end is broken when enabling C++20. This was fixed in their repository a few days ago but all stable versions including the current one are unusable with C++20.

So we can either:
* raise the minimum Boost version to 1.80 (or whenever the fix lands in a stable release)
* remove the Boost.fiber back-end
* deactivate the Boost.fiber back-e

[2022-05-10 13:46] j-stephan opened #1715 "`ffs` CPU intrinsic broken in C++20 mode"
In C++20 mode our implementation of the `ffs` intrinsics breaks for CPU back-ends:

[code]

We are using a `int32_t` parameter here but `std::countr_zero` is only defined for unsigned types: https://en.cppreference.com/w/cpp/numeric/countr_zero

[2022-05-10 13:46] j-stephan commented on #1715
Pinging @sbastrakov and @bernhardmgruber since you guys are on the author list for that file.

[2022-05-10 13:49] sbastrakov commented on #1715
Oh ffs :upside_down_face:

[2022-05-11 07:20] #1553 closed, assigned to nobody

[2022-05-11 07:23] j-stephan commented on #1714
Our internal discussion didn't show much love for the fiber back-end. I'll submit a PR to remove the back-end. Until then this issue is open for anyone who wants to keep it.

[2022-05-11 07:52] bernhardmgruber commented on #1714
I wanted to run a quick benchmark of the fiber backend yesterday to compare it against other CPU backends but failed to make it scale across more than 1 core. The workdiv should have enough blocks and threads. Maybe the backend is already broken.

Furthermore, the fiber backend requires us to build boost and is thus an annoying dependency.

In the face of our limited maintenance resources, I see n

[2022-05-11 08:42] fwyzard commented on #1714
I'm not familiar with Fibers -- in the sense that I've read about it, but I've never had an occasion for using it.
It looks like an interesting approach, but maybe with only a niche use case.

If there is no urgency in removing it, I would be interested in giving it a try and comparing it with the other CPU backends.

As for the breakage, my suggestion would be
  - keep it enabled in c++17 mode

[2022-05-11 08:50] bernhardmgruber commented on #1714
Please do so! I could not make it scale across more than one core in my quick test with @sliwowitz's random engine benchmark.

[2022-05-11 14:36] j-stephan commented on #817
I'm not sure if we should fix this (i.e., reenable the tests for gcc-9). @jkelling, what do you think?

[2022-05-11 14:39] j-stephan commented on #772
alpaka now enforces that kernel arguments are trivially copyable. So option 3 is what we went for. I don't think the documentation has been updated accordingly, though.

[2022-05-11 14:42] j-stephan commented on #653
Closing. Feel free to reopen the issue if a non-debugging use case comes along.

[2022-05-11 14:44] j-stephan commented on #58
Closing for now. If there ever is a device with these capabilities we can reopen the issue.

[2022-05-11 14:44] #58 closed

[2022-05-11 14:59] j-stephan commented on #253
Since #1566 was merged a while ago and `AtomicStdLibLock` is merely used as a fallback I'm not sure whether we should invest much energy in this. @alpaka-group/alpaka-developers, what do you think?

[2022-05-11 17:53] psychocoderHPC commented on #817
I will close this issue because we do not have anymore the OMP4 backend. We have only OMP2 and OMP5. gcc 9 is definitive not supporting OMP5. Not sure which gcc is fully supporting OMP5, GCC is in some newer versions claiming that they support OMP5 but only implemented OMP 4.5.

Nevertheless @jkelling could you add a note here which version of GCC is supporting OMP5.

[2022-05-11 17:53] #817 closed, assigned to nobody

[2022-05-11 17:58] psychocoderHPC commented on #253
I would keep the issue open but as you said `AtomicStdLibLock` is only a fallback and I do not see that it is at the moment an issue.

[2022-05-11 20:32] #1715 closed, assigned to bernhardmgruber

[2022-05-12 08:21] j-stephan opened #1720 "`alpaka::Complex<T>` and `std::complex<T>` are not layout compatible"
gcc-12 landed in my distro today and I gave the alpaka test suite a try (in C++20 mode). This triggered the following error:

[code]

If I do a parallel build the same issue appears for `float`. @sbastrakov

[2022-05-12 08:26] sbastrakov commented on #1720
Oh. Perhaps I misinterpreted what should be a guarantee for layout of complex types. What we need is `array-oriented access` as described [here](https://en.cppreference.com/w/cpp/numeric/complex). So perhaps the way it's checked via layout compatibility is not correct. We could instead check directly using how cppreference put it.

It could also be something got optimized or aligned at this gcc ve

[2022-05-12 08:27] j-stephan commented on #1720
AFAIK we haven't enabled any C++20 tests in our CI. So this may affect more compilers than just gcc-12.

[2022-05-12 08:28] sbastrakov commented on #1720
The test is conditionally enabled not on C++20 standard, but on availability of this feature. But idk if it ran actually and on which configurations.

[2022-05-12 08:31] j-stephan commented on #1720
Okay, I just gave this a try with clang-13. And it seems to be a gcc(-12?) quirk because clang happily compiles this.

[2022-05-12 08:35] sbastrakov commented on #1720
Okay, i will have a look what's up with gcc 12 till the next alpaka meeting hopefully. Now finishing a large PIConGPU task.

[2022-05-12 08:46] j-stephan commented on #1720
Alright, gcc-12 is simply the first version to support `std::is_layout_compatible_v`. For some reason clang-13 never goes past the feature check macro although this should be a library feature. (libc++ doesn't have this yet, but clang should be able to use libstdc++-12).

MSVC with `/std:c++20` also fails at the static assertion. So I guess this is nothing gcc-related.

[2022-05-12 09:04] j-stephan commented on #1720
Okay, I'll stop digging now. I guess the error comes from how the standard libraries implement `std::complex`:

* MSVC STL internally uses an array with two elements
* libstdc++ uses C's `_Complex` type
* libc++ uses our approach

This is why `is_layout_compatible` fails. However, I'm not convinced we need this check at all. For array-oriented access it should be sufficient to check at runtime if

[2022-05-12 09:08] sbastrakov commented on #1720
Yeah, it looks like we check a far more strict requirement than we should, and it's a bug in the test, not in complex implementation,

[2022-05-12 09:09] j-stephan commented on #1720
I'll submit a fix along with a general gcc-12 fix PR. Found some other smaller issues on the way.

[2022-05-12 09:31] #1705 closed, assigned to nobody

[2022-05-12 12:36] j-stephan opened #1722 "`alpaka::Complex` is not packed"
From [cppreference.com](https://en.cppreference.com/w/cpp/numeric/complex):

For our common use cases, `float` and `double`, this shouldn't be a problem on all common architectures. However, users might put a `long double` into it, which may have a weird size. We should guard against this by packing the structure (`[[gnu::packed]]`, `#pragma pack`, etc.).

@sbastrakov, no need to make this a prior

[2022-05-13 06:45] SimeonEhrig opened #1724 "Support CUDA 11.7"
CUDA 11.7 is released: https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html

[2022-05-13 08:45] #1720 closed, assigned to j-stephan

[2022-05-13 10:59] j-stephan commented on #1439
Fixed by #1717.

[2022-05-13 10:59] #1439 closed, assigned to nobody

[2022-05-13 12:01] #391 closed

[2022-05-13 12:47] j-stephan commented on #1135
The Intel oneAPI compiler for CPUs solves the issue in the following way:

1. SYCL work-groups (= blocks) are equivalent to a single CPU thread.
2. SYCL work-items (= threads) are equivalent to SIMD lanes.

So when the compiler encounters a work-group it will launch its auto-vectorizer. I wonder if we can do something similar in alpaka, maybe by making better use of the element layer.

[2022-05-17 09:49] bernhardmgruber commented on #689
We discussed this issue again today during the alpaka VC as part of the discussion around removing the Fiber backend. We see a benefit in pursuing a coroutine based backend to allow e.g. to have multiple threads to execute multiple blocks in parallel, but have a single hardware thread per block and still have multiple alpaka threads inside a block. This is currently not possible in our backends as

[2022-05-17 09:54] fwyzard commented on #689
isn't this exactly what the Fibers backend is supposed to do ?

[2022-05-17 10:00] j-stephan commented on #689
Yes, Coroutines and Boost.fiber are quite similar. However, three of our developers failed to set up the Fiber back-end to do something useful (which is why we have now decided on removing it instead of investing any more time). On top of that it is another (although optional) Boost dependency which we don't like.

Coroutines have the benefit of being a standard C++ feature. So we want to keep thi

[2022-05-17 10:05] fwyzard commented on #689
This is off-topic here, but still:

I really find it ... disarming, for lack of a better word, how much you dislike having dependencies on boost (or anything else, for that matter).

As a user, I would prefer to have at least the option for using features provided by third-party libraries that have been tested over the years (and I am using anyway) instead of a local reimplementation.

[2022-05-17 10:19] j-stephan commented on #689
That mostly affects Boost (because of the reasons listed below) because it is the only core/runtime dependency we always require. I'm not aware of any other dependency we refused but I may be forgetting something. In general, alpaka is intended to be as header-only as possible, ideally without introducing any dependencies besides the individual back-end requirements.

Unfortunately we do not share

[2022-05-17 10:24] fwyzard commented on #689
Sorry but this sounds like a massive contradiction: if "HPC modules are notoriously out of date", why do you care so much about "a C++ standard that is two years old" (_i.e._ c++20) which so far is not fully supported by any complier (nor by CUDA) ?

[2022-05-17 10:25] fwyzard commented on #689
Also, when you say "Boost is a common point of failure" -- is the problem really with Boost, or with how CMake is (mis)configured to pick it up ?

[2022-05-17 10:28] fwyzard commented on #689
Sorry, then it was maybe my wrong assumption that you prefer to avoid dependencies.

If that is not the case, you could look into adding Intel TBB as a full dependency, in order to use the various concurrent containers it provides.

[2022-05-17 10:37] fwyzard commented on #1714
Looking at the code of the Fibers implementation:
  - "threads" inside a "block" will be run by a single OS thread, with as many fibers running in parallel as required by the block configuration:
[code]
  - "blocks" inside a "grid" will be run serially, within the calling OS thread:
[code]

So, if the observed behaviour is that the whole grid runs in a single OS thread, one block at a time, then i

[2022-05-17 10:46] fwyzard commented on #1714
In fact, a useful extension could be the possibility to "mix and match" the grid-level and block-level scheduling algorithms:
  - run the blocks in the grid: serially, in parallel using OS threads, in parallel using TBB, _etc._
  - run the threads in the block: serially, cooperatively using Fibers or coroutines, in parallel using OS threads, _etc._

Then one could pick the block-level and thread-l

[2022-05-17 10:50] fwyzard commented on #1714
Trying to get back on topic: is it correct that Fibers is the only single-thread CPU backend that supports thread-level synchronization primitives, like `syncBlockThreads()` ?

If that is the case, could you keep the (optional) Fibers back-end in Alpaka until an eventual Coroutine-based back-end is available ?

[2022-05-17 10:51] fwyzard commented on #689
Anyway, trying to get back on-topic and to provide some constructive feedback, I'll copy here https://github.com/alpaka-group/alpaka/issues/1714#issuecomment-1128719434:

[2022-05-17 11:01] BenjaminW3 commented on #689
I second the request of @fwyzard.
We should try to keep the fiber based backend in there as long as technically possible until we have a reasonabe replacement.
It may only be of academic relevance, but it is a good starting point for similar experiments.

[2022-05-17 11:05] BenjaminW3 commented on #1714
Yes, the fiber backend only uses a single OS thread. There once was a ticket to scale this across multiple threads, not sure where this went.

We should try to keep the fiber based backend in there as long as technically possible until we have a reasonabe replacement.
If we disable it for C++20 builds, then I am fine with it.
It may only be of academic relevance, but it is a good starting point fo

[2022-05-17 11:07] j-stephan commented on #689
Those are two separate issues. One is "Boost is not as well tested as we would like" and the other is "HPC modules are often outdated, misconfigured, not present on all nodes, etc.". Both add to our critical view.

CMake just looks up the headers and libraries and then provides the relevant flags to the compiler. If Boost is too old, not present or doesn't work with a recent C++ standard this cann

[2022-05-17 11:10] j-stephan commented on #689
Also, if we want to discuss Boost specifically, please continue here: #481.

[2022-05-17 11:15] j-stephan commented on #1714
This should be #22.

[2022-05-17 11:32] bernhardmgruber commented on #1714
Thank you for that investigation and summarizing the outcome! I did not have the time to look myself!

This is exactly what @psychocoderHPC has in mind for a long time and we discussed that today in the alpaka VC. Unfortunately, that requires a redesign and probably big overhaul of alpaka and we don't have the resources for this ATM.

[2022-05-17 11:32] bernhardmgruber commented on #1714
Good to have that confirmed! Thank you!

[2022-05-17 12:26] j-stephan commented on #1690
I think this is related to @psychocoderHPC's idea of accelerator tags which would somewhat decouple the interface from the back-ends: #1246. Do you think that approach would work for you?

[2022-05-17 12:29] j-stephan commented on #929
Closing due to inactivity (and a lot of alpaka releases in the meantime). Feel free to reopen the issue if your problem persists.

[2022-05-17 12:29] #929 closed, assigned to nobody

[2022-05-17 12:50] j-stephan commented on #707
We have been using a NVHPC CI runner for a while now which uses a NVIDIA-supplied docker image under the hood.

[2022-05-17 12:50] #707 closed, assigned to nobody

[2022-05-20 15:01] jkelling opened #1726 "Clang 15 `-Wunused-lambda-capture` in `BufCpu::deleter`"
This line triggers `error: lambda capture 'queue' is not used [-Werror,-Wunused-lambda-capture]` in clang 15(/main):
https://github.com/alpaka-group/alpaka/blob/22374dbfab3596c1bdda38fe90b4b40b9f6f43a1/include/alpaka/mem/buf/BufCpu.hpp#L283-L284

While this `-Werror` is my immediate concern, I think there is something else wrong here, namely that this line is either superfluous or we have potentia

[2022-05-20 15:07] jkelling commented on #1726
~~Btw.: As it is, there is not need for `deleter` to be mutable. Maybe the intention was to have a `queue = std::move(queue)` in the capture in line 279?~~
Ok, it must be mutable because `equeue` calls a non-const member.

[2022-05-20 15:27] jkelling commented on #1726
Ahh, `git blame` explains, where this is coming from:
[Remove alpaka::ignore_unused ](https://github.com/alpaka-group/alpaka/commit/0d215efa554f8ba0a60d9b67f3f6782c999b396f#diff-a22ae00daa7ce77d54580cf8e6a7c917361649021b785e567968e2c144dccaa0L272-R272)
This line was an `alpaka::ignore_unused` before. Now the replacement is itself triggering a warning...

[2022-05-20 21:15] fwyzard commented on #1726
Why would this
[code]
be better than simply
[code]
?

[2022-05-21 07:03] jkelling commented on #1726
Even without any version of an `ignore_unused`, no supported compiler raises a warning in this place. I propose to remove it, see #1727 .

Btw. I am also a bit surprised, that alpaka's queues do not have a mechanism for preventing destruction until all tasks have completed. This should no be a responsibility of tasks.

[2022-05-21 07:18] fwyzard commented on #1726
Mhm... just thinking out loud here...

Once the destructor has been called, there is very little the `queue` itself could do to prevent it from happening.
Maybe just `sleep()` ? But that would risk dead locking, and seems like it would be already too late anyway.

To prevent the destructor from being called, something needs to keep alive a copy of the `queue`.
You could increase the ref count in t

[2022-05-21 08:54] jkelling commented on #1726
I would think, that keeping track of tasks is a reasonable thing for a queue to do. A queue executes tasks sequentially. when a new task is enqueued, it must take care that all previous tasks finished before the new one is enqueued anyway.

Currently the queue is implicitly shared: the Queue instance held by any user, or in this case the task, is only a handle containing a `shared_ptr` to the impl

[2022-05-21 09:51] fwyzard commented on #1726
Yes - but the case of a memory buffer is different: the initial task is the _allocation_ of the memory, and that completes before the queue executes the next task.
At the same time, the buffer itself keeps a copy of the queue in order to submit _another_ task, _i.e._ the memory deallocation, at a later time.

The queue needs to be kept alive until this second task has been submitted (and completed

[2022-05-21 15:31] jkelling commented on #1726
Those are two disparate Problems:
1. The buffer is keeping the queue it is bound to alive by holding a reference to it. ... although, I do not see how this is strictly necessary: The buffer could technically submit the deallocation task to any queue on the device. I do see, however, how this is more useful implementation-wise: It would be a bit tricky for the buffer's destructor to get a queue, if

[2022-05-23 07:11] jkelling commented on #1726
May be got this backwards anyway: Why does the queue even need to be kept alive until the this task completes?
- [ ] Would the `alpaka::free(...)` potentially fail if the queue was destroyed? -- it does not require the queue.
- [ ] If anything it might logically require the device, in which case it should keep the device around, not the queue. However, the allocator does not require any API handle

[2022-05-23 07:19] fwyzard commented on #1726
No !

The buffer created by `allocAsyncBuf()` implements queue-ordered semantics, similar to CUDA's `cudaMallocAsync()`:
  - the allocated memory is associated to a queue
  - the memory can be used by operations associated to the same queue _after_ the queue has completed the allocation
  - when the buffer is destroyed, it enqueues to the same queue the deallocation of the memory
  - the memory ca

[2022-05-23 07:24] jkelling commented on #1726
Ok. This clearly justifies the buffer the buffer holding a ref to the queue, beyond it being tricky to obtain a new queue in the d'tor.

It does, however, not have any bearing on whether the task needs to hold a reference to the queue explicitly. Ordering task inside the queue is the queue's job.

[2022-05-23 07:29] jkelling commented on #1726
If this is the issue, than this capture is superfluous, because the queue, or rather the thread pool (of one thread) it uses takes care of this:
https://github.com/alpaka-group/alpaka/blob/22374dbfab3596c1bdda38fe90b4b40b9f6f43a1/include/alpaka/core/ConcurrentExecPool.hpp#L263-L268

[2022-05-23 07:34] fwyzard commented on #1726
Yes, you are right, I agree: the queue should guarantee that it stays alive as long as needed to execute all enqueued operations, in the right order.

[2022-05-23 07:35] fwyzard commented on #1726
So this
[code]
could simply be
[code]
?

[2022-05-30 11:17] fwyzard opened #1729 "alpaka buffers do not respect `const` correctness ?"
As we try to use alpaka Buffer objects in the CMS software, we are facing a problem with `const` correctness due to the way the buffers are implemented.

Here is a sample program, compiled with `g++ -std=c++17 -O3 -Wall -I/home/fwyzard/src/alpaka-group/alpaka/include -DALPAKA_ACC_CPU_B_SEQ_T_SEQ_ENABLED test.cc -o test`:
[code]

The issue is that the original `buffer` is `const`, but any non-`cons

[2022-05-30 11:37] sbastrakov commented on #1729
I believe your report concerns not const correctness, as this one actually holds for buffers and one can't modify elements of a `const` buffer. However, what alpaka does in this example is automatically casting const buffers to non-const ones e.g. here when passing to a function. Doing a similar thing implicitly (without a `const_cast`) with raw pointers would be a compiler warning/error, but not

[2022-05-30 12:05] fwyzard commented on #1729
Note that this can happen any time a buffer is copied:
[code]

[2022-05-30 12:18] sbastrakov commented on #1729
Yes, so alpaka buffer copy effectively performs a `const_cast`. Which a user likely does not expect, especially since raw pointers don't work that way (on modernish compilers).

Just to clarify my point, sorry if somewhat repeating. In this last code sample it's *not* a problem that values inside `buffer` are modified externally - this variable being `const` only means that *it* does not do it (an

[2022-05-30 12:42] fwyzard commented on #1729
This is not a cast, it's a copy: `copy` and `buffer` are two different objects, that _point_ to the same data.

[2022-05-30 14:08] fwyzard commented on #1690
Our code does _also_ that:
  - all code is compiled `N` times, each one for a different accelerator:
      - `g++ ... -DALPAKA_ACC_CPU_B_SEQ_T_SEQ_ENABLED -DALPAKA_HOST_ONLY`
      - `g++ ... -DALPAKA_ACC_CPU_B_TBB_T_SEQ_ENABLED -DALPAKA_HOST_ONLY`
      - `nvcc -x cu ... -DALPAKA_ACC_GPU_CUDA_ENABLED`
      - `hipcc .. -DALPAKA_ACC_GPU_HIP_ENABLED`
  - `..._PRESENT` glags are used to indicate all

[2022-05-31 07:19] sbastrakov commented on #1729
You are right, I was still thinking of the `const_cast` earlier in my message but of course it was a wrong way to describe `auto copy = buffer;`.

But tbh i still not sure my initial point was clear. E.g. in your last code sample (repeating just for clarity):
[code]
there is nothing wrong and no violation of const correctness here. Variable `buffer` is `const` and so `buffer[42] = 0;` rightfully w

[2022-05-31 08:53] fwyzard commented on #1729
No, the problem is that also a function declared like
[code]
can modify the contents of the buffer:
[code]

So, the summary is that alpaka buffers can never give any `const` guarantee.

[2022-05-31 09:02] sbastrakov commented on #1729
Okay, so there is difference in understanding and formulating this as clear from the VC, i see no point arguing about it further. It indeed does not give a guarantee needed for the use case described which is what eventually matters and not how we prefer to think about it.

From my pov alpaka buffers give const-correctness as much as their pointer semantic allows. In my view, which as we figured o

[2022-05-31 09:12] sbastrakov commented on #1729
Yes, so can this function:
[code]

Imo your last code sample expresses exactly that: its interface says it will not modify the elements, but internally it does by making another non-const accessor to the same data. Of course, with alpaka and templates it is much less clear that it's what happens in your function and very easy to write this unintentionally, here i would definitely agree. As this co

[2022-05-31 10:13] fwyzard commented on #1729
Yes, I understand this.

What you are saying is that a `Buf` containing an `int` should be considered like an `int*` or a `shared_ptr<int>`:
  - a `const Buf` is just like a `int * const`: the pointer itself cannot be modified, but it can be copied to a `int *`, and the pointed-to data can always be modified
  - a `const Buf` is _not_ like a `const int*`, that is, a `const` buffer is not like a po

[2022-05-31 11:27] sbastrakov commented on #1729
In my opinion it's as follows

For this part (but not the bullet points) semantically like an `int*`, yes. I think standard C++ smart pointers for arrays have issues of their own unrelated to alpaka and so should not be used for that (but that's besides our current discussion). But we can indeed use a raw pointer as a model for alpaka buffer copying and sharing.

This highlights our difference in

[2022-05-31 11:33] fwyzard commented on #1729
Sorry, but no. This

is not C++, it's something you are making up yourself.

C++ does not have any concept of "downmoting" a `const T*` to a `T*`. That requires a very explicit `const_cast<T*>`.

[2022-05-31 11:34] sbastrakov commented on #1729
Yes, so we again arrive that a const alpaka buffer is neither exactly like `int * const` nor exactly like `const int *`. So we never are exaclty like a native C++ type behavior

[2022-05-31 11:37] sbastrakov commented on #1729
Also if we are being technical `auto copy = buffer;` means to throw away `const` if a (non-pointer) type of `buffer` had it. So technically here a user is asking to remove `const` and that happens. So one could argue this one is somewhat logical, but not a desired behavior here.

[2022-05-31 11:38] sbastrakov commented on #1729
Okay well i'm off - i think we now understand what's happening and what's a solution and arguing about naming and formulations

[2022-05-31 11:44] fwyzard commented on #1729
No, it does not, and that's the whole point !
It means to make _a copy_ of an object, not to give you a way to bypass the fact that the original object is `const` !

It is neither logical, nor consistent with how the vast majority of C++ objects work.

If you say "that's how alpaka objects behave" I obviously agree.
If you say "that's how alpaka objects _should_ behave and how anybody with some ex

[2022-05-31 11:48] sbastrakov commented on #1729
I'm confused now. When writing `auto copy = buffer;` and `buffer` not being of a pointer or reference types, the cv qualifiers will be dropped. So in this case `auto` tells that type of `copy` is type of `buffer` without cv qualifiers. How is that not telling to drop const?

[2022-05-31 11:50] sbastrakov commented on #1729
I even agree with your last point. E.g. especially with writing templated code, or being far away from alpaka. So i'm now just puzzled what we are arguing about at all

So yes, i very much agree alapka should not allow this code to work, as it's very easy to write and make a mistake without realizing it. And it can probably be solved simply by having a function with explicit name instead of `opera

[2022-05-31 11:55] sbastrakov commented on #1729
Okay, maybe now i realized what was missing in all my posts in this issue. What i express is of course how alpaka works as of now, and so how a user code should be written for as-is alpaka. Basically, with understanding that  `auto copy = buffer;` is unsafe and generally should be avoided for `const Buf`, with `const auto copy = buffer;` as a safe version. I am not saying alpaka should be working

[2022-05-31 12:00] fwyzard commented on #1729
Note that I do not have a better solution to suggest :-/

One could make the copy and assignment operators only accept non-`const` buffers as argument - but that's likely to break a lot of code.

[2022-05-31 12:11] sbastrakov commented on #1729
I guess a classical solution is to have a `ConstBuffer` type with matching interface, so that `const` is part of the type and this is truly a "shallow copy const correct" container in the sense you need. So then instead of `const Buf buffer` a user would use `ConstBuf buffer`, and proper conversion functions between the buffers. Not that i particularly like it, but we could evaluate it in principl

[2022-05-31 12:30] fwyzard commented on #1729
This could work, together with a change to the `Buffer` copy constructor: a non-`const` Buffer can be used to construct a `Buffer`, while a `const` Buffer can only be used to construct a `ConstBuffer`.

I'm actually considering the other approach we discussed this morning: to make the interface of the object that holds the buffer expose only `const` access to the data contained in the buffer, rath

[2022-06-03 13:48] sbastrakov opened #1730 "Missing trait/concept to connect Acc to math implementation type"
We have concepts to directly connect to a particular function and implementation e.g. the `alpaka::AccCpuSerial` accelerator with `alpaka::math::AbsStdLib`. But there seems no direct way to connect to all `StdLib` math, so to `alpaka::math::MathStdLib` in this case. This may be needed for some math functions calling one another.

For a use case for such a trait see https://github.com/alpaka-group/

[2022-06-03 13:52] sbastrakov opened #1731 "Missing pow(real, complex) and pow(complex, real) on GPUs"
These two cases are not covered by existing unit tests (since their infrastructure is for same-type arguments of binary functions) and so it was missed that our CUDA/HIP math only implements `pow(real, real)` and `pow(complex, complex)`. For CPU implementations it is not a problem as we rely on `std::` implementations that have these versions.

I will provide a PR with tests to cover it and fix fo

[2022-06-03 15:56] sbastrakov opened #1732 "Pow with mixed precision does not properly promote types"
By not properly I mean not [what `std::pow` does](https://en.cppreference.com/w/cpp/numeric/complex/pow).
This concerns both on CPU and GPU. The issue is somewhat similar, but independent from #1731. Again, we have no existing unit tests for that. I will add a fix and a test

[2022-06-03 21:11] bernhardmgruber commented on #689
The idea of a coroutine based backend stuck with me and since I also need to learn a bit about coroutines I gave it a shot today. However, I got stuck in a problem that I could not solve in a few hours. Maybe someone of you has a solution.

I tried to create a backend similar to the fiber backend, where blocks execute serially. Threads within a block would execute serially as well, but as soon as

[2022-06-07 09:20] bernhardmgruber commented on #1681
I really love the variable template approach! What would be even better would be a constexpr `string_view` version. I would need that in LLAMA to also print type names in CUDA code from the `Trace` mapping.

[2022-06-07 15:10] bernhardmgruber commented on #1722
I don't think packing would change anything, since there cannot be any padding between two types due to their natural alignment.

Can we not just forbid types other than `float` and `double`?

[2022-06-07 16:02] bernhardmgruber commented on #1681
So I went down that rabbit hole and could actually get it done based on this trick with `__PRETTY_FUNCTION__`: https://bitwizeshift.github.io/posts/2021/03/09/getting-an-unmangled-type-name-at-compile-time/. Here is the changeset in LLAMA, which builds some stuff on top, like stripping namespace qualifiers: https://github.com/alpaka-group/llama/pull/521/files#diff-bab643414f6e6c3504a987eb2a1f653ad

[2022-06-07 20:56] sbastrakov commented on #1722
Maybe we should, on GPUs we basically support only float and double math (not just for complex, but in general)

[2022-06-08 12:17] bernhardmgruber commented on #689
Using [symmetric transfer](https://lewissbaker.github.io/#:~:text=C%2B%2B%20Coroutines%3A%20Understanding%20Symmetric%20Transfer,consuming%20any%20additional%20stack-space.) I could get a step further by making a thread's corouting transfer to the next thread in the block upon a synchronization primitive. The last thread in the block would then resume the coroutine of the first thread after the sy

[2022-06-08 14:24] tonydp03 commented on #1681
I guess here it depends on what we want to do, if something simple with not so many lines of code to add to alpaka (using `boost`), or having the `string_view` version (at this point maybe we could just write the alpaka version of what you already did for llama, and use that one in llama too? - I didn't go through the entire code but I saw that more or less follows the approach describe in the lin